[2018-07-19 18:51] mcollina opened #1 "Dynamically placing requests to connections queues and pipelines"
Right now this project works by statically creating a pool of connection (say 100), and then for each of those collections there is a queue. From that queue, _n_ concurrent requests are pipelined (10) together to upstream.

The allocation of those requests to connections and their queues is currently round-robin. However, the optimal solution requires to always have each client at their full pipel

[2018-07-28 04:28] #1 closed, assigned to nobody

[2018-09-26 09:41] clarkorz opened #5 "When server response multiple Set-Cookie headers, undici throws TypeError: obj[key].push is not a function"
If server response contains  multiple `set-cookie` headers, undici throws  following error:

[code]

[2018-09-26 13:52] mcollina commented on #5
Thanks for reporting, it should be fixed in 0.3.3.

[2018-09-26 13:52] #5 closed

[2018-09-28 03:28] clarkorz opened #7 "undici doesn't response "curl -I", then if "curl" again, undici will crash"
I use fastify-http-proxy with undici. When `curl -I http://127.0.0.1:5000/proxy/abc`, curl doesn't receive any response (bash keep waiting). Then, if I `curl http://127.0.0.1:5000/proxy/abc`, which not include `-I`, undici will crash with following error:

[code]

[2020-01-17 17:30] mcollina commented on #7
fixed in #9

[2020-01-17 17:30] #7 closed

[2020-01-22 22:22] doesdev opened #11 "Perpetually attempts reconnecting on socket error"
## Updated Issue Description

Okay, I see what is happening. So the client reconnects on the emission of `error` from `socket`. It also does so without end. I presume this is by design.

I'm sure there are plenty of cases where that is needed. However, there are also others where it is problematic.

I've been working on replacing `http-proxy` for a custom reverse proxy I manage. Among the things t

[2020-01-22 23:10] doesdev commented on #11
Well, I suppose the above is imprecise. While it does attempt to reconnect that isn't the heart of the issue. Rather, at the time it attempts to reconnect there are 0 callbacks in the queue for the client. While leads to the lack of notification.

Still digging, but wanted to course correct the above line of thinking about what the core problem is.

[2020-01-22 23:24] mcollina commented on #11
If you find the root cause, please send a PR!

[2020-01-22 23:25] doesdev commented on #11
Got it, gonna do a quick PR and see if there any design tweaks needed with it. Thanks

[2020-01-22 23:45] doesdev commented on #11
Okay, PR #12  is sent. As noted I went for what I thought would have the lowest chance of unintended consequences. That said it does feel slightly hacky. If you have thoughts on a better way to approach it I'd be glad to tackle it. Thanks

[2020-01-23 07:30] mcollina commented on #11
I think we should improve the API with a few caveats:

1. a max number of retries for reconnects that will emit an error on the client itself, so we can potentially let the application do something.
2. an offline event, so that the app can do something
3. make the requests error after  a timeout

[2020-01-24 01:54] doesdev commented on #11
Those sound like nice enhancements that would definitely address my needs. I can take a stab at those over the next few days and see if I can come up with clean implementations of each.

[2020-01-25 21:38] doesdev commented on #11
Unfortunately I haven't been successful tackling the proposed API updates. I did add a `maxRetries` option in [this branch](https://github.com/doesdev/undici/tree/issue-11-api-updates). However, the tricky part is that if a client is initialized against a non-listening URL it will never be placed in `kQueue`, as it will just hang in the reconnect process until `maxRetries` (if set) is hit.

That b

[2020-01-25 23:30] mcollina commented on #11
Thanks for your efforts! I know these problems are hard and those kind of bugs elusive. If you’d still come and take a shot after some time, you are always welcomed!

[2020-05-02 10:31] ronag opened #14 "What happens with response if socket fails?"
If socket either errors or prematurely closes I don't see how an error is propagated to the response body? I think a `body.destroy(err)` is missing somewhere?

[2020-05-02 10:36] ronag opened #15 "Limit reading of aborted response body"
i.e.

[code]

It looks to me like the request keeps processing? Not sure how this can be aborted but maybe it should kill and reconnect the socket?

[2020-05-02 10:36] mcollina commented on #14
This is likely a bug, good spot.

[2020-05-02 10:49] ronag opened #16 "Pipelining only for GET/HEAD"
Pipelining should only be performed for GET/HEAD requests. If any other requests comes into the queue I guess it should wait for drain and reconnect, or error?

[2020-05-02 10:51] ronag opened #17 "Option to use core stream"
Would it be possible and make sense to add a runtime option to use core streams instead of `readable-stream` and `eos`? In particular in terms of the response body.

[2020-05-02 12:05] ronag opened #20 "Client.close w callback or event?"
Currently I don't think it's possible to determine when a client has completed all queued requests after calling `Client.close()` should we add a callback parameter or alternatively emit a `'close'` event?

[2020-05-02 12:09] ronag opened #21 "socket 'finish' and/or 'error' should error in-flight requests"
If the socket emits 'finish' or 'end' while a request is in-flight it should call `socket.destroy(new Error('aborted'))` in order to properly error in-flight requests.

Would require https://github.com/mcollina/undici/pull/19.

`eos` only handles the case of premature close. However, a `net.Socket` can emit `'end'` and or `'finish'` even though the request has failed.

[2020-05-02 12:25] ronag commented on #11
I think we could look at https://www.npmjs.com/package/reconnect-core for some inspiration.

[2020-05-02 12:57] ronag opened #22 "Use llhttp through wasm"
Would it be possible and make sense to use https://github.com/nodejs/llhttp instead of http-parser-js? Maybe as an opt-in?

[2020-05-02 13:48] ronag opened #23 "backpressure algorithm flaky test"
[code]

[2020-05-02 14:02] mcollina commented on #20
I would add a callback

[2020-05-02 15:03] ronag commented on #22
The [performance of http-parser-js](https://github.com/creationix/http-parser-js/issues/70) came up as part of a discussion regarding this library. Hence this issue.

[2020-05-02 15:43] mcollina commented on #22
I’d be happy to, however llhttp is not part of the public API, and I would prefer not to use a binary addon.

Wasm could be cool, but I do not know how it would perform. On top of of that, all of this _inlines_ and it avoids one or more jump between the http parser (C) and client (JS). Tbh, I don’t expect a bump in speed, but I would be happy to be surprised.

[2020-05-02 15:49] mcollina commented on #16
Good spot, yes. This is not implemented.

[2020-05-02 16:08] ronag commented on #20
Should close wait for queued requests as well? I'm a little unsure which behavior is most intuitive. If I wanted to kill requests I would call `destroy` while I would expect `close` to gracefully finish everything that has been requested so far.

[2020-05-02 17:05] mcollina commented on #20
I would say it should have both close() and destroy() with the semantic you identified.

[2020-05-02 17:07] mcollina commented on #17
Go ahead and send a PR. I plan to release a version of readable-stream cut from v14 later this year.

[2020-05-02 17:31] mcollina commented on #15
I think I would let it flow and not error.

[2020-05-02 17:41] mcollina commented on #15
Possibly add an option as well

[2020-05-02 23:50] ronag commented on #15
What if it is a several GB response? I think the safer/generic alternative is to kill the connection and reconnect for queued responses. Though, it's a bit of a problem with pipelining...

[2020-05-03 01:19] ronag opened #31 "reset parser on disconnect?"
I think we need to reset/recreate the parser on socket failure/disconnect? I don' t believe this is the case currently?

[2020-05-03 08:58] mcollina commented on #15
That's the problem. An option is needed, I'm happy with whatever default you think is best.

[2020-05-03 09:02] mcollina commented on #31
Likely!

[2020-05-03 10:26] ronag commented on #21
This was fixed here https://github.com/mcollina/undici/pull/29/files#diff-50cfa59973c04321b5da0c6da0fdf4feR48

[2020-05-03 10:26] #21 closed

[2020-05-03 11:04] ronag commented on #14
Fixed in https://github.com/mcollina/undici/pull/30

[2020-05-03 11:04] #14 closed

[2020-05-03 11:09] ronag opened #35 "body with GET/HEAD"
What should happen if the user supplies a body with a GET/HEAD request? Should we throw an error?

[2020-05-03 11:20] ronag commented on #16
Actually we could consider whether to pipeline PUT/DELETE as well as long as they are idempotent. Could we maybe add an option to request where the user can specify if a requests is idempotent or not, and we auto assume GET/HEAD are idempotent.

[2020-05-03 11:21] ronag opened #36 "auto retry inflight pipeline requests?"
So if we send e.g. 3 pipelined requests to the server, the first one fails e.g. due to socket failure, then we should probably fail the first one, reconnect and automatically retry the two following ones since the server never processed them?

[2020-05-03 13:19] ronag commented on #36
I think just makes things more complicated? Leave to user space.

[2020-05-03 13:19] #36 closed

[2020-05-03 13:58] ronag commented on #16
This would be easier to implement with an async/await loop... e.g.

[code]

Instead of the `Q` queue. @mcollina would you be opposed to such a direction?

[2020-05-03 14:11] szmarczak commented on #22
I have to say I'm impressed. Even with `http-parser-js` it's still faster than the native Node.js `http`.

[code]

<details>
<summary>Benchmark source code</summary>

[code]

</details>

The fun fact is that it's even [faster than the HTTP2 implementation](https://github.com/szmarczak/http2-wrapper#benchmarks):

[2020-05-03 14:15] mcollina commented on #16
That’s going to lose throughput :(. fastq is extremely low overhead.

[2020-05-03 14:17] mcollina commented on #36
That’s my take.

[2020-05-03 14:21] ronag commented on #16
Simplicity vs performance 😄. It's a bit trickier but if you prefer fastq I'll try and see if I can fix it with that approach...

[2020-05-03 14:22] mcollina commented on #35
probably a good idea

[2020-05-03 15:27] #20 closed

[2020-05-03 15:28] #31 closed

[2020-05-03 15:28] mcollina commented on #16
The purpose of this module is to be fast ;)

[2020-05-03 15:34] ronag commented on #16
ah yes, fastify, not simplify ;), I'll try to keep that in mind

[2020-05-03 15:38] ronag opened #40 "var vs let?"
I noticed this library is using var instead of let/const in some places. Is this intentional and how future code should be written as well?

[2020-05-03 16:38] szmarczak commented on #35
Sometimes there's a badly written server and users are forced to send body with a GET method. I think it should be an option. See https://github.com/sindresorhus/got/issues/1074 https://github.com/sindresorhus/got/issues/966

[2020-05-03 16:43] ronag commented on #35
Hm, that was quite a contentious. I guess we better allow it to avoid a repeat of that. Close? @mcollina?

[2020-05-03 16:47] szmarczak commented on #35
I mean it can be disabled by default, but there should be an option to enable this.

[2020-05-03 16:51] ronag opened #46 "destroy does not invoke inflight and queued callbacks"
Currently not all callbacks will be called when `client.destroy()` is invoked. Should probably do something similar to what e.g. `stream.Writable` does with `ERR_STREAM_DESTROYED`.

[2020-05-03 17:32] mcollina commented on #46
definitely

[2020-05-03 17:33] mcollina commented on #35
let’s allow it

[2020-05-03 17:34] #35 closed

[2020-05-03 17:35] mcollina commented on #40
totally intentional for performance reason

[2020-05-03 17:39] ronag commented on #40
Oh, I was not aware this was still a thing. Is it due to Node 10 support or is this also relevant for more recent V8 versions?

[2020-05-03 18:15] szmarczak commented on #40
How does this `performance reason` look like under the hood?

[2020-05-03 20:00] ronag opened #49 "Handle case where server doesn't support pipelining?"
Not sure exactly what happens when the server doesn't support pipelining and how to handle that in the client?

[2020-05-03 20:50] ronag opened #50 "Does backpressure on response body work?"
Reading through the code I can't see that backpressure is applied from the response body.

i.e.
[code]

Does nothing with the return value of `push` which should be indicating whether more data should be received or not...

[2020-05-03 21:18] ronag opened #52 "pause queue while piping"
I noticed the following comment https://github.com/mcollina/undici/blob/master/lib/client.js#L199.

I think if we don't fix this we have a serious bug where the next request can start writing to the socket interleaved with the current request body which will basically corrupt the whole client data stream. Or am I missing something?

[2020-05-03 21:36] ronag commented on #11
I've seen this as well, it goes into a live lock loop of reconnecting.

[2020-05-03 22:40] #17 closed

[2020-05-03 22:43] mcollina commented on #52
I think that comment is old/incorrect. The queue has a parallelism of 1, so it won't start processing a new entry before the callback is called.

[2020-05-03 22:50] mcollina commented on #50
It was working as expected. That push was triggered via kRead and using the pull interface.

[2020-05-03 22:55] mcollina commented on #40
I had not time to do a check lately, but I see very little reason that are worth the switch. `const` is fine to use.

[2020-05-03 22:56] mcollina commented on #49
How would the server communicate that back to the client?

[2020-05-04 03:47] #50 closed

[2020-05-04 03:48] #40 closed

[2020-05-04 04:09] ronag commented on #52
Are you sure? Isn't the whole thing with queue concurrency (i.e. pipelining) that multiple tasks can be running concurrently?

[2020-05-04 04:17] ronag commented on #49
Possibly an edge case not worth fixing... I think this mostly happens with very old servers.

[2020-05-04 06:07] mcollina commented on #52
You are right, the problem exists.

[2020-05-04 07:29] #46 closed

[2020-05-04 07:39] ronag opened #54 "pipelining should be relative number active requests?"
Currently the logic is only relative to number of queued/inflight (?) requests, however a request might still be receiving the body before the next one is dispatched, e.g.  with pipelining 1 and a GET request with a large body, the next request would be dispatched before the body has been fully received.

Is this intentional or a bug?

[2020-05-04 07:49] ronag commented on #54
e.g. `full` should probably be:

[code]

[2020-05-04 07:54] ronag commented on #49
So basically the logic here would be that the client does not pipeline until the first request has succeeded with a persistent connection in order to indicate that the server seems to support pipelining.

[2020-05-04 08:26] mcollina commented on #54
This is intentional. While the server is sending the previous body, it can start processing a new one.

[2020-05-04 08:26] #54 closed

[2020-05-04 08:28] mcollina commented on #49
That would be nice. However I fear it's a lot of complexity.
How are other clients doing it, if at all? Isn't this part of HTTP/1.1 that server has to support?

[2020-05-04 08:52] ronag commented on #49
Probably, I’ll take a look. This might be another one of those edge cases.

Sorry to bring up every possible edge case. Just trying to be throughout.

[2020-05-04 09:03] ronag commented on #49
@szmarczak do you have any input?

[2020-05-04 10:06] szmarczak commented on #49
No. Pipelining happens only on a persistent (keep-alive) connection and is **optional**. Unfortunately the HTTP/1.1 RFC does not specify how to verify whether the server supports pipelining or not and how many concurrent requests at maximum it should have.

[2020-05-04 10:36] ronag commented on #49
I mean... you can kind of detect it:

[2020-05-04 11:00] szmarczak commented on #49
One request is not sufficient. Because the connection is keep-alive it doesn't mean that it supports pipelining (according to the RFC). But I too think that most servers do support pipelining. To check if the server supports pipelining, you need to make two requests.

I see your point. I say let's assume that every `keep-alive` server does support pipelining, then only one request is enough to mak

[2020-05-04 12:14] ronag commented on #49
I mean we could just explicitly state in the README that persistent connection and pipelining must be support. Is that good enough?

[2020-05-04 13:14] szmarczak commented on #49
Yup. What happens otherwise? Does it throw when there already requests queued?

[2020-05-04 14:20] ronag commented on #49
Everything inflight fails except for the first request.

[2020-05-04 14:36] szmarczak commented on #49
Seems to be fine :)

[2020-05-04 16:15] ronag opened #58 "Timeout behaviour unclear"
The way timeout is currently implement no request may take longer than 30 seconds. Shouldn't the timer be rescheduled every time something happens on the socket (i.e. read/write)?

With the current implementation a large payload over a slow connection will never succeed.

I would have expected timeout be relative to socket activity, not how long a request has been active, or more specifically how

[2020-05-04 16:18] ronag commented on #23
I haven't gotten to the pool yet, will finish up the stuff I can find on client first before looking at this.

[2020-05-04 17:22] ronag commented on #54
@mcollina: There is one problem with this behavior though... currently there is no way to disable pipelining, i.e. I have a use case where I never want a request failing because the previous one failed while receiving the body.

Can we add support for that behavior with e.g. pipelining: 0?

[2020-05-04 18:27] ronag commented on #58
Another important reason for timeout to be relative to inactivity, most servers will kill a connection after e.g. 2 minutes of inactivity. Which can cause a race when a client sends a request just before this timeout, this causing the request to fail without anything really being wrong.

Which is why, I at least, always ensure that persistent connections have an inactivity timeout well below the s

[2020-05-04 18:35] ronag commented on #58
Any reason why we are not simply using socket timeout?

[2020-05-04 18:42] ronag commented on #58
If it's because `retimer` has better performance than nodejs `Timer.refresh`, I guess we could monkey patch `Socket._unrefTimer`...

[2020-05-04 21:40] ronag opened #61 "Tests"
meta list of things that might need more tests:

- [x] aborting request
- [x] aborting response
- [ ] server errors
- [x] pipelining request bodies
- [x] resuming from response backpressure
- [x] parser errors
- [x] timeout handling
- [ ] reconnect backof (use sinonjs fake-timers to speed up time)
- [ ] leaking event handlers on socket
- [x] response body autoDestroy
- [x] request body destroy on

[2020-05-04 21:43] ronag opened #62 "Parser errors not handled?"
I think we are missing a try/catch around `parser.execute` to handle parser error?

[2020-05-05 17:46] mcollina commented on #58
retimer is a vestige of the past, we can totally drop it. It was needed on previous versions of Node.js where canceling timers was very slow.

[2020-05-05 17:47] mcollina commented on #62
Likely.

[2020-05-05 18:10] #58 closed

[2020-05-05 19:40] ronag opened #66 "request body 'end' after destroy() asserts"
There is currently a race in body request handling when `body.'end'` is emitted after `body.destroy(err)` (this is a compat behavior of `Readable` and of legacy streams) which causes a failure on `assert(this.socket)` in the `finished(body, ...)` handler.

[2020-05-05 22:39] #62 closed

[2020-05-05 23:27] ronag opened #69 "pool should prefer connected clients"
pool should prefer connected clients over clients which are reconnecting

[2020-05-05 23:55] ronag opened #71 "Pool close & destroy callback"

[2020-05-06 00:19] ronag opened #73 "Optimal Pooling Strategy"
What is the optimal strategy when picking the next client to perform a request on in the pool?

I believe the follow sorting criteria would be best:

[code]

[2020-05-06 16:30] #66 closed

[2020-05-06 16:41] #11 closed

[2020-05-06 22:38] ronag opened #77 "Disabling pipelining"
As far as I can see, right now it is impossible to use this library in a way that only a single request is on the wire at the time.

Would it make sense to add `pipeling: 0` support which enforces that requests are first sent **and** received before the next one is sent.

[2020-05-06 23:30] ronag opened #78 "Server closes connection on chunked pipelining"
This was a bit surprising for me. It seem the server always ends the connection at the end of a request which sent a chunked body, i.e. this will always close the connection once the first request has completed.

@mcollina Are you familiar with this behavior?

[code]

[2020-05-06 23:54] ronag opened #79 "Check with spec"
https://www.w3.org/Protocols/rfc2616/rfc2616-sec8.html
https://tools.ietf.org/html/rfc7230

Do we follow the spec? Review.

[2020-05-07 00:06] ronag commented on #78
Moved to PR https://github.com/mcollina/undici/pull/76

[2020-05-07 00:06] #78 closed

[2020-05-07 07:49] mcollina commented on #77
is pipelining: 1 not such a case? What would happen in that case?

[2020-05-07 08:23] ronag commented on #77
We discussed this here https://github.com/mcollina/undici/issues/54.

Basically, it will send the next request while the response from the previous request is still being received.

[2020-05-07 08:44] mcollina commented on #77
Aaah, I didn't connect the two together. I'm good either way with the pipelining 1 and pipelining 0 config. What do you think would be more intuitive?

[2020-05-07 10:01] ronag commented on #77
I think 1 is more intuitive. I think we should change so that 1 is what I suggest which would make 2, what 1 is today. Makes sense?

[2020-05-07 10:48] mcollina commented on #77
yes go ahead.

[2020-05-07 16:24] ronag commented on #79
@mcollina: Is there parts of the spec we know we don't implement and would like to?

e.g. socket upgrade, 100 continue etc...?

[2020-05-07 16:52] ronag opened #81 "Some test take long to finish"
PASS  test/client-errors.js 74 OK 5s
 PASS  test/client.js 352 OK 12s

[2020-05-07 18:31] mcollina commented on #81
let's just increase the total time or maybe split them in more files.

[2020-05-07 18:37] ronag commented on #81
I think this is a bug

[2020-05-07 19:44] ronag opened #82 "return null response when content-length 0?"
We currently return `null` as response body when it's a `HEAD` request.

We could also do the same when the response contains a `content-length: 0` header?

Alternatively, always return a `Readable` for body to keep the response signature consistent.

Also, I'm a little unsure what happens with `HEAD` + `skipBody` if the server actually incorrectly sends a body?

[2020-05-07 19:50] mcollina commented on #82
Maybe let’s return an empty readable.

[2020-05-07 19:53] ronag commented on #82
What do you mean? We already do this for everything except `HEAD`. Do you mean we should empty readable for `HEAD` as well?

[2020-05-07 19:53] mcollina commented on #79
I don’t think so.
I would not implement upgrade and 100 continue.

[2020-05-07 19:59] ronag commented on #79
I'm leaving this open. I think we should at least document what do and what we do not support.

[2020-05-07 21:06] #52 closed

[2020-05-07 22:08] mcollina commented on #82
I'm happy with whatever you prefer really. I thought returning null was ok, but if you prefer to return an empty readable is also ok.

[2020-05-08 04:52] #77 closed

[2020-05-08 04:52] #81 closed

[2020-05-08 07:22] ronag opened #84 "should we validate the headers?"
I noticed a todo on the request headers in regards to whether or not to validate them.

I see undici more like a low level library which implements the protocol in an efficient manner. If the user provides invalid headers the server should simply send an error response? I think validation should live in higher level libraries that wrap undici, e.g. got.

Thoughts?

[2020-05-08 08:47] mcollina commented on #84
I agree.

[2020-05-08 09:13] ronag opened #86 "add node 14 to CI"

[2020-05-08 11:11] #84 closed

[2020-05-08 11:56] #15 closed

[2020-05-08 11:59] ronag opened #88 "aborted request body should wait for inflight to complete"
request with aborted body should not reset the connection before inflight requests are complete, otherwise it unnecessarily cancels requests that could complete.

[2020-05-08 12:04] ronag opened #89 "request headers mutable?"
Currently it is possible for the user to mutate the headers **after** calling `client.request(...)`. I'm not sure whether this is a good or bad thing?

As an alternative we could stringify the headers object to a `rawHeaders` buffer/string when creating the request object. That way, if the user modifies the headers object after `client.request(...)` it won't affect anything.

Thoughts?

[2020-05-08 12:04] ronag commented on #89
@szmarczak how do you handle this in got?

[2020-05-08 12:06] szmarczak commented on #89
We deep clone the options, including headers.

[2020-05-08 12:49] ronag commented on #89
Not sure whether this library should take this into account. Not sure.

[2020-05-08 14:41] szmarczak commented on #89
No need to implement deep cloning as a separate function. To save performance, I did the following:

[code]

[2020-05-08 14:42] ronag commented on #89
I managed to do it with no perf impact https://github.com/nxtedition/undici/commit/ece6ee8456ca81fa54a37b09c529cb884a439a3a

[2020-05-08 16:04] #89 closed

[2020-05-08 16:07] mcollina commented on #88
+1

[2020-05-08 22:34] ronag commented on #82
let's leave it as is

[2020-05-09 10:00] ronag commented on #73
The more I think about this the more complex of a question this becomes. I'm a little unsure whether we should even have this in this library and if we do where to put the ambition level.

It becomes a trade off between:

- number of connections
- latency
- retries due to closed connections
- timeouts

# Depth First (current algorithm)

Tries to avoid creating new connections and instead fills exi

[2020-05-09 10:01] ronag commented on #73
@szmarczak

[2020-05-09 10:03] ronag commented on #69
was fixed

[2020-05-09 12:13] mcollina commented on #73
It’s even more complex than this, and I think your description contains something inaccurate.

Depth first minimizes timeouts and maximizes the tcp windows... which in turn minimize latency. However they pay the price of head-of-line blocking in case of a slow request.

Breadth first avoids the problem of head-of-line blocking at the price of higher chance of timeouts and smaller tcp windows.

Unl

[2020-05-09 12:19] ronag commented on #73
Good point.

Good point.

Depends on the relative latency of the different requests. If you have a request head of line that takes 10s (for various reasons) in front of a 1s requests... the 1s request will take longer. It's not just about the payload, it also about processing time on the server side, e.g. one request my indirectly call to a database while the other is just in memory on the server

[2020-05-09 12:35] szmarczak commented on #73
I agree with @mcollina. I wouldn't worry about those too much. If the following requests are delayed by a huge download (or upload - a user specified timeout), then let the download continue, meanwhile open a new connection for these particular requests and for when the huge download finishes, destroy the connection because there's a new one.

[2020-05-10 14:13] szmarczak commented on #82
I'd prefer an empty readable.

[2020-05-10 15:23] szmarczak commented on #82
I mean just to be consistent so we don't need to write bunch of `if`s for edge cases.

[2020-05-10 20:40] #16 closed

[2020-05-10 20:40] #88 closed

[2020-05-10 21:18] #82 closed

[2020-05-11 11:18] ronag opened #99 "Do we need readable-stream?"
Do we need to use readable-stream?

We are using `Readable`, but given the simplicity of usage I don't believe there should be any problems with it.

Vice-versa with `finished` which was also included in v10.

[2020-05-11 12:37] mcollina commented on #99
We can switch to native if you prefer. I tend to recommend the use of readable-stream so that the code would work the same across all runtimes (with no surprises).

I’m happy to drop it.

[2020-05-11 14:46] #99 closed

[2020-05-12 15:07] ronag opened #106 "Pipeline Compat"
Was think a little about interoperability with pipeline and how that would work in user friendly and performant way.

Was think something like this would maybe be nice?

[code]

This could be implemented in user land as well using a helper method. But there might be some considerations we could do to make this possible in a performance way. Other than that it might or might not make sense to inclu

[2020-05-12 17:40] mcollina commented on #106
It would be a nice API to add.

[2020-05-13 10:34] ronag commented on #22
Anyone of you know of anyone that might be interested in creating or helping out with a wasm build of llhttp that can be used as an alternative to http-parser-js? I hope it would not be too difficult if one is familiar with the wasm build flow.

[2020-05-13 11:03] mcollina commented on #22
In would recommend to open an issue on https://github.com/nodejs/llhttp, there is also https://www.npmjs.com/package/llhttp which might be usable somehow?

[2020-05-13 12:43] ronag opened #112 "Request Body as Factory Method"
Allow passing a factory method as body which would return a `Readable`. This would allow e.g. idempotent `PUT` requests which e.g. read from a file to be part of the indirect inflight failure retries.

Alternatively a async generator function which is retryable by definition.

[2020-05-13 12:49] ronag commented on #22
@szmarczak Would you mind running those benchmarks again against master? I'm curious how much of a difference recent improvements have made.

[2020-05-13 13:03] mcollina commented on #112
It would be nice. However unlikely to work in most cases as the body can not be fetched more than once.

[2020-05-13 13:05] ronag commented on #112
If it's being read from a file or from an upstream request... it could be

[2020-05-13 13:05] szmarczak commented on #22
master: `undici x 21,168 ops/sec ±2.00% (88 runs sampled)`

[2020-05-13 13:07] szmarczak commented on #22
#109 `undici x 20,131 ops/sec ±1.81% (85 runs sampled)`

but it very often goes below 20k: `undici x 19,812 ops/sec ±2.01% (85 runs sampled)`

[2020-05-13 13:08] szmarczak commented on #22
ah wait I didn't use the newer API, lemme check it out

[2020-05-13 13:18] szmarczak commented on #22
[code]

[code]

[code]

[code]

That's a big improvement!

[2020-05-13 13:53] #23 closed

[2020-05-13 13:53] #69 closed

[2020-05-13 18:23] ronag opened #115 "Improve benchmarks"
Would be nice to improve our benchmarks and also maybe add some comparison to our README.

[2020-05-13 18:24] ronag commented on #115
@szmarczak Is this something you maybe could help out with? You already seem to have some sort of benchmark you run?

[2020-05-13 18:25] ronag commented on #115
@mcollina Would you be against adding comparison results to README? I was think it might help with getting some traction.

[2020-05-13 18:31] mcollina commented on #115
Go for it!

[2020-05-13 18:51] szmarczak commented on #115
Sure, I'll be happy to send a PR tomorrow.

[2020-05-13 19:28] ronag opened #116 "Issue List"
This is a meta issue of things left to review and maybe do some tests for:

- [x] https://github.com/mcollina/undici/blob/master/lib/client.js#L67-L69: This assumes that the `body` returned from the user properly sets `destroyed: true`, i.e. `autoDestroy`. Is it ok to make this assumption?

- [x] https://github.com/mcollina/undici/blob/master/lib/client.js#L152-L154: Add a comment describing why t

[2020-05-14 21:55] #86 closed

[2020-05-15 19:53] ronag opened #125 "'drain' can be emitted multiple times"

[2020-05-15 20:28] ronag commented on #125
In theory... I'm unable to make a case which hits it

[2020-05-15 21:32] ronag opened #127 "Should `client.destroy()` be able to error?"
I'm not sure whether the it makes sense for `client.destroy()` to error. I haven't really figured out a good use case where it would make sense.

I might want to suggest:

- Remove `err` argument from `destroy(err)`.
- Swallow all errors that occur after the call to `destroy()`. There will be errors of various kind (depending on timings) from destroying the socket, neither of which makes much sens

[2020-05-15 21:34] szmarczak commented on #125
Can you reopen this? I'll try to reproduce this tomorrow.

[2020-05-15 21:37] szmarczak commented on #127
I totally agree with your suggestion. The client itself shouldn't throw, only streams should.

[2020-05-16 08:35] ronag opened #128 "request.stream callback not always in async scope"
The finished callback is not wrapped.

[2020-05-16 10:42] ronag opened #130 "`request.stream` waits for readable side"
Not sure if this is a good or bad thing.

The stream we return from the factory function, currently `request.stream` will wait for the readable side to finish as well if passed a `Duplex`. I'm not sure whether this is a good or bad thing?

[2020-05-16 10:45] ronag commented on #128
This is a bit tricky to reproduce but could in theory happen if factory returns a `Duplex`. In the case of `finished` waiting for `'end'` instead of `'finish'` the async scope might no longer be the correct one.

Refs: https://github.com/mcollina/undici/issues/130

[2020-05-16 10:46] ronag commented on #130
I'm labelling this as a bug until there is more opinion.

[2020-05-16 10:48] ronag commented on #125
I don't think this is possible anymore given.
 https://github.com/mcollina/undici/commit/f6c455bdbbe34e87ebdaebf357f074f0e9a352a9#diff-50cfa59973c04321b5da0c6da0fdf4feR271

[2020-05-16 11:06] szmarczak commented on #125
You're right. Feel free to close this now :)

[2020-05-16 11:07] #125 closed

[2020-05-16 11:18] #127 closed

[2020-05-16 11:20] #128 closed

[2020-05-16 11:20] #130 closed

[2020-05-16 11:21] #116 closed

[2020-05-16 18:49] ronag opened #136 "Do we need the `'drain'` event?"
We are not using it for Pool anymore and without it `Client` no longer needs to be a `EventEmitter`?

[2020-05-16 19:05] mcollina commented on #136
let’s drop it!

[2020-05-16 22:43] ronag opened #140 "Add opaque to `client.stream`"
Right now the user can only pass data into the factory by making the factory a closure which might be inefficient. Add an `opaque` argument which gets passed to the factory?

e.g.

[code]

[code]

[2020-05-16 22:45] ronag commented on #140
Maybe premature optimization?

[2020-05-17 10:52] ronag commented on #136
I’m not sure it’s worth dropping if we need to keep it as an event emitter anyway. Due to the connect and reconnect events (which btw we should document?).

[2020-05-17 10:53] ronag commented on #115
Done

[2020-05-17 10:53] #115 closed

[2020-05-17 11:36] mcollina commented on #136
we should document those.

[2020-05-17 12:52] #136 closed

[2020-05-17 14:49] #140 closed

[2020-05-17 22:20] #71 closed

[2020-05-17 22:21] #106 closed

[2020-05-18 08:41] ronag opened #151 "client.pipeline API"
We recently merged `client.pipeline` in https://github.com/mcollina/undici/pull/147.

Which allows us to do:

[code]

However, I was discussing with some collegues the API in regards to whether one would like to modify the stream based on headers. Where the suggestion was to change it to:

[code]

i.e. the `handler` receives a `body` and must return a stream (which usually would simply be `body`).

[2020-05-18 08:41] ronag commented on #151
@mcollina @szmarczak

[2020-05-18 09:08] mcollina commented on #151
go for it

[2020-05-18 15:12] szmarczak commented on #151
Isn't it better to decompress the response automatically? And have an option to disable it?

[2020-05-18 15:14] ronag commented on #151
That kind of goes into user land and modules (e.g. got). I think this library should do as little as possible.

[2020-05-18 17:31] ronag opened #154 "throw or callback?"
We are a little inconsistent in regards to throwing and using the callback.

For argument errors directly in `request`, `stream` and `pipeline` we `throw`. While errors from `Request` constructor we propagate through the `callback`.

I think we should probably pick one. Should we go with always propagate through callback?

[2020-05-18 18:23] ronag opened #156 "`stream.pipeline` async scope"
Since we return a `Duplex` in `stream.pipeline` it's not entirely clear where and when we should propagate async scope. Might need some tests to demonstrate and confirm.

[2020-05-18 19:59] delvedor commented on #154
+1 for callbacks!
As a library maintainer I very much prefer to use callbacks instead of try catches :)

[2020-05-18 20:48] ronag commented on #156
@mcollina: This is not something I think we need to fix right now. At some point when you have time it would be nice to discuss the async hook thing more in depth and try to make sure we are covering most of the edge cases.

[2020-05-18 20:50] #154 closed

[2020-05-18 21:23] ronag opened #159 "http-parser-js can throw?"
It's a little unclear to me whether and when http-parser-js.execute will return or throw errors. See, https://github.com/creationix/http-parser-js/blob/master/http-parser.js#L126.

Any thoughts? Do we need a try/catch around `parser.execute(...)`?

[2020-05-18 21:25] ronag commented on #159
Nevermind. It only happens when calling the virtual methods.

[2020-05-18 21:25] #159 closed

[2020-05-19 07:44] delvedor opened #160 "Experimental support in the Elasticsearch Node.js client"
Hello folks!
As you may know, Elasticsearch uses HTTP as communication protocol, and I've been looking at this library for a while :)
I would love to add experimental support in the client for this library, so users can start using it and reporting how it works.

Using it would be something like:
[code]

When are you expecting to have an "almost stable" release?
Is there something I can do for hel

[2020-05-19 07:54] ronag commented on #160
@delvedor Awesome!

I believe most of what's left is increasing test coverage. My intention is to propose a release by the beginning of next week.

If you can review the API and make sure it makes sense and see if you can see any missing edge cases in terms of functionality or error handling that would be great.

[2020-05-19 07:59] ronag commented on #160
I know elasticsearch uses `GET` requests with a body. Are those idempotent?

[2020-05-19 08:22] delvedor commented on #160
Awesome!

👍

Very likely the `request` API, the internals of the Elasticsearch client are built to be interchangeable, but there is a contract that must be respected.
Any `Connection` class (which is a wrapper of an HTTP client library), must return a ReadableStream from which the coordinator of the request will consume the response. It also needs status code and headers. Also, the `idempotent` wi

[2020-05-19 08:24] ronag commented on #160
If you set `idempotent` to always `false` then undici won't pipeline the requests. Which is fine unless you expect requests to be pipelined.

[2020-05-19 08:38] ronag opened #161 "Improve documentation"
- [x] `tls` option is not documented for `new Client`.
- [x] Pool should just say it has the same options as client + connections.
- [ ] Pool does not have <a> tags.

[2020-05-19 08:41] ronag commented on #160
Also if you have any notes on the documentation please add them here https://github.com/mcollina/undici/issues/161 and if you have suggestions for improvement feel free to open a PR.

[2020-05-19 08:41] ronag commented on #160
If you intend to use pipelining it would be intersting to get your take on https://github.com/mcollina/undici/issues/73.

[2020-05-19 09:14] delvedor commented on #160
I'm playing with undici inside the client and I can already give some early feedback:

1. In the Node.js's core `http.request` method you have different events you can listen, and based on the event, you can return a different error (timeout, abort, error). With undici you will receive every error in the same callback, it would be great to codify these errors in their own classes (such as TimeoutE

[2020-05-19 09:20] ronag commented on #160
PR is welcome!

[2020-05-19 09:36] delvedor commented on #160
I was thinking about something very easy, for example:
[code]

With promises it should be a thenable.
[code]

[2020-05-19 09:56] ronag commented on #160
That breaks the API thought. Currently `request` returns a `Boolean`.

So we monkey patch a Promise? Not sure I like it.

Could you create a separate issue for this and we can discuss it there? I feel this might require a bit of back and forth.

[2020-05-19 10:07] delvedor commented on #160
I would not define it monkey patching, I was thinking something like the following:
https://github.com/elastic/elasticsearch-js/blob/d1ad7bd22bcaac412daf4ba330ddbb544e651f8c/lib/Helpers.js#L179-L193

Sure!

[2020-05-19 12:06] delvedor opened #164 "Expose a simple API to abort requests"
With the current API it is not straightforward to abort a request, it would be great to expose a simple method to abort a request.

I was thinking about something very easy, for example:
[code]

With promises it should be a thenable.
[code]

For supporting this signature, we should transform the returned value in a thenable.
Otherwise, we could create something similar to the [AbortController](htt

[2020-05-19 12:08] ronag commented on #164
@szmarczak @mcollina

[2020-05-19 12:10] mcollina commented on #164
+1!

[2020-05-19 12:14] ronag commented on #164
Then we change so that request no longer returns a Boolean.

@mcollina does using a thenable instead of a promise in anyway affect async hooks, async await etc...?

[2020-05-19 12:15] mcollina commented on #164
I think using abortcontroller is better.

thenables can break the async context badly :(

[2020-05-19 12:41] ronag commented on #164
I think abortcontroller was discussed in node core somewhere. Will see if I can find that issue.

[2020-05-19 13:00] delvedor opened #165 "Custom timeout per request"
At the moment we can configure a global timeout, but not a custom timeout **per** request, which would be quite handy.
Is there a reason for this?

[code]

Related: #160

[2020-05-19 13:06] ronag commented on #165
I'm not quite sure how that would work. The current timeout is on the socket.

So you could never have a per request timeout that is larger than the socket timeout. Allowing to change the socket timeout per requests makes things complicated, especially with pipelining.

I guess we could add it per request as long as it's less than the socket timeout. Also does it apply on the request body (i.e rea

[2020-05-19 14:12] mcollina commented on #165
I think we are talking about different things. The timeout on the socket is an activity timeout, e.g. the timeout between two chunk of data. I think @delvedor is asking about a request timeout.

It can be bigger than the socket timeout as a single request is composed of multiple chunks. Essentially it's a matter of creating a `setTimeout` with that value, and calling the callback if it triggers ea

[2020-05-19 14:13] mcollina commented on #164
See how it is implemented in https://github.com/jasnell/piscina#cancelable-tasks. I think it's a great way to add it.

[2020-05-19 14:21] ronag commented on #165
Ah, so it's a timeout for the entire request regardless of activity. @delvedor is this what you mean? Also please not that this is different from e.g. `timeout` on core `http.request` which is based on socket activity.

[2020-05-19 14:25] delvedor commented on #165
Correct :)
I would expect it to work in the same way as core's [`http.request`](https://nodejs.org/api/http.html#http_http_request_options_callback).

[2020-05-19 14:28] ronag commented on #165
That's contradictory, the timeout argument for `http.request` is not the same thing as a request timeout.

[2020-05-19 14:51] #151 closed

[2020-05-19 14:51] delvedor commented on #165
Essentially I would like to achieve something like this:

[code]

The log is:
[code]
The error is caused by `request.abort`.

[2020-05-19 15:07] ronag commented on #165
That's not enough to determine how we implement this. Notice that undici is fundamentally different due to pipelining so that example cannot be directly applied. So how would you expect that timeout to work?

e.g. you might have requests that are being served ahead in the pipeline. Should the waiting time for other responses ahead in the pipeline count towards timeout or not?

[code]

[2020-05-19 15:34] delvedor commented on #165
That's a good question. As an external user, I don't really care about why the timeout has been reached, I would expect that if set a timeout of 1000 milliseconds, once the timeout has passed, I get an error back, even if the request has never been sent.
In such case, I know that I would need to increase the number of connections.

[2020-05-19 15:36] ronag commented on #165
So your expectation would be that if the request has not completed within the timeout time counted from when the request was created, it should timeout.

So essentially it's the same as:

[code]

Not that this is different than what `http.request` does.

[2020-05-19 15:53] delvedor commented on #165
I think it is what a user without the knowledge of the internals would expect.
I don't recall how `http.request` is handling this, I'll take a look at node internals :)

[2020-05-19 15:57] ronag commented on #165
I think that fits @mcollina's suggestion and should be rather simple to implement.

It just invokes `socket.setTimeout`

[2020-05-19 16:17] delvedor commented on #165
Oooh, now I've understood what you mean. We can't use the same approach here because if we are using pipelining > 1, then there might be more than one request per socket, making the timeout unreliable.

What do you think about optimizing this case, and using `socket.setTimeout` when pipelining = 1 and use a `setTimeout` when pipelining > 1?

[2020-05-19 16:20] mcollina commented on #165
`socket.setTimeout` just use `setTimeout` internally, so there is no point on optimizing it.

[2020-05-19 16:25] delvedor commented on #165
Oks! So if we would like to compare Node.js core http.request and undici, we can summarize it like this:

| Node.js core | Undici |
|--------------|---------|
| Agent keep alive timeout | undici global timeout |
| http.request timeout | undici internal request setTimeout |

Did I git this right?

[2020-05-19 16:27] ronag commented on #165
I don't really think they can be compared in a meaningful way. 😕

[2020-05-19 16:29] ronag commented on #165
Suggestion on what we can do:

- Before we have received response headers, timeout is relative to when request was enqueued
- After we have received response headers, timeout is relative to most recent response chunk.

[2020-05-19 16:30] mcollina commented on #165
I would simply do

So we can offer a strong guarantee to our users.

[2020-05-19 17:27] delvedor commented on #164
I'm going through the code for looking at how to implement the abort controller.
Supporting it is quite easy, in the end it will be something like:
[code]
I don't know well enough the internals to know where and what to close/destroy to clean the used resources. @ronag can you point me in the right direction? Or if you want to take a stab, go for it!
I think we should first solve this issue, and t

[2020-05-19 17:29] ronag commented on #164
Yes, I agree.

I'll sort it out. If you'd like to build some additional test cases for it afterwards that would be great.

[2020-05-20 06:41] szmarczak commented on #164
In Got we just expose a `.cancel()` function. It destroys the pending request and makes the promise reject.

[2020-05-20 07:28] ronag commented on #164
What do you expose it on? Do you mean to return a thenable object, i.e. not a `Promise`?

[2020-05-20 08:43] szmarczak commented on #164
[code]

[2020-05-20 08:45] ronag commented on #164
@szmarczak Unfortunately that won't work as [thenables break async context](https://github.com/mcollina/undici/issues/164#issuecomment-630779518).

[2020-05-20 08:47] mcollina commented on #164
@szmarczak that can work if you add a `cancel` function to the promise object.

[2020-05-20 08:52] ronag commented on #164
Are we fine with modifying the `Promise` object?

[2020-05-20 09:10] mcollina commented on #164
I would try to use the abortcontroller approach instead which is going to be more compatible with the rest of the ecosystem.

[2020-05-20 15:26] #164 closed

[2020-05-20 20:51] ronag opened #172 "cancellation missing test coverage"
cancellation is missing test coverage on a few lines

  client.js  |      100 |    98.75 |    98.46 |      100 |        73,177,693 |

[2020-05-20 20:52] ronag commented on #172
@delvedor

[2020-05-20 20:53] ronag commented on #172
These are the last statements that are uncovered.

[2020-05-23 10:50] ronag opened #175 "`close` semantics"
Extracting this out from the timeout PR.

It's for me a little unclear what exactly the expected semantics of close is and whether it's worth the complexity.

If we want to keep it I would like to suggest that the expected semantics of close would be:

[code]

i.e. it waits for completion for all queued and active requests and if any of those fail it will fail.

Alternatively it could be correspon

[2020-05-23 11:33] mcollina commented on #175
While graceful shutdown can be implemented in user space, it’s hard for most devs. It’s better if we keep it in here.

I agree with the semantics of Promise.all.

[2020-05-23 11:45] ronag commented on #175
Ok, I'll try to make that happen and label this as a bug until then.

[2020-05-24 16:01] #175 closed

[2020-05-24 16:01] ronag commented on #165
This has been added

[2020-05-24 16:01] #165 closed

[2020-05-24 16:02] ronag commented on #160
@delvedor anything else you need in terms of functionality? If we are feature complete, will start more in depth review during next week and hopefully we can do a release after that.

[2020-05-24 19:51] #172 closed

[2020-05-24 20:14] ronag opened #179 "HTTP Trailers"

[2020-05-24 20:15] ronag opened #180 "TAP 100"
We now have 100 coverage. Do we want to add undici to [TAP 100](https://github.com/tapjs/node-tap/blob/master/docs/src/content/docs/coverage/100/index.md)?

[2020-05-24 20:23] ronag opened #181 "Coverage Badge"
A coverage badge would be fun. Based on GitHub actions.

[2020-05-24 20:23] ronag commented on #181
@delvedor is this maybe something you can help with?

[2020-05-24 20:23] mcollina commented on #180
Go for it!

[2020-05-24 20:23] #180 closed

[2020-05-24 20:24] ronag commented on #179
@szmarczak is this a requirement for got?

[2020-05-24 20:35] szmarczak commented on #179
I'd rather say no. I don't know if there are any valid use cases but even if it'll become an issue then we can implement trailers later, right?

[2020-05-24 20:37] ronag commented on #179
Just checking whether this is something we need to fix before doing a release.

[2020-05-24 20:37] ronag commented on #179
@delvedor I assume this is not a problem for elasticsearch?

[2020-05-24 20:48] #161 closed

[2020-05-24 20:49] ronag opened #183 "Document errors modes"
Improve documentation with more detailed description on what errors and when can occur for the various API functions.

[2020-05-24 20:52] ronag opened #184 "Provide error as reconnect argument?"
Should we forward the the socket error to the `'reconnect'` event so that an observer can get some kind of hint to why the client is reconnected.

[2020-05-24 21:47] mcollina commented on #184
I think it would be a good idea

[2020-05-24 21:47] mcollina commented on #184
Also a disconnect event could work

[2020-05-24 21:48] ronag commented on #184
Should we rename reconnect to disconnect?

[2020-05-24 21:56] ronag opened #185 "Long running tests"
Investigate why some tests have a long runtime:

 PASS  test/client-pipelining.js 230 OK 5s
 PASS  test/client.js 745 OK 2s
 PASS  test/client-errors.js 112 OK 8s

[2020-05-25 07:27] ronag commented on #179
On second thought. It might be worth at least considering how the API for this would look like. In order to avoid future breaking changes.

[2020-05-25 07:51] mcollina commented on #181
I don't think it's actually needed. We are forcing every PR to have 100% code coverage anyway now.

[2020-05-25 07:57] mcollina commented on #184
let's go with reconnect and see

[2020-05-25 08:15] #181 closed

[2020-05-25 08:39] delvedor commented on #179
@ronag it should not be an issue.

[2020-05-25 08:40] delvedor commented on #160
I think so, but I'll do some test asap to be sure :)

[2020-05-25 09:27] ronag opened #186 "Allow request headers option to be string (raw) or Array of strings"
Allow headers option to be string (raw) or Array of strings. Would make it possible to avoid having to first convert your headers into an object before sending to undici.

[code]

[2020-05-25 09:29] ronag opened #187 "requestTimeout documentation unclear"
It's unclear what the timeout is, i.e. what is the start and what is the end time it's monitoring? Should probably also clarify for socketTimeout.

[2020-05-25 11:56] delvedor opened #188 "Header casing"
The headers can be either Uppercased o lowercased, based on how they have been written. I think we should lowercase every key by default, to avoid confusion.

[code]

[2020-05-25 11:59] ronag commented on #188
This has performance implications and HTTP header handling should be case insensitive. I would prefer we don't touch them.

[2020-05-25 12:04] ronag commented on #188
Should this be an option?

[2020-05-25 12:05] delvedor commented on #188
I agree that this might cause some performance slowdown, but if we don't lowercase all headers by default *(in the response)*, then all of our users will need to log the headers before writing their code because they can't know in advance the casing of the headers.
Finally, I think we should behave in the same way as [Node.js core](https://nodejs.org/api/http.html#http_message_headers), as I belie

[2020-05-25 12:07] delvedor commented on #188
In fact, I've noticed this behavior because I was trying to port the current test in the Elasticsearch client to use `undici`, and every header check started failing.

[2020-05-25 12:07] ronag commented on #188
So an option which is enabled by default?

[2020-05-25 12:10] delvedor commented on #188
An option enabled by default could work, but I don't think anyone will ever change this, because it might save you a few milliseconds (did we measure how many?), but it adds a lot of complexity afterward, as you don't really know the casing of the headers.

[2020-05-25 12:12] delvedor commented on #188
In Fastify we are lowercasing everything by default, and I don't think it causes a degradation in performances that justifies the complexity of supporting different solutions: https://github.com/fastify/fastify/blob/8b8485ac5ff56d1ead387f6dd76384f996a2cf8e/lib/reply.js#L162-L210

[2020-05-25 12:18] delvedor commented on #188
I did some benchmarks:

With `key.toLowerCase()`:
[code]

Without `key.toLowerCase()`:
[code]

The server code:
[code]

I don't see a sensible difference :)

[2020-05-25 13:18] ronag opened #190 "Response headers"
Should we change the type of response headers to better match https://developer.mozilla.org/en-US/docs/Web/API/Headers?

i.e. an object with the following methods:

- `entries()`
- `get()`
- `has()`
- `keys()`
- `values()`

i.e. make it a `Map` instead of an object.

I'm mostly bringing this up since it was mentioned on the webserverframework meeting that the `Headers` API seemed promising and if

[2020-05-25 13:18] ronag commented on #190
@mcollina

[2020-05-25 13:19] mcollina commented on #190
That’s terribly slow :(. @delvedor did some experiments already.

[2020-05-25 13:19] ronag commented on #190
That makes me sad :(

[2020-05-25 13:20] ronag commented on #190
Any ideas as to why and what V8 versions did @delvedor try?

[2020-05-25 13:20] #188 closed

[2020-05-25 13:28] delvedor commented on #190
I did some experiments, but I didn't benchmark them actually.
While I like this idea, I fear that the main issue is that people are used to have headers inside a plain object. If we start returning headers in whatwg-headers flavor, people will start converting them in plain objects, and they will have performance issues.

[2020-05-25 18:22] #185 closed

[2020-05-25 21:12] ronag commented on #179
Giving this more thought I believe this can be solved in an elegant fashion by providing a `trailers` promise beside the `headers` object.

[2020-05-25 21:14] ronag opened #195 "return value for request"
Could we change the return value fo request to simply be undefined instead of `!client.full`? Would make it more consistent with the promise variant. I see no significant advantage of the current approach.

[2020-05-26 05:52] mcollina commented on #195
sure, go for jt.

[2020-05-26 08:38] trygve-lie commented on #179
Related topic; how would HTTP [103 Early Hints](https://evertpot.com/http/103-early-hints) play out? It would be very nice to have a way to get the early hints data in a way before the header and body.

I have a real use case for 103.

[2020-05-26 09:17] #195 closed

[2020-05-26 09:20] ronag opened #196 "HTTP 103 Early Hints"
https://evertpot.com/http/103-early-hints

Request from: https://github.com/mcollina/undici/issues/179

@trygve-lie

[2020-05-26 09:22] ronag commented on #179
I'm unsure if https://www.npmjs.com/package/http-parser-js supports this.

[2020-05-26 09:23] ronag commented on #196
I'm unsure if https://www.npmjs.com/package/http-parser-js supports this.

[2020-05-26 09:23] ronag commented on #196
Does Node core supports this? @mcollina do you know?

[2020-05-26 09:31] mcollina commented on #196
I _think_ Node.js core support this.

[2020-05-26 09:41] ronag commented on #190
@mcollina any further thoughts or close?

[2020-05-26 09:42] ronag commented on #184
fixed

[2020-05-26 09:42] #184 closed

[2020-05-26 09:51] ronag opened #197 "HTTP 100 Continue"
https://tools.ietf.org/html/rfc7231#section-6.2.1

[2020-05-26 10:23] mcollina commented on #190
I'll close for now.

[2020-05-26 10:23] #190 closed

[2020-05-26 10:33] ronag opened #198 "Request Body as Iterable/Iterator"
Current flow is to just use `Readable.from(i)`. Which is fine. But we could make this faster.

[2020-05-26 10:38] mcollina commented on #198
Note that strings and buffer should not be iterated upon.

[2020-05-26 11:18] trygve-lie commented on #196
Yeah. Node.js core supports it: https://github.com/nodejs/node/pull/16644

[2020-05-26 14:48] ronag opened #199 "How does http-parser handle 1xx responses?"
Need to at least check what http-parser does in case of 1xx responses.

[2020-05-26 14:49] ronag opened #200 "Document differences from spec"
- 1xx
- HTTP 1.0 server
- Trailers

etc...

[2020-05-26 15:55] ronag commented on #196
@mcollina @szmarczak @delvedor I don't really see a future way forward given the current API to support 1xx informational responses...

Maybe in the `request.stream` API we could invoke the `handler` multiple times and when the `body` is nully then it should be interpreted as informational response?

[2020-05-26 16:27] ronag commented on #197
Nice to have. I suppose 100 Continue is a bit of an optimization not frequently used. Probably fine to not support.

[2020-05-26 20:26] ronag commented on #196
If we don't support 101 should we throw on method `CONNECT`?

[2020-05-27 07:11] mcollina commented on #196
Throw on 101.

I'm happy with the rest.

[2020-05-27 13:08] #199 closed

[2020-05-27 13:09] #187 closed

[2020-05-27 15:01] ronag commented on #196
I assume you mean that you are happy with the status quo?

[2020-05-27 17:00] mcollina commented on #196
I'm happy to cut a release with no 103 early hints.

@trygve-lie what's your use case?

[2020-05-28 05:59] #79 closed

[2020-05-28 05:59] #200 closed

[2020-05-30 12:39] ronag opened #206 "Review request.pipeline edge cases"
Found some possible issues.

[2020-05-30 13:59] ronag opened #208 "Optimize `request.pipeline` writing"
It should be possible to have the returned `Duplex` write directly to the socket. Instead of providing a `Readable` as request body we can provide a function, i.e. the reverse of what we do on the response side in `request.enqueue`.

This would allow us to entirely bypass the intermediate `PassThrough` or `Readable` between the `Duplex` and the socket.

[2020-05-30 14:03] ronag commented on #208
Might also make use of `WritableBase` which is being worked on [here](https://github.com/nodejs/node/pull/33515). Could extract that out into this library to make use of it.

[2020-05-30 15:04] mcollina commented on #208
go for it

[2020-05-30 16:04] #206 closed

[2020-05-31 09:46] ronag commented on #160
@szmarczak ping as well. I expect we should be able to make a 1.0 release in the next few days unless there is any further feedback or requests.

[2020-06-02 20:04] ronag opened #209 "https considerations"
I noticed the Node `https.Agent` has a some extra considerations for `TLS` connections. Are we missing something? Seems to be some form of session cache.

https://github.com/nodejs/node/blob/master/lib/https.js#L147

[2020-06-02 20:04] ronag commented on #209
@mcollina

[2020-06-02 20:53] mcollina commented on #209
Yes, we are missing features.

[2020-06-02 20:59] ronag opened #210 "Reuse TLS Sessions"
Cache and re-use TLS sessions. Similar to https://github.com/nodejs/node/blob/master/lib/https.js#L245.

[2020-06-02 21:00] ronag commented on #209
Probably a nice to have, https://github.com/mcollina/undici/issues/210

Anything else?

[2020-06-02 21:07] #209 closed

[2020-06-04 11:42] delvedor commented on #160
@ronag sorry for the delay, unfortunately, I need to finish something else first.
My first test looks promising, and I think we are good to go for an initial release.
If something comes up in the future I'll update this issue or directly send a pr :)

[2020-06-04 14:19] ronag commented on #156
Had a chat with Anna and my questions have been answered.

[2020-06-04 14:19] #156 closed

[2020-06-04 16:27] ronag commented on #160
Published 1.0.0 🎉

[2020-06-04 19:17] ronag opened #212 "pipeline Duplex does not always destroy in async scope"
The `Duplex` returned from `pipeline` will emit `'close'` outside of the expected async scope if `.destroy()` is called before it becomes readable (i.e. has a response).

Basically we need to monkey patch `.destroy()` immediately after creating the `Duplex`.

[2020-06-04 19:33] #61 closed

[2020-06-06 20:40] #212 closed

[2020-06-08 15:28] kmamal opened #217 "Https request to google returns DEPTH_ZERO_SELF_SIGNED_CERT"
@ronag Short reproduction

[code]

[2020-06-08 20:57] ronag commented on #217
So in order to get this to work you have to do the following:

[code]

I'm not exactly sure how `servername` works and what the proper way to handle this is.

Node does some [magic based on the request host headers](https://github.com/nodejs/node/blob/master/lib/_http_agent.js#L301). However, we don't have a requests per se when initiating the connection.

I guess we could do the same thing Node d

[2020-06-08 20:58] ronag commented on #217
Probably related, https://github.com/nodejs/node/issues/28167

[2020-06-09 06:07] mcollina commented on #217
How does Node.js treats multiple requests done with keepalive and different HOST headers?

I don't have any more knowldge about this topic :(.

[2020-06-09 07:45] bnoordhuis commented on #217
`https.Agent` creates a new connection when Host or servername changes (assuming no bugs.)

They're usually the same but say you want to talk to example.org but that website is hosted by cheapo.com, then it's legal for hostname=cheapo.com and servername=example.org, e.g., because example.org is a CNAME for cheapo.com.

[2020-06-09 08:03] ronag commented on #217
@mcollina: Sounds like we should do it like Node. Which would require `Client` to defer and reconnect the socket if the hostname header changes between requests.

`Pool` and user space should probably try avoid it happening. Maybe a doc note.

[2020-06-12 12:39] ronag opened #221 "pipeline doesn't support objectMode"
Currently it is not possible to return an object stream through client.pipeline.

e.g.

[code]

Is this something that makes sense to support and if so how?

Should pipeline always be `readableObjectMode`, what are the downside of that? Or should pipeline have a `objectMode` parameter in `options`?

[2020-06-12 12:39] ronag commented on #221
@mcollina @kmamal

[2020-06-12 12:43] mcollina commented on #221
Is this a problem?

[2020-06-12 13:03] kmamal commented on #221
I encountered this when requesting an rss feed and trying to pipe() the returned `body` to [feedparser](https://www.npmjs.com/package/feedparser) inside the handler. I was able to work around the limitation by moving the pipe() outside the handler.

That would have been a lot trickier to do if I needed to look at one of the headers to decide what to pipe to (for example piping to either an ndjson

[2020-06-12 18:54] #217 closed

[2020-06-13 17:48] #221 closed

[2020-06-13 21:16] ronag opened #223 "Remove method check?"
We currently enforce which HTTP methods are allowed... something I think might be unnecessary and also problematic when considering extensions such as WebDAV where not all methods are included in our list.

Remove check?

[2020-06-13 21:23] ronag commented on #223
https://github.com/nodejs/node/issues/33699

[2020-06-14 10:18] mcollina commented on #223
Sure, let's drop it.

[2020-06-14 10:23] #223 closed

[2020-06-24 07:10] dnlup opened #227 "Invalid char in header strategy"
Hi :wave: !

I have a use case in which I have to check for invalid characters in headers (like control characters). Node already [does this](https://github.com/nodejs/node/blob/master/lib/_http_outgoing.js#L529) by default, on both server and client. I was wondering what strategy you would suggest for undici. Should this be implemented in userland space? Should undici do it?

[2020-06-24 07:51] ronag commented on #227
I think tjats doneringar for userland.

[2020-06-25 05:12] dnlup commented on #227
Makes sense, thank you.

[2020-06-25 05:12] #227 closed

[2020-06-26 10:30] dnlup commented on #22
I did a quick test and the package https://www.npmjs.com/package/llhttp can be used directly.
A lot of tests fail, I would like to dig deeper to check if it is something that can be solved by just refactoring or there are some major incompatibilities.

**client-base**
[code]

Note: I don't know how much this task would take atm

[2020-06-26 11:08] dnlup commented on #22
After some research I found [this issue](https://github.com/nodejs/llhttp/issues/44) which seems to suggest a way to use this parser through Node directly, which I think it could be better.

[2020-06-27 16:14] ronag opened #231 "Add property indicating whether further requests will be pipelined or not"
`full` doesn't give a full picture, i.e. if there is a non idempotent and/or streaming request in the queue no further pipelining can be performed following it and until it has completed, hence we should indicate that dispatching further requests has no advantage.

Change the semantics of `full` or add a different property?

[2020-06-27 16:39] mcollina commented on #22
I think using `process.bindings()` is highly unsupported from the Node.js team. It could work but it would require more maintainance.

[2020-06-27 16:43] ronag commented on #22
Yes.

Yes, though I don't see anyway good alternative at the moment.

I think it might be worth it. We would need to keep an eye on major releases of Node though to make sure it doesn't break.

[2020-06-27 22:36] mcollina commented on #22
I'm good with the approach.

[2020-06-28 08:49] ronag opened #232 "`headersTimeout`"
Node has a [`headersTimeout`](https://nodejs.org/api/http.html#http_server_headerstimeout) option which would be rather trivial to add.

Would this give any meaning? Or is `requestTimeout` sufficient?

[2020-06-28 08:50] ronag commented on #22
Fixed in https://github.com/mcollina/undici/commit/2240cb09488a409b65e40fc99ef3c89a50de3ca8 (although not using wasm).

[2020-06-28 09:23] mcollina commented on #232
Let's add this.

[2020-06-28 09:26] mcollina commented on #231
I think the name `full` is misleading. Let's use a better name with cleaner semantics.

[2020-06-28 10:35] #231 closed

[2020-06-28 11:17] ronag commented on #231
@mcollina Should we remove `full`? Seems a bit unnecessary as you can just do `size > pipelining` yourself.

[2020-06-28 11:17] mcollina commented on #231
go for it!

[2020-06-28 11:35] ronag opened #235 "100 coverage"
We have slightly regressed in coverage and need to improve our tests.

[code]

[2020-06-28 16:58] ronag opened #236 "Filter tls options"
Determine which tls options actually make sense to forward to `tls.connect` and throw if any other is provided.

[2020-06-28 19:49] szmarczak commented on #22
So `llhttp` is a no?

[2020-06-28 19:55] szmarczak commented on #22
Any idea how would wasm improve the performance? Would it be a significant one or not?

[2020-06-28 20:02] ronag commented on #22
Maybe if the js<->wasm overhead is lower than js<->c++.

[2020-07-03 17:49] ronag opened #239 "How to make a GitHub release?"
I'm a little unfamiliar with the flow here.

Usually I just run:

[code]

Sometimes I open a PR after npm version and before npm publish, which includes the package.json update  CHANGELOG.md changes which other collaborators then can also approve. Though a GitHub release with notes seems much nicer than a CHANGELOG.md.

But how would I go about doing a GitHub release with a changelog at the same t

[2020-07-03 17:49] ronag commented on #239
@szmarczak @mcollina

[2020-07-03 17:55] ronag opened #240 "url object needs docs"
We support an options object as url. This is not documented

[code]

[2020-07-03 17:55] ronag commented on #240
PR welcome

[2020-07-03 19:45] szmarczak commented on #239
Unfortunately I don't have any experience with GitHub Releases :|

[2020-07-03 19:47] szmarczak commented on #239
I don't have much experience with GitHub Releases. All I've done is by hand. Perhaps you need a bot? Dunno.

[2020-07-03 20:10] ronag commented on #239
I now see you can select a specific commit to create a release from. I guess I should just do the npm procedure as usual and then create a release from that commit.

[2020-07-03 20:10] #239 closed

[2020-07-05 13:48] ronag opened #242 "CONNECT & Pool"
Using `CONNECT` assumes that the same connection is used for any future events. Should we throw if the user tries to perform a `CONNECT` call using Pool?

[2020-07-05 15:37] ronag commented on #242
need to think about connect some more

[2020-07-05 15:37] #242 closed

[2020-07-05 17:33] #232 closed

[2020-07-05 17:33] ronag commented on #232
Implemented

[2020-07-05 17:33] ronag opened #244 "HTTP 101 Switching Protocols"

[2020-07-05 17:33] ronag opened #245 "HTTP CONNECT"

[2020-07-05 17:34] ronag commented on #179
The "engine" can now do early hints and trailers. However we don't have a public API for it yet.

[2020-07-05 17:35] ronag commented on #160
@delvedor any updates here? Can we close this?

[2020-07-06 07:24] delvedor commented on #160
For now, yes! I'll let you know how it goes!

[2020-07-06 07:24] #160 closed

[2020-07-08 14:37] yoshuawuyts commented on #240
I believe this is documented now?

[2020-07-08 14:40] ronag commented on #240
Nope,  it yet

[2020-07-10 15:07] ronag opened #246 "How to handle invalid server response?"
Consider the following:

[code]

Running this will give two (?!) replies from the server, one `HTTP/1.1 200 OK` followed by a `HTTP/1.0 400 Bad Request`.

Seems like the server for whatever reason is parsing the above as two request and provides[ two responses](https://gist.github.com/ronag/4a2956122f2fc82457698badf2413d89). This ~~only~~ happens ~~with chunked transfer encoding~~ against this spe

[2020-07-10 15:10] ronag commented on #246
Do we know anyone that might have any good suggestion on this?

[2020-07-10 15:12] szmarczak commented on #208
I ran the benchmarks on `master` again. I got:

[code]

Indeed it's still [faster than the native `http2` module](https://github.com/szmarczak/http2-wrapper#benchmarks) :tada:

*Also I fixed the `h2o.conf` in `http2-wrapper` so when you clone the repo you can easily start the server just by running
`h2o -c h2o.conf` (no need to clone the examples in the h2o repository).*

[2020-07-10 15:39] ronag opened #248 "pipeline with `end()` in same tick should not use chunked encoding"
Wait one tick to see if the request has been ended and compute the content-length.

[2020-07-10 15:48] szmarczak commented on #246
I think the server doesn't accept GET bodies and assumes the next data is the next request. And since it isn't, it replies with `400`.

[2020-07-10 15:49] ronag commented on #246
I see. So that's a server bug I guess. Not sure how to handle though.

[2020-07-10 15:56] szmarczak commented on #246
No, that's not a server bug. The spec doesn't say whether it's allowed to have a GET body or not:

Unfortunately there's no way to tell us if the server acknowledged the body or not (or the `400` response is a mistake).

One workaround would be to require a `content-length` header when sending GET or HEAD.

[2020-07-10 15:58] ronag commented on #246
That's a pretty good idea. I think elasticsearch use a body for GET requests. But I guess chunked encoding would not be required there? @delvedor?

[2020-07-10 16:00] szmarczak commented on #246
They accept POST requests as well.

[2020-07-10 16:06] ronag commented on #246
Yes, what I mean is that we don't want to break them since they have GET with body as part of their API.

[2020-07-10 17:24] delvedor commented on #246
@ronag correct, Elasticsearch does accept GET request with bodies. But unless the user enforces the GET method, the client will send all of them via POST.

A good solution might be to set the `content-length` header only if a body is present.
From my experience having the `content-length` set to `0` in GET request without a body could cause rejections as well.

[2020-07-10 17:31] ronag commented on #246
So `content-length` should not be included, at all, when 0? Including other methods? Or just for GET?

[2020-07-10 17:32] delvedor commented on #246
I would say it should not be included for all methods that might accept a body, but are not sending it in that case.
So GET, DELETE, OPTION (not sure about others!).

[2020-07-10 17:32] ronag commented on #246
Content-Length header field when the request message does not contain
   a payload body and the method semantics do not anticipate such a
   body.

[2020-07-10 17:43] ronag commented on #246
@delvedor [`4de85d4` (#249)](https://github.com/mcollina/undici/pull/249/commits/4de85d43768d6b71373bc588bd23956f7e2d3d6b)

[2020-07-10 20:28] #248 closed

[2020-07-10 20:32] ronag commented on #246
@szmarczak I'm still unsure how to handle this. I've made sure we don't send `content-length: 0` for e.g. `GET` requests. However, it is this possible and valid for users to provide a body with a `GET` request and any such requests against that server will end up corrupting undici state.

The only "fix" I can think of is to not allow body with `GET` but that possibly breaks e.g. elasticsearch (@de

[2020-07-10 20:37] szmarczak commented on #246
IMO enforcing `content-length` should do the trick.

[2020-07-10 20:41] ronag commented on #246
What do you mean?

[2020-07-10 20:50] delvedor commented on #246
If we can’t find a workaround is totally fine for me disallowing body in GET requests :)

[2020-07-11 04:00] szmarczak commented on #246
Ah, I just have tested `\r\n\r\n` and you're right. Unfortunately I have no idea how to fix this. Maybe let's just ignore invalid responses? But then if an attacker takes over a server then he may flood us :thinking: Anyway I think it's almost 0% chance the attack would ever happen.

[2020-07-11 12:16] ronag opened #251 "Improve tests with more checks for unexpected `'disconnect'`"
Some of our tests might emit disconnect, reconnect and then pass even though a disconnect was not expected.

Add more assertions (`t.fail()`) to catch this if it happens.

[2020-07-11 12:59] ronag opened #252 "Performance regression"
512c2a75f747325316341dd70170f347980402a7 introduced a performance regression:

[code]

[code]

[2020-07-11 13:16] #252 closed

[2020-07-11 18:27] #246 closed

[2020-07-12 07:55] ronag opened #253 "Content-Length header handling"
How should we handle the `content-length` header if provided by the user?

Currently, it's overriden if the "proper" value can be determined based on the `body`. The user provided value is basically only used when the `body` is a stream.

My primary question is what to do if the user provided content-length does not match the computed one?

1. Ignore silently? (current)
2. Error?
3. Always use the

[2020-07-12 07:56] ronag commented on #253
@szmarczak @delvedor

[2020-07-12 07:57] mcollina commented on #253
Let's be strict and error.

[2020-07-12 15:51] #253 closed

[2020-07-12 17:30] ronag opened #255 "Expected disconnect errors"
Currently we provide an error with every disconnect which gives the user a hint in regards to why the client disconnected. Usually this is because of an error, however there are cases where we disconnect on purpose, in which case the user currently gets a generic "socket closed" error.

There are a few cases where we intentionally close the socket:

- Request was aborted and the response has a lar

[2020-07-12 17:31] ronag commented on #255
@szmarczak @delvedor

[2020-07-12 17:48] ronag opened #256 "Benchmark CI Job"
Would it be possible to add a CI jobs that runs the benchmarks. So it's easier to track any performance regressions?

[2020-07-12 17:48] ronag commented on #256
@delvedor

[2020-07-12 18:02] mcollina commented on #256
See https://github.com/pinojs/pino/blob/master/.github/workflows/bench.yml

[2020-07-12 18:04] mcollina commented on #255
I would treat them as errors. I'm also ok in adding a `reason` to the `'disconnect'` event.

[2020-07-12 18:15] ronag commented on #255
So a `InformationalError` error type then?

[2020-07-12 18:28] mcollina commented on #255
yes!

[2020-07-13 14:36] #255 closed

[2020-07-13 14:37] ronag commented on #255
Fixed in https://github.com/mcollina/undici/commit/818320771abb61d9f180e2765100b3e4f8412ad9

[2020-07-13 15:41] delvedor commented on #255
@ronag I would check for the error code instead of relying on `instanceof` as it's an order of magnitude faster.

[2020-07-13 16:42] ronag commented on #255
@delvedor also fixed :)

[2020-07-14 21:12] ronag opened #258 "Reset connection after HEAD?"
Continuing from https://github.com/nodejs/node/issues/34350.

Some servers send a body with HEAD requests which is kind of un-parsable. There is however one way to be resilient against it. Always reset the connection after receiving the message headers for a HEAD request.

This would make things significantly slower though but much more resilient. How important are HEAD requests?

Should we just i

[2020-07-14 21:12] ronag commented on #258
@szmarczak @delvedor

[2020-07-14 21:34] szmarczak commented on #258
Can't we just throw on `transfer-encoding: chunked`?

[2020-07-14 21:35] szmarczak commented on #258
If there's any data that we don't expect, we can also reset the connection at that point.

[2020-07-14 21:48] ronag commented on #258
That's a valid header for a HEAD response?

Hard to determine. What if the extra data (i.e. HEAD body) contains data that looks like a proper request?

[2020-07-14 21:55] szmarczak commented on #258
Ah, you're right.

Then resetting the connection would make sense, but indeed, it would be a significant performance drop. But there are lots of edge cases like that so I wouldn't go for this.

IMO, if it looks like a proper response, it should be parsed, and if the `path` doesn't match with the pipelined request (or there isn't any) then throw.

[2020-07-14 21:56] szmarczak commented on #258
E.g. GET receives `content-length: 0` but there is actually a body...

[2020-07-14 21:57] ronag commented on #258
Yea, I guess it's not really solvable.

[2020-07-14 22:02] ronag commented on #258
We could reset connection after content-length: 0 as well 😄

[2020-07-15 08:13] ronag opened #259 "Server response before request body sent"
It is possible for the server to send a complete response *before* the client has sent the entire request payload. Currently when this happens we reset the connection.

What is the correct client behavior in this case?

1. Keep writing the request payload until end?
2. Stop writing the request payload and continue with the next request? (probably confuses server parser)
3. Reset the connection.

W

[2020-07-15 08:13] ronag commented on #259
@szmarczak @delvedor

[2020-07-15 08:18] ronag commented on #259
I'm actually a bit unsure what the spec says on this topic. Is a server allowed to respond before consuming the entire payload?

[2020-07-15 11:00] szmarczak commented on #259
I couldn't find anything that would prohibit sending response before receiving full payload.

The server can send us trailers, no? So maybe 1 or 3 is the way to go...

[2020-07-19 20:59] ronag commented on #258
So it turns out that Node actually does reset connection after HEAD. See, https://github.com/nodejs/node/issues/12396.

I think it might make sense for us to do so as well.

Thoughts? @mcollina @szmarczak

[2020-07-19 21:00] mcollina commented on #258
+1

[2020-07-19 21:19] #258 closed

[2020-07-20 07:35] ronag commented on #256
@delvedor do you think you could help? 😅

[2020-07-21 09:31] janpio opened #264 "Add Unix Domain Sockets to benchmarks"
Now that [UDS is supported](https://github.com/mcollina/undici/pull/238), it would be great if it was added to the benchmarks as well:

https://github.com/mcollina/undici#benchmarks
https://github.com/mcollina/undici/blob/master/benchmarks/index.js

[2020-07-21 09:36] ronag commented on #264
PR is welcome!

[2020-07-22 11:35] masx200 opened #265 "Why is nodejs http client slower than undici?"
Why is nodejs http client slower than undici?

https://github.com/nodejs/node/pull/34082

[2020-07-22 12:31] ronag commented on #265
That's a bit difficult to describe... I guess there are few different possible factors:

- Uses pipelining.
- Avoids intermediate streams.
- Uses consume/unconsume API of HTTP parser.
- Simpler and more optimized API & implementation.

[2020-07-24 12:16] #256 closed

[2020-07-28 17:36] ronag opened #267 "SSL over unix socket fails"
A broken test failed to catch this. Is it possible to fix?

[code]

[2020-07-28 19:01] #235 closed

[2020-07-28 22:27] ronag commented on #267
@yoshuawuyts

[2020-07-28 22:28] ronag commented on #267
https://github.com/mcollina/undici/blob/master/test/unix.js#L47-L84

[2020-07-28 22:44] szmarczak commented on #267
The error basically means that the socket is not a TLS one. Most likely it's plain, unsecured TCP one.

[2020-07-28 22:48] szmarczak commented on #267
I'll look at this tomorrow morning.

[2020-07-29 08:47] ronag opened #268 "headersTimeout triggered after headers have been received"
Run the following against a CouchDB 1.6 instance:

[code]

Note that this is a long polling request.

It will log the headers and then after 10 seconds still fail with a headers timeout error.

Probably a problem in `node_http_parser` in Node?

[2020-07-29 08:51] ronag commented on #268
Might be related to trailers?

[2020-07-29 09:08] ronag opened #269 "socketTimeout trigger on empty lines"
[code]

Also logging inside `kOnBody` and `kOnExecute` in `Parser` will give the following output:

[code]

Notice how `kOnExecute` does not seem to be invoked on empty lines?

[2020-07-29 10:26] ronag commented on #269
So the response from the server looks something like this:

[code]

Basically it's long polling chunked response which sends `\n` is a heartbeat. It seems to me that for some reason a line of `\n` in some combination doesn't invoke `kOnExecute`. Maybe https://github.com/nodejs/node/blob/master/src/node_http_parser.cc#L665?

Might also explain https://github.com/mcollina/undici/issues/268

@indutny

[2020-07-29 10:43] ronag commented on #268
Add a workaround. Would be interesting to fix "properly".

[2020-07-29 10:43] ronag commented on #269
Add a workaround. Would be interesting to fix "properly".

[2020-07-29 10:44] ronag commented on #268
Needs a test.

[2020-07-29 11:24] ronag commented on #268
@addaleax I can't see where/how headers timeout is cleared in https://github.com/nodejs/node/blob/master/src/node_http_parser.cc? Any hints?

[2020-07-29 20:56] #265 closed

[2020-07-29 21:28] ronag opened #272 "HTTP keep-alive header support"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive

[2020-07-29 21:31] ronag commented on #272
Not sure how useful this is in practice.

[2020-07-30 06:53] delvedor commented on #272
Isn't this library already keeping sockets alive?

[2020-07-30 07:07] ronag commented on #272
Yes, this header is fo providing hints

[2020-07-30 08:22] ronag commented on #272
@szmarczak Any ideas of when this is useful? Or someone that might know?

The only case I can think of is https://github.com/mcollina/undici/pull/273

[2020-07-30 08:37] ronag commented on #272
I guess the server could indicate max pipelining maybe?

[2020-07-30 09:05] ronag commented on #272
https://github.com/mcollina/undici/pull/273#issuecomment-666243480

From looking at nginx docs, it seems an header that is send from the server to the client.

From http://nginx.org/en/docs/http/ngx_http_core_module.html

_Originally posted by @mcollina in https://github.com/mcollina/undici/pull/273#issuecomment-666243480_

[2020-07-30 12:04] ronag opened #276 "Reduce default idle timeout?"
https://aws.amazon.com/about-aws/whats-new/2017/03/announcing-configure-read-timeout-and-keep-alive-timeout-values-for-your-amazon-cloudfront-custom-origins/

Cloudfront seems to default to 5 seconds. Might be safer for us to default to something like 2-3 seconds?

@mcollina @szmarczak Thoughts?

[2020-07-30 12:06] ronag commented on #276
Might not be a huge perf impact after https://github.com/mcollina/undici/pull/275. Assuming servers implement it. Also we might be able to keep the current default assuming https://github.com/mcollina/undici/pull/275 + servers with < 30s timeout provide a keep-alive hint.

[2020-07-30 12:27] szmarczak commented on #276
[Cloudflare:](https://developers.cloudflare.com/load-balancing/understand-basics/load-balancers/#http-keep-alive-persistent-http-connection)

[2020-07-30 12:30] szmarczak commented on #276
[Akamai has no upper bound. It's up to the origin.](https://community.akamai.com/customers/s/article/Persistent-Connections?language=en_US)

[2020-07-30 12:30] ronag commented on #276
Wow, that's a large difference in policy... though I think we might have to aim for worst case?

Or should we have some kind of lookup list for known CDNs?

[2020-07-30 12:31] ronag commented on #276
Would be nice to have some kind of test urls to see whether or not they set the `keep-alive` header.

[2020-07-30 12:35] szmarczak commented on #276
[Google Cloud uses 600s and you cannot change this.](The GFE uses a keepalive timeout of 600 seconds, and you cannot configure this.)

[2020-07-30 12:51] szmarczak commented on #276
That's definitely not enough. IMO it should default to 60s at least... I mean it depends on how often you query the server. It's hard to say.

[2020-07-30 12:56] ronag opened #277 "HTTP UPGRADE support"

[2020-07-30 12:56] ronag opened #278 "HTTP CONNECT support"

[2020-07-30 12:59] ronag commented on #276
You can always override it... I think that by default we should be as compatible as possible. Within reason.

Seems like cloudfront is a bit of an edge case at the moment. Would be very interesting to see whether they provide keep-alive hints or not... haven't been able to find any test url.

[2020-07-30 13:03] ronag commented on #276
Sad.

[code]

[2020-07-30 13:09] ronag commented on #276
https://forums.aws.amazon.com/thread.jspa?threadID=325450

[2020-07-30 13:21] szmarczak commented on #272
Me neither...

[2020-07-30 14:40] ronag commented on #272
I think we fixed the relevant parts of this in https://github.com/mcollina/undici/pull/275

[2020-07-30 14:56] ronag commented on #276
@szmarczak Actually, I think node also has 5s as default keepAliveTimeout...

[2020-07-30 16:42] #276 closed

[2020-07-30 20:28] ronag commented on #272
nginx has a weird option:

See, https://www.nginx.com/blog/tuning-nginx/.

I suppose this is the "max" hint. But I don't see why one would ever want this?

[2020-07-30 20:29] #272 closed

[2020-07-30 20:30] ronag opened #280 "keep alive max"
https://nginx.org/en/docs/http/ngx_http_core_module.html?&_ga=2.115166087.1282722855.1596140851-533831899.1596140851#keepalive_requests

response header:

`Keep-Alive: max=100`

[2020-07-31 08:10] timsuchanek opened #281 "`socketPath` not being passed into `Client` from `Pool`"
As in the [unix domain sockets test](https://github.com/mcollina/undici/blob/25ce5c740cc4845ccaf392af72ee2b79d429a77b/test/unix.js#L23), the `Client` gets passed in the `socketPath` like so:
[code]

However, in the `Pool` implementation, that arg is not passed in:
https://github.com/mcollina/undici/blob/master/lib/pool.js#L27

It looks like this would be a small patch, making sure, that the `socke

[2020-07-31 08:22] mcollina commented on #281
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-07-31 09:17] timsuchanek commented on #281
Yes, on it :)

[2020-07-31 09:33] timsuchanek commented on #281
Done :)

[2020-07-31 09:51] #281 closed

[2020-07-31 13:01] ronag commented on #269
Node bug https://github.com/nodejs/node/pull/34578

[2020-07-31 13:01] #269 closed

[2020-07-31 13:01] ronag commented on #268
Node bug https://github.com/nodejs/node/pull/34578

[2020-07-31 13:01] #268 closed

[2020-08-01 08:51] ronag opened #286 "investigate flaky test"
[code]

[2020-08-01 10:09] ronag commented on #278
Fixed in https://github.com/mcollina/undici/pull/285

[2020-08-01 10:09] #278 closed

[2020-08-01 10:09] ronag commented on #277
Fixed in https://github.com/mcollina/undici/pull/285

[2020-08-01 10:09] #277 closed

[2020-08-01 10:10] ronag commented on #245
Fixed in https://github.com/mcollina/undici/pull/285

[2020-08-01 10:10] #245 closed

[2020-08-01 10:10] ronag commented on #244
Fixed in https://github.com/mcollina/undici/pull/285

[2020-08-01 10:10] #244 closed

[2020-08-01 10:13] ronag commented on #179
I'm not sure what is a good API for informational headers and trailers. Any ideas? @mcollina @szmarczak @delvedor.

I'm not too fond of having `onInfo` and `onTrailer` options but it's the best I can think of at the moment.

[2020-08-01 10:19] #259 closed

[2020-08-01 10:19] mcollina commented on #179
Go for `onInfo()` and `onTraliers` as options. I like it.

[2020-08-01 10:59] ronag commented on #197
@mcollina @szmarczak is this even worth implementing? Does anyone use it as far you know?

[2020-08-01 12:08] ronag opened #289 "Type Definitions"
I think making TS type definitions should be possible if anyone wants to put in the effort and maintain it.

[2020-08-01 12:31] mcollina commented on #289
I would recommend the use of http://npm.im/tsd for testing them.

[2020-08-01 12:32] mcollina commented on #197
No one that I know of.

[2020-08-01 13:05] szmarczak commented on #197
Me neither. I'd say let's ignore `100`, it doesn't change anything.

[2020-08-01 17:50] ronag commented on #197
Should we throw on expect 100 header?

[2020-08-01 18:21] szmarczak commented on #197
I think so. If this becomes an issue (but I don't think it will) then we can add `100` support later.

[2020-08-02 08:41] ronag opened #292 "global idle connection limit?"
Currently if you have a high idle timeout + create a new client instance of every request + don't call destroy on the instances. You can start leaking lot's of connections waiting for their idle timeout.

It is kind of a user error but should we help out here with e.g. a global per host limit? If the limit is reached we either warn or start closing connections.

I foresee this could become a commo

[2020-08-02 08:41] ronag commented on #292
@mcollina @szmarczak

[2020-08-02 09:04] ronag opened #293 "Low Level API"
The recent info/trailers API discussion has made me consider whether we should provide a low level unopinionated API which library & framework authors can use to experiment and develop appropriate API's.

I was thinking of something like the following, which basically exposes the internal API we use to implement the existing public API's.

[code]

I would then consider our existing public API impl

[2020-08-02 09:14] ronag commented on #293
@mcollina @szmarczak @delvedor

[2020-08-02 09:44] mcollina commented on #292
That's why I originally added the Pool object.

[2020-08-02 09:45] mcollina commented on #293
How is backpressure managed for the body?

[2020-08-02 09:54] ronag commented on #293
That's the only thing I'm unsure of right now. One way would be:

- if returns `falsy`, `callback/resume` must be invoked to resume.

Any alternative ideas?

[2020-08-02 09:56] ronag commented on #292
No sure if that's enough though?

[2020-08-02 09:56] ronag commented on #292
I was thinking of a warning similar to `addListener` in Node core.

[2020-08-02 10:06] ronag commented on #293
Alternative:

[code]

[2020-08-02 10:50] ronag commented on #293
Alternative:

[code]

[2020-08-02 10:56] ronag commented on #293
Alternative:

Again close to what we have today.

[code]

[2020-08-02 10:57] ronag commented on #293
Alternative:

Just keep it like we have it:

[code]

[2020-08-02 10:59] ronag commented on #293
Alternative:

Again close to what we have today.

[code]

[2020-08-02 13:18] mcollina commented on #292
I'm afraid this will backfire on us somehow

[2020-08-02 18:39] ronag opened #296 "broken test `stream response resume back pressure and non standard error`"
plan does not corresond with assertion count

[2020-08-02 18:39] #292 closed

[2020-08-02 19:23] #179 closed

[2020-08-02 19:23] #196 closed

[2020-08-03 07:16] ronag commented on #293
Updated proposal in first post.

Example with backpressure:

[code]

@mcollina: wdyt?

[2020-08-03 07:18] mcollina commented on #293
I like it. For biggish payloads this is going to be faster than our current options.

[2020-08-03 07:53] #296 closed

[2020-08-05 08:42] delvedor commented on #293
I really like this proposal :)

[2020-08-05 08:43] delvedor commented on #289
I can help with this, but I would wait until the API is stable enough™, otherwise, we should write them twice.

[2020-08-06 15:03] Ethan-Arrowood commented on #289
👋 happy to help as well 😄

[2020-08-07 12:03] #286 closed

[2020-08-07 12:03] ronag commented on #286
Haven't encountered for a while.

[2020-08-07 13:56] ronag opened #302 "Benchmark accuracy"
I'm getting a lot of variance even when running on a dedicated servers... is there any way to improve accuracy? More runs? I can't see any option that would allow that...

[2020-08-07 13:56] ronag commented on #302
@szmarczak

[2020-08-07 15:43] mcollina commented on #302
We need to use a similar approach to what we are using in Node.js core to compute improvements. Look at https://github.com/mcollina/autocannon-compare for an idea on what we could do.

[2020-08-07 17:00] szmarczak commented on #302
![image](https://user-images.githubusercontent.com/36894700/89669648-1d0ebb00-d8e0-11ea-8c83-881d1791a144.png)

Try setting `minSamples` to `200` and see if that fixes it.

[2020-08-08 11:30] ronag commented on #302
Implemented @szmarczak [suggestion](https://github.com/mcollina/undici/issues/302#issuecomment-670614218).

Help wanted with:

[2020-08-08 13:03] ronag opened #304 "Future performance improvements"
Currently (as far as I can tell) the largest bottleneck is in the tls and net socket implementations. Doing something like https://www.npmjs.com/package/turbo-net or making js bindings for https://github.com/uNetworking/uSockets might be the next significant step up in terms of performance. Thought that would break the compatibility with the node http parser at least in terms of the consume/uncons

[2020-08-08 13:06] mcollina commented on #304
I'm not in favor of this approach as it would introduce a binary addon, which would limit adoption.

[2020-08-08 13:07] ronag opened #305 "QUIC support"
We have experimental QUIC support in node. Would be interesting to try HTTP 1.1 over QUIC.

[2020-08-08 13:07] #304 closed

[2020-08-08 13:37] ronag commented on #305
@jasnell: Will quic sockets support the consume/unconsume API that net/tls sockets support?

[2020-08-08 13:37] ronag commented on #305
What is the protocol name of quic in an url? e.g. `quic://localhost:3000`?

[2020-08-08 14:58] ronag opened #306 "library for assertions that are removed in production mode?"
Does anyone have any experience with invariant/assertion libraries where the checks are either remove during transpilation or optimized out during runtime?

I think having more assertion would be a good complement to test and also documenting code. However, adding too many can currently have a negative perf impact.

Something like https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.cont

[2020-08-08 16:32] jasnell commented on #305
Not sure which consume/unconsume API you mean

[2020-08-08 17:04] ronag commented on #305
The node core HTTPParser has a [`consume` method](https://github.com/nodejs/node/blob/master/src/node_http_parser.cc#L589) that can take a socket handle. See, https://github.com/mcollina/undici/blob/master/lib/client.js#L719-L725.

[2020-08-08 17:43] jasnell commented on #305
Ah... Yeah totally different model. It will fully consume a UDPWrap but the model is completely different in terms of how it does so

[2020-08-08 17:50] ronag commented on #305
Then I guess the native-js-native roundtrip is the only way.

[2020-08-08 17:52] jasnell commented on #305
No, in quic, all of the actual data flow is at the native layer. Data only comes to js via a QuicStream.

[2020-08-08 17:57] ronag commented on #305
Yes, I mean we will have to go from quic native layer -> js -> native http parser

[2020-08-08 18:18] jasnell commented on #305
Ah for http1... Well, not necessarily. We could actually implement an Http1Application in core that could engage the native parser at that level, before data flows into js

[2020-08-08 18:19] jasnell commented on #305
As the implementation evolves, I plan to make it possible for native add-ons to create and register their own QuicApplication impls

[2020-08-09 09:43] ronag opened #309 "server refuses connection after CONNECT?"
Seems like a node bug... after CONNECT the server refuses any further connections.

https://github.com/mcollina/undici/blob/cf02bf24916463e328216d439a448969b21d8df0/test/client-connect.js#L122

[2020-08-09 09:55] ronag commented on #309
my mistake

[2020-08-09 09:55] #309 closed

[2020-08-09 10:11] ronag commented on #293
implemented

[2020-08-09 10:11] #293 closed

[2020-08-09 10:12] #280 closed

[2020-08-09 10:12] ronag commented on #267
@szmarczak any update?

[2020-08-09 19:12] szmarczak commented on #267
https://github.com/mcollina/undici/blob/6b931cd367b231eeefedb2c7208938f58cb7e5fb/test/unix.js#L6

You sure you want to assign `require('http')` to `https`? Hehe. Just fix this and it works :P

[2020-08-09 19:38] mcollina commented on #306
Unfortunately not :/. I would love this for node core as well.

[2020-08-09 21:29] ronag commented on #267
Thansk!

[2020-08-09 21:29] #267 closed

[2020-08-09 21:39] ronag opened #310 "Balanced Pool"
One problem with the current pool implementation is that if a lot of requests gets dispatched at the same time, it assumes that all pipelines will have the same throughput, however that is not necessarily true and cause queue imbalance.

When all clients are busy, queue requests and list to an event e.g. `'free'` which indicates that a client is no longer busy.

[2020-08-09 23:22] mcollina commented on #310
Yes! One of the key strategy is to keep connections "wide and busy" by putting a lot of throughput through them. Balancing this something pseudo-optimal that does not increase too much the waiting time requires a lot more maths that I like to do (I left academia for a reason after all).

[2020-08-10 07:22] delvedor commented on #310
A good solution to this problem might be to use a weighted connection pool.
I'm experimenting with it in the Elasticsearch client, you can find [here](https://github.com/elastic/elasticsearch-js/blob/weighted-connection-pool/lib/pool/WeightedConnectionPool.js) the implementation, while [here](http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.863.3985&rep=rep1&type=pdf) you can find the whit

[2020-08-10 09:10] mcollina commented on #310
Wow, that is a nice idea.

[2020-08-10 11:40] ronag commented on #310
From a quick glance I'm not sure I quite understand how we would apply it here.

[2020-08-12 16:08] mcollina opened #312 "Move to nodejs org?"
The original purpose of this module was to experiment in building the next-gen http/1.1 client for Node.js.
I think this library is now mature enough, mainly thanks to @ronag :).

Should we move this to the nodejs org and give it a little bit of a blessing?

[2020-08-12 16:20] ronag commented on #312
Sounds good to me!

[2020-08-12 16:21] delvedor commented on #312
LGTM :)

[2020-08-12 16:23] mcollina commented on #312
Let's ask to the tsc then.

[2020-08-12 22:07] ronag opened #315 "More pool tests"
Pool needs more tests. In particular in terms of scheduling of requests.

[2020-08-12 22:07] ronag commented on #208
Let's stick to normal streams and not go too crazy here. pipeline has reasonable perf now.

[2020-08-12 22:07] #208 closed

[2020-08-13 11:00] ronag opened #317 "Pre-connecting"
Currently we will only connect if a request is enqueued. This is a bit unfortunate since there is no way to pre-allocate connections when you know that you will have requests soon and would like to prepare a connection and reduce latency for when the first connection actually occurs.

I'm not quite sure how resolve this. Should we add some kind of method you can call to initiate a connection witho

[2020-08-13 13:37] mcollina commented on #317
We'll need to predict when a slot will become free and if it is convenient to spawn a new socket or wait for one to become free. We would need to keep track the interval between two consecutive requests and how long it will take to serve them (ideally with hdr-histogram). We can then use the poisson distribution to model those phenomenons. Then use some math based on probability to compute a decis

[2020-08-13 13:44] szmarczak commented on #317
Pre-connecting seems to be some sort of magic. It's just weird imo.

[2020-08-13 14:05] timsuchanek opened #318 "Doesn't work within jest"
When running an undici client in jest, jest is doing some kind of override magic in the background, that makes [this check for a buffer in undici](https://github.com/mcollina/undici/blob/master/lib/client.js#L946) fail.

Reproduction: https://github.com/timsuchanek/undici-buffer-repro

I'm already working on a fix :) I suggest adding a ` || Buffer.isBuffer(body)` in https://github.com/mcollina/und

[2020-08-13 14:14] ronag commented on #318
I'm very curious what happens here. It shouldn't be possible for anyone to modify the `Request` object. Are they overriding `Buffer.from` or something?

[2020-08-13 14:17] mcollina commented on #318
I would highly recommend to not use jest as __it provides different globals__ for each test, making all those check fail.
Anyway, a fix would be welcomed. Please also add a test for it.

[2020-08-13 14:23] timsuchanek commented on #318
@mcollina I guess you recommend using `tap` instead? We have all our tests written in jest, but it has its limits.

We once hit a similar problem in Prisma Client, where we had an `instanceof Date` check. As a naive library author I thought that's sufficient - but there is some test environment, I think it was https://quokkajs.com/ that overrides the global Date, therefore the instanceof doesn't w

[2020-08-13 14:47] timsuchanek commented on #318
It's kinda awkward to add jest in there, but this is the only sane way I found to add the test https://github.com/mcollina/undici/pull/319

[2020-08-13 16:13] #318 closed

[2020-08-13 19:58] ronag opened #320 "Things that could use more test"
- [ ] `Client.'drain'`
- [ ] `Pool` scheduling
- [ ] More SNI + request host header tests (https://github.com/nodejs/undici/pull/378)
- [x] `Client.busy`
- [x] `Request.reset`, `Request.contentLength`, `Request.body instanceof Stream`

[2020-08-13 20:25] ronag commented on #317
There is a simpler variant of this. Have an option to always have one socket free for more requests. It wastes one connection but does allow hiding some of the latency associated with connection establishment.

[2020-08-13 22:36] mcollina commented on #317
@ronag I think that's not sustainable. Most load balancer would consider this similar to DoS attack

[2020-08-14 08:03] ronag opened #321 "flaky test on Mac"
[code]

[2020-08-14 08:08] #321 closed

[2020-08-14 18:01] ronag opened #322 "path and pathname"
Some open thoughts on path and pathname:

- In our request api well call it `path`, but in `URL` it's called `pathname`. Should we change it? Support both? Leave it as is?

- We added in https://github.com/mcollina/undici/pull/313 so that we prepend the pathname from the URL passed to the client constructor. Some questions here:
  - If `Client.pathname`, should `Request.path.startsWith('/')` still

[2020-08-14 18:02] ronag commented on #322
@szmarczak @mcollina

[2020-08-14 18:08] szmarczak commented on #322
I'd say let's go for `pathname`.

[2020-08-14 18:09] szmarczak commented on #322
IMO yes.

[2020-08-15 09:16] ronag commented on #322
After some more though. I don't think we need to do anything here:

Reverted #313 (https://github.com/mcollina/undici/pull/326) to remove the issue.

Also in regard to `pathname` I was wrong. `pathname` only contains the pathname and not the search and hash. So it makes sense to call it `path` since it may contain search and hash. Similar to how `hostname` is just the hostname while `host` contain

[2020-08-15 09:17] #322 closed

[2020-08-15 09:51] ronag commented on #315
Duplicate https://github.com/mcollina/undici/issues/320

[2020-08-15 09:51] #315 closed

[2020-08-15 09:52] ronag commented on #310
@delvedor would you be interested in trying to port that into undici.Pool?

[2020-08-15 10:46] ronag opened #328 "Support more buffer types"
There are quite a lot of different types of buffer objects in Node. Not quite sure what all of those are.

- `ArrayBuffer`
- `DataView`
- Different types of typed arrays
- etc...

We should probably support these?

[2020-08-15 11:21] mcollina commented on #328
Only if needed?

[2020-08-15 11:25] ronag commented on #328
How is that determined? You mean if someone requests it?

[2020-08-15 12:25] ronag opened #332 "review of servername handling"
I no longer quite remember the rules for servername handling.

I believe by default we always should use the `servername` passed in the `tls` option. However, if a request provides a host header which is a valid servername (i.e. not an IP), we should use that instead and reconnect if necessary.

This is what we do at the moment. Does that sound correct?

[2020-08-15 12:31] szmarczak commented on #332
Reconnect to what exactly? 🤔

[2020-08-15 12:34] ronag commented on #332
Same address. Just a different `servername` option.

[2020-08-15 12:43] ronag opened #333 "flaky test: pipelining HEAD busy"
[code]

[2020-08-15 12:58] SimenB commented on #318
Sorry about Jest causing issues 🙁 The issue to track (if anybody wants) in Jest for this is https://github.com/facebook/jest/issues/2549. I've tried multiple times to fix it without luck. I believe it can be solved if these two are ever solved:

- https://github.com/nodejs/node/issues/28823
- https://github.com/nodejs/node/issues/31852

[2020-08-15 16:42] mcollina commented on #328
Yes exactly.

[2020-08-15 16:48] #333 closed

[2020-08-15 16:48] ronag commented on #328
Sounds reasonable.

[2020-08-15 16:48] #328 closed

[2020-08-17 08:56] ronag opened #338 "Optimize keep-alive header timeout parsing"
Pending progress here https://github.com/nodejs/llhttp/issues/64.

[2020-08-17 08:56] ronag commented on #332
I think we are good here.

[2020-08-17 08:56] #332 closed

[2020-08-17 15:48] ronag commented on #310
Another idea:

If any request in the pipeline is serving a response or request with a payload larger than a threshold, label that pipeline as busy and prefer other connections. This is in order to reduce latency where a small request is behind a large on.

@mcollina WDYT?

[2020-08-17 15:50] mcollina commented on #310
This is actually nice. I would do it on-insertion in the pool instead of using terms.

[2020-08-18 10:56] ronag commented on #310
Another idea, check if there is a range header and if the range is larger than a treshold stop pipelining further requests.

Pipelining is mainly useful when having lots of small/fast requests. Let's say the TCP + SSL handshake has ~150 ms latency overhead. Any request that takes longer than e.g. 15 seconds (1% overhead) wouldn't gain much (at least in terms of throughput) from pipelining and the

[2020-08-18 13:44] ronag commented on #310
I wonder if we could provide API/events to make this something that can be implemented and experimented with in user land...

[2020-08-18 15:42] ronag opened #341 "request timeout does not apply while in Pool queue"
When a request is dispatch on `Pool` but there is not available client it is put into a queue, the `requestTimeout` in the current implementation starts from the the request is dispatched on the `Client`, not when it's in the `Pool` queue.

Is this something we should fix? @mcollina

[2020-08-18 15:43] ronag commented on #341
FWIW, I'm not too big of a fan of `requestTimeout` and I've had developers that didn't read the docs in detail quite surprised by it. Maybe we should change default to 0 so that the user has to be explicitly aware of it?

[2020-08-18 16:50] ronag commented on #341
One solution might be to move this logic up one abstraction, i.e. remove it from `Client` and put it in `Pool` instead.

[2020-08-19 09:17] mcollina commented on #310
+1!

[2020-08-19 20:33] ronag commented on #341
I have an idea (semver-major) on how to resolve this

[2020-08-19 21:16] ronag opened #344 "close deadlock if pipeline inactive"
If enqueue a request and then error it and there is nothing that causes the client state to update, which could deadlock a close call.

[2020-08-19 21:17] #338 closed

[2020-08-21 08:15] #344 closed

[2020-08-22 08:53] ronag opened #347 "2.0 TODO"
This is a meta list for stuff to look into before 2.0 release

- [x] https://github.com/mcollina/undici/pull/343
- [ ] https://github.com/mcollina/undici/issues/356
- [x] https://github.com/mcollina/undici/pull/348
- [ ] https://github.com/mcollina/undici/issues/350
- [x] Review busy and kResuming
- [x] Should `onConnect` be invoked again when retried due to head of line failure? (current behavior

[2020-08-22 14:31] ronag opened #350 "signal is lacking `'abort'` handler while queued in pool"
If a request is aborted while in the `Pool` queue that signal is lost and the request will be executed.

[2020-08-22 23:55] ronag opened #353 "option to disable keepAlive"
Add a `keepAlive: Boolean` option to `Client` which disables keep alive behavior and always sets `[kReset]: true`.

[2020-08-23 12:06] ronag opened #355 "Optimize client queue to use a circular buffer"
`client[kQueue]` could be implemented as a circular queue of `size >= client[kPipelining]` which would remove the need to splice it.

[2020-08-23 13:01] ronag opened #356 "body is lacking `'error'` handler while queued in pool"
i.e. the following logic does not execute until the request is dispatched on the client:

https://github.com/mcollina/undici/blob/master/lib/core/request.js#L166-L172
[code]

[2020-08-23 14:42] #353 closed, assigned to nobody

[2020-08-23 19:24] ronag commented on #347
I don't think I will be able to sort out all potential semver major changes in a timely fashion. Would like to make a release once the bugs has been sorted out.

The way I see it we have the following things that might be breaking in addition to the existing PR's:

- `Client.busy` property
- `Client.'drain'` event
- `Client.dispatch` method

Would like to leave that to a 3.0 version. Should we mar

[2020-08-23 21:35] mcollina commented on #347
I'm good with bumping as many semver-major we need :).

[2020-08-24 09:10] #312 closed

[2020-08-24 12:35] ronag commented on #236
@delvedor Would you mind looking at this? I would like to move the tls options out on root instead of making it possible to pass anything in an nested options object and surprise us.

[2020-08-26 13:12] delvedor commented on #236
Other than "pass anything in an nested options object and surprise us.", what problems do you foresee here?

[2020-08-26 13:57] ronag commented on #236
It's a bit unclear what option exactly we support or not.

[2020-08-26 14:03] delvedor commented on #236
Since we are passing those opts to the core tls library, all of them? I fear I'm missing something 🤔

[2020-08-26 14:04] ronag commented on #236
We don't support all of them: https://nodejs.org/api/tls.html#tls_new_tls_tlssocket_socket_options. Some of them don't make any sense in our context.

[2020-08-26 14:11] delvedor commented on #236
Let's keep them for know. When and if it will become a problem, we will have more context to make this decision :)

[2020-08-26 22:28] #210 closed

[2020-08-27 16:03] Ethan-Arrowood commented on #198
Whats status of this? I'd like to take a shot at it if possible 😄

[2020-08-27 16:25] ronag commented on #198
Go for it

[2020-08-27 16:56] Ethan-Arrowood commented on #198
@ronag can you provide any more info on the intended solution here? Any pointers are appreciated, thank you 😄

[2020-08-27 17:43] ronag commented on #198
Easiest way to do it is to detect whether it is a generator and convert it into a stream.

[2020-08-27 17:45] Ethan-Arrowood commented on #198
So in this part: https://github.com/nodejs/undici/blob/c17ae444963a112aa3bbbb4c06ad77e98aec6212/lib/core/request.js#L67 ?

[2020-08-28 05:08] ronag opened #364 "Pool does not enforce ordering"
Pool does not guarantee that requests are dispatched in call order.

Is this a problem?

@mcollina

[2020-08-28 09:33] mcollina commented on #364
No, we should just document it.

[2020-08-28 09:52] #364 closed

[2020-08-28 13:02] ronag opened #368 "flaky tls test"
[code]

[2020-08-28 13:02] ronag commented on #368
@delvedor could this have been caused by the recent tls changes?

[2020-08-28 13:18] delvedor commented on #368
I'm afraid I can't tell.

[2020-08-29 10:29] ronag commented on #368
Yea, you can't re-use the session when the servername is overriden through the host header

[2020-08-29 10:31] #368 closed

[2020-08-29 13:23] ronag opened #370 "error in Request constructor does not cleanup body argument"
Not sure what the correct error mode is. But currently if e.g. an invalid header causes an error to be thrown in the passed body is not destroyed.

Error mode needs to be either fixed or documented.

[2020-08-29 13:25] ronag opened #371 "Error in opts can crash pool"
Currently errors in opts do not throw until `Client.dispatch` which can happen inside `'drain'` handler and cause unhandled exception.

[2020-08-29 13:54] ronag commented on #370
[code]

@mcollina in your opinion where does the responsibility lie in terms of ensuring `destroy()` is called on `body` in the above example?

[2020-08-29 14:09] ronag commented on #370
I'm leaning towards making it the users responsibility to cleanup body and any other resource passed as argument upon failure.

[2020-08-29 14:19] ronag opened #373 "Pool close does not flush queue"
Calling close on `Pool` closes all clients before flushing queue.

[2020-08-29 15:22] mcollina commented on #370
I'm not convinced. I think it's safest to destroy it regardless.

[2020-08-29 15:28] ronag commented on #347
Made a 2.0 milestone for remaining issues.

[2020-08-29 15:28] #347 closed

[2020-08-29 16:22] #371 closed

[2020-08-30 13:03] #350 closed

[2020-08-30 13:03] #356 closed

[2020-08-30 13:03] #370 closed

[2020-08-30 13:24] ronag opened #380 "Improve tests"
- [x] 100 coverage
- [ ] More SNI + request host header tests (https://github.com/nodejs/undici/pull/378)
- [x] `callback(err, { opaque })` https://github.com/nodejs/undici/issues/385
- [x] `Pool.destroy(err)`
- [x] `Client.destroy(err)`

[2020-08-30 13:31] ronag opened #381 "dispatch + body notes"
Add notes about `body` as stream when calling `Client.dispatch`. Currently the caller is responsible for `body` until `Handler.onConnect` has been called.

- Register `'error'` handler.
- `destroy(err)` inside `onError(err)`.

Alternatively change implementation so that this is not required.

[2020-08-30 13:32] ronag opened #382 "request + stream does not destroy body on `invalid callback`"
`invalid callback` is thrown before handler is constructed.

[2020-08-30 16:55] #382 closed

[2020-08-30 17:17] ronag opened #385 "Should opaque be sent to callback on error or not?"
I think this is a little inconsistent. Currently sometimes we send `{ opaque }` on error other times we don't. Not sure which makes most sense.

i.e.

[code]

`opaque` is a way to forward state without having to create a closure. It's kind of nice to do so for errors as well (otherwise you do need to create a closure). However, I'm unsure whether it is confusing or not to receive both `err` and `v

[2020-08-30 17:23] ronag commented on #385
Maybe I'm trying to be too smart and should just skip `opaque`?

[2020-08-30 17:33] ronag opened #386 "Client will connect even if all requests are aborted"
Client will not notice requests might be aborted until `request.onConnect` which will only happen after the socket has connected. Thus the client might unnecessarily create a connection.

[2020-08-30 17:36] ronag commented on #386
We would need an even earlier hook for `abort`, i.e. instead of `onConnect(abort)` we would need a `onPending(abort)` hook which is called when enqueued on the client.

[2020-08-30 17:39] ronag opened #387 "Try to avoid accessing `Request.aborted` in `Client`"
Accessing `Request.aborted` should not be needed.

- [ ] Remove unnecessary check before `request.onUpgrade`.
- [ ] Remove unnecessary check after `request.onConnect`.
- [ ] Find a more elegant solution for killing socket when head of pipeline is aborted.

[2020-08-30 17:41] ronag opened #388 "Arg check `handler` in `dispatch(opts, handler)`"
Currently it is assumed that all handler methods are implemented and no check is done for whether e.g. `handler.onError` is a function.

[2020-08-30 17:54] ronag commented on #385
Probably fine.

[2020-08-30 17:54] #385 closed

[2020-08-30 17:58] ronag opened #389 "Document `'drain'` event"

[2020-08-30 18:03] #373 closed

[2020-08-30 18:14] ronag opened #390 "Pool.destroy does not destroy queued requests"

[2020-08-30 19:27] ronag opened #391 "Do we need `Pool/Client.close()`"
I haven't really had a case where I find this useful. Is it worth keeping and maintaining?

[2020-08-30 19:29] ronag commented on #391
@mcollina @szmarczak

[2020-08-30 19:31] szmarczak commented on #391
Yes, for example when testing. We don't want to run out of ports.

[2020-08-30 19:34] ronag commented on #391
@szmarczak We can use `.destroy()` for that?

[2020-08-30 19:35] szmarczak commented on #391
Ah, then you're right. Not sure if there's any valid use case for `client.close()`.

[2020-08-30 19:59] ronag opened #393 "`destroy(err)` semantics"
The semantics of `destroy(err)` with `err` is a little bit undefined. What should happen with the error?

Currently only running requests *might* receive the error while pending requests will fail with `ClientDestroyedError`. While in `Pool` pending requests will fail with `err`. It's a bit of a mess.

I'm considering removing the signature with `err` and just have everything fail with `ClientDest

[2020-08-30 20:16] szmarczak commented on #393
I'd go for the custom errors approach.

[2020-08-30 20:17] ronag commented on #393
Sorry. Which one is that 😄 ? Propagate `err` to all requests properly?

[2020-08-30 21:25] ronag commented on #393
Fixed in #392

[2020-08-30 21:37] mcollina commented on #391
The use case is a soft-close vs an hard-close.
In a soft-close state we want the current requests to finish and not error, while not accepting new ones.

This is needed for most graceful shutdown situations.

[2020-08-30 21:39] ronag commented on #391
Fair enough.

[2020-08-30 21:39] #391 closed

[2020-08-31 05:02] #390 closed

[2020-08-31 05:02] #393 closed

[2020-08-31 07:18] ronag opened #394 "Throwing in `'drain'` handler doesn't always lead to unhandled exception"

[2020-08-31 07:30] #380 closed

[2020-08-31 08:51] #381 closed

[2020-08-31 08:51] #389 closed

[2020-08-31 08:59] ronag opened #397 "coverage badge"
Would be nice to have a badge for coverage since we do often land stuff that does not maintain 100 coverage. I usually try to ensure 100 coverage just before a release.

[2020-08-31 09:10] ronag opened #398 "Investigate performance drop"
~400 ops/sec perf drop.

[code]

[2020-08-31 11:35] szmarczak commented on #393
:+1:

[2020-09-02 05:12] RocktimSaikia commented on #397
@ronag Hi, I would like to work on it. If it's open for others!

[2020-09-04 02:55] wesleytodd opened #399 "HTTP2/3 Support"
Is there any interest in adding additional api's for http2/3 support?  While I understand this is a new domain for this package to cover, if we want to get folks moving over to what will someday be our unified http server apis, it would be nice to have a corresponding client which can nicely handle all three.

I feel like the current api's are pretty close to being ready for the underlying paradig

[2020-09-04 06:52] ronag commented on #399
Maybe. Depends on the scope of changes and work required. I'm not familiar with http2/3 at all and would probably need help/involvement from e.g. @jasnell to sort that out.

I'm definitely interested in trying http(s) over QUIC.

[2020-09-04 13:39] wesleytodd commented on #399
I think http1 over QUIC is the best route for the long term if it works well, [it is still up in the air if http2 over QUIC will work](https://twitter.com/jasnell/status/1301723330072817666?s=20).  That said, as we move forward with the work on the server side I think it will be difficult for us to drive adoption if we don't also have a well supported client.  I haven't read much of the internals

[2020-09-05 12:17] #398 closed

[2020-09-05 14:48] ronag opened #404 "Client.dispatch headers argument as array"
Allow passing an array as `headers` (i.e. the same format as the output from `dispatch({ onHeaders })`.

e.g.

[code]

[2020-09-05 14:49] ronag commented on #404
@Ethan-Arrowood maybe something for you?

[2020-09-05 15:00] Ethan-Arrowood commented on #404
Thank you @ronag! I'd be happy to work on this 😄

[2020-09-05 15:26] ronag commented on #399
@wesleytodd: I'm a little unsure if it's even worth spending any time on http2? There is very little legacy out there (unlike http1) and no advantages over http3.

Right now it just feels like something we do to make it "complete" and we as programmers don't like to see an empty slot between 1 and 3 😄 .

What I'm asking is whether it's maybe better to focus our energy on http1 and http3 and not "w

[2020-09-05 16:04] wesleytodd commented on #399
I completely agree!  My thinking is that http2 is similar enough to 3 that we might get it at least at minimal effort, but I recognize that might be a naive idea.  I don't think it should be a focus.

As I spend some time digging into the server side over the next few weeks I will make sure to also carve out some time to understand what needs a client would have and read the source here to see how

[2020-09-05 18:53] szmarczak commented on #353
@ronag What's the thinking behind this? I thought that forcing `keepAlive` to `true` was a good solution.

[2020-09-05 18:55] szmarczak commented on #399
I agree with @ronag. IMO rewriting HTTP/2 support would be a waste of time, the native implementation is rather new.

[2020-09-05 18:58] ronag commented on #353
I don't follow? You might have cases where you don't want a keep alive connection e.g. due to known issue with the target server.

[2020-09-05 20:35] ronag opened #405 "Benchmark does not have parallelism"
The benchmarks don't seem to run any requests in parallel, thus there is no pipelining.

i.e. the results we are getting at the moment are without pipelining.

[2020-09-05 20:35] ronag commented on #405
@szmarczak @mcollina

[2020-09-05 21:33] szmarczak commented on #353
https://github.com/nodejs/undici/tree/v1.0.0#new-undiciclienturl-opts

Apart from the HEAD request issues, what would those be? I'm just trying to understand your reasoning :)

[2020-09-05 21:35] ronag commented on #353
yea, that's confusing

Fair question. I don't have a good answer other than what I gave.

[2020-09-05 21:38] szmarczak commented on #405
I don't know of any library that would benchmark concurrently. I guess we need to create a different file for pipeline tests.

[2020-09-05 21:38] ronag commented on #405
Yea I couldn't find one either :/

[2020-09-05 21:40] szmarczak commented on #353
I mean that was version v1.0.0

Well, TBH I don't mind having an option that defaults to `true`.

[2020-09-05 21:42] ronag commented on #353
That's the current way. So I guess we are good 😄.

[2020-09-06 06:16] delvedor commented on #353
My fault, I forgot to update that part of the docs 😅

[2020-09-06 10:33] ronag opened #407 "Network stack tuning and pipelining"
I think this is an artifact of some setup time that is needed to have a socket, buffer sizes, and other goodies.

pipelining make sense if you have a buffer on the kernel big enough to hold all your data. This is governed by the network stack in the kernel.

As an example, Linux by default has 4KB that can grow to 32KB. Growing this is expensive. Part of tuning the network stack is configuring tho

[2020-09-06 10:33] ronag commented on #407
I think we should add some notes about this in the README.

[2020-09-06 13:00] ronag opened #409 "Performance improvements"
- Try to avoid calling `socket._unrefTimer` as often (`getLibuvNow` is slow).
- Investigate if `writeAsciiString` can be made faster?
- Optimize GC? (reduce allocations)
- Optimize `parseKeepAliveTimeout`?

[2020-09-07 21:38] shobhitchittora commented on #306
@ronag you might want to take a look at [babel-macros](https://github.com/kentcdodds/babel-plugin-macros), where you can maybe define these assertions and remove them on for your final deployment ( runtime ).
Also as @mcollina said, it'd be and awesome value-add to the core itself.

[2020-09-09 14:18] ronag opened #411 "Remove 'abort' listener on completion"
Turns out this is actually a problem.

[2020-09-11 10:04] dnlup commented on #355
You are referring to the `FixedQueue` implemented in https://github.com/nodejs/undici/blob/master/lib/core/node/fixed-queue.js? This is the queue that the client should use?

[2020-09-11 10:22] ronag commented on #355
No that's unfortunately not possible since the queue is partitioned. Just a regular circular queue should work since the queue size should preferably not be larger than the pipelining factor.

[2020-09-11 14:38] Lalem001 opened #412 "Unhandled exception on pool.destroy() in 2.0.0"
Sample code: https://runkit.com/embed/fjc3coliu5jk

The above sample is the simplest code I can think of that replicates my scenario. I have tried many variations and I cannot catch the error that occurs. It is breaking my unit tests that were working fine pre 2.0.0.

[2020-09-11 14:46] Lalem001 commented on #412
Also note that `destroy resolved/rejected` is never shown. The promise appears to hang after `pool.destroy()`. However, I am not able to reproduce this hang in local testing.

[2020-09-11 16:02] ronag commented on #412
You need to add a `'error'` handle on the response `body`.

[2020-09-11 16:03] ronag commented on #412
[code]

[2020-09-11 16:44] ronag commented on #412
If you have an unhandled exception it will crash and now show anything further

[2020-09-11 17:45] Lalem001 commented on #412
Fair enough.

I want to mention that the module I am building is similar to `fastify-reply-from` which was recently upgraded to use Undici 2.0.0. I do not see any effort to attach an error handler to body in its source so I can only presume there will be an unhandled error when Fastify closes.

fastify-reply-from buildRequest: https://github.com/fastify/fastify-reply-from/blob/master/lib/request.j

[2020-09-11 17:48] Lalem001 commented on #412
Is there an alternative to destroy for tear down? Should I not tear down at all? As mentioned above my module is pattered after `fastify-reply-from` which is why I was using destroy in the first place.

[2020-09-11 17:57] ronag commented on #412
I suspect the code that consumes buildRequest will attach an error handler...

[2020-09-11 17:57] ronag commented on #412
You should tearndown and you should attach an error handler.

[2020-09-11 18:09] Lalem001 commented on #412
Technically it doesn't, but the consumer does send the body to fastify to handle, which inevitably does add an error handler.

Thank you for your time.

[2020-09-11 18:09] #412 closed

[2020-09-12 11:08] ronag commented on #407
@mcollina: Do you have any experience with this kind of tuning? Do you know of any good guides/references/articles on the topic?

Our sysops guys are very hesitant to change the Linux defaults with the reasonable assumptions that those are usually good enough and least likely to have edge cases issues.

[2020-09-12 11:22] #411 closed

[2020-09-12 11:36] mcollina commented on #407
I have but I'm far from an expert.

https://gist.github.com/mcollina/23c788bf2f7e8da10b9c is quite old but it served me well almost every time. Essentially it "removes all safeties" from the Linux kernel, so you can squeeze the max amount of throughput with the available CPU/RAM.
On a m3.medium, this configuration enables any process to saturate the network card, making the system unaccessible fro

[2020-09-13 04:59] zhangwinning commented on #394
could you explanation the question by example,  I'll try to polish the patch and submit a fix PR.

[2020-09-13 07:20] ronag commented on #394
So:

[code]

Depending on the call stack during `.emit('drain')` the thrown exception might or might not cause a unhandled exception.

[2020-09-13 10:35] mcollina commented on #394
It seems Zalgo is here and we have a missing nextTick somewhere.

[2020-09-13 10:35] mcollina commented on #394
In other terms, we should not support throwing in event handlers, and it should always go in uncaughtException.

[2020-09-14 10:53] zhangwinning commented on #394
Hi @ronag, I think the below code must thrown exception, not throw exception which it ？
[code]

[2020-09-14 12:42] ronag commented on #394
Sorry I don't understand the question.

[2020-09-14 13:28] dnlup opened #416 "Header set to `null` validation"
I have a use case where I get a header set to `null` and [this](https://github.com/nodejs/undici/blob/9365968fd3cbcbf13c83c6b62e691bdd57c5e163/lib/core/request.js#L159) check fails. Can `null` be considered as `undefined` so that this check can be modified, or should I handle this separately? My gut tells me probably it's better separately, maybe because of streams behavior.

[2020-09-14 17:22] #404 closed

[2020-09-16 07:32] talentlessguy opened #417 "Caching support"
Hello, I'd like to suggest a feature of adding caching to undici.

The simplest implementation is using a folder to save responses, similar to [node-fetch-cache](https://github.com/mistval/node-fetch-cache)

I don't know if it is Undici job, or a separate package should do that.

as for other HTTP clients, [ky](https://github.com/sindresorhus/ky#readme) support caching via Redis.

if it's not plan

[2020-09-16 07:57] ronag commented on #417
Yea, I think that's unfortunately out of scope of this project.

Cheers!

[2020-09-16 07:57] #417 closed

[2020-09-17 15:01] dnlup opened #418 "Undici tries to reconnect indefenitely on `ECONNRFUSED`"
Sorry to bother again :pray: .

I noticed that on `ECONNREFUSED` the client keeps on trying to reconnect.

Steps to reproduce:

[code]

On version `1.3.1` the call fails with a `Socket Timeout` error.

Is this behavior by design on version 2?

I might be wrong, but It looks like there is a connection `retryTimeout`, but not a maximum number of attempts.

These are the parts that I have seen handli

[2020-09-17 15:04] ronag commented on #418
This is by design. There is no maximum retry. How would you like it to behave and why?

[2020-09-17 15:06] ronag commented on #418
Does your example no fail at all? That is something we should probably resolve.

[2020-09-17 15:08] dnlup commented on #418
It hangs, I would say indefinitely or for a very long time. Before version 2 it would have failed after the default 30 seconds of `requestTimeout` or a similar timeout.

[2020-09-17 15:11] ronag commented on #418
I don't think this is right but I'm unsure what would be the appropriate behavior. Some kind of timeout somewhere should apply.

[2020-09-17 15:15] dnlup commented on #418
Well, the fact that this is by design makes me think. I understand your point of view. I had a test suite that was simulating network errors and one of the codes I was using was ECONNREFUSED.

I am a bit unsure too, the only thing that I am certain of is that undici should tell something to the user. WDYT @ronag ?

Do you prefer this approach over the number of attempt? I don't have a particular p

[2020-09-17 15:36] ronag commented on #418
Yes, I prefer a timeout.

[2020-09-17 16:09] ronag commented on #418
Another alternative is to always error all pending requests on socket error.

[2020-09-17 16:19] JakeChampion opened #421 "Feature request: allow a custom dns lookup function to be supplied"
The `http` built-in module can have a [custom `lookup` function defined](https://nodejs.org/api/http.html#http_http_request_url_options_callback), which is great as it enables applications to decide if they want to implement a dns-caching system or something else.

Do we think it is a good idea to also implement such a feature for undici?

[2020-09-17 17:00] mcollina commented on #421
Sure, would you like to send a PR?

[2020-09-17 17:14] JakeChampion commented on #421
Would this be the correct change?

Make these `net.connect` calls take a custom lookup function and default to dns.lookup otherwise?
https://github.com/nodejs/undici/blob/master/lib/core/client.js#L732

Are these other places that would need to be updated also?

[2020-09-17 19:42] #394 closed

[2020-09-17 20:09] ronag opened #422 "Return body as async iterator"
Briefly discussed at todays webserver-framework meeting. Would be interesting to see how returning an async iterable as body would work out.

Not sure how we would do it API wise. Basically it would be a `client.request` which returns an async iterable instead of a stream.

Should we have another API or should it be an option? @mcollina wdyt?

[code]

[2020-09-17 20:10] ronag commented on #422
Maybe something @Ethan-Arrowood would like to work on once we've figured out how the API would look?

[2020-09-17 20:11] Ethan-Arrowood commented on #422
Yeah would love to take a crack at this! Thank you!

[2020-09-17 20:11] ronag commented on #422
`Readable` is already async iterable. However, it does not provide the most optimal performance.

[2020-09-18 00:40] humphd commented on #186
I'm happy to see undici happening, it looks like a great project!  I was hoping to contribute, and was thinking of starting with this issue.  Reading through the code, I had a few questions:

1. For the "string (raw)" case, do you want any processing done on the raw string headers, or just use them untouched as `request.headers`?  For example, do you care if people pass `\n` vs. `\r\n`?  Are error

[2020-09-18 16:19] #418 closed

[2020-09-19 12:15] ronag opened #424 "Undici based proxy"
Here is an example of a high performance undici based proxy.

I'm a little unsure what to do with this?

- Include in undici as helper?
- Include in undici as example?
- Make a separate npm package?
- Try to include into fastify-plugin?

@mcollina wdyt?

[code]

[2020-09-19 13:16] mcollina commented on #424
I think we can include it in here as an utility, or maybe just as an example to start with.

It would even be better if we could wire it with a new http/1.1 layer on the server side as well.. I think we can improve throughput quite a lot!

[2020-09-20 07:24] ronag opened #426 "More response validation"
// RFC 2616, 10.2.5:
    // The 204 response MUST NOT include a message-body, and thus is always
    // terminated by the first empty line after the header fields.
    // RFC 2616, 10.3.5:
    // The 304 response MUST NOT contain a message-body, and thus is always
    // terminated by the first empty line after the header fields.
    // RFC 2616, 10.1 Informational 1xx:
    // This class of status

[2020-09-22 09:19] delvedor opened #427 "Connect through a proxy"
There are some use cases where users need to connect to the upstream server via a proxy that is not handling connections transparently.

I would like to add this functionality directly into Undici, and from the user perspective, it would look like this:
[code]
Supporting this feature is also useful for working with proxy for debugging purposes, such as [mitmproxy](https://mitmproxy.org/).
I've imp

[2020-09-22 09:22] ronag commented on #427
We already have `Client.connect` could we use that somehow?

[2020-09-22 09:24] delvedor commented on #427
I think so, yeah. What I'm suggesting is to add this feature directly into Undici.
The main reason is because this is a real user need and npm is full of HTTP proxy agents for Node.js core. Having it as a first class citizen would help quite a lot.

[2020-09-22 09:28] ronag commented on #427
I would like to avoid this. That's something for higher level libraries. I'd prefer if we could implement this through composition of existing API's.

e.g. `Client.connect` + `connect` function as argument in to the constructor?

[2020-09-22 09:31] delvedor commented on #427
This is my point. There are not even one of the uselrand HTTP libraries that are implementing this. There are multiple agents implementations and users are left alone figuring out what to do.
Having it directly as part of Undici, will solve this annoying issue, what do you think?

[2020-09-22 10:13] ronag commented on #427
I think the first step is to make it possible by composition using low level API's. Then we can look into adding a higher level API maybe as an example (like we are doing [here](https://github.com/nodejs/undici/pull/425)) to begin with.

[2020-09-22 10:27] delvedor commented on #427
Oks, let's try with that :)
I'm trying to figure out how to do this. The TL;DR of what we need is that the socket that the client will use for sending requests, is the one returned by a `CONNECT` request to the proxy with the correct path (which means that the socket creation needs to be asynchronous).
I did an initial very rough experiment [here](https://github.com/delvedor/undici-proxy-example),

[2020-09-22 12:51] delvedor commented on #427
Very likely the reaosn why the code above is not working is because the internal connect function is also creating a parser, so you can't swap the internal socket.
Probably the easiest solution is to allow the injection of a socket, but creating the socket via connect is an asynchronous process. I'm trying to figure out how hard would be (and if makes sense) to make connect asynchronous.

[2020-09-22 23:51] DBain07 opened #428 "InvalidArgumentException due to Connection header"
I am curious as to why is an error (InvalidArgumentException ) is thrown when the Connection general header is sent with the request? What is the purpose for doing this?

[2020-09-23 00:01] szmarczak commented on #428
`undici` handles this for you. Why would you need to set `Connection` on your own?

[2020-09-23 00:12] DBain07 commented on #428
Yes that makes sense, I figured that was the case. I was mainly asking since if someone hitting the server is unaware of this fact, their request will be refused and I was wondering if there was a way to avoid this (I use undici with fast-proxy to relay requests to api's not exposed to the public).

[2020-09-23 00:45] szmarczak commented on #428
Yes, the fix is simple. Just don't send the Connection header :smile:

So you're not calling `undici` directly?

[2020-09-23 01:09] DBain07 commented on #428
Lol yea that would do it. No, I'm not calling undici directly, it is called through a library called Fast-Proxy. I should be good now though, just found out that Fast-Proxy has a method called rewriteRequestHeaders where I can ensure I remove the connnection header before proceeding, thus preventing any issues on undici's end. Thanks again for your help.

[2020-09-23 01:09] #428 closed

[2020-09-23 01:29] szmarczak commented on #428
Please consider opening an issue in `fast-proxy` in case it's a bug.

[2020-09-23 16:05] ronag opened #429 "response content-length mismatch waits for timeout"
I'm not sure but I think it should be possible to detect a response content-length mismatch without waiting for timeout. Unclear why the parser does not detect this.

[code]

[2020-09-23 17:49] yohay-ma opened #430 "(node:1) MaxListenersExceededWarning: Possible EventEmitter memory leak detected"
hi,

I'm using:
    "fastify": "^3.4.1",
    "fastify-http-proxy": "^4.0.4",
resolved undici version: "2.0.2"

When I run load test on my node I've stated to see the following debug messages:
[code]

I'm using node (docker) version node:12.18.4-alpine
[code]

I have attached flamegraph.log, please rename to flamegraph.html to view the report

[flamegraph.log](https://github.com/nodejs/undici/files

[2020-09-23 18:54] ronag commented on #430
Can you provide a fully reproducible example?

[2020-09-23 18:55] ronag commented on #430
nevermind found the issue

[2020-09-23 19:15] ronag opened #432 "Do we need to verify trailers?"
The way I read the spec the server/client may send trailers that are not included in the `Trailers` header. However, how should one handle the case where the client/server does **not** send a specified trailer? i.e. to we need a "trailer mismatch error"?

[2020-09-23 19:15] ronag commented on #432
@szmarczak @mcollina

[2020-09-23 19:16] ronag commented on #429
Would be even better if we could throw a descriptive error, e.g. "response body content-length mismatch"

[2020-09-23 19:18] #430 closed

[2020-09-23 20:06] szmarczak commented on #432
I think no. I read `SHOULD` as `is highly recommended to`.

[2020-09-23 20:13] ronag commented on #432
Actually I'm referring to something else. The spec said that the request header should be included. It does not say anything about what to do if the request header includes a key that is not part of the trailers.

[2020-09-23 20:15] ronag commented on #432
Consider:

Ok
[code]

Not ok?

[code]

[2020-09-23 21:21] szmarczak commented on #432
Ah. Yeah, it makes sense to throw. IMO it's invalid.

[2020-09-24 05:56] yohay-ma commented on #430
@ronag please let me know if you need more information.
This happens when load testing with POST request. (I think that the stream is not closed/end properly)

[2020-09-24 06:54] ronag commented on #430
It’s been fixed and a new release has been published.

[2020-09-24 06:56] #432 closed

[2020-09-24 14:40] ronag opened #434 "Leaking array buffers"
Not sure if this is a user, undici, node or V8 bug but I have case where I have lot's of ArrayBuffers allocated and never freed in our Node based proxy:

[code]

@mcollina @addaleax any hints on how to debug this?

[2020-09-24 15:50] mcollina commented on #434
Have you got a repro? You can possibly find them using heapdump.
If you need something programmatic to run on servers, use https://github.com/nearform/heap-profiler.

[2020-09-24 15:58] szmarczak commented on #434
@ronag I remember there was a bug in Node.js 12 related to TLS sockets. What Node.js version are you running?

[2020-09-24 16:02] ronag commented on #434
14.8

Happens at multiple locations with different node versions.

I see that V8 recently did something with GC of ArrayBuffers. Maybe coincidence...

[2020-09-24 16:27] ronag commented on #434
I’ll have to continue digging on Monday.

[2020-09-24 17:58] ronag commented on #434
Does that work with cluster?

[2020-09-24 18:19] mcollina commented on #434
It might work given some adaptation.

[2020-09-24 20:36] ronag commented on #434
Seem to have the same problem on a totally different service which recently started to use undici

[2020-09-24 20:40] ronag commented on #434
Been trying to create a repro without success 😞

[2020-09-24 20:43] szmarczak commented on #434
@ronag How does the `undici` call look like? What function is used?

[2020-09-24 20:45] ronag commented on #434
`Client.request``

I think it might be broken back pressure.

[2020-09-24 20:47] ronag commented on #434
My current guess it that it has something to do with pause/resume multiple times. This seems to be growing arrayBuffer usage infinitiely:

[code]

[2020-09-24 20:49] ronag commented on #434
I have no idea though where these buffers are hiding at the moment.

[2020-09-24 20:57] ronag commented on #434
Could it be that `socket.pause()` does not work in `consume()` mode?

[2020-09-24 21:03] ronag commented on #434
Yep, that's the problem.

[2020-09-24 21:25] #434 closed

[2020-09-24 21:35] szmarczak commented on #434
@ronag Is it possible to pause a response using `client.dispatch`?

[2020-09-24 21:45] ronag commented on #434
Return false in `onBody`.

[2020-09-25 09:26] Test-mycode opened #437 "Proxy Example Could Not Connect to A nodejs ws Server(upgrade)"
os: win10 x64
node: 14.12.0
the error message :
{
  "name": "SocketError",
  "code": "UND_ERR_SOCKET"
}

[2020-09-25 11:11] ronag commented on #437
Could you provide a reproducible example?

[2020-09-25 11:32] ronag opened #438 "100 coverage"
We need 100 coverage.

- [x] `maxHeadersSize` option is missing tests.
- [x] `Agent.closed`, `Agent.destroyed` is missing tests.
- [ ] redirect to `onUpgrade`

[code]

[2020-09-25 12:26] Test-mycode commented on #437
here is the reproducer https://github.com/Test-mycode/proxy_ws_reproducer.git
![image](https://user-images.githubusercontent.com/66617605/94266984-6e950700-ff6d-11ea-9e27-d719901a8576.png)

[2020-09-25 12:27] Test-mycode commented on #437
@ronag

[2020-09-25 13:00] ronag opened #439 "socket timeout"
Not sure if user land bug but after https://github.com/nodejs/undici/pull/435 I'm getting some timeouts. Maybe those timeouts not occurring was a bug before.

Needs further investigating to determine whether we've introduced a new bug or not.

[2020-09-25 15:36] szmarczak commented on #439
What do you think about integrating https://github.com/sindresorhus/got/blob/master/source/core/utils/timed-out.ts into undici? Or should that be left as another module?

[2020-09-25 15:48] ronag commented on #439
Problem probably in userland and related to https://github.com/nodejs/node/issues/35341.

[2020-09-25 15:48] ronag commented on #439
That looks very intersting! I'll dig into it next week.

[2020-09-25 16:05] ronag opened #440 "investigate socket.pause in Node"
Node does something slightly strange here, https://github.com/nodejs/node/blob/master/lib/_http_server.js#L906-L909.

Unsure whether it's relevant for us.

[2020-09-25 16:42] ronag opened #441 "writableNeedDrain"
`Client.stream` needs to take [`writableNeedDrain`](https://github.com/nodejs/node/pull/35348) into consideration

[2020-10-01 12:15] ronag opened #443 "make keepAlive threshold a percentage"
The longer the keep alive time is the more likely it is to be inaccurate, e.g. with a keep alive of 15 minutes it's not totally unreasonable that the clocks/timeouts between the client and server may exceed 1 second.

[2020-10-01 13:47] ronag opened #444 "`Client.reset` to reset connection without destroying client"
Provide a way in the API to force a reconnect.

[2020-10-02 14:11] ronag opened #445 "Custom abort signal event"
It would be nice to be able to specify what event on the passed event emitter should cause abort, e.g. in some cases it would make sense to just pass an object that emits `'close'` instead of having to wrap in additional event emitter, e.g.

[code]

Instead of:

[code]

[2020-10-02 14:12] ronag commented on #445
@mcollina @szmarczak wdyt?

[2020-10-02 14:12] ronag commented on #445
@jasnell might also have some input since he worked on the abort signal stuff in core.

[2020-10-02 14:14] mcollina commented on #445
I would keep using `'abort'`, is a bit more standard. Also, a stream emit `'close'` and I would try not to tie the two things together. Overall I don't mind either way, so go with what you prefer!

[2020-10-02 14:20] ronag commented on #445
I'm mostly going back to the proxy example where this would provide a little more convenience and performance. Though I'm unsure if the semantics make sense.

[2020-10-02 14:39] szmarczak commented on #445
I'm good with both. The first approach looks a bit cleaner though.

[2020-10-06 16:04] ronag opened #447 "Don't timeout if socket is paused?"
This is a bit different than how it works in node but I think it would make sense to **not** error if we have a socket timeout while the socket is paused due to back pressure? e.g. if the user is reading very slowly that is not an error with the request per se?

Not sure how this would interact with pipelining.

As an alternative I would like to be able to override socketTimeout on a per request b

[2020-10-06 16:04] ronag commented on #447
@mcollina @szmarczak

[2020-10-06 16:21] mcollina commented on #447
You'd still need to error after all data has been processed. I'm not sure it's worth to handle this case.

[2020-10-06 16:47] ronag commented on #447
How do you mean?

[2020-10-06 17:09] mcollina commented on #447
Let's unwind a bit. Is the socket paused because of backpressure of data? Is a request in flight?

[2020-10-06 17:41] szmarczak commented on #447
IMO timeout is a timeout no matter whether the stream has been paused or not.

[2020-10-06 18:10] ronag commented on #447
IMO if the socket is paused any timeout is an error in user space, not in the request. I don't think the issue here is whether it's a timeout or not, rather is it a timeout in the request or not?

e.g. if I have a proxy and the client is preloading a file and chooses to wait with reading from it after creating the connection I think it should be up to the client to timeout or not, not the proxy (y

[2020-10-06 18:11] ronag commented on #447
It's paused because the reader is currently not interested in more data.

[2020-10-06 18:11] ronag commented on #447
I would at least be able to set different timeouts depending on whether it's the sender or receiver.

[2020-10-06 19:12] szmarczak commented on #447
That's a very good point, makes sense. I agree from now on.

[2020-10-06 20:03] ronag commented on #447
@kmamal @delvedor opinions?

[2020-10-06 20:09] Ethan-Arrowood commented on #447
Iirc isn't this a type of dos attack? Malicious user creates a bunch of slow/paused requests to a service, and with out the timeout said service will become clogged then not able to serve anymore requests. Maybe this is something different; sorry if I have it wrong!

But also I really like this idea for the sake of a video example you shared previously.

[2020-10-06 20:11] ronag commented on #447
Yes, but I think that should be handled on a higher level by having a longer request timeout or limit on number of sockets per client. It's a quite common and valid practice to have those connections for e.g. long polling with couchdb.

[2020-10-07 15:10] pantharshit00 opened #448 "Undici throws a V8 error with node 12.19.0"
Undici `2.0.5` is throwing a V8 stack trace when used with node version `12.19.0`

[code]

The above error doesn't happen with node `12.18.4` or `14.13.0`. Node `12.19` was released on Oct 6. I think this is related to use of native `http_parser` from node via `process.binding`: https://github.com/nodejs/undici/blob/1c628a996bd00fb959d0313b69964587709eeddc/lib/node/http-parser.js#L4

### Reproduct

[2020-10-07 15:52] #448 closed

[2020-10-07 15:53] Jolg42 commented on #448
💚 Many thanks! That was super fast @ronag ⏩

[2020-10-07 16:04] Jolg42 commented on #448
@ronag Do you plan to release a new version to npm in the next days maybe?

[2020-10-07 16:21] ronag commented on #448
@Jolg42 later today

[2020-10-07 19:56] ronag commented on #448
@Jolg42 published

[2020-10-07 21:46] bengl opened #450 "HTTP response mocking use case"
I recently started porting a codebase over to using `undici`, but the tests for this codebase make heavy use of [`nock`](http://npm.im/nock). Since `undici` does not use `require('http')`, a lot of what `nock` does is useless with `undici`. From what I can tell, most other HTTP response mocking libraries do something similar.

I see two paths forward here:

1. Mocking instead at the `net` layer us

[2020-10-07 22:14] mcollina commented on #450
I think option 2 would be best. Adding mocking as a built-in concept would make sure it does not break over time. Moreover, this is extremely useful.

[2020-10-08 01:42] Test-mycode commented on #437
2.0.6 still not work. any progress? @ronag

[2020-10-08 04:04] ronag commented on #437
Ah sorry. I forgot about this. Will dig into it over the weekend.

[2020-10-08 08:31] pantharshit00 commented on #448
Hmm, @ronag I am still able to reproduce the error in `2.0.6`:
![image](https://user-images.githubusercontent.com/22195362/95434242-a5581d80-096e-11eb-9a38-f3581b67e942.png)

[code]

[2020-10-08 16:17] ronag commented on #437
@Test-mycode sorry but could you create a repro in javascript? I don't know typescript.

[2020-10-08 16:20] ronag commented on #437
You don't seem to be using the latest version of the examaple: https://github.com/nodejs/undici/blob/master/examples/proxy/proxy.js

[2020-10-09 04:58] Test-mycode commented on #437
reproducer updated to pure javascript. @ronag

[2020-10-09 08:23] dnlup opened #452 "SIGABRT on Node 12.19.0"
Hi again :wave:

I was testing `undici` on Node 12.19.0 and I encountered this:

[code]

after a call to `stream(...opts)`

Do you have the same behavior? I'm hoping it's something on my side.

[2020-10-09 08:23] ronag commented on #452
Already fixed in https://github.com/nodejs/undici/commit/05b782ce13de0e5934fdf010fa06bc48f8731b74

[2020-10-09 08:24] ronag commented on #452
Once https://github.com/nodejs/undici/pull/451 is merge we'll cut a new release.

[2020-10-09 08:24] dnlup commented on #452
Thank you for the super quick response :smile:

[2020-10-09 08:24] #452 closed

[2020-10-09 08:48] #437 closed

[2020-10-09 09:18] ronag commented on #437
2.0.7 published

[2020-10-09 09:18] ronag commented on #452
2.0.7 published

[2020-10-09 09:18] ronag commented on #448
2.0.7 published

[2020-10-09 09:18] Test-mycode commented on #437
thinkyou it worked

[2020-10-09 10:10] Jolg42 commented on #448
Thanks! 🙇‍♂️

[2020-10-09 10:17] #439 closed

[2020-10-09 10:17] ronag commented on #424
Added example

[2020-10-09 10:17] #424 closed

[2020-10-09 10:18] ronag commented on #416
PR welcome!

[2020-10-09 10:24] dnlup commented on #416
I'll work on it, thanks!

[2020-10-09 21:26] #416 closed

[2020-10-10 12:28] ronag commented on #447
I think this can be resolved by

- Keeping, change default to 0, deprecating or removing socketTimeout.
- Implement a `bodyTimeout` on the higher level API's

[2020-10-10 13:18] mcollina commented on #447
go for it!

[2020-10-10 15:56] dnlup opened #456 "Missing results on benchmarks in Node 10 and 12"
Hi :wave: :smile:

I am getting timeout errors when running benchmarks on Node 12 and 10, resulting in a premature exit without results. This doesn't happen on Node 14. Switching to the use of the `finish` event instead of `close` fixes this issue. Is this behavior wanted?

[2020-10-10 16:23] mcollina commented on #456
Given the test suite pass on all versions, it seems ok to assume that is a problem in the benchmarks... could you send a PR to fix?

[2020-10-10 16:32] dnlup commented on #456
Yes, thanks :D

[2020-10-10 18:19] #456 closed

[2020-10-26 09:52] #440 closed

[2020-10-26 14:04] #447 closed

[2020-10-29 16:14] dnlup commented on #355
I made a POC trying to implement the circular queue you suggested [here](https://github.com/dnlup/seeq/blob/next/index.js). Does it come near to what you had in mind? I wanted to be sure I understood before trying to put it in `undici`. The idea is that instead of using `splice,` you iterate over it directly. You use `push` and `pop` for the other operations. Maybe I didn' figure out all the detai

[2020-10-29 17:40] mcollina commented on #355
Did you run any benchmarks if this would improve undici?

[2020-10-29 19:08] dnlup commented on #355
No, I didn't. I'll try to embed it in undici and run them. There's a bench of the queue vs array.splice [here](https://github.com/dnlup/seeq/blob/next/bench.js) that gives [these results](https://github.com/dnlup/seeq/blob/next/bench.txt) on my machine. I don't know how and if it would impact undici yet.

[2020-10-29 21:17] ronag commented on #355
A more realistic size would be ~16.

[2020-10-30 06:22] dnlup commented on #355
You're right @ronag , using `16` the improvement is even more marginal:

https://github.com/dnlup/seeq/blob/next/bench.txt

[2020-10-30 07:18] dnlup commented on #355
Ops, I also forgot about the fact the `pipelining` can be changed at runtime:

* https://github.com/nodejs/undici/blob/master/lib/core/client.js#L182

I should add this feature to the circular queue too.

[2020-10-30 08:02] dnlup commented on #355
While refactoring for this feature, I changed a bit the benchmarks, and it looks like my implementation is actually slower than using `slice`  :

https://github.com/dnlup/seeq/blob/next/bench.txt

I'll continue doing some tests, but maybe the queue I linked doesn't improve anything to start with. Sorry for the noise.

[2020-10-30 08:33] ronag commented on #355
Let me know what you find and then maybe we can close this issue either with an update or as a wontfix.

[2020-10-30 08:36] antonnyman opened #463 "HTTP host header is missing the port"
Currently the host header is set to `hostname` which could cause errors if you use an endpoint that has a port, for example `http://localhost:1234`. The current workaround is to manually set the host header with a port.

[2020-11-01 17:19] mcollina opened #467 ""bad" Pool scheduling performance under low pressure"
In https://github.com/nodejs/undici/pull/466 I've made the benchmarks parametric. I also added the ability to run the server with a timeout, which in this case is set top 10ms.

The following cases are _not_ saturating benchmarks, e.g. both the client and server have _plenty_. of spare CPU capacity.

[code]

As you can see, the clients are not saturated, but the throughput is essentially the one o

[2020-11-01 18:03] ronag commented on #467
I think this goes back to the depth first vs breadth first conversation?

[2020-11-01 18:04] ronag commented on #467
https://github.com/nodejs/undici/issues/73#issuecomment-626141009

[2020-11-01 18:04] ronag commented on #467
Breadth first might have a performance advantage from request parallelism.

[2020-11-01 18:06] ronag commented on #467
You might also want to have the server with cluster to make it more realistic and where more connections might have even more advantage.

[2020-11-01 18:20] ronag commented on #467
This is interesting. Not sure where the dead time might occur. Would be interesting to try against a different server such as h2o or nginx.

[2020-11-01 18:36] ronag commented on #467
I think the benchmarks are a little suboptimal in terms of benchmarking parallelism since it does it in batches of 10 (which is probably why you don't see 100% cpu) but I don't know how to make them better given how the benchmark model works.

[2020-11-01 18:40] mcollina commented on #467
I think so. We might want to implement breadth-first instead - possibly with an option. I don't necessarily get how `client.busy` is calculated - would I need to change that if I wanted to add this option?

---

It's not really a server problem, the server load is _minimum_. If the client _could_ send more throughput, the server will handle it, it never goes above 10% on my machine.

[2020-11-01 18:49] ronag commented on #467
No change needed for `.busy` you only need to update `Pool` so that it always tries to grab the client with least number of requests.

[2020-11-01 18:50] ronag commented on #467
[code]

[2020-11-01 18:52] ronag commented on #467
`busy` false means that additional requests won't get directly dispatched on socket if enqueued.

[2020-11-01 20:09] ronag commented on #467
[code]

[2020-11-01 20:14] mcollina commented on #467
Moving from depth-first to breadth-first does not change the measurement. It succeeds in spreading more evenly the requests on the sockets. The CPU is at 20% and there is plenty of capacity to send more. Might it be that it is waiting for some event in Client? Maybe `'drain'` is too late or `.busy` is too eager?

[2020-11-01 20:51] ronag commented on #467
How do you measure this? What bench params are you running?

[2020-11-01 20:55] ronag commented on #467
I also think the benchmark might not be optimal for measuring parallel performance...

[2020-11-01 20:56] ronag commented on #467
What happens if you remove the busy check and also always emit drain if ´!pending` (i.e. without the nextTick logic).

[2020-11-01 21:47] mcollina commented on #467
I checked and it didn't work :/

[2020-11-02 10:18] ronag commented on #467
I suspect you are seeing an issue with the benchmark.

[2020-11-02 15:09] ronag commented on #467
I would suggest closing this with a reference to https://github.com/nodejs/undici/issues/405

[2020-11-02 15:09] ronag commented on #405
I tried making the benchmark parallel but I believe there are several problems with how it's implemented. In particular running batches does not provide a realistic result.¨

See, https://github.com/nodejs/undici/issues/467

[2020-11-02 16:06] ronag opened #470 "Retry of idempotent request with body broken"
We clear the body after sending it to the socket. Hence the retry will done incorrectly without a body.

[2020-11-02 16:34] #467 closed

[2020-11-02 19:34] #470 closed

[2020-11-03 06:20] dnlup commented on #355
Quick update. I thnk I managed to write an implementation that performs better using a circular linked list instead of an Array:

https://github.com/dnlup/seeq/blob/next/bench.txt

In the benchmark, I am not recreating the queue each time because I think it was the main reason to try this approach instead of using `Array.prototype.slice`. I am creating an array though, hoping that this would highl

[2020-11-04 14:08] Sirius79 commented on #388
Hey! I would like to take this up if no one is working on it

[2020-11-04 14:13] ronag commented on #388
Go for it!

[2020-11-07 08:45] #463 closed

[2020-11-07 10:40] #289 closed

[2020-11-07 14:42] luddd3 opened #474 "How to trigger headersTimeout and bodyTimeout"
Hi,

I'm currently evaluating this library for my use cases and I'm wondering how headersTimeout and and bodyTimeout is supposed to work.

Server:
[code]

Client:
[code]

If I start the server first and then run the client i expect the client to get an unhandled promise rejection, but instead it logs "{}". Have I completely misunderstood how these timeouts are supposed to work?

I ran these tests

[2020-11-07 15:52] ronag commented on #474
What version of undici?

[2020-11-07 16:00] luddd3 commented on #474
2.1.1

[2020-11-07 18:50] ronag commented on #474
Look at the documento on for the 2.x branch. Master is not yet released.

[2020-11-07 22:05] dnlup commented on #397
What service do you prefer? What about https://coveralls.io/?

[2020-11-07 22:21] mcollina commented on #397
Note that we need to ask the TSC to add external services. I'm happy to use coveralls if somebody else set it up: unfortunately I have too many repos and my account cannot be opened anymore (that's also a good reason to not use them).

[2020-11-08 07:59] luddd3 commented on #474
Ah sorry, I missed that the current npm version was in another branch.

I switched to current master (#9a1e9af) and reran my test. It fails as expected for headersTimeout, but I cannot trigger bodyTimeout. I used the same server and replaced headersTimeout with bodyTimeout in the client.

Am I doing it wrong or is it a work in progress?

[2020-11-08 08:39] dnlup commented on #397
Of course, thank you. I have seen that Node is using https://codecov.io/, maybe they would be more inclined to use that service? Or maybe there could be a way to just add a badge using Actions.

[2020-11-08 10:50] mcollina commented on #397
I'm inclined to use codecov as well :).

[2020-11-08 12:22] dnlup commented on #397
Sorry, you're right 😁

[2020-11-09 22:01] ronag opened #475 "check abort signal .aborted property during initialization"
An abort signal might already have been aborted. Check this through the `.aborted` property on the signal object.

[2020-11-12 06:16] stellarator opened #476 "Wrong KEEPALIVE_TIMEOUT_EXPR"
Colleagues, the following line in `lib/core/utils.js` looks suspicious for me:
[const KEEPALIVE_TIMEOUT_EXPR = /timeout=(\d+)s/](https://github.com/nodejs/undici/blob/master/lib/core/util.js#L51)

The original intent to put `s` at the end is not very clear. I've checked a number of sites, all of them return `Keep-Alive` header with the following signature (with accordance to [MDN Article](https://

[2020-11-12 11:49] #476 closed

[2020-11-13 09:26] #441 closed

[2020-11-13 17:53] #475 closed

[2020-11-16 15:34] Jolg42 opened #480 "undici installed in a TypeScript project errors with `...types/client.d.ts:5:33 - error TS2307: Cannot find module 'abort-controller' or its corresponding type declarations.`"
When updgrading from 2.1.1 to [2.2.0](https://github.com/nodejs/undici/releases/tag/v2.2.0) I got this error in TypeScript:
[code]

The source should be this line https://github.com/nodejs/undici/blob/master/types/client.d.ts#L5

So here the `abort-controller` package is missing and because TypeScript cannot find it, it errors.
Meaning that it needs to be installed / be a required dependency.

I a

[2020-11-16 16:58] zekth opened #481 "Support HTTP 103"
I implemented a plugin for HTTP 103 early hints in fastify : https://github.com/zekth/fastify-early-hints
I wanted to introduce undici as part of the test stack because currently i use `curl` as a subprocress and parse the stdout for it.

The problem currently with undici are those lines : https://github.com/nodejs/undici/blob/f083cc025353c1fc0cbd81fea8797a9b033ecb5d/lib/client-request.js#L88-L90

[2020-11-17 06:07] mcollina commented on #481
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-11-17 07:09] dnlup commented on #397
I have a working branch using codecov [here](https://github.com/dnlup/undici/tree/coverage_badge). Is it safe to open a PR?

[2020-11-17 07:48] ronag commented on #481
The point of info messages is that they arrive before the response headers. The API you suggest kind of breaks that.

We would need an api which allow listening to those events before the response headers.

I don’t know how that would look and is why we haven’t implemented it yet.

[2020-11-17 09:50] ronag commented on #480
@Ethan-Arrowood

[2020-11-17 09:56] ronag commented on #474
@luddd3 can you provide an example?

[2020-11-17 11:37] luddd3 commented on #474
I use the code in my first post. First start server.js in one terminal and then start client.js in another.

For undici #9a1e9af I get the following expected error message from the client process:
[code]

This is expected since `headersTimeout` is set to 1 second and the server starts writing the headers after 2 seconds. When I run the same code on, e.g. #f083cc0 (latest commit on master), no erro

[2020-11-17 11:51] ronag commented on #474
The expected behavior is 1 and 3

[2020-11-17 12:15] zekth commented on #481
a solution would be to emit event on Information headers like:
[code]
Also do we want to have the whole http transite compiled into `request` like i proposed or not?
I surely can try to implement it in a PR.

[2020-11-17 12:47] luddd3 commented on #474
@ronag Thank you

[2020-11-17 12:47] #474 closed

[2020-11-17 12:58] dnlup commented on #397
Link to a report of the same branch:

https://codecov.io/gh/dnlup/undici/branch/coverage_badge

[2020-11-17 14:46] Ethan-Arrowood commented on #480
abort-controller should be shipped in `@types/node` now.

@Jolg42 do you have node types installed? If so which version?

[2020-11-17 14:57] Ethan-Arrowood commented on #480
I noticed that in the [aborting a request](https://github.com/nodejs/undici#aborting-a-request) section

So yeah i don't actually think anything is wrong here. We might need to make a new section of the docs that calls this out better though. Like maybe a notice at the top a long the lines of "If you want to use AbortController you must install it yourself with `npm i abort-controller`.

In regard

[2020-11-17 15:21] Ethan-Arrowood commented on #480
I'm having a rough morning 😂

Okay so solution:

Node 15 ships abort-controller. But types haven't been published for @types/node@15.0.0

Node 14 doesn't and requires a shim `abort-controller`. Which ships its own types.

Since the definition for AbortController is quite small, im going to copy and paste it into Undici source with a comment block that links back here + explains that it'll be remov

[2020-11-17 15:44] Jolg42 commented on #480
Sounds good to me 💯 Thanks!

[2020-11-17 16:12] #480 closed

[2020-11-17 16:16] mcollina commented on #397
Nice! What would you need to enable this here? Could you just PR it?

[2020-11-17 16:58] dnlup commented on #397
To enable just the coverage report with the badge I think it should work just by opening the PR. To enable the full integration it should be installed at the org level I think, but that can be done anytime, if necessary. The full integration should provide comments in PRs.

[2020-11-17 16:58] dnlup commented on #397
I'll open a PR

[2020-11-18 08:21] #397 closed

[2020-11-18 09:03] ronag opened #485 "Rewrite in Typescript?"
I wouldn't mind having undici written entirely in Typescript. Thoughts?

[2020-11-18 09:04] ronag commented on #485
@mcollina

[2020-11-18 09:04] ronag commented on #485
Would make life a bit easier with keep the type definitions correct.

[2020-11-18 09:32] mcollina commented on #485
Rewriting this in TypeScript would make me unable to contribute effectively. Moreover it would be a blocker if our goal is to land it in core eventually.

[2020-11-18 09:40] ronag commented on #485
Ok. Then it sounds like a bad idea.

[2020-11-18 09:40] #485 closed

[2020-11-19 21:48] ronag opened #486 "`servername` option not documented"

[2020-11-21 09:48] ronag opened #487 "Generate docs from type definitions or vice versa?"
Is this possible? @Ethan-Arrowood

[2020-11-21 14:53] Ethan-Arrowood commented on #487
Yes if we use inline JS docs we can generate types from those

[2020-11-24 15:48] Ethan-Arrowood commented on #487
If I find some time I'll try experimenting with this. I've seen some other projects do this successfully. node-fetch uses this feature quite well.

[2020-11-24 18:46] #388 closed

[2020-12-05 15:41] kibertoad opened #491 "Lifecycle hook support"
It would be helpful to support pre/post-processing of requests/responses. Some of the use-cases that I see are:

- authentication
- logging
- custom container wrapping (e. g. by using Either)

Ideally this feature should come with a certain level of granularity, so that it is either possible to instantiate separate Client pools with different hooks, or pass aggregated hook configuration as an enti

[2020-12-05 17:00] mcollina commented on #491
I'm positive. This technique can be implemented with very little overhead (see Fastify).

However I would not do global, only per-client and per-pool.

[2020-12-06 01:53] Ethan-Arrowood commented on #198
Since its been a while since I made any progress on this I'm going to self-mark this as **stale**. If someone else wants to take a stab at implementing iterators please do so ❤️

[2020-12-06 13:22] kibertoad commented on #491
@mcollina Can you point out places in fastify code you would recommend to use as reference? Also should I go for full-blown plugin style as fastify does, or implement minimal useful subset of features?

[2020-12-06 13:36] mcollina commented on #491
I would go with minimal features. Here is the hooks implementation: https://github.com/fastify/fastify/blob/master/lib/hooks.js

[2020-12-06 13:37] kibertoad commented on #491
Thanks a lot!

[2020-12-06 13:43] kibertoad commented on #491
@mcollina BTW, there is no `engines` constraint for Node.js version in package.json, but CI is running on 10+. Do any older Node versions have to be supported?

[2020-12-14 15:58] Sirius79 opened #494 "doc: fix typo in abort request"
There seems to be a typo in the first line of abort request [here](https://github.com/nodejs/undici#aborting-a-request).

It says `A request can may be aborted using either an AbortController or an EventEmitter.`

Should I send a PR to fix this to `A request can be aborted using either an AbortController or an EventEmitter.`?

[2020-12-14 16:05] mcollina commented on #494
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-14 16:54] #494 closed

[2020-12-16 19:37] Ethan-Arrowood commented on #487
Been playing with this today. This article is really great about covering a lot of the details of using JSDoc for types: https://gils-blog.tayar.org/posts/jsdoc-typings-all-the-benefits-none-of-the-drawbacks/

[2020-12-16 19:43] Ethan-Arrowood commented on #487
And this page of the handbook helps a lot too: https://www.typescriptlang.org/docs/handbook/jsdoc-supported-types.html

[2020-12-17 18:23] Ethan-Arrowood commented on #487
Type Checking hits a wall pretty fast: https://github.com/microsoft/TypeScript/issues/41996

But we could potentially still use JSDoc to generate types... its just tough to do one with the other (type checking with jsdoc vs. generating types with jsdoc)

[2020-12-29 19:34] ronag opened #501 "WeakRef support"
We should test that a `WeakRef`:d `Pool` or `Client` does not get garbage collected while there is an active socket.

So basically if the pool/client has no pending request and idle/keepalive timeout has expired it should be garbage collected, otherwise not.

I think this already works but needs a regression test.

`Client` has a ref to `Pool` through `onDrain` listener and `Socket` has a ref to `

[2020-12-29 19:35] ronag commented on #501
@Ethan-Arrowood @dnlup Maybe? This can be fun if you want to get more familiar with weak refs.

[2020-12-29 20:24] dnlup commented on #501
To test if it has been garbage collected, we could use [`deref`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WeakRef/deref), right? As for keeping the socket active, is it sufficient to work just with the keepalive timeout, or is it better to send some data (in this case, I don't know how to do it without referencing the Client/Pool atm)? I can try to put somet

[2020-12-29 20:57] ronag commented on #501
I think you can use finalization registry as well to check for gc

[2020-12-29 20:57] ronag commented on #501
I mean you can write something and then null the refs?

[2020-12-29 21:05] dnlup commented on #501
Yup, thanks for the pointers

[2021-01-01 18:10] ronag opened #504 "Pool helper"
Not sure how to make this part of the library but this is a pattern I've started to use:

[code]

[2021-01-01 18:10] ronag commented on #504
@Ethan-Arrowood maybe interested?

[2021-01-01 18:11] ronag commented on #504
Maybe `SharedPool` or something?

[2021-01-01 18:33] Ethan-Arrowood commented on #504
Yes very interested in this. I think this could help undici-fetch too. Will take a closer look soon.

[2021-01-01 19:17] ronag commented on #504
sketching...

[code]

[2021-01-01 19:52] mcollina commented on #504
I think this is needed inside the library, it would be really usefulz

[2021-01-01 20:14] dnlup commented on #504
Is there anything useful in this module?

https://github.com/dnlup/agent-11

[2021-01-01 20:19] dnlup commented on #504
Apologies, I misunderstood the requirement of being in the library.

[2021-01-01 20:25] ronag commented on #504
Something like that would be nice. Though I think without the timers and using weak references instead.

[2021-01-03 13:40] ronag opened #506 "Expected HTTP/"
Got this error when replacing core client with undici:

[code]

Node: v14.15.0

[2021-01-04 07:04] dnlup commented on #504
`WeakRef` is supported from Node 14, should we enable this helper only where it's supported?

[2021-01-04 10:55] ronag commented on #506
Can no longer reproduce

[2021-01-04 10:55] #506 closed

[2021-01-05 13:05] dnlup opened #509 "Pool should forward Client(s) connect and disconnect events"
Following https://github.com/nodejs/undici/pull/502#discussion_r551835540 , it could be useful if the `Pool` forwarded its `Client`s `connect`/`disconnect` events, with the `Client` instance as an argument.

[2021-01-05 13:05] dnlup commented on #509
I'll work on it if there are no problems with it.

[2021-01-05 13:52] mcollina commented on #509
go for it

[2021-01-06 23:04] #509 closed

[2021-01-12 10:08] #501 closed

[2021-01-12 10:59] #504 closed

[2021-01-12 11:02] ronag opened #513 "dispatchFromAgent opts.path"
How should we handle if path is passed through `opts.path` to e.g. `undici.request`?

1. Always throw invalid arg?
2. Throw invalid arg if url doesn't have path?
3. Join url path and opts.path?
4. Prioritize one over the other?

[2021-01-12 11:02] ronag commented on #513
@Ethan-Arrowood @dnlup

[2021-01-12 11:06] ronag commented on #513
Right now the docs say that `opts` is the same as `client.request.opts` so we have a conflict here.

[2021-01-12 11:07] ronag opened #514 "Flaky tests"
CI is flaky

[2021-01-12 11:28] ronag commented on #514
I can reproduce the gc issue on mac

[2021-01-12 11:31] ronag opened #515 "gc test fails on darwin"
https://github.com/nodejs/undici/commit/0ff9cf22e16bd03dea41b7698f8d77c9089bf29d

[2021-01-12 11:31] ronag commented on #515
@dnlup

[2021-01-12 12:03] dnlup commented on #515
Yup, I know. I guess it's not flaky but fails consistently on that platform. Unfortunately, I don't know how to fix it atm, so the best thing is to disable it as you did.

[2021-01-12 12:04] ronag commented on #515
I can recreate it locally so I'll look into it eventually if no one beats me to it.

[2021-01-12 12:07] dnlup commented on #514
Great! Could you test some dummy code that uses `WeakRef` to see if it's the logic in the test or the gc that causes issues on that platform?

[2021-01-12 16:29] ronag commented on #513
@mcollina wdyt

[2021-01-12 17:20] ronag commented on #514
https://github.com/nodejs/undici/issues/515

[2021-01-12 17:20] #514 closed

[2021-01-12 18:06] ronag commented on #491
No only LTS versions.

[2021-01-12 18:19] ronag opened #517 "Docs cleanup"
- [ ] Cleanup method docs in general (types, formatting etc...).
- [ ] Document `undici.connect`, `undici.update`.
- [ ] Document all errors.

[2021-01-12 18:19] mcollina commented on #513
Yes.

[2021-01-12 18:20] ronag commented on #517
@Ethan-Arrowood do you know of a more "standard" way of documenting methods and their signatures? Our current way is a little made up.

[2021-01-12 18:51] mcollina commented on #515
is this fixed?

[2021-01-12 18:56] ronag commented on #515
no

[2021-01-12 21:34] #515 closed

[2021-01-12 21:43] #513 closed

[2021-01-13 15:37] Ethan-Arrowood commented on #517
Yes, I've based mine of off: https://github.com/electron/electron/blob/master/docs/styleguide.md (there is some tooling based on this guide i hope to use in the far future)

I have some differences though that I used for undici-fetch in regards to argument structure (for example the argument type is wrapped in backticks rather than the name).

[2021-01-13 15:38] ronag commented on #517
Feel free to have a go at undici if you ever feel bored. :)

[2021-01-13 15:39] ronag opened #520 "Agent is missing close and destroy methods."
Agent is missing close and destroy methods.

[2021-01-13 15:59] Ethan-Arrowood commented on #520
I may be misunderstanding how the current Agent implementation works.

Does the GC cleanup not automatically close the pool when it is no longer referenced?

[2021-01-13 16:01] ronag commented on #520
The socket references it until timeout.

[2021-01-13 16:02] Ethan-Arrowood commented on #520
I see. And so, if there is no timeout, the pool never closes.

[2021-01-13 16:03] Ethan-Arrowood commented on #520
(Copying over some ideas I had from undici-fetch thread

I can think of two auto-close scenarios:

- Long running process (such as an REST API) - should close unused pools after some time if a new request comes through that uses a previous origin, that pool needs to be reopened (or just reinstantiated). Maybe we could consider a compounding timeout here where every time the pool timesout and is th

[2021-01-13 16:03] ronag commented on #520
Sockets are GC roots.

[2021-01-13 16:03] Ethan-Arrowood commented on #520
Is it safe to not close a pool if the process is short running?

[2021-01-13 16:04] ronag commented on #520
Yes.

[2021-01-13 16:04] ronag commented on #520
I don't think sockets keep the process alive.

[2021-01-13 16:06] Ethan-Arrowood commented on #520
I'd like to try and test / confirm this to be certain.

---

So i think then adding a close and destroy method are useful for those who want to use it, but then also maybe integrating my previous ideas at the undici-fetch level might be useful

[2021-01-13 16:11] ronag commented on #520
But this is already working in undici? I'm confused.

[2021-01-13 16:17] Ethan-Arrowood commented on #520
Yes, sorry. I mean implement these timeout ideas for the Agent itself -- this way users never have to call `.close()`.

Yes 100% we need to add `close()` and `destroy()` so that this Agent can be properly tested and used in **all** scenarios

[2021-01-13 16:19] Ethan-Arrowood commented on #517
If only I could work on this stuff full time and not have to mix it in with my normal job requirements 😂

[2021-01-16 11:23] ronag opened #522 "Add connect/disconnect events to Agent"
Similar to how we do for pool but with an extra argument for the origin, e.g.

`emit('connect', pool, origin)`

[2021-01-16 11:23] ronag commented on #522
@Ethan-Arrowood

[2021-01-16 11:29] ronag opened #523 "Pool.'disconnect' does not forward error"
'disconnect' should always forward error that caused disconnection.

[2021-01-16 11:29] ronag commented on #523
@dnlup

[2021-01-16 11:32] dnlup commented on #523
Yes, you're right. I'll work on it.

[2021-01-16 12:04] #523 closed

[2021-01-16 12:53] ronag opened #526 "100 coverage"
Tests should reach 100 coverage.

[2021-01-16 13:34] ronag opened #528 "Agent.get(origin) should take URL or string"
Should take the same type and name as Pool/Client constructor.

[2021-01-16 13:34] ronag commented on #528
@Ethan-Arrowood

[2021-01-16 13:52] ronag opened #529 "Agent without WeakRef dependency"
It should be possible to implement `Agent` without using weak refs by using the `'connect'`/`'disconnect'` events.

[2021-01-16 13:52] ronag commented on #529
Would make it possible to use on Node 12.

[2021-01-27 16:30] mcollina opened #531 "Mocking support"
I think it would be awesome if we had mocking support, similar to nock.

[2021-01-28 12:55] dnlup commented on #529
I want to tackle this one next week if no one beats me to it.

[2021-01-28 16:51] mcollina commented on #529
Go for it!

[2021-01-29 18:18] Ethan-Arrowood opened #532 "API Lifecycle Diagram"
I think something that would be really valuable for this library is if we can provide a detailed diagram explaining the lifecycle of a request with this library. It would be really helpful for both contributors and users. The diagram should detail things like when certain events are fired as well as how it all corresponds to the Node.js event loop. We should have one for the Client class and its r

[2021-01-29 19:44] mcollina commented on #532
I'll be happy to answer questions, go for it!

[2021-01-29 19:45] Ethan-Arrowood commented on #532
I'm planning to start by just logging the call stack of a simple call to Client and going from there. I'll ping when I have something 😄

[2021-02-01 20:13] Ethan-Arrowood commented on #517
https://github.com/Ethan-Arrowood/undici/blob/improve-docs

Since I really want to deepen my understanding of this api I've started organizing the docs.

[2021-02-03 08:57] #520 closed

[2021-02-03 15:54] adamovittorio commented on #531
@mcollina what can we do to help here, do you have an idea on how to do the magic? In my understanding undici is not using nodejs HTTP module under the hood, so we need to intercept the request in another way.

[2021-02-03 16:47] mcollina commented on #531
Send a PR :). I would recommend to _add_ a `MockedClient` and then some support for mocking inside `Pool`, or maybe a `MockingPool`, and the rest will follow.

[2021-02-03 18:59] adamovittorio commented on #531
What do you mean by adding a `MockedClient`? Just implementing a mocked version of the undici client?

In my understanding, we want something that intercepts the undici network calls and returns a mocked response.

[code]
Wherever in you code you use undici to perform a **GET** https://www.nodejs.org/ the result is `{ "foo": "bar" } 200`.

Still, I don't know how to intercept the requests

[2021-02-04 09:04] mcollina commented on #531
The API you are sketching is correct!

Neither would I! You might have to overload a few (or all) of the APIs in `Client`.

[2021-02-04 11:25] #529 closed

[2021-02-04 13:43] ronag opened #536 "How to handle text/event-stream?"
I think `text/event-stream` responses should be handled as an upgrade and the socket released from the undici client (like with websockets).

[2021-02-04 13:43] ronag commented on #536
@mcollina wdyt?

[2021-02-04 16:48] mcollina commented on #536
I agree!

[2021-02-05 10:18] mcollina opened #537 "Restructure doc and publish a microsite"
I think having all the docs in the README is starting to be problematic... we have a lot of APIs.

I think we should migrate to a `doc/` folder, and maybe use https://docsify.js.org/#/ (or analog) to create a doc website.

[2021-02-05 10:19] mcollina commented on #537
Likely a follow-up of https://github.com/nodejs/undici/issues/517

[2021-02-06 20:13] Ethan-Arrowood commented on #537
It's happening already in my fork under /improve-docs. I've been experimenting with a standardized documentation format I may be pitching for other projects soon, and undici is one of the repos I'm using as an proof-of-concept. I've already completed most of the Client docs. Everything is in markdown and should be compatible with a documentation site generator

[2021-02-07 10:44] ronag opened #539 "100 coverage"
We're down from 100 coverage again.

[code]

[2021-02-07 10:45] ronag commented on #539
I will sort this eventually. Feel free to take a shot at it if you want. @dnlup @Ethan-Arrowood

[2021-02-07 10:48] ronag opened #540 "undici-fetch"
I saw some interest in potentially merging [undici-fetch](https://github.com/Ethan-Arrowood/undici-fetch) into undici. Thought I'd open an issue to discuss this.

I've been in general against including fetch into node core and also prefer to keep things minimalistic. That being said I'm not totally opposed to such a move. I find the current undici-fetch implementation quite simple, clean and well

[2021-02-07 10:48] ronag commented on #540
@Ethan-Arrowood

[2021-02-07 10:49] ronag commented on #540
Though I think we absolutely need to do something about the docs before this could be viable.

[2021-02-07 10:54] ronag commented on #540
This might enable some optimizations that otherwise would not be possible.

[2021-02-07 12:09] Ethan-Arrowood commented on #540
Yes I think this is a good idea. The current undici-fetch implementation is very high level and I wanted to try to see what perf we could get building it on top of something like .dispatch calls. Bringing it into core would be a good step in that direction.

One thing to note however; if we bring it into this core library that would probably limit us from ever extending the fetch implementation fo

[2021-02-07 15:08] mcollina commented on #540
One of the things that would be beneficial is adding http/2 support to it (and in the future http/3).

[2021-02-07 20:25] ronag commented on #540
Would does this entail?

[2021-02-07 22:07] Ethan-Arrowood opened #542 "Fix: remove unused argument `servername` from Client.connect"
As far as I can tell, this option is unused. It is passed to the `Client.connect` method as a part of the first argument `options` object. It is then passed through to `dispatch` which does not use it.

https://github.com/nodejs/undici/blob/master/lib/client-connect.js#L83

May be left over from a previous version of undici.

@ronag can this be removed? (this is a good-first-issue)

[2021-02-07 22:29] #542 closed

[2021-02-07 22:44] Ethan-Arrowood commented on #542
💯

[2021-02-08 04:50] Ethan-Arrowood commented on #540
I wasn't apart of the previous discussions but as it's been described to me + what I could find is that there's a fair amount of the fetch API that simply doesn't make sense in a server side context. One good example is CORS. There are plenty of others, such as the streams difference, that we'd have to cover. Take a peak at node-fetch list if you want to know some more.

I'm still keen on introduc

[2021-02-08 08:26] mcollina commented on #540
My take is to not even try to follow the browser spec. The only compatible thing we need is `await (await fetch()).json()` and similar APIs.

Essentially a browser-like `fetch()` does not even make sense in Node.js, as CORS and caching are user-specific. In the browser, 1 user 1 fetch instance -  this equivalence does not exist in Node.js.

[2021-02-08 08:27] mcollina commented on #540
In other terms, node-fetch fulfills 90% of the use case and there is no perceived value in doing the rest 10%.

[2021-02-08 14:07] Ethan-Arrowood commented on #540
+1 to all of that @mcollina

[2021-02-10 10:29] ronag commented on #540
What does http2 provide in context of fetch other than performance improvements (i.e. functionality) relative to a Pool with not connection limit and no pipelining?

[2021-02-10 10:31] ronag commented on #540
@mcollina What is your experience with http2 performance (especially the node core implementation)? Is it better in practice or just theory?

[2021-02-10 13:34] mcollina commented on #540
It's just theory, specifically because HTTP/2 does not solve the head-of-line issue of TCP. It is however a step forward.

From my tests, _undici_ is faster than core http/2 for most API usecases (small responses). I expect http/2 to be better for more mixed workloads.

I expect things to change with http/3, but this is far down the line, and I think we can add it anyway.

[2021-02-10 15:31] #528 closed

[2021-02-10 20:52] ronag opened #547 "http2"
Adding http2 might be easier than I thought.

See, https://github.com/devsnek/snekfetch/blob/master/src/node/socket.js

[2021-02-17 10:49] humancalico commented on #251
Hey @ronag I am trying to work on this issue. Can you give me a few examples of those tests that disconnect unexpectedly like this?

[2021-02-17 14:41] jsumners opened #552 "Valid URL gets rejected"
https://github.com/nodejs/undici/blob/10486556f3a2c40a7e90851da7867d1868fb0027/lib/core/util.js#L54

The above throws for URL `https://api.census.gov/data/2019/acs/acs1/spp?get=NAME,group(S0201)&for=us:1&POPGROUP=001`.

[2021-02-17 14:54] ronag commented on #552
It is supposed to throw. What exactly are you trying to do?

[2021-02-17 15:05] jsumners opened #553 "Questions"
I am evaluating using this library since `got` is planned to be ESM only by end of 2021 and I am encountering a few questions:

1. Under what conditions does `client.request` return an error? Is it only for operational errors? Or will it return an error if the remote host returns a `404` response? If the later, is it any `4xx` or `5xx`?
2. Does `client.request` follow redirects?
3. Does `client.re

[2021-02-17 15:06] jsumners commented on #552
I was attempting a simple test:

[code]

Which I discovered I needed to refactor to:

[code]

[2021-02-17 15:17] ronag commented on #553
undici is a low level client not comparable to got. got could be built on top of undici.

1. No
2. No
3. No
4. Because the client is just a connection to a server, query parameters are for requests.

[2021-02-17 15:17] ronag commented on #552
I think you are looking for:

[code]

[2021-02-17 15:18] #552 closed

[2021-02-17 15:19] #553 closed

[2021-02-17 15:57] ronag opened #554 "disconnect event missing args"
https://github.com/nodejs/undici/pull/550#discussion_r577715865

[2021-02-17 15:58] ronag commented on #554
@Ethan-Arrowood

[2021-02-17 16:53] mcollina opened #556 "Reuse TLS sessions"
We should be reusing TLS sessions as much as possible to reduce the overhead of establishing new connections:

https://github.com/nodejs/node/blob/d345ac901caf374d0c5321dab5f72d4bfb3581b4/lib/https.js#L126,

[2021-02-18 11:55] NawafSwe opened #557 "Unknow error when Client is created."
I am trying to creating Client object to call another local server on my mahcine but it gives me the following error:  **InvalidArgumentError: invalid url**

my code is:
`
const {Client} = require('undici');
const BASE_URL = 'http://127.0.0.1:8000/';
 const options = {method: 'POST', body: {endpoint: url}};
// here throws the error;
 const client = new Client(BASE_URL);

`

[2021-02-18 15:37] ognjenjevremovic commented on #522
Hey @ronag, I see this issue is labeled as a good first issue.
I would be willing to assist on this one if that is ok and if it is not being actively worked on?

I've been following _undici_ for some time now and I'd like to contribute to the project (in any way possible).
It seems to me that this issue would be a good welcoming issue for newcomers.
I would like to ask you for more information abo

[2021-02-18 15:48] ronag commented on #522
I don’t think origin is necessary since clients now have the url property.

[2021-02-18 16:37] aayushmau5 commented on #557
Can you check again? I tried the same code and it's working for me.

[2021-02-18 16:59] NawafSwe commented on #557
Still not working I am trying to call django server locally is this allowed? I tried it with axios and it was just fine with the same url.

[2021-02-18 17:00] ronag commented on #557
That should work. I suspect you are doing something else than your example above.

[2021-02-18 17:18] NawafSwe commented on #557
I tried the request with `get` request and its works fine with get endpoints,
still cannot use client to do post request.

[2021-02-18 17:54] mcollina commented on #557
Can you please include an example we can run for both the client and the server?

[2021-02-18 19:26] NawafSwe commented on #557
Okay
**using request for get requests**
`    import {request} from 'undici';
    // using request
        const {body} = await request(endpoint);
        return body;`
      **works just fine and perfect returns a valid body**

---------------------------------------------------------------------------------
     **but using client instead for post requests it wont work for the below code**

[2021-02-18 19:30] ronag commented on #557
Client does not take url with path or query

[2021-02-18 19:31] ronag commented on #557
See the docs:

[2021-02-18 19:31] NawafSwe commented on #557
okay got it now thanks 👍🏻👍🏻

[2021-02-18 19:53] #557 closed

[2021-02-18 20:29] #554 closed

[2021-02-19 10:43] ShogunPanda commented on #553
What do you think about a PR for the n.2?

I'm thinking like adding a `maxRedirects: number` option in `undici.Client`, overridable in `client.request`.

If not provided, then undici will behave as today, for backwards compatibility.

If provided, it is the number of redirects to follow, with `0` meaning `infinite` and undici will follow the redirects according to RFCs.

If any redirects is follow

[2021-02-19 10:46] ronag commented on #553
I'm not sure I think adding redirect support is a good idea.

[2021-02-19 10:47] ShogunPanda commented on #553
Can you elaborate? So we can find a suitable solution. I had the same issue as @jsumners so I think this might be a common concern.

[2021-02-19 10:53] ronag commented on #553
undici is supposed to be a low level client which is correct and simple to maintain. I'm concerned that adding redirect support will increase complexity. It also could easily live in a separate npm package as a decorator.

Looking at https://www.npmjs.com/package/follow-redirects I'm quite concerned about complexity.

[2021-02-19 10:54] ronag commented on #553
If you think you can implement it in a simple and elegant way that is spec compliant feel free to open a PR but I can't promise we merge it. If not then maybe we can create a separate npm package based on that PR?

[2021-02-19 10:55] ronag commented on #553
@mcollina wdyt?

[2021-02-19 11:21] ShogunPanda commented on #553
A separate package might work as well. Let me explore PR first and if doesn't feel appealing l'll go for the separate package one.

[2021-02-19 18:38] #522 closed

[2021-02-20 17:49] ronag commented on #197
I have found a use case where I miss this.

[2021-02-21 08:26] s-dschro opened #560 "Performance benchmarks"
Hey guys,

first of all, great work here!
I am interested in how this client does perform vs `axios` or `got`? Do you have any benchmarks?

[2021-02-21 08:45] ronag commented on #560
`axios` and `got` are based on the core http client with some extra overhead so I would expect them to be slower than he `http - keepalive` entry below.

[code]

[2021-02-21 08:53] s-dschro commented on #560
This was also my assumption - but I guess more people would switch to this lib if there would be some form of comparison in the readme.

[2021-02-21 09:26] ronag commented on #560
@s-dschro feel free to open a PR. But I don't think they are directly comparable. got and axios are more high level libraries. I would rather encourage got and axios to switch to undici under the good. @szmarczak

[2021-02-21 19:37] #526 closed