[2021-08-17 03:54] wong2 commented on #958
I'd like to help!

[2021-08-17 03:59] wong2 commented on #958
Though I have a question: do we need to implement those browser related features such as cors, content security policy in undici fetch?

[2021-08-17 06:42] ronag commented on #958
Some of those are indeed only browser related, you can either implement them if possible or add a note explaining why we don't need to implement them and return a appropriate value or an assertion.

[2021-08-17 06:50] ronag commented on #963
The only way I see to solve the server -> client case is to buffer the data through a `File`... the `FormData` API is unfortunately synchronous.

[2021-08-17 07:05] #966 closed

[2021-08-17 07:25] ronag opened #971 "realm vs async context"
The fetch spec mentions "realm" and "relevant realm" a lot. I assume this is something similar to async context in NodeJS? Should we try to translate the API and implement accordingly?

[2021-08-17 07:25] ronag commented on #971
@mcollina wdyt?

[2021-08-17 07:30] ronag commented on #963
@mcollina wdyt? leave as is and close? I think this is something that the spec needs to solve not us.

[2021-08-17 07:43] #945 closed

[2021-08-17 07:44] ronag commented on #883
@szmarczak I believe we have landed this. Close?

[2021-08-17 07:45] ronag commented on #938
I believe we do this now... it's unclear.

[2021-08-17 07:45] #938 closed

[2021-08-17 07:45] ronag commented on #946
@szmarczak @mcollina any experience with this?

[2021-08-17 07:46] #968 closed

[2021-08-17 07:46] mcollina commented on #971
Realm is defined as https://html.spec.whatwg.org/multipage/webappapis.html#realms-and-their-counterparts.
This is not related to async context.

Unfortunately it's not possible to implement that or other things related to it. In the browser a realm is associated with a unique user/human being, i.e. it's the Window object. It's the reason why we can use this as the basics for CORS or http auth. In

[2021-08-17 07:48] ronag commented on #971
That's exactly what I was thinking! We can map a lot of the browser concepts into that e.g. current settings object, environment settings etc...

[2021-08-17 07:49] mcollina commented on #963
We should document this.

[2021-08-17 07:57] #883 closed

[2021-08-17 07:59] szmarczak commented on #946
No experience, but I'll see and let you know in a few mins.

[2021-08-17 08:05] szmarczak commented on #946
https://github.com/istanbuljs/nyc#combining-reports-from-multiple-runs

[2021-08-17 08:06] szmarczak commented on #946
I'll send a PR

[2021-08-17 08:11] mcollina commented on #971
My only worry is if this would be useful to our Node.js users. Why would somebody need that?

[2021-08-17 08:22] ronag commented on #971
Heh, good question. Let me give it some more thought.

[2021-08-17 08:34] #946 closed

[2021-08-17 09:32] szmarczak commented on #965
Still flaky

[2021-08-17 11:26] #240 closed

[2021-08-17 13:36] #963 closed

[2021-08-17 13:36] #964 closed

[2021-08-17 13:37] ronag opened #974 "Implement multipart parsing"
Our `extractBody` method is missing support for parsing `multipart/form-data` responses.

[2021-08-17 13:45] ronag commented on #974
I'm not sure who/why someone would send multipart/form-data from a server so would appreciate some requests on this. Doesn't seem to be a very useful feature.

[2021-08-17 13:48] ronag opened #975 "Node extensions"
What extension to the spec (for a "non-strict" mode) do we believe makes sense for usage in node?

Some things I can think of:

- Accept `AsyncIterable` (including `stream.Readable`) and `Iterable` as `Request` body. (https://github.com/whatwg/fetch/issues/1291)
- Accept flat raw headers array for `Headers`.
- Accept `EventEmitter` as `AbortSignal`.

[2021-08-17 13:48] ronag commented on #975
@Ethan-Arrowood @szmarczak

[2021-08-17 14:25] szmarczak commented on #975
:+1:

Why?

Why?

[2021-08-17 14:29] ronag commented on #975
Performance

Not sure. A lot of node libs seems to do this. Maybe support for node versions without AbortSignal?

[2021-08-17 14:31] szmarczak commented on #975
Have you benchmarked this already? I don't think this will matter given the overhead...

Isn't fetch already Node.js 16+?

[2021-08-17 14:35] ronag commented on #975
@Ethan-Arrowood Did some work on this. It's mostly for the cases where the headers are already in that format, e.g. node core `rawHeaders` or headers from undici core api. So I guess it's not just perf it's also compat.

[2021-08-17 14:43] szmarczak commented on #975
:+1:

[2021-08-18 07:32] ronag opened #979 "CI fail Windows 16.7"
We have a failing test with Node 16.7 on Windows.

`destroy socket abruptly`

[2021-08-18 07:32] ronag commented on #979
@szmarczak

[2021-08-18 07:36] szmarczak commented on #979
Will check this now

[2021-08-18 08:27] mcollina opened #980 "Provide hooks for APMs"
Application performance monitoring tools are used in a lot of Node.js deployments. We should provide them a way to hook into Undici internals without (or with minimal) monkeypatching.

[2021-08-18 08:29] mcollina commented on #980
Tagging @bengl and @qard... what would you like to have from undici that would make integrating this easier?

[2021-08-18 10:37] mcollina commented on #980
The approach suggested by @bengl on slack is to use https://nodejs.org/api/diagnostics_channel.html. I'm totally +1 for this.

What event would you need @bengl?

[2021-08-18 13:46] bengl commented on #980
[Here](https://github.com/DataDog/dd-trace-js/blob/master/packages/datadog-plugin-http/src/client.js) is our (datadog apm) instrumentation of the `http` module. The main things we need for tracing are:

1. When the request is started. That is, when the function to initiate a request is called. All its options should be available to the channel.
2. When the response headers are received. Right now

[2021-08-18 14:54] ronag commented on #980
You could achieve this by having a wrapping dispatcher:

[code]

[2021-08-18 14:55] ronag commented on #980
We could also just add this to `Client` so it's always there by default.

[2021-08-18 14:57] mcollina commented on #980
The goal for APMs is to not change the default dispatcher because the user could do so as well.

[2021-08-18 14:57] ronag commented on #756
I also ended up hitting this:

[code]

[2021-08-18 15:15] #975 closed

[2021-08-18 16:19] ronag opened #981 "toUSVString"
I notice node core is using `toUSVString`. I believe we should do the same. However, it's unclear what it's implementation is.... https://github.com/nodejs/node/blob/master/lib/internal/url.js#L144-L152

Also a little unclear in which places exactly we need to use it. Everywhere where we do `String(value)`?

[2021-08-18 16:20] ronag commented on #981
@szmarczak

[2021-08-18 16:35] ronag opened #982 "Code Coverage"
We need to reach much higher on code coverage:

- [x] body.js
- [ ] file.js
- [ ] formdata.js
- [ ] headers.js
- [ ] index.js
- [ ] request.js
- [ ] response.js
- [ ] util.js

To see what lines need coverage just run `npm run coverage`

[2021-08-18 16:36] ronag commented on #982
@Ethan-Arrowood if you have time could you take a look at headers and formdata?

[2021-08-18 17:23] ronag commented on #979
I've disabled to test on win32 for now

[2021-08-18 17:31] ronag opened #983 "Coverage Report CI is not working"
[code]

[2021-08-18 17:31] ronag commented on #983
@szmarczak @Ethan-Arrowood help?

[2021-08-18 17:34] szmarczak commented on #983
Looking into this

[2021-08-18 17:38] ronag commented on #983
https://github.com/nodejs/undici/pull/984 does that fix it?

[2021-08-18 17:57] trentm commented on #980
For Elastic's APM, [here](https://github.com/elastic/apm-agent-nodejs/blob/master/lib/instrumentation/http-shared.js#L126) is our instrumentation for `http.get` and `http.request`.

Mostly what @bengl said.

Yes, please. The Elastic APM may capture the request body (depending on config).

Include any 'abort' event in this as well.

[2021-08-18 20:02] #983 closed

[2021-08-18 21:21] szmarczak commented on #979
[code]

You can try the fix above. This is definitely related to libuv and I'm not good at libuv (or any kernel-related) things... `setTimeout` just delays the function to be called at the beginning of the next event loop. Twice - as I understand it, that means the code is executed after two event loop iterations.

Or you can do `{ skip: process.platform === 'win32' }`.

[2021-08-18 21:23] szmarczak commented on #981
`process.binding('url').toUSVString` ?

[2021-08-18 21:24] szmarczak commented on #981
https://developer.mozilla.org/en-US/docs/Web/API/USVString

[2021-08-19 00:06] ronag commented on #981
I think process.binding is deprecated

[2021-08-19 01:35] ronag commented on #982
https://app.codecov.io/gh/nodejs/undici

[2021-08-19 07:19] Qard commented on #980
Just a note: I'd recommend using differently named channels for each action type rather than one channel with a top-level "action" field. By making each a separate channel you are letting the consumer subscribe to actions individually and therefore have zero cost on any published events that have no subscribers.

If you have them all share a channel and differentiate with an "action" field then a

[2021-08-19 08:25] moises-marquez commented on #583
I'm facing a similar error, but with `fastify-http-proxy` which uses `undici` underneath. The server stops with an unrecoverable error when the request is suddenly closed:

[code]

[2021-08-19 16:46] Ethan-Arrowood commented on #982
Yep will do

[2021-08-19 17:37] janpio opened #988 "RangeError: WebAssembly.Instance(): Out of memory: wasm memory"
## Bug Description

We have been happy users of `undici` at @prisma for quite a while and finally found the time to upgrade to 4.x. Fundamentally everything seems to be working fine (after making sure the `llhttp` binaries are copied into our builds as well), but a specific test suite is failing with this error:

[code]

https://github.com/prisma/prisma/pull/8823
https://github.com/prisma/prisma/r

[2021-08-19 19:15] ronag commented on #988
@janpio Do you think you could try https://github.com/nodejs/undici/pull/989?

[2021-08-19 19:41] janpio commented on #988
I did, and it indeed seems to solve the problem on our side!
https://github.com/prisma/prisma/pull/8831

Awesome!

(Although I am still confused why only the code path that does _not_ really use undici runs into this... something smells funny there.)

[2021-08-19 19:45] #988 closed

[2021-08-20 07:44] ronag opened #990 "Fetch body streams are not full duplex"
The fetch spec doesn't seem to allow reading the response before the full request body has been transmitted. We are in violation with the spec here since we do allow this. Also we allow aborting the request body if the full response body has been read.

I think we should probably keep our current behavior. There doesn't seem any specific reason to why the fetch spec wouldn't allow it other than la

[2021-08-20 07:46] ronag opened #991 "Fetch request body can be async iterable"
The fetch spec does not allow async iterables as request body, we however allow it. The WHATWG doesn't seem to have anything against this per se.

Just needs to add a section in docs describing it.

https://github.com/whatwg/fetch/issues/1291

[2021-08-20 08:02] szmarczak commented on #990
I think it's full-duplex? https://github.com/whatwg/fetch/commit/3a41b6f04996d4aac13ecad5b38635827dcd0df3 https://github.com/web-platform-tests/wpt/issues/7693

[2021-08-20 08:08] #990 closed

[2021-08-20 08:14] wong2 commented on #958
I'd like to confirm what we think about `cors` related features, for example, `mode` is currently supported, while it's unimplemented in node-fetch. Do we want to support them as much as we can? Or are they unnecessary complexities?

[2021-08-20 08:21] szmarczak commented on #958
Browser-related features might be useful when used with https://github.com/jsdom/jsdom but I don't have any use case for this.

[2021-08-20 09:52] ronag commented on #958
We implement them because it's easy to just follow the spec literally.

[2021-08-20 11:39] #981 closed

[2021-08-20 11:40] #926 closed

[2021-08-20 21:56] szmarczak opened #992 "Incorrect `servername` calculation"
#1005

[2021-08-20 22:22] mcollina commented on #992
would you send a PR?

[2021-08-24 08:33] santiagoalmeidabolannos opened #996 "MockAgent don't intercept Pool requests"
Check this example based on these docs https://undici.nodejs.org/#/docs/api/MockPool?id=example-basic-mockpool-instantiation

## When
[code]

The request never gets intercepted, not sure if I am missing something here

[2021-08-24 08:47] mcollina commented on #996
It doesn't and that's the point. Just pass in the agent instead of your pool instance.
There is no monkeypatching involved.

[2021-08-24 13:07] ronag opened #998 "Fetch and GC"
The fetch standard describes [quite aggressive garbage collection expectations](https://fetch.spec.whatwg.org/#garbage-collection) which are not possible to implement in pure JS. ~~I believe we would need to have access to the actual reference count and not simply wait for GC to occur like we do atm through `FinalizationRegistry`.~~

We should at least document this discrepancy.

I'm not even sure

[2021-08-24 13:12] addaleax commented on #998
@ronag What’s the “actual reference count” here?

In native code, yes, I think this is possible, but since we’re talking about a mostly-JS implementation of fetch, that feels anything but trivial to implement.

[2021-08-24 13:14] ronag commented on #998
Whether or not the object is observable or not.

Yea, I was just assuming native code. We could maybe do it "properly" if/when we land fetch in core.

[2021-08-24 13:17] addaleax commented on #998
But that’s what GC/FinalizationRegistry tells you, no?

I think, properly done, this does work without native code – e.g. you could detect when `res.body` is GC’ed, and make the assumption that nothing will start reading from it at that point if it hasn’t already.

[2021-08-24 13:20] ronag commented on #998
Yes, but it does it lazily. In theory it might never run or it could take a very long time before it runs. The way I read the fetch spec it's expected to release the connection pretty soon after it's no longer possible to observe it.

[2021-08-24 13:21] ronag commented on #998
e.g. you might start a request every second, not consume the response body, the gc doesn't fire because memory pressure is low and you run out out socket handles or something.

[2021-08-24 13:36] ronag commented on #998
@jasnell I think you might end up with similar requirements for `File`.

[2021-08-24 13:50] ronag commented on #998
I don't know if `WeakRef.deref` returns undefined once an object is GC:d or when it's no longer observable. I would assume the former so that doesn't help either.

[2021-08-24 13:51] addaleax commented on #998
I mean, yeah, but that’s also true for any GC tracking – there’s no reason to expect that tracking on the native side would give us earlier or more reliable results.

Yeah, I understand the concern – but I don’t see a way to do that which doesn’t rely on GC, although I’m happy to be proven wrong there, of course. :) GC timing works a little differently in browsers anyway, I think, because renderin

[2021-08-24 13:53] ronag commented on #998
I don't see a solution either... do we have any possibility to tune the GC in node to better account for this? As it is now I think implementing fetch is not quite possible without adding the "you must consume or cancel the response body" constraints.

[2021-08-24 14:02] addaleax commented on #998
We’ve had conversations about that, but never came to a conclusion about *how* to do that. Browsers have predictable scheduling, Node.js doesn’t, and events can always happen at any time and there isn’t really something we can do about that in general.

To be fair – the spec indicates that the user agent *may* terminate an ongoing fetch, not that it *must*. I would still consider an implementation

[2021-08-24 14:08] ronag commented on #998
I guess that's true. Though I'm not sure that's how users would use it (unless we add an explicit note about it).

[2021-08-24 14:09] SimenB commented on #996
Hiya 👋

Currently working on migrating some code from `node-fetch`&`nock` to `undici`, and I think I'm hitting something similar to this.

I have a certificate to use, therefore I must (I think?) create a `Client` rather than using the `request` export. But then setting the global dispatcher etc doesn't seem to have an effect. Is this expected? Or is it only possible to mock requests made with the

[2021-08-24 14:31] ThisIsMissEm commented on #980
Could this also be used to provide a "debug" mode? I'm currently working on an API Client using Undici, but sometimes it seems the wrong request is being issued, and as this module doesn't support the `DEBUG` env variable, I've very little insight into the requests that undici is making, which makes development harder.

That is, for a good developer experience, we could potentially re-use the APM

[2021-08-24 15:12] mcollina commented on #996
I would recommend you to structure/test your code like the following:

1. a function that build the Client (or Pool) instance, let's call it `build()`
2. a function that takes a Client/Pool and use it to make that request, let's call it `execute()`
3. create a MockClient/MockPool and pass it to the second function, e.g. `execute(build())`

---

On a side note we probably need a way to specify thos

[2021-08-24 15:15] mcollina commented on #980
Could you open a fresh issue about this?

[2021-08-24 15:57] mcollina commented on #996
This needs better docs.

[2021-08-24 15:57] mcollina commented on #980
https://github.com/nodejs/undici/pull/1000 here is a draft PR to implement/iterate on this. I'll add the missing channels.

[2021-08-24 22:49] ThisIsMissEm opened #1001 "Improve developer experience (Debuggability)"
## Context:

In the node.js ecosystem, largely lead by express & the [debug module](https://npm.im/debug), there is the ability to turn on lower level debugging than that which you would normally use in production environments, as to gain knowledge about requests being sent and received, similar to the `NODE_DEBUG` environment variable for debugging streams, or the `DEBUG` environment variable fro

[2021-08-25 08:53] SimenB opened #1002 "Add `nock`-like "expectations" to mocks"
## This would solve...

Currently migrating from `nock` based tests to using `undici`'s built-in mocks (thank you for including those!). Our tests currently assert that no mocks that were set up was not called. We do this via checking `nock.isDone()` and sometimes `nock.activeMocks().length === 0`. `nock` ships with a few of these they call "expectations", see https://github.com/nock/nock/blob/mai

[2021-08-25 13:18] mcollina commented on #1001
Here is the PR that adds the diagnostics_channel integrations https://github.com/nodejs/undici/pull/1000. I think it would be a good place to add support for `NODE_DEBUG`.

FYI, we can just use https://nodejs.org/api/util.html#util_util_debuglog_section_callback and have it behave like Node.js core. I would recommend adding those hooks in the https://github.com/nodejs/undici/blob/main/lib/core/req

[2021-08-25 13:20] mcollina commented on #1002
This is actually a good feature to add. Would you like to send a PR?

[2021-08-25 14:30] ThisIsMissEm commented on #1001
@mcollina would you like to use the diagnostics_channel and have a subscriber to that for writing to `utils.debuglog`, and the subscriber is only registered if the debuglog is enabled?

[2021-08-25 16:04] mcollina commented on #1001
I would just use debuglog wherever needed, likely in the same place we call the diagn channel. We could possibly do it in another places as well!

[2021-08-25 16:42] #953 closed

[2021-08-30 08:38] szmarczak opened #1006 "Prioritize `host` header"
https://www.rfc-editor.org/rfc/rfc7230.html#section-5.4

Should we do this?

[2021-08-30 08:40] mcollina commented on #1006
I _thought_ we were doing this already.

[2021-08-30 08:42] szmarczak commented on #1006
`connection` is actually first

https://github.com/nodejs/undici/blob/d8b3f35b8e46d3eb471e06ddcf1727b6aa01eefa/lib/client.js#L1416-L1426

[2021-08-30 08:43] ronag commented on #1006
SGTM

[2021-08-30 08:43] szmarczak commented on #1006
Will send a PR.

[2021-08-30 09:26] #481 closed

[2021-08-30 21:29] #1006 closed

[2021-08-31 06:44] ronag opened #1010 "assertion error"
[code]

  "undici": "4.4.5"

[2021-08-31 07:13] ronag commented on #1010
happens with pipelining

[2021-08-31 07:24] mcollina commented on #1010
Did you find out why?

[2021-08-31 07:37] ronag commented on #1010
No, it's just putting it here for now so I don't forget. Don't have time to investigate atm.

[2021-08-31 09:41] rudolfbyker opened #1011 "Documentation: RequestOptions"
## Bug Description

Documentation about RequestOptions is inconsistent.

## Reproducible By

Comparing the following:

https://github.com/nodejs/undici#undicirequesturl-options-promise
![image](https://user-images.githubusercontent.com/10025342/131479955-832006c1-e304-4613-ac55-1630d6f4e6e9.png)

https://github.com/nodejs/undici/blob/main/docs/api/Dispatcher.md#parameter-requestoptions
![image](ht

[2021-09-01 10:53] #998 closed

[2021-09-03 07:00] mcollina opened #1018 "Support fetch() in Node v14 (and maybe v12)"
I think it would significantly benefit adoption of undici and  standard fetch in Node.js.

Also node-fetch moved to ESM breaking everybody, so there is definitely a way to encourage migration.

[2021-09-03 07:15] ronag commented on #1018
Do you imagine we do that by excluding web streams? i.e. we just work on async iterables?

[2021-09-03 07:16] ronag commented on #1018
Ref?

[2021-09-03 08:49] mcollina commented on #1018
From their readme https://github.com/node-fetch/node-fetch/blob/main/README.md:

---

I think just support async iterators for v12 and v14 would be fine. Unless we can see to backport web streams to v14 at least and not support v12 for fetch.

[2021-09-03 09:24] heroboy opened #1019 "Support incorrect deflate content encoding that browser is supporting"
Look at the code.
1. Use the `deflateRawSync` is not conform to the http standard. But most browser can correctly open it.
2. The error `AboutError` is not clearly.
3. I have a question. Why `undici.request` not support `deflate` encoding?

[code]

[2021-09-03 10:47] ronag commented on #1019
PR welcome

[2021-09-03 10:48] ronag commented on #1019
The `AbortError` seems like a bug. Should probably be another error.

[2021-09-03 11:52] heroboy commented on #1019
chrome code that inflecting the data:

https://source.chromium.org/chromium/chromium/src/+/main:net/filter/gzip_source_stream.cc;l=134

[2021-09-03 13:42] szmarczak commented on #1019
I'm -1 on this one. https://datatracker.ietf.org/doc/html/rfc7230#section-4.2.2

[2021-09-04 06:29] heroboy commented on #1019
But can we just add a flag, just like the `strictContentLength`.

[2021-09-06 22:41] sholladay commented on #1018
ky-universal would really benefit from `fetch()` in core supporting web streams.

https://github.com/sindresorhus/ky-universal/issues/25

[2021-09-06 22:53] szmarczak commented on #1018
To be honest I have a feeling that supporting lower versions than 16.x can end up being a blocker. If we encounter a bug that is Node.js v14-specific, patches will keep accumulating and it will be just harder to maintain. Once we reach stable I'm okay with supporting lower versions. Just my two cents.

[2021-09-07 07:20] mcollina commented on #1018
This makes sense @szmarczak!
I'll close this for now - we might reevaluate when/if Node.js v14 ships Web Streams.

[2021-09-07 07:20] #1018 closed

[2021-09-10 06:55] RuralDependencies opened #1028 "Abort request with dispatch()"
It seems that Dispatch does not support a field signal (In order to use new AbortController()), any plan to implement it?
Thanks everyone.

[2021-09-10 06:57] mcollina commented on #1028
I don't see why now.

Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-09-10 07:02] ronag commented on #1028
I'd prefer to keep dispatch simple...

[2021-09-10 07:03] RuralDependencies commented on #1028
I don't have the actual talent to implement it so I'll pass, thank you anyway. I'll find a different way to cancel using dispatch

[2021-09-10 08:55] simone-sanfratello opened #1029 "missing dependency `stream` ?"
More a question than an actual bug, looks like "stream" library is needed consuming streams, but it's not listed in dependencies

https://github.com/nodejs/undici/search?q=stream%2Fweb

Should be added to deps?

[2021-09-10 08:58] ronag commented on #1029
stream is a core node library

[2021-09-10 09:02] simone-sanfratello commented on #1029
why `require('stream/web').ReadableStream` instead of `require('stream').ReadableStream` ?

[2021-09-10 09:09] ronag commented on #1029
Because `ReadableStream` lives under `stream/web`.

[2021-09-10 09:23] #1029 closed

[2021-09-10 09:39] simone-sanfratello commented on #1029
I think the issue is that 'stream/web' is available only on v.16

[2021-09-10 09:56] #1028 closed

[2021-09-10 09:57] ronag commented on #1029
https://github.com/nodejs/undici#undicifetchinput-init-promise

[2021-09-12 08:27] #980 closed

[2021-09-13 05:59] ronag opened #1030 "Implement keep-alive max request hint support"
Refs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Keep-Alive
Refs: https://github.com/nodejs/node/pull/40082

[2021-09-13 05:59] ronag commented on #1030
@szmarczak or @dnlup?

[2021-09-13 06:07] szmarczak commented on #1030
I can take this one.

[2021-09-13 06:09] ronag commented on #1019
@mcollina wdyt? node-fetch has support for this https://github.com/node-fetch/node-fetch/blob/8b54ab4509b541dadcd2d66aa5cf0995ad54ac15/src/index.js#L258-L270

[2021-09-13 06:43] mcollina commented on #1019
I think those http servers are still around, so we should unfortunately support it.

I would mark this as "good first issue", so if somebody needs this they know they can implement it.

[2021-09-13 23:07] artur-ma commented on #1030
This is actually pretty tricky I think, u may send a lot of pipelined requests, without even receiving the first response header with a hint.

For example if u open a connection and send 10 piplined requests
only on first response u realize that it actually max=5

[2021-09-14 07:28] mcollina opened #1032 "Include all outgoing headers in diagnostics_channel"
_Originally posted by @bizob2828 in https://github.com/nodejs/undici/issues/1000#issuecomment-918462591_

[2021-09-14 07:29] mcollina commented on #1032
@bizob2828 I have created a new issue.

[2021-09-14 07:49] mcollina commented on #1032
I can see the problem mentioned in the O, in

https://github.com/nodejs/undici/blob/20ce79fc9fad1a0b9bb8e7c760a304af569dbf19/lib/client.js#L1416-L1463

there are quite a few headers that are not passed to the subscribers.

@ronag wdyt? Would you prefer I move the headers generation to the Request object, or I move the publishing to `lib/client.js`?

[2021-09-14 07:50] ronag commented on #1032
I think move the publishing to lib/client. I'd prefer if the request object didn't have a dependency on the client object.

[2021-09-14 08:58] szmarczak commented on #1030
@artur-ma That's actually a good point! The workaround could be to block until we receive the first response. There still may be a situation where we send 10 pipelined requests and in the third one we get max=4.

@ronag

https://github.com/nodejs/undici/blob/20ce79fc9fad1a0b9bb8e7c760a304af569dbf19/lib/client.js#L1009-L1012

Do we really need to use the timeout from `keep-alive` header?

https://d

[2021-09-14 09:11] ronag commented on #1030
Yes you are. The client should not send a request if the server can kill the connection before receiving the message. This is particularly bad with non-idempotent requests.

[2021-09-14 09:13] ronag commented on #1030
Regarding pipelining... I think have a request limit close to the pipelining depth is very unlikely in practice. I would be fine with having that as a known and documented limitation.

[2021-09-14 10:52] szmarczak commented on #1030
Having in mind https://github.com/nodejs/undici/pull/1031#pullrequestreview-753763022 I think we can close this one?

[2021-09-14 10:57] #1030 closed

[2021-09-14 11:05] artur-ma commented on #1030
@ronag @szmarczak

"Connection: close" and closing the connection.

If server is limiting number of requests, then piplined requests that send after "connection: close" will be not handled
what should the client do in this case?

Shouldn't it resend the requests to another connection?

E.g I send to a connection 100 request
on 99 response I got `connection: close` what will happen will happen with

[2021-09-14 11:06] ronag commented on #1030
We already do this.

[2021-09-14 11:07] bizob2828 commented on #1032
would that mean that when undici:request:create publishes events it will now publish both request and client or just request and selective things from client?

[2021-09-15 10:19] #1010 closed

[2021-09-15 23:52] artur-ma commented on #1032
can it be just new separate channel? it may tell when actual processing started, since "create" tells u when it was enqueued.
Adding new one like "started" / "processing" may solve the headers issue, and also add new indication

[2021-09-16 07:42] mcollina commented on #1032
@artur-ma I think all of those happen on the same microtick so there will be little differences minus overhead.

[2021-09-16 07:44] mcollina commented on #1032
This integrations are there to serve APMs, so if you'd like to do PRs to adjust things for you feel free to. The goal is reduce monkeypatching as much as possible (ideally none).

[2021-09-16 11:24] artur-ma commented on #1032
Im not sure about that, "create" is sent in constructor, which is called on "dispatch"
but writing to the socket happens after "connect" and/or after finding a free socket for this requests.
I suggest(I can open the PR) to send "started" right before writing the first byte to the socket.
Seeing a big gap between "create" and "started" may indicate that there is an issue with free connectiosn and m

[2021-09-20 08:04] RuralDependencies opened #1037 "highWaterMark adjustment for dispatch"
Good evening,

It seems that adding the property highWaterMark when doing a .dispatch doesn't change anything.

[2021-09-20 08:23] ronag commented on #1037
What do you expect that would do?

[2021-09-20 08:34] RuralDependencies commented on #1037
On HTTP (node) it can be specified
https://github.com/nodejs/node/issues/30107 - it has been implemented following this issue and chunks can be received in a different way.

[2021-09-20 08:38] ronag commented on #1037
Doing that on a request basis would not be possible anyway. What you can do is to provide a `connect` option that creates connection with your preferred highwaterMark.

[2021-09-20 09:58] RuralDependencies commented on #1037
Ok thank you @ronag

[2021-09-20 09:58] #1037 closed

[2021-09-20 10:39] NN-Binary opened #1039 "Clarification on using new Client()"
I would like to control my own 'keep-alive' as in re-using connections whenever I can and be in control of it, currently using the Undici.dispatch way, I would like to know how should I start? I'm thinking of re-using the same undici.Client for each hostname and put them in a Map and just retrieve them.

MAP[Hostname] = new undici.Client('https://www.google.com');

My main question is: If I'm doin

[2021-09-20 10:41] #1039 closed

[2021-09-21 21:44] szmarczak opened #1043 "Improve `FormData` constructor error message"
From https://github.com/nodejs/undici/pull/1042#discussion_r713430349

https://github.com/nodejs/undici/blob/b0ec94d1a4b679b212e441ef332eb1337ad92dbd/lib/fetch/formdata.js#L9-L17

https://github.com/nodejs/undici/blob/b0ec94d1a4b679b212e441ef332eb1337ad92dbd/lib/fetch/util.js#L287

There might be a use case where [`jsdom`](https://github.com/jsdom/jsdom) can be used 🤔
Should we change the error me

[2021-09-22 05:04] ronag commented on #1043
I was just trying to make it so that the errors are exactly the same as in chrome

[2021-09-22 06:33] szmarczak commented on #1043
Sure, but that might be confusing for jsdom users. I don't mind waiting to gather more feedback though.

[2021-09-22 06:34] ronag commented on #1043
Can we detect if it’s a jsdom html form object?

[2021-09-22 13:56] ruslan-khomiak opened #1046 "Fetch streaming zip file"
## Bug Description

I have a request to get a file as a zip stream
But when using undici-fetch, I get a success response, but there is no stream in the body

## Reproducible By

You need to try to get the file as a zip stream

## Expected Behavior

Get stream without undefined

## Logs & Screenshots

https://prnt.sc/1t8iszd

## Environment

Node 16.9.1, macOS Catalina

[2021-09-22 14:03] ronag commented on #1046
Do you have a repro?

[2021-09-22 14:15] ruslan-khomiak commented on #1046
Unfortunately, I can't provide a reproduction example because this is not a public request.
Here is the [documentation](https://developer.walmart.com/api/us/mp/reports#operation/getReconReport) for the request

[2021-09-22 14:18] ronag commented on #1046
Sorry. It's difficult to help here without more information.

[2021-09-22 15:38] KhafraDev commented on #1046
This is just an issue with how the Response is inspected:

[code]
![image](https://user-images.githubusercontent.com/42794878/134375529-96d80a2f-c670-4928-86d6-63468f01fe7b.png)
Even though it shows as undefined, everything works correctly

[2021-09-22 16:29] ronag commented on #1046
We could probably add a custom inspect m.

[2021-09-26 10:09] atian25 opened #1049 "Document: showcase for how to custom mock response"
How to access original request and headers at a mock interceptor ?

like nock:

[code]

[2021-09-27 15:25] Qard commented on #1001
`diagnostics_channel` is in v14 too. Agreed that logging, at least while diagnostics_channel is not available across all version, should probably just be done directly.

[2021-09-28 15:52] mcollina commented on #1049
I think we really need better docs for the mock support. I think these should be easily covered in our docs and they are no there.

cc @jonnydgreen

[2021-09-28 16:00] jonnydgreen commented on #1049
Agreed! I'm available to help out with this next week if that works :)

[2021-09-30 23:27] RafaelGSS commented on #952
I have been working in a sketch https://github.com/RafaelGSS/node/pull/1

[2021-10-01 23:09] jasnell commented on #952
I should be able to carve out some time next week to see what we need in node.js to make this a bit more feasible.

[2021-10-02 08:47] mandaputtra commented on #1049
I can help with this, do you want to place it on best practice or just extend the [MockAgent](https://github.com/nodejs/undici/blob/main/docs/api/MockAgent.md), MockClient, etc?

[2021-10-02 08:54] mcollina commented on #1049
up to you!

[2021-10-04 20:18] flovilmart opened #1052 "DiagnosticsChannel Request: missing the full URL"
## This would solve...

I'm attempting to implement tracing through the diagnostics channels, and we'd need to apply some filters so spans do not get started when a new request is created.

The problem is, that the request object, emitted through `'undici:request:create'` do not have any reference to the target host, protocol or full URL for that matter, only the `path` is passed through.

## The

[2021-10-05 17:08] flovilmart commented on #1052
Closed by #1053

[2021-10-05 17:08] #1052 closed

[2021-10-06 09:12] rubiagatra commented on #1049
I think this issue should be solved 🙌  @mcollina , Good job @mandaputtra

[2021-10-06 10:01] #1049 closed

[2021-10-11 13:15] RA80533 opened #1058 "Top-level functions aren't typed correctly"
## Bug Description

With the exception of `fetch`, none of the top-level functions available in the library are typed correctly for development environments wherein the TypeScript compiler option `allowSyntheticDefaultImports` is disabled; namely, they are:
- request
- stream
- pipeline
- connect
- upgrade

## Reproducible By

[code]

[Playground Link](https://www.typescriptlang.org/play?allowSynt

[2021-10-13 07:07] #1058 closed, assigned to nobody

[2021-10-14 17:27] targos opened #1061 "Test errors with Node.js 17"
See CITGM result: https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2778/nodes=fedora-latest-x64/testReport/junit/(root)/citgm/undici_v4_7_2/

[2021-10-15 07:51] mcollina opened #1062 "Max number of requests per Client"
We have recently added `maxRequestPerSocket` to the HTTP/1.1 server in core.
I think we should add an equivalent here for the client: https://nodejs.org/api/http.html#http_server_maxrequestspersocket

[2021-10-15 09:19] jimmywarting commented on #974
I think it seems useful, i mean https://www.npmjs.com/package/form-data has 4.5M download / week

[2021-10-15 11:12] targos commented on #1061
Some are also due to the OpenSSL update:

[code]

[2021-10-15 11:12] mcollina commented on #1061
I cannot reproduce that locally using -rc.1.

[2021-10-15 11:16] mcollina commented on #1061
The OpenSSL error looks suspicious and to be investigated. It does not reproduce on the two machines I have available (Mac and Linux)

[2021-10-15 13:19] SimenB commented on #1002
Cool! I'll see if I can find the time this weekend or next week 🙂 But just to make sure the design is _somewhat_ ready:

This is nock's implementation:
https://github.com/nock/nock/blob/83131b796e2e1ca16bc9563c1aea4555d7da5162/lib/scope.js#L138-L170

Their docs says that "You probably don't need to use this" about `activeMocks()` and the `isDone` and `done` is just `pending().length === 0` with an

[2021-10-15 16:42] SimenB commented on #1002
Cool, I'll go for some exploratory approach then and see where we land 👍

[2021-10-18 10:05] mcollina opened #1065 "Improve BalancedPool balancing algorithm"
Currently `BalancedPool` use a simple round robin algorithm if the target upstream is not available.

A more nuanced algorithm could easily produce better  performance.

This is a good paper describing a better algorithm: http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.863.3985&rep=rep1&type=pdf.

[2021-10-18 10:13] ronag opened #1066 "Balanced Pool DNS lookup"
It would be useful if balanced pool would do a dns lookup on non ip upstreams to loadbalance between all ips in the dns record.

[2021-10-19 12:05] jodevsa commented on #1065
@mcollina what is the reason behind introducing the balancedPool? Is it to support distributing the requests to multiple upstreams?

[2021-10-19 12:35] mcollina commented on #1065
Yes exactly. There can be a few situations where deploying a separate load balancer in front of a pool of services is not an option.

[2021-10-22 15:39] dominykas opened #1071 "Use pkgjs/action for CI to auto-upgrade to latest nodes"
(Not following a template - this is more of a chore, not a bug or a feature)

The [CI workflow](https://github.com/nodejs/undici/blob/main/.github/workflows/nodejs.yml) used here is almost identical to a standard Node.js library testing pattern (checkout, `npm install`, `npm test`).

As part of [Package Maintenance WG](https://github.com/nodejs/package-maintenance), I've recently created [`pkgjs/a

[2021-10-24 18:41] KhafraDev opened #1072 "TypeError when redirect is set to 'manual'"
## Bug Description

A TypeError is thrown when using { redirect: 'manual' } (this did work in older versions)

## Reproducible By

[code]

## Expected Behavior

No TypeError

## Logs & Screenshots

[code]

## Environment

Windows 10, node v16.11.0, undici v4.8.1

### Additional context

without much debugging the status is set as 0 so I suspect it's never updated from its default value for some re

[2021-10-25 18:54] ronag opened #1073 "Uncaught RangeError: WebAssembly.Compile is disallowed on the main thread, if the buffer size is larger than 4KB"
[code]

[2021-10-27 14:15] #1072 closed, assigned to nobody

[2021-10-29 10:04] #1073 closed, assigned to nobody

[2021-10-29 15:43] mcollina opened #1079 "TypeScript tests failing"
[code]

in https://github.com/nodejs/undici/runs/4048461715?check_suite_focus=true

[2021-10-29 16:46] #1079 closed, assigned to nobody

[2021-11-01 08:48] jodevsa commented on #1065
@delvedor

Regarding

https://github.com/elastic/elastic-transport-js/blob/main/src/pool/WeightedConnectionPool.ts#L54

I believe this assumption is wrong.

Lets say you have 3 servers with the following weights [90,10]:

So it will need 8 iterations to go from currentWeight=90 to currentWeight=10.

This is why the algorithm mentioned in the table uses an infinite loop.

[2021-11-02 23:04] deadbeef84 commented on #992
This is broken since 94ab02df631fd97f45ea144175016684de8f4637

[code]

[code]

IP addresses may not be valid server names, but the certificate has SAN entries with IP adresses that matches the host IP, which should make the request/cert valid.

[code]

I'm not sure how that should work with http/2.

[2021-11-03 06:43] ronag commented on #992
@szmarczak any ideas how to fix?

[2021-11-03 19:21] #992 closed

[2021-11-04 14:17] dominykas opened #1085 "Tests failing under Node.js 17"
## Bug Description

Ran tests under Node.js 17, got the following:

[code]

See also in actions: https://github.com/dominykas/undici/runs/4105824000?check_suite_focus=true#step:10:10005

## Reproducible By

`npm t`

## Expected Behavior

✅

## Logs & Screenshots

<details>
<summary>Full stack traces</summary>

[code]

</details>

## Environment

Node.js 17.0.1 on Linux and macOS

### Additional co

[2021-11-06 21:17] Taelyn opened #1087 "export exception when packed with Nexe"
## Bug Description

TypeError: Cannot destructure property 'exports' of 'undefined' as it is undefined.
    at new Parser (xxxx\node_modules\undici\lib\client.js:494:34)
    at connect (xxxx\node_modules\undici\lib\client.js:1175:23)

TypeError: Cannot read properties of undefined (reading 'timeoutType')
    at _resume (xxxx\node_modules\undici\lib\client.js:1280:29)
    at resume (xxxx\node_modul

[2021-11-07 11:17] mcollina commented on #1087
I have a feeling this was a side effect of https://github.com/nodejs/undici/pull/1077.

@Taelyn could you include instructions to reproduce the problem? A script would be perfect.

[2021-11-07 11:59] Taelyn commented on #1087
Hi,

narrowed it down that v4.8.0 is the last one it worked. on first iam getting this error on 4.8.1

Error: ENOENT: no such file or directory, open 'xxxx\node_modules\undici\lib\llhttp\llhttp.wasm'

And after the pull you mentioned iam getting the error above

Its a DiscordBot here is my command:
[code]
npm script i use to build with nexe to convert my code to a .exe
[code]

[2021-11-07 12:05] mcollina commented on #1087
It seems
nexe is not bundling the wasm file .

[2021-11-07 12:36] Taelyn commented on #1087
Is this a nexe problem? as on v4.8.0 it all works fine?
Any way it can be fixed? For now i will stay on 4.8.0

[2021-11-07 16:19] mcollina commented on #1087
I think it could be fixed.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-11-07 17:32] Taelyn commented on #1087
ill try :)

[2021-11-11 07:45] ronag commented on #1071
@dominykas any progress?

[2021-11-11 07:46] ronag commented on #1046
I'm closing this. Feel free to open a PR with custom inspect.

[2021-11-11 07:46] #1046 closed

[2021-11-11 07:48] #1043 closed

[2021-11-11 07:50] #979 closed

[2021-11-11 07:50] #965 closed

[2021-11-11 07:51] #915 closed

[2021-11-11 07:52] #756 closed

[2021-11-11 07:53] #444 closed

[2021-11-11 07:53] #445 closed

[2021-11-11 08:02] dominykas commented on #1071
@ronag I'll open a PR shortly, but it will be failing in CI, because of #1085.

I'll try to build a feature in `pkgjs/action` where node 17 would be marked as `experimental` in the matrix, but it could take up to two weeks to find the time for it.

[2021-11-12 00:45] gzuidhof opened #1094 "Inconsistency with undefined `status` (and maybe `statusText`)"
## Bug Description
In the `ResponseInit` body one should be able to pass `status: undefined` to have behavior akin to the browser API, in which case the status should become 200 instead of throwing an error

## Reproducible By
[code]
## Expected Behavior
No error, and the status is 200 for the `Response`.

[2021-11-12 08:59] #1071 closed

[2021-11-12 16:43] tranzium opened #1095 "formData.keys, .entries is not a function"
## Bug Description

When using request.formData() and obtaining a FormData object, both the "entries" and "keys" methods are not found.

## Reproducible By

[code]

## Expected Behavior

console.log("entries" in formData); // true
console.log("keys" in formData); // true

## Environment

`miniflare --version // 2.0.0-next.3`

### Additional context

https://github.com/cloudflare/miniflare/issues/9

[2021-11-12 18:26] trevh3 opened #1096 "Cannot destructure `new undici.Client()`"
## Bug Description
[code]

fails with `UnresolvedPromiseWarning: Cannot read property 'dispatch' of undefined. `

## Expected Behavior

I expected to be able to destructure Client.

## Logs & Screenshots

## Environment
macOS 11.6, Intel Mac, nodeJS 12.22.7 & nodeJS 16.11.1

[2021-11-12 19:14] ronag commented on #1096
That's expected. You cannot destructure like that in javascript.

[2021-11-12 21:12] #1096 closed

[2021-11-13 17:50] #1095 closed

[2021-11-14 20:07] AlbertSPedersen opened #1098 "HTTPInvalidHeaderValueError does not exist, causing normalizeAndValidateHeaderValue() to throw an error when a header is to undefined"
## Bug Description

The `HTTPInvalidHeaderValueError` class does not exist. This results in an error when a header is set `undefined` because `normalizeAndValidateHeaderValue()` is calling the nonexistent constructor.

## Reproducible By

Creating a `new Response` with a header set to `undefined`.

## Expected Behavior

Header should be set to `"undefined"`.

## Logs & Screenshots

![image](https:

[2021-11-14 20:26] WalshyDev commented on #1098
HTTPInvalidHeaderValueError is supposed to exist in `core/errors.js` as per: https://github.com/nodejs/undici/blob/39aca4a7c29ee0d59ee04da3b50f2ff9b03dd525/lib/fetch/headers.js#L9-L12

Headers will wrap the passed value in a string before normalizing (therefore resulting in `'undefined'` and not throwing the error) - https://github.com/nodejs/undici/blob/39aca4a7c29ee0d59ee04da3b50f2ff9b03dd525/li

[2021-11-17 07:58] #930 closed

[2021-11-17 08:17] #1094 closed

[2021-11-18 05:42] #982 closed

[2021-11-18 10:13] ronag commented on #939
@benjamingr weak listeners would be nice here :D

[2021-11-19 01:49] vlovich opened #1102 "Potentially incorrect validation of 204 response body?"
## Bug Description

If returning a 204 Response object, undici will throw an exception if body is the empty string rather than null. I'm not 100% clear on if this is the correct behavior.

## Reproducible By

[code]

## Expected Behavior

No exception is thrown.

## Logs & Screenshots

[code]

## Environment

Node 16.11.1 on Arch.

### Additional context

[2021-11-19 17:42] szmarczak commented on #1102
This works as expected. `204` is no content, therefore you need to provide `null` instead of an empty string.

[2021-11-19 17:42] #1102 closed

[2021-11-19 17:45] ronag commented on #1102
![Screenshot 2021-11-19 at 18 44 51](https://user-images.githubusercontent.com/3065230/142667747-4f32ede5-9d0c-49d3-a648-ee2898d8332f.png)

Yep, same failure in Chrome.

[2021-11-21 07:40] cjh980402 opened #1108 "undici fetch has memory leak"
## Bug Description

When I use node-fetch or axios, then there are no memory leak like under screenshot.
However, I found memory leak when I use undici.fetch.

## Reproducible By

I made request about 50 times~200times then I found that memory leak easily.

## Expected Behavior

there are no memory leak.

## Logs & Screenshots
![image](https://user-images.githubusercontent.com/23624124/142753799-b

[2021-11-21 07:50] ronag commented on #1108
Do you have a repro?

[2021-11-21 08:51] cjh980402 commented on #1108
[code]

It has this result.
![image](https://user-images.githubusercontent.com/23624124/142755753-7137db66-97ee-46e4-baf0-6651b01e6a96.png)
There are some memory leak so finally memory usage is increased.

[2021-11-21 09:21] mcollina commented on #1108
At first glance, your code behaves more or less how I expected.

(I should probably spend some time in documenting how this happen - however I'm a bit short on time right now).

[2021-11-21 10:56] mcollina commented on #1085
This seems fixed

[2021-11-21 10:56] #1085 closed

[2021-11-22 08:42] dominykas commented on #1085
I think it was ignored in https://github.com/nodejs/undici/commit/c5b7d03d9fbe958a6620c2ca33304f0a32be642a rather than fixed per se?

[2021-11-22 12:59] mcollina commented on #1085
Apparently so. I don't see much of a problem for that in the short term.

[2021-11-25 02:26] Artrix9095 opened #1111 "undici fetch blob and array buffer doesnt work"
## Bug Description

When I try to make a fetch request to, lets say an image, I get a weird error saying that the blob/array buffer was disturbed
![image](https://user-images.githubusercontent.com/39530102/143366590-aa9fee2c-1899-4867-aecb-8a815dbb6be9.png);
the weird thing is, if I run the same code in the browser, it works fine.

## Reproducible By

[code]

## Expected Behavior

It just gives me

[2021-11-25 08:23] ronag commented on #1111
Can you try with Node 16.13? I just tried your example and it works fine.

What undid version?

[2021-11-25 21:31] Artrix9095 commented on #1111
undici fetch doesnt work with node 16.13 right? in the index file it only exports if the node version is **above 16.5**.

[2021-11-25 22:12] mcollina commented on #1111
It works! 13 > 5

[2021-11-25 22:20] Artrix9095 commented on #1111
Just tried, still not working, weird

[2021-11-25 22:22] Artrix9095 commented on #1111
![image](https://user-images.githubusercontent.com/39530102/143504402-e1caedfc-5000-4a05-bd68-8fb8c9cd0f0a.png)

[2021-11-25 22:27] Artrix9095 commented on #1111
I just noticed that im not using that exact code, heres the one that I ran in the above screenshot
[code]

[2021-11-26 09:00] mcollina commented on #1111
You are calling both `.json()` and `.arrayBuffer()` and they both consume the response. You can only consume it once.

[code]

[2021-11-26 20:47] Artrix9095 commented on #1111
Thank you, this works.

[2021-11-26 20:47] #1111 closed

[2021-11-28 12:37] sveisvei opened #1115 "`req.socket` being null, but external library might expect it do be defined"
## Bug Description

Experiencing `req.socket` being null: https://github.com/elastic/apm-agent-nodejs/blob/6a540301619ed21abb9f2accb8de98ba516f3531/lib/parsers.js#L23 and this code is throwing as a result.

[code]

The offending line in undici, is.
https://github.com/nodejs/undici/blob/2917daa7887b698732393e0929b006acafc47709/lib/core/util.js#L166

## Reproducible By

If e.g. https://github.com/el

[2021-11-28 17:08] mcollina commented on #1115
I'm sorry @sveisvei but the bug is in the Elastic APM Agent, not this library.

@delvedor could you help routing this problem to whoever is working on that?

[2021-11-28 18:26] delvedor commented on #1115
Hello! This is the tracking issue for undici's instrumentation :)

https://github.com/elastic/apm-agent-nodejs/issues/2383

[2021-11-28 19:47] sveisvei commented on #1115
Thank you for such a quick response.

node.js api documentation says request.socket should always be there, so nullifying will maybe break that assumption https://nodejs.org/dist/latest-v16.x/docs/api/http.html#requestsocket

[2021-11-28 20:04] mcollina commented on #1115
I'm pretty sure that will be null in a few cases (see https://github.com/nodejs/node/blob/265a47d680077945e49578f4cb0decc772ff8058/lib/_http_server.js#L250).

The doc is not correct/out of date and it has been for quite some time :(.

cc @ronag.

[2021-11-29 07:58] ronag commented on #1115
Moved to node https://github.com/nodejs/node/issues/41011.

[2021-11-29 07:58] #1115 closed

[2021-11-29 22:48] michael-melodyarc opened #1116 "[fetch] network errors are wrapped in static 'fetch failed' error"
## Bug Description

This is more a question than a bug, but given the only other option was feature, opted to file it under bug.

I was looking at some logs earlier today and was a bit surprised to see `fetch` was wrapping errors rather than throwing the underlying network error.  I didn't see anything in documentation about behavior, and I don't believe there is anything specific in the spec, so

[2021-11-30 06:22] ronag commented on #1116
Unfortunately this is how fetch behaves in Chrome and we want to try to mimic that as close as possible.

[2021-11-30 07:07] michael-melodyarc commented on #1116
Ah, interesting. I actually checked it in Firefox before posting to see if it did the same, and it didn't, but didn't think to check in Chrome. even though that'd make more sense since V8 and all :P Is it possible to go the append message to the wrapped error route, or would that still constitute breaking the mimic Chrome part?  Is having strictly static text of `fetch failed` the part you're tryi

[2021-11-30 07:10] ronag commented on #1116
If you can confirm that chrome does it differently then I’m happy to change it.

[2021-11-30 08:49] mcollina commented on #1116
@ronag I think we can set the original error as `err.cause` property.

Wdyt?

[2021-11-30 09:24] ronag commented on #1116
@mcollina I think we already do that?

[2021-11-30 09:27] mcollina commented on #1116
My bad. It's all ok then, we should close this :(.

[2021-11-30 18:13] trentm commented on #1115
@sveisvei  Thanks. I've opened https://github.com/elastic/apm-agent-nodejs/issues/2479 to fix this. I'd love to get some more details from you there to help me reproduce, if you are able.

[2021-11-30 20:01] michael-melodyarc commented on #1116
I think Chrome technically returns a `TypeError` with a message of `Failed to fetch` rather than `fetch failed`, but ultimately doesn't really matter, haha.  Are there any plans or intentions to possible break away from Chrome for behavior that's perhaps not intuitive, or is adherence to Chrome one of the higher level priorities?  Thanks.

[2021-12-01 10:16] ronag opened #1117 "some kind of dump helper?"
This is a common helper function we use when we don't care about the content body. I'm thinking it would be nice to somehow integrate with out API?

[code]

This is better than `res.on('error', () => {}).destroy()` since it lets the socket stay alive.

[2021-12-01 10:17] ronag commented on #1117
Another way to achieve similar behavior with `res.on('error', () => {}).destroy()` would be that undici internally tries to read more of the response before closing the socket in order to try and detach the socket from the response body before destroy.

[2021-12-01 10:24] mcollina commented on #1117
This will be helpful, yes!

[2021-12-01 10:38] ronag commented on #1117
@mcollina How do you think it should look? Another method `BodyReadable`, i.e. `BodyReadable.dump`?

[2021-12-01 11:31] mcollina commented on #1117
Yes exactly. I would make the limit configurable.

[2021-12-02 19:56] srenault opened #1119 "Encoding issue"
## Bug Description

For a single request, which as always the same response, I'm having an encoding issue that appears only from time to time.
In the response, I'm having this character � instead of special characters like `é` or `à` etc...
The encoding issue doesn't appear for all special characters in the response.
Over the time, it's not always the same characters that are impacted by the encod

[2021-12-03 04:55] koh110 commented on #1119
We have same issue.

I think this problem is due to the lack of consideration for multibyte characters.

This is my reproduction code.

[code]

It looks like the bug will be fixed if you fix this.

[code]

test code

[code]

Can I sent PR? @ronag @mcollina (you look like an active maintainer. Please let me know if there is an appropriate destination.)

[2021-12-03 07:36] mcollina commented on #1119
Thanks for producing this example.

I think this is a bug in Node streams and we got a reproduction.

The proposed fix is correct but significantly slower than the string-based alternative :(.

[2021-12-03 07:37] mcollina commented on #1119
Anyway, a PR will be highly welcomed.

[2021-12-03 07:38] mcollina commented on #1119
Does uncommenting `body.setEncoding('utf8')` fix the problem?

[2021-12-03 07:42] koh110 commented on #1119
I thought it was caused by `body.setEncoding('utf8')` too. But unfortunately that didn't fix the problem 😢

[2021-12-03 07:43] koh110 commented on #1119
I will try to create a PR for the time being. I would be grateful if you could review it.

[2021-12-03 08:14] #1119 closed

[2021-12-03 09:42] #1117 closed

[2021-12-03 15:14] Ethan-Arrowood commented on #1108
It would be valuable to try to reproduce this issue with just `undici.request` to isolate the issue to the fetch implementation.

Some areas within fetch it could happen is in the Body Mixin. We should ensure that once something like `.text()` is awaited that the stream is closed and destroyed.

[2021-12-03 21:06] bienzaaron opened #1121 "Incompatibility between undici fetch and MockAgent"
## Bug Description

When using fetch and attempting to intercept requests via the MockAgent, the object passed to the body request matcher is an async generator rather than a string as documented [here](https://undici.nodejs.org/#/docs/api/MockPool?id=parameter-mockpoolinterceptoptions). When using request, the behavior is as documented.

## Reproducible By

### Code
[code]

## Expected Behavior

[2021-12-04 03:36] skidman123 commented on #862
SOCKS5 support would be so useful

[2021-12-04 09:55] mcollina commented on #1108
@Ethan-Arrowood My understanding is that there is no issue. All the requests are still referenced in the array and they can't be collected.

[2021-12-04 11:19] mcollina commented on #1121
Thanks for reporting. In theory this should work :/

@ronag have you got any hint on how fetch could be hitting the dispatcher with different parameters than request?

[2021-12-04 19:59] ronag commented on #1121
fetch converts it to a async iterable in order to follow the spec.

[2021-12-04 20:13] mcollina commented on #1121
The routing to the mock happens before the body even exists, it's likely something in the arguments passed to dispatch.

[2021-12-04 20:22] ronag commented on #1121
I don't follow.

The body is created:

https://github.com/nodejs/undici/blob/main/lib/fetch/index.js#L1450-L1503

and then dispatched to the mock agent https://github.com/nodejs/undici/blob/main/lib/fetch/index.js#L1618

[2021-12-05 13:33] sveisvei commented on #1115
@trentm I can test when you have released your fix :).

The error for me happened when the remote `undici` was connecting with aborted a request, and did not trigger this error 100% of time as well, which is interesting.

[2021-12-05 16:37] payellodevsupport opened #1122 "Cannot clone Response with null body"
## Bug Description

Cannot clone Response with null body

## Reproducible By

[code]

## Expected Behavior

Response to be cloned successfully

## Logs & Screenshots

[code]

## Environment

Windows 10, Node v16.13.0

### Additional context

[2021-12-06 08:08] #1122 closed

[2021-12-06 09:24] koh110 opened #1125 "client.request throws Error with setEncoding"
## Bug Description

`client.request` throws an error when `body.json()` & `body.text()` are called with `setEncoding`.

## Reproducible By

[code]

[code]

## Expected Behavior

## Logs & Screenshots

## Environment

Node.js v16.13.1
undici v4.11.0

### Additional context

`chunk` is converted to a string by StringDecoder only when consumeStart is executed.

[code]

[code]

I think that this code

[2021-12-06 10:29] ronag commented on #1125
Is this the right way to fix it?

Just check if elements in body are string or Buffer and concat accordingly.

[2021-12-06 11:39] koh110 commented on #1125
I think that mixing strings and buffers could result in data loss at chunk boundaries.
Isn't this a problem?

Then it seems that it can be made simple.
[code]

[2021-12-06 11:40] ronag commented on #1125
I think that would work.

[2021-12-06 11:43] koh110 commented on #1125
okey. I'll do test & create PR.
Thanks.

[2021-12-06 21:44] mcollina opened #1126 "Create a SECURITY.md file"
Copy the content from https://github.com/nodejs/node-gyp/blob/master/SECURITY.md.

[2021-12-07 05:45] koh110 commented on #1125
@ronag
I tested this code.

[code]

The first reproduction code now works with this fix.

But this reproduction code doesn't work.

[code]

[code]

It looks like the first few bytes are lost. So I think we need another way.

[2021-12-07 09:04] ronag commented on #1125
I you open a PR with the tests then we can collaborate on it.

[2021-12-07 09:19] koh110 commented on #1125
OK. Thanks.
I'll open PR.

[2021-12-07 23:30] trentm commented on #1115
@sveisvei elastic-apm-node@3.26.0 is now published (https://github.com/elastic/apm-agent-nodejs/pull/2505) with the fix, if you would like to upgrade/test. Thanks.

[2021-12-08 17:58] ronag commented on #1108
@cjh980402 can you try again with the latest release?

[2021-12-08 18:06] #1126 closed

[2021-12-08 18:12] ronag commented on #1121
@mcollina this looks more like a bug in the mock code... which I unfortunately don't fully understand atm.

[2021-12-09 08:55] dheeraj-varshney opened #1135 "tcp connections taking too long to close"
## Bug Description

We recently migrated our http client from `request-promise-native` to `undici` on our GraphQL server. We have observed significant performance gains :tada:.

- Our GraphQL server connects through upstream micro-services through HTTP connection.
- After this migration we observed that connections between GraphQL and upstream services are not draining on regular interval.
- Upstr

[2021-12-09 09:45] ronag commented on #1135
I think this is more of server thing. undici follows the keep alive hints that the server provides.

[2021-12-09 09:46] ronag commented on #1135
You can try setting the `maxKeepAliveTimeout`

[2021-12-09 09:49] KnorpelSenf commented on #1018
I don't know much about undici and I'm interested in this. Are the availability of web streams the only thing that prevents fetch from working under Node 14? If so, can I just shim them and use it on 14 anyway?

[2021-12-09 09:51] ronag commented on #1018
You can either shim web streams and/or add an option where node streams are used instead of web streams.

[2021-12-09 09:51] ronag commented on #1018
Maybe you/we could use https://www.npmjs.com/package/web-streams-polyfill?

[2021-12-09 09:53] #1062 closed

[2021-12-09 09:55] KnorpelSenf commented on #1018
You mean PR against undici? Does this have a chance of getting merged?

[2021-12-09 09:57] dheeraj-varshney commented on #1135
@ronag Both these fields doesn't exist in the options for request method. How do you suggest I should use these?

[2021-12-09 10:10] mcollina commented on #1135
These options are set on the Agent, see https://undici.nodejs.org/#/docs/api/Agent.

I think we should provide some sample configs for these. @ronag We might even think of lowering the default keepalivetimeout to 1s or 500ms.

[2021-12-09 10:17] ronag commented on #1018
I'd say 50/50

[2021-12-09 12:29] smehta91 commented on #1135
@mcollina @ronag Are we doing any kind of DNS caching internally?

[2021-12-09 12:30] ronag commented on #1135
Nope

[2021-12-09 14:53] cjh980402 commented on #1108
![image](https://user-images.githubusercontent.com/23624124/145418778-398e9d82-a165-4933-976a-34bf7f55c49a.png)
As a result of testing, it is much more stable than the previous version.
However, I will have to wait and see the situation by applying it to the actual application.

[2021-12-09 18:02] loynoir opened #1136 "Add `web-streams-polyfill`, so node14 can use `undici.fetch`"
## This would solve...

node14
[code]
node16
[code]

## The implementation should look like...

[code]

## I have also considered...

## Additional context

[2021-12-09 18:07] mcollina commented on #1136
would you like to work on this? It  might be quite an endeavor considering certain edge cases of fetch.

[2021-12-09 18:32] KnorpelSenf commented on #1018
At random? If I should contribute this, it helps to know what a successful merge depends on.

[2021-12-09 18:57] loynoir commented on #1136
<details>
  <summary>require hook</summary>
  <p>

[code]
  </p>
</details>

Just try a require hook using `node-abort-controller` and `web-streams-polyfill/ponyfill`, got

[code]

No idea what is going on. 😔

---

My use case is constructing a `Response` from `ReadableStream`. This require hook works.

[2021-12-09 18:57] #1136 closed

[2021-12-10 18:46] szmarczak opened #1137 "Unexpected `ERR_INVALID_STATE` error"
[code]

[code]

[code]

/cc @ronag

[2021-12-10 18:57] ronag commented on #1137
checking

[2021-12-10 19:32] kyrylkov commented on #1108
I can confirm memory leak still present.  The issue is here https://stackoverflow.com/questions/70301834/node-js-non-heap-memory-leaks

As soon as we replace undici with node-fetch, the issue disappears.

[2021-12-10 19:42] ronag commented on #1108
@kyrylkov: Can you show how you use fetch?

[2021-12-10 19:43] kyrylkov commented on #1108
@ronag There are multiple cases.  Let me collect some.

[2021-12-10 19:43] ronag commented on #1108
Can you try with this branch? https://github.com/nodejs/undici/tree/finalization

[2021-12-10 19:55] kyrylkov commented on #1108
[code]

[code]

[code]

[code]

[2021-12-10 19:57] kyrylkov commented on #1108
Trying....

[2021-12-10 19:59] ronag commented on #1108
[code]

You need to consume the response.

[2021-12-10 20:00] kyrylkov commented on #1108
@ronag Alright. But this cannot cause the leak cause this specific code is called once per week at most.

[2021-12-10 20:28] kyrylkov commented on #1108
@ronag GC pauses immediately got at least 2x worse.  Need more time to see if memory leak is still present.

[2021-12-10 21:18] kyrylkov commented on #1108
@ronag  It's leaking again.

![imagen](https://user-images.githubusercontent.com/6225870/145642492-432edaf6-15f6-4f58-844c-7a01483c2848.png)

[2021-12-11 00:00] mcollina commented on #1108
The following does not leak memory:

[code]

[2021-12-11 07:33] kyrylkov commented on #1108
@mcollina The leak we're observing is non-heap memory, so my understanding the test above wouldn't show it.

[2021-12-11 08:31] mcollina commented on #1108
Could you please include a test to reproduce?

What's exactly is the scale of those graphs?

What's the output you're seeing when Node is giving you the out of memory error?

[2021-12-11 08:34] kyrylkov commented on #1108
@mcollina We don't have a test because it's a big app and we've been chasing non-heap memory leak for weeks.   We seem to isolate the cause to undici fetch vs node-fetch.  Total memory on the chart in the Stack Overflow question is 768MB.   We would need to allow it to crash again to see exact out of memory error.

[2021-12-11 08:51] mcollina commented on #1108
The finalization branch linked above should fix/resolve it. This is actually pretty bad and possibly a reason to not be spec-compliant @ronag and drop the FinalizationRegistry.

[2021-12-11 08:55] kyrylkov commented on #1108
@mcollina What we can and will do next week is try to run for 24 hours with undici fetch, recording memory and GC profiles and then another 24 hours with node-fetch.  That should answer lots of questions.

[2021-12-11 09:00] mcollina commented on #1108
We really need a way to reproduce the problem it we want to fix it.

[2021-12-11 22:50] michael-melodyarc opened #1140 "[Regression] #fetch() is now returning generic `terminated` error message in some cases"
## Bug Description

It seems like `#fetch()` is returning different (i.e. less useful) error messages starting in `4.11.2`.  I'm not exactly sure which change caused it or if it was intentional, but it's now just returning a super generic `terminated` error message in some cases.  Is there any way to access the root cause / detailed description of `getaddrinfo ENOTFOUND not-real-subdomain.github23

[2021-12-12 11:40] ronag commented on #1140
We follow the spec quite literally. We do implement diagnostic channels which might help getting more useful information.

[2021-12-12 12:13] #1140 closed

[2021-12-12 20:39] michael-melodyarc commented on #1140
@ronag - Can you confirm whether these types of changes are considered bugs/regressions in terms of version bumps?  Even though this change seemingly aligned with spec, it still seems to be a borderline breaking change.

Would you also happen to have a link to the spec where it states the error message must be XYZ?  I understand this project's goal of matching the behavior of Chrome, but intention

[2021-12-13 10:54] ronag commented on #1140
Anything that is beyond the spec is IMO not breaking. Anyway, I don't know if you noticed. We've actually fixed this now so that the error is forwarded in cause. I can cut a release for you it it's urgent.

[2021-12-13 12:01] ronag commented on #1140
If you want please open a PR to test for this behaviour and that way we are less likely to change this again.

[2021-12-13 14:17] ronag opened #1141 "Spec changes"
Spec changes that we have to apply:

- [ ] https://github.com/whatwg/fetch/commit/ed6221d33338d1046574e81fb9d18f4fc2a35600
- [ ] https://github.com/whatwg/fetch/commit/8e4553bcc338fd6db98cc6ba60fc03cea48fad4c
- [ ] https://github.com/whatwg/fetch/commit/02b2e8efdebfdb2e4d34b47587bf7b4d2d45791b
- [ ] https://github.com/whatwg/fetch/commit/8659a25e2dcad911a372f74ac70b60607a264e42

[2021-12-13 18:43] loynoir opened #1144 "`TypeError: fetch failed` when 302"
## Bug Description

## Reproducible By

[code]

## Expected Behavior

[code]

## Logs & Screenshots

## Environment

### Additional context

[2021-12-13 18:59] loynoir commented on #1144
Sorry, my fault, seems temporary network failure

[2021-12-13 18:59] #1144 closed

[2021-12-13 19:54] michael-melodyarc commented on #1140
Thanks for the fix, and not urgent, but appreciate the offer.  I'll definitely make a mental note to see if I can loop back to this sometime in January to add a few tests.  Thanks!

[2021-12-14 08:02] #1137 closed

[2021-12-14 08:02] ronag commented on #1141
@KhafraDev which one of the above do we need to check off?

[2021-12-14 08:03] #939 closed

[2021-12-14 14:38] KhafraDev commented on #1141
@ronag 2nd (https://github.com/whatwg/fetch/commit/8e4553bcc338fd6db98cc6ba60fc03cea48fad4c) and 4th (https://github.com/whatwg/fetch/commit/8659a25e2dcad911a372f74ac70b60607a264e42)

[2021-12-14 16:36] loynoir opened #1146 "Question: Does undici.fetch support RFC 7234?"
## This would solve...

## The implementation should look like...

https://www.npmjs.com/package/http-cache-semantics

RFC 7234
RFC 5861

## I have also considered...

## Additional context

[2021-12-14 17:40] loynoir commented on #1146
https://github.com/sindresorhus/got/blob/HEAD/documentation/cache.md
[code]

Maybe something like this
[code]

[2021-12-15 17:59] selbstmord commented on #1108
hi!

index.js:
[code]

worker.js
[code]

result:

[code]

memory usage continues to go down

[2021-12-15 18:12] mcollina commented on #1108
I have tested this for about 10 minutes. Eventually it stabilizes but it degrades pretty sharply.
My understanding is this is somewhat related to the FinalizationGroup handling that we do with fetch() to handle some of the spec-required stuff.

@ronag I think we might want to remove it.

[2021-12-15 18:23] ronag commented on #1108
But we removed that?

[2021-12-15 19:09] mcollina commented on #1108
It seems it's still there: https://github.com/nodejs/undici/blob/50fa51bfaa7341ce6b8df72db6ac01fa735b01dd/lib/fetch/request.js#L31.

[2021-12-15 19:13] szmarczak commented on #1108
@mcollina This one has been added after the removal:

![image](https://user-images.githubusercontent.com/36894700/146250147-c8d3bf59-d342-4e91-ba43-fb328f2f5b96.png)
![image](https://user-images.githubusercontent.com/36894700/146250170-137e845d-6cf5-4e6b-9bd8-34534aec6247.png)

[2021-12-15 19:52] mcollina commented on #1108
I've tried removing that and it's not the cause or the problem.

Technically it's not a leak but there is some very odd memory behavior that we should fix.

[2021-12-16 09:10] ronag commented on #1108
I haven't really spent much time optimising allocations. It might also be related to web streams.

[2021-12-16 09:37] mcollina commented on #1108
I've done a bit of analysis on the following:

[code]

I've done an analysis with clinic doctor:

![Screenshot 2021-12-16 at 10 32 24](https://user-images.githubusercontent.com/52195/146345584-3fc08732-0615-4312-a3f1-cece6fae0ccf.png)

heap profiler:

![Screenshot 2021-12-16 at 10 31 38](https://user-images.githubusercontent.com/52195/146345690-0d4fea46-d558-4efe-b6eb-8962b0a26886.png)

(I have no

[2021-12-16 10:17] mcollina commented on #1108
I cannot reproduce it directly when using a single process. This is quite interesting:

[code]

See
![Screenshot 2021-12-16 at 10 56 38](https://user-images.githubusercontent.com/52195/146349689-e117abf6-3e4c-479a-b423-a15201e00e78.png)

Very interestingly most of the allocations comes from Node core internals:

![Screenshot 2021-12-16 at 10 58 00](https://user-images.githubusercontent.com/52195/1

[2021-12-16 10:17] #1108 closed

[2021-12-16 10:47] ronag commented on #1108
Landing this in core will probably help some https://github.com/nodejs/node/pull/41121

[2021-12-16 11:08] mcollina commented on #1108
Hopefully that'll happen soon.

[2021-12-17 08:37] ra100 opened #1148 "Can't use the ProxyAgent with proxy on HTTP calling HTTPS url"
## This would solve support for proxies using only HTTP

In the company, we have proxy that needs to be called with http://ourproxy.company.com:1234, but if you request a url with https, it needs to be sent as https request. But here, with the ProxyAgent, I can't force the protocol to be used.
Loading (using Undici.request) http://something.xyz/img.png is fine, but when loading https://whatever, I

[2021-12-17 08:39] mcollina commented on #1148
I've never encountered such a weird setup. Anyway, I don't think why this can't be supported.
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-12-17 08:45] ra100 commented on #1148
I'd gladly do a PR, I just need to figure out the proper way to make this work.
And also how to simulate this weird setup in tests :)

[2021-12-17 08:48] mcollina commented on #1148
go for it!

[2021-12-20 09:00] #1121 closed

[2021-12-21 12:41] dheeraj-varshney commented on #1135
@mcollina @ronag I tried with different implementation. I switched to creating new Client and then setting `keepAliveMaxTimeout`. But there is a huge performance degradation via this implementation.

[code]

The latency increases drastically with this implementation.

[2021-12-21 13:26] mcollina commented on #1135
You should be able to do:

[code]

[2021-12-22 10:49] ronag commented on #1108
Didn't make it into Node 17.3. Please try later with Node 17.4+ and Undici 4.12.1+

[2021-12-22 12:00] ronag commented on #1108
Cross that. It **did** make it into node 17.2. Please try with Node 17.2+ and Undici 4.12.1+.

[2021-12-22 13:19] selbstmord commented on #1108
i have re-ran this:

https://pastebin.com/wqU6f14F

undici 4.12.1
node v17.3.0

[2021-12-22 13:21] MrWaip commented on #974
Hello. Telegram bot api accept only FormData for files
https://core.telegram.org/bots/api#inputfile

[2021-12-22 16:47] selbstmord commented on #1108
basically what was said here still applies

[2021-12-23 17:16] lordjim1985 opened #1153 "HTTP Proxy with undici and HTTPDataSource"
Hi,

I'm using HTTPDataSource that uses undici.
I'm trying to make it work through a proxy.

I've tried to use:

`const proxyAgent = new ProxyAgent({
    uri: '0.0.0.0:3128',
    protocol: 'http',
    }
);
setGlobalDispatcher(proxyAgent);`

The problem is, it does not seem to work. Could You provide any suggestions?

I'm using HTTPDataSource the recommended way based on the manual provided here:
h

[2021-12-23 17:19] mcollina commented on #1153
cc @starpttech - I'm unsure how to proceed as it is your module.

[2021-12-23 20:22] lordjim1985 commented on #1153
I'm attempting to use a proxy for a Pool that I'm creating and pass the ProxyAgent in options. Maybe this will help.
`const pool = new Pool(url);
const requestOptions = { ...someOptions };
pool.request(requstOptions);
`

[2021-12-29 17:46] psytechno604 opened #1154 "Encoding issue when using stream()"
Just a very simple example, almost exactly as in docs:

`
const { Client } = require('undici')
const { Writable } = require('stream')

const client = new Client(`http://ad.service.serverside.ai`)
const bufs = [];

 (async () => {
    try {
      await client.stream({
        path: '/api/ad-server-static_2.xml',
        method: 'GET',
        opaque: { bufs }
      }, ({ statusCode, headers, opaque

[2021-12-29 17:51] ronag commented on #1154
Pipe through a decompressor.

[2021-12-29 17:52] psytechno604 commented on #1154
could you please give an example?

[2021-12-29 17:53] psytechno604 commented on #1154
all my efforts ended with "incorrect header check"

[2022-01-04 05:43] dzcpy commented on #862
Any updates?

[2022-01-11 12:32] willstott101 opened #1164 "Support `createObjectURL` based `blob:` URLs in node 16+"
Node's experimental [URL.createObjectUrl](https://nodejs.org/api/url.html#urlcreateobjecturlblob) creates URLs to blob data that look something like this: `blob:nodedata:ee7f0009-a19f-47f3-935f-08fa7ca35adc`

In the browser environment `fetch` and friends will accept `blob:` URLs to allow applications to pass URL references to large Blobs of data without needing to pull them into data URIs.

For m

[2022-01-11 15:10] KhafraDev commented on #1164
I've actually had a PR in a half finished state adding support for `blob:` and `about:` (easiest to add) uris that just isn't good because the spec gives no indication as to how it should be triggered.

[2022-01-18 15:03] shellscape opened #1167 "Setting Request Headers with Request"
## This would solve...

Since `fetch` is only available on Node v16.something+, we're unable to use `fetch` on AWS Lambda (without jumping through very slow hoops) and systems that are locked to Node v14.x.

## The implementation should look like...

Not sure, as I'm unfamiliar with the internals. But expanding the `options` interface seems appropriate.

## I have also considered...

Not using und

[2022-01-18 15:41] ronag opened #1169 "Improve request options docs and typings"
https://github.com/nodejs/undici/discussions/1168#discussioncomment-1991327

[2022-01-18 18:49] #1164 closed

[2022-01-19 01:36] blittle commented on #974
Correct me if I'm wrong, but isn't the bigger use case the server parsing multipart form data from the client? The example from the node-fetch PR iml is:

[code]

It would be great if undici had the same support for multipart form data.

[2022-01-19 12:25] jimmywarting commented on #974
the example should actually be something like this:
[code]
But it's easier/quicker to construct a Response that don't need any url or extra options
the idea of having a formdata parsing and shipping the `body.formData()` comes from service workers
a service worker is meant to intercept the request and be able to parse the payload when needed

It's not about responding with a multipart/form-data re

[2022-01-19 12:38] ronag commented on #974
@jimmywarting: I wouldn't mind adding support for it. Would you be ok if we use port `https://github.com/node-fetch/node-fetch/blob/main/src/utils/multipart-parser.js` over to undici? @mcollina wdyt?

[2022-01-19 13:09] jimmywarting commented on #974
Be my guest. The source is based on a quite old version of [formidable](https://github.com/node-formidable/formidable/blob/master/src/parsers/Multipart.js) that i patched quite a bit in 2017 (to get rid of some core nodejs parts like `Buffer` and `Streams`) so that it would make a friendlier browser version for [github/fetch](https://github.com/github/fetch/issues/571) polyfill but never got merge

[2022-01-19 14:58] blittle commented on #974
We'd like to have multipart support for Shopify Hydrogen, where our API route handlers are just functions that take undici `Request` objects. See https://github.com/Shopify/hydrogen/discussions/450

[2022-01-20 10:02] dzcpy commented on #883
If it doesn't support it, is there any examples? gzip is very widely used but I have issues using undici to decode it.

[2022-01-21 18:52] KhafraDev commented on #974
I have a working parser that just needs tests written before a PR, although tests keep stalling tap (same issue as `client-fetch.js` which causes the current failures in the CI).

[code]

I'm just worried as it's less than 100 lines that there may be edge cases I've missed, although I've hopefully made it fool-proof 😅.

[2022-01-21 19:47] mcollina commented on #974
It needs to be a streaming client - the code in busboy shows more or less how complex that is. Might be interesting to try implementing it using async iterators

[2022-01-21 20:27] jimmywarting commented on #974
Another thing i have been thinking about doing in node-fetch when parsing FormData and encountering very large files would somehow be to offload the data into some temporary file instead of allocating everything into memory...
that's when FileLike object's would come into play... I really wish that this two got implemented:
- https://github.com/nodejs/node/issues/37338
- https://github.com/nodejs/

[2022-01-21 20:48] KhafraDev commented on #974
I added the ability to use async iterators which each yield an object close to
[code]
although I loop over the entire buffer body before parsing so I need to combine that logic 🤔
& I'm unsure if `Content-Disposition` and `Content-Type` are headers or should be separate?

[2022-01-21 21:02] mcollina commented on #974
Buffering the full body is not going to work well for Node.js unfortunately, it can end up using quite a lot of memory.

[2022-01-21 21:02] jimmywarting commented on #974
I think the `content: '... file contents...'` should be streamable as well... and it should most certainly not be a string in the case where you upload binary data

[2022-01-21 21:11] KhafraDev commented on #974
I think I can do that :D

[2022-01-23 04:08] btakita commented on #958
It also supports isomorphic javascript.

[2022-01-23 04:14] btakita opened #1172 "RequestInit interface does not support all of the props in dom RequestInit interface"
## Bug Description

The RequestInit interface does not have many of the props in the dom version of RequestInit.

undici RequestInit

https://github.com/nodejs/undici/blob/5d524231ff0fcb8dac761fd710fa08d7d61b1c26/types/fetch.d.ts#L95-L103

dom RequestInit
[code]

## Reproducible By

[code]

## Expected Behavior

No type errors

## Logs & Screenshots

[code]

## Environment

Node v17.3.1

### Addit

[2022-01-23 08:05] ronag commented on #1172
Seems like a bug in the typescript definitions. pR welcome.

[2022-01-23 10:06] artur-ma opened #1173 "diagnostic channel events on body consume / cancel"
### Discussed in https://github.com/nodejs/undici/discussions/1170

<div type='discussions-op-text'>

<sup>Originally posted by **artur-ma** January 19, 2022</sup>
Following this https://github.com/DataDog/dd-trace-js/pull/1642#issuecomment-1009298056
Looks like to have full visibility and have good APM instrumentation, the APM agent should know when the request actually finished, including readin

[2022-01-24 15:46] psytechno604 opened #1174 "No examples in the docs on methods other that GET"
How to send POST?

There is a "method" option in all Dispatcher's methods, there is also a "body" option described for some of them:

body string | Buffer | Uint8Array | stream.Readable | Iterable | AsyncIterable | null (optional) - Default: null

- so, "body" cannot be an object. But with https/fetch/axios/etc we can easily send an object via POST. How to do it with undici? JSON.stringify, escapi

[2022-01-25 17:53] mcollina commented on #1174
This is a really good issues for newcomers!

This is a good place to start: https://github.com/nodejs/undici/blob/34cb4c674ec97f5a353298c2fe136f3e65cdbaa8/test/promises.js

[2022-01-25 19:55] jimsimon opened #1176 "Fetch's request.integrity is coerced to the string "undefined" when undefined is explicitly passed"
## Bug Description

The following code in `makeRequest` coerces `undefined` to the string `"undefined"` when it's explicitly passed to the fetch options:
[code]

## Reproducible By

[code]

## Expected Behavior

Undefined is not coerced to a string

## Logs & Screenshots

## Environment

Arch Linux, Node 16, server-side call (not coming from a browser)

### Additional context

I ran into this whil

[2022-01-25 20:12] mcollina commented on #1176
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-01-25 20:30] jimsimon commented on #1176
Sure, I'll whip something up!

[2022-01-25 21:16] jimsimon commented on #1172
I believe some of the subtypes don't match either (e.g. `BodyInit` and `HeadersInit`).

[2022-01-26 11:44] Kikobeats commented on #1136
It's a bit strange to me that undici requires Node.js => 12 but in case you use Node < 16 then `Response`, `Request`, `fetch`, etc are undefined.

@mcollina do you will accept a PR to leverage into `web-streams-polyfill/ponyfill` instead to `node:web/stream` ?

In that way, the library will be ready to be used at Node 12 & Node 14 as well.

[2022-01-26 12:18] mcollina commented on #1136
I'm opposed to that, it would make maintaining this harder. If you want to use fetch, you'd have to use Node v16. It's LTS.

[2022-01-27 10:13] mcollina commented on #1173
@artur-ma I think the best path forward for this is for you to open a PR that publishes those events exactly where you need them. It would be hard for us to guess exactly what you need.

[2022-01-27 12:15] artur-ma commented on #1173
@mcollina  This is what I planned to do, but there are questions, as I mentioned in the discussion

1. What do you think is the right way to pass the request context to Readable object.
2. Is the Readable object is the only point that should send the event, or there are any other places (for example what do you think should be the solution for streams)

I personally do not need this specific devel

[2022-01-27 16:23] mcollina commented on #1173
I would pass it through the constructor https://github.com/nodejs/undici/blob/main/lib/api/readable.js#L20

I do not have a good answer for that. I think the responsibility for undici finishes once the body is consumed.

[2022-01-31 07:12] jimmywarting commented on #1136
What if we could provide our own streaming library?

[code]

[2022-01-31 07:24] mcollina commented on #1136
Unfortunately we discovered that in order to implement fetch() you need access to certain details of WHATWG Streams that are not public (disturbed, GC, etc). Making the stream lib pluggable would result in a significant increase in maintenance burden: we need folks to focus on features, spec compliancy and docs.

[2022-01-31 08:09] jimmywarting commented on #1136
Roger that

[2022-01-31 15:35] trivikr commented on #915
I landed on this issue after reading about questions on undici fetch web compliance in https://github.com/nodejs/node/pull/41749#pullrequestreview-867034906

I think it would be helpful if a link to web compliance summary is provided in README at https://github.com/nodejs/undici#undicifetchinput-init-promise

It would be up to undici team on how they would like to track the web compliance. I would

[2022-01-31 15:39] trivikr commented on #951
I landed on this issue after reading about lack of test coverage in https://github.com/nodejs/node/pull/41749#issuecomment-1024970687

Assuming this is a tracking issue to improve test coverage, would it be helpful to provide detailed instructions on how folks can help in the issue description? cc @ronag

Also, it would be helpful if a link to this issue is provided in README at https://github.com

[2022-01-31 15:51] trivikr commented on #915
As part of naming and compliance related questions, @targos asked Deno team summarized in https://github.com/nodejs/node/pull/41749#issuecomment-1025202349

They have documented deviations in Deno fetch implementation from web spec in their docs at https://deno.land/manual@v1.18.1/runtime/web_platform_apis#spec-deviations

[2022-01-31 15:52] targos commented on #915
I did not ask Deno team.

[2022-01-31 15:54] trivikr commented on #915
My bad, it was @benjamingr who created an issue with Deno team. I've edited my comment.

[2022-01-31 21:01] mcollina commented on #951
Could you propose some text?

[2022-01-31 23:49] trivikr commented on #951
How about this for issue description?

---

Please refer [lib/fetch](https://codecov.io/gh/nodejs/undici/tree/main/lib/fetch) folder on CodeCov to check which components of fetch implementation lack unit tests. Comment on this issue on which component you would like to add test and post a PR!

Please refer [CONTRIBUTING.md](https://github.com/nodejs/undici/blob/main/CONTRIBUTING.md) on how to run

[2022-02-01 10:29] mcollina commented on #951
Done!

[2022-02-01 14:04] psytechno604 commented on #1174
for me it worked with simple JSON.stringify(body) + headers['content-type'] = 'application/json':

[2022-02-01 14:21] adamburgess opened #1193 "Fetch: Allow manual redirect handling"
## This would solve...

Currently you only get an opaque responses using `fetch(..., { redirect: 'manual' })`, for example:

[code]

This is what the spec says should happen, but it is not very useful for a server-side library...

## The implementation should look like...

`redirect: 'manual'` should allow me to get the 302 request and read it like normal.

## Additional context

Deno changed thei

[2022-02-01 14:26] adamburgess commented on #1193
Solved: https://github.com/nodejs/node/pull/41749#issuecomment-1025473227

[2022-02-01 15:01] benjamingr commented on #1193
I think it's worth keeping an issue open to make sure this doesn't get missed :]

(If you feel strongly the issue should stay closed let me know and I'll re-close it and open a new one)

[2022-02-02 19:38] mcollina commented on #1193
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-02 21:43] ImRodry opened #1198 "Add type generic to fetch()"
## This would solve...

The need to type `res.json() as ResponseType` on every json request which is usually not good practice in TS

## The implementation should look like...

When executing the fetch request, it would be nice to be able to pass an interface as the response type, for example:
[code]

## I have also considered...

This type generic could also be placed on the `res.json()` function

[2022-02-03 05:00] KhafraDev commented on #1198
This has been discussed a few times previously:
- https://github.com/nodejs/undici/pull/1048
- https://github.com/nodejs/undici/pull/997#discussion_r695334060

[2022-02-03 07:30] ImRodry commented on #1198
I think the argument that a type generic feels safer when it actually isn’t is just a misconception as a person who is familiar with TypeScript would know that it’s impossible for it to fetch an API and check if the type you provided is correct. In my opinion, if you’re casting the result of a fetch operation to a specific type it’s because you’re expecting that type to be like that and, if it isn

[2022-02-03 14:19] abhishekraj272 commented on #991
tasking this

[2022-02-03 16:29] #1176 closed

[2022-02-04 09:40] ignoramous opened #1203 "Performance parity"
## This would solve...

Undici *fetch* isn't as fast as the ones in browsers like Firefox / Deno / Workers.

## The implementation should look like...

Measure and improve (e2e latencies, op/sec, conns/sec, etc?) to match up with other impls.

## I have also considered...

I hand-rolled a http2 nodejs stdlib client and it was a magnitude faster than undici *fetch*, even without connection pooling.

[2022-02-04 09:44] ronag commented on #1203
Do you have a reproducible benchmark we can use?

[2022-02-04 15:27] suneettipirneni commented on #1198
TLDR; I agree with node-fetch's and Typescript's opinions, type casting should be explicit not implicit.

Generics are usually used where the type of the data can always be guaranteed *by the library*. In the world of HTTP there's really never a guarantee of the data you'll receive, so this type casting/narrowing should be up to the user, not the library.

If you look at the flow of types, the gen

[2022-02-04 15:33] ImRodry commented on #1198
If you're using a consistent API the return type should always be the same and you should know what it is. If this isn't the case, you likely have an error in your code that you want to fix.
You can also set the type generic to a union of types and then perform whatever checks you need to assure which type you got on your API call. Having that done in a generic or through `as` is the same exact th

[2022-02-04 15:40] suneettipirneni commented on #1198
This still doesn't change the fact that generics shouldn't be used as casting mechanism and that the casting shouldn't be handled by the library. Typescript ships with proper  casting mechanisms for these very situations. I don't think aesthetics should override these more proper ways of type casting.

[2022-02-04 16:13] ImRodry commented on #1198
I really don't understand how allowing the user to specify a type generic is putting any responsibility on the library, since there's not even any type that the generic must extend, so it's really just opening the possibility for a better experience on the user's side, with no downsides to the library itself nor the users who don't wanna use this feature. If you prefer using `as`, you can keep doi

[2022-02-04 16:20] suneettipirneni commented on #1198
The comment by the typescript team member in the provided comment answers this quite adequately:

[2022-02-04 17:22] #1198 closed

[2022-02-05 08:12] calvintwr opened #1205 "Error handling?"
## This would solve...

It doesn’t look like there’s anything in the documentation on error handling, except perhaps only statusCode.

For comprehensiveness, I would suggest it be considered important to include error handling in the first example.

[2022-02-05 08:25] ronag commented on #1205
PR is welcome

[2022-02-05 10:17] mcollina commented on #1203
I took a look at the comment in hackernews and the comment was not including benchmarks either.

I'm prone to close this unless somebody would like to prepare a cross-runtime benchmark suite.

[2022-02-05 14:14] calvintwr commented on #1205
Sure. Can you point me to the code that does error handling?

[2022-02-05 17:07] ignoramous commented on #1203
Okay, I'll take a stab at extracting out the parts from my server to demonstrate this. I have to note that the slowness I observed was in a production env (running in a VM in a container behind a network load balancer) that also sees a tonne of other IO.

[2022-02-06 11:37] ignoramous commented on #1203
I wrote up a tiny DoH load-tester with python and golang (don't ask) which I intend to publish as a github action by tomorrow. In the meanwhile, here's a run from my laptop:

|deno/runs:3748||||||||||
|---|---|---|---|---|---|---|---|---|---|
|percentile|p10|p50|p75|p90|p95|p99|p99.9|p99.99|p100|
|milliseconds|280|296|309|336|411|694|889|898|929|

|undici/runs:3826||||||||||
|---|---|---|---|---|-

[2022-02-06 11:43] RaisinTen commented on #951
Sent https://github.com/nodejs/undici/pull/1206 to complete the coverage of the `File` class in its current state.

[2022-02-06 12:42] RaisinTen commented on #991
Since https://github.com/nodejs/undici/pull/1202 has landed, should we close this issue? (it didn't get automatically closed because the pr didn't use `Fixes` or `Closes` before the pr number)

[2022-02-06 12:45] #991 closed

[2022-02-06 12:48] RaisinTen commented on #940
Can we close this now that https://github.com/nodejs/undici/pull/1035 has landed or does this task require some more documentation to be added?

[2022-02-06 12:55] RaisinTen commented on #842
The docs and tests have been added in https://github.com/nodejs/undici/pull/890. Is this safe to close now?

[2022-02-06 13:02] #842 closed

[2022-02-06 20:08] shellscape opened #1208 "Body mixins throw `TypeError: unusable`"
## Bug Description

Calling `await body.text()` immediately following `await body.json()` throws `TypeError: unusable`.

I'm not entirely sure this is a bug. I tried to navigate the fetch spec on this, but maybe I'm just foggy today and didn't grok.

## Reproducible By

When using `request` and making a successful request with `200` response, I'm performing an `await body.json()`. If for some reas

[2022-02-06 20:16] ronag commented on #1208
This is expected behavior. You cannot consume the body twice.

[2022-02-06 20:27] shellscape commented on #1208
@mcollina a bit quick on the trigger there. for the uninitiated, I would have enjoyed some more conversation about this before closing.

@ronag what's the preferred method here in order to enable that? is there a reset? should we pipe into another stream? should we not rely on the JSON mixin and only use the text mixin?

there are a lot of folks out there that are not intimately familiar with the

[2022-02-06 21:04] mcollina commented on #1208
You are right, sorry about this. We should document it better.

I would call .text() and the call JSON.parse() on it.

[2022-02-07 11:20] jasonwilliams commented on #399
Not sure if related, I [asked](https://twitter.com/Jason_williams/status/1489152347637002243) the node devs about HTTP/3 support an it sounds like its just getting https://github.com/nodejs/node/pull/38233 reviewed. Im assuming a bulk of the implementation would e here and indici uses some of it (although im unsure).

Would be great to see h3 happen though.

[2022-02-07 16:07] RaisinTen commented on #1193
Sent a PR to implement this - https://github.com/nodejs/undici/pull/1210

[2022-02-08 20:13] ignoramous commented on #1203
After fighting a bit with github-actions, [a poor man's profiler](https://github.com/serverless-dns/serverless-dns/blob/main/.github/workflows/profiler.yml) on is finally up:

From the current run, [here's Node](https://github.com/serverless-dns/serverless-dns/runs/5115256772):
|node/runs:1200||||||||||
|---|---|---|---|---|---|---|---|---|---|
|percentile|p10|p50|p75|p90|p95|p99|p99.9|p99.99|p100

[2022-02-08 20:57] chasetec opened #1213 "Raw Header support"
Can we get raw header support in the high level client APIs? The node http(s) clients support it and migrating to undici isn't practical if there is a dependency on having raw header support. Some origins incorrectly depend on header case. If there is a header that I need to return to the origin on subsequent requests I can't know what case the origin used right now.

Not picky on how its supporte

[2022-02-08 22:11] mcollina commented on #1203
I might be a bit lost on your codebase, but I could not find undici being used anywhere.

I would note that there are plenty of things happening on that module. How have you identified the problem in undici fetch implementation?

[2022-02-08 22:32] mcollina commented on #1203
If by any chance you are testing the http/2 implementation, consider that https://github.com/serverless-dns/serverless-dns/blob/b36a9cdb5786b78a7dd8e22a2f0a767e9e340ab1/src/plugins/dns-operation/dnsResolver.js#L398 is highly inefficient as you will be incurring in significant overhead of creating those http/2 connections. You have to use a connection pool.

[2022-02-08 22:34] mcollina commented on #1213
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-02-08 23:19] ignoramous commented on #1203
Dang, we moved to [`node-fetch`](https://github.com/node-fetch/node-fetch) (to see if it was any better) and didn't revert back to `undici` (which [we now have](https://github.com/serverless-dns/serverless-dns/commit/d17ef556f3be8d)).

Here's results from [Node + `undici`](https://github.com/serverless-dns/serverless-dns/actions/runs/1815127554) run:

|node/undici/runs:1300||||||||||
|---|---|---|

[2022-02-08 23:52] mcollina commented on #1203
I don't think anyone had performed an optimization of either fetch or node WHATWG Streams implementation, so this is a good point and there is likely a lot of margin there.

Have you tried using `undici.request()` instead?

Are there some instructions on how to run the benchmarks? Being able to get some good diagnostics would definitely help.

[2022-02-09 00:12] mcollina commented on #1203
Here is a bit of tests from our own benchmarks:

[code]

There is likely a lot of room for improvements.

[2022-02-09 00:15] ignoramous commented on #1203
I will do so over the coming days and report back.

Apart from running the `profiler.yml` gh-action (of your own fork of `serverless-dns`), you could checkout the codebase, and then

[code]

Thanks. Sorry, if this is a noob question, but: how do I generate such logs myself for my tests?

[2022-02-09 00:30] mcollina commented on #1203
Check out https://github.com/nodejs/undici/pull/1214 for the fetch benchmarks.

You can run our benchmarks by running:

[code]

[code]

[2022-02-09 00:42] Ethan-Arrowood opened #1215 "Interceptables returned by mockAgent.get are missing Dispatcher type"
## Bug Description

While working on some tests for an http client I discovered that the return type for `mockAgent.get()` does not match with `Dispatcher`.

## Solution

Need to add `& Dispatcher` in the appropriate type spots.

[2022-02-09 19:58] #1215 closed

[2022-02-10 12:42] ronag opened #1220 "BalancedPool is missing factory option"
`BalancedPool` should have the `factory` option similar to `Pool` and `Agent`.

[2022-02-11 08:48] #1172 closed

[2022-02-11 09:51] ronag opened #1221 "Investigate CI failure"
https://github.com/nodejs/undici/runs/5153562802?check_suite_focus=true

[2022-02-11 14:58] delvedor opened #1223 "TypeScript failure"
The [last release](https://github.com/nodejs/undici/releases/tag/v4.14.0) introduced a TypeScript bug that does not allow TypeScript to compile. It looks like the bug has been introduced in https://github.com/nodejs/undici/pull/1200.

Error:
[code]

To reproduce, create a empty project, install `undici`, `typescript` and `@types/node` and try to compile the following:
[code]

I don't know how to f

[2022-02-11 15:09] delvedor commented on #1223
It looks like this can be solved by adding  `"dom"` to the project `tsconfig.json`.
[code]

Is there any other way to solve this?

[2022-02-11 15:10] ronag commented on #1223
Missing an import for Headers?

[2022-02-11 16:08] #1223 closed

[2022-02-11 17:41] chlonel opened #1225 "Fetch options do not allow explicit `undefined`"
## Bug Description

It's hard to say for sure that this is a bug, but it feels like unintended behavior, so I'm reporting it as a bug.

Passing `redirect: undefined` as an option of `fetch` will throw an error.
At the time of executing the following code, `init.redirect` may be assigned `undefined`, which will be considered as an invalid value.
This does not only happen with `redirect`, but also w

[2022-02-11 18:38] ronag commented on #1225
What does chrome do?

[2022-02-11 18:40] ronag commented on #1225
Good spot. I think we should replace `x in init` with `init[x] != null` everywhere. Feel free to open a PR.

[2022-02-12 17:33] chlonel commented on #1225
There is a difference between Chrome and node-fetch.
Chrome does not allow `redirect: null`, while node-fetch ignores it as well as `undefined`.
I think we should only allow `undefined` if we want to be compatible with Chrome, but which one is better?

[2022-02-12 20:14] mcollina commented on #1225
What does the spec says?

[2022-02-13 21:53] nipeshkc7 commented on #1220
Can I work on this one?

[2022-02-14 01:16] cjh980402 opened #1228 "Question: What circumstances do these errors occur?"
[code]
I got this error sometimes, when I used `undici.request`.
What circumstances do these errors occur?
Also, how can I prevent this error?

[2022-02-14 19:33] mcollina commented on #1225
I would treat a field with undefined value and no field in the same way.

[2022-02-15 05:52] ronag commented on #1225
Also I think Chrome treats `null` the same way as well...

[2022-02-15 06:53] cjh980402 commented on #1228
I fount some issue about my server.
Thank you for good http module.

[2022-02-15 06:53] #1228 closed

[2022-02-15 11:55] chlonel commented on #1225
When I run the following code in the console, it throws an error.
Unfortunately, I don't think it is treated the same way.
[code]

I understand that "chrome" is the Google Chrome browser, am I correct?

[2022-02-15 11:58] ronag commented on #1225
As an unofficial rule we try to match Chrome's behavior, including the actual error message.

[2022-02-15 12:12] hansott opened #1235 "ReferenceError: You are trying to `import` a file after the Jest environment has been torn down."
## Bug Description

When using undici 4.14.1 in jest 27.5.1

`import { request } from "undici";`

(not directly imported in test file)

at lazyllhttp (node_modules/undici/lib/client.js:421:49)

`mod = await WebAssembly.compile(Buffer.from(require('./llhttp/llhttp.wasm.js'), 'base64'))`

and code is transpiled with `ts-jest`

## Expected Behavior

The error is not logged.

## Logs & Screenshots

[c

[2022-02-15 13:28] mcollina commented on #1235
Would you like to send a PR that moves the requires to the top of the file and states that we have to double the amount of memory that is loaded on the process because of Jest?

On a side note, I would actually recommend not to use Jest in any Node project.

[2022-02-15 13:31] hansott commented on #1235
@mcollina A bit swamped with work right now but I might do it a bit later this week, fine for you?

Jest has been treating us good :)

Why's that, got a link to a blogpost or tweet? Curious. What's the alternative?

[2022-02-15 14:55] shalvah commented on #1235
@mcollina has [tweeted a lot](https://twitter.com/search?q=from%3Amatteocollina%20exclude%3Areplies%20Jest&t=sfiCJl_uI5pYnmZyaG2aYA&s=09) about this, but here are a few summary links:

Performance: https://github.com/covidatlas/coronadatascraper/pull/481

Redefining Node.js globals, creating a whole new environment: https://github.com/facebook/jest/issues/2549

And more:  https://github.com/server

[2022-02-15 19:47] chlonel commented on #1225
I see.
I'll fix it to only allow `undefined`.

[2022-02-16 23:20] AlttiRi commented on #399
I think HTTP/2 support should be added to the next Node.js LTS version in 2 months.

The current Node.js 17 already uses OpenSSL 3.0 and some requests can't bypass Cloudflare DDoS Protection.
I get `403` for such URLs, while when I manually do the same request with `http2`, I get `200`.

---

`http2` example:
[code]

[2022-02-17 08:29] mcollina commented on #399
Would you like to work on it?

[2022-02-17 16:41] MoLow commented on #1213
@chasetec @mcollina I'l take a look into this

[2022-02-18 10:10] ronag opened #1241 "Move from instanceof to new.target check in all function-based classes"
See, https://github.com/nodejs/node/issues/42042

[2022-02-18 10:48] ronag commented on #1241
Actually this is not relevant for us.

[2022-02-18 10:48] #1241 closed

[2022-02-19 10:05] #1225 closed

[2022-02-20 08:56] #1220 closed

[2022-02-20 08:58] #1213 closed

[2022-02-21 22:17] GrosSacASac commented on #837
What is the difference between node-fetch and undici's fetch ? Can I switch from one to another without breaking changes ?

[2022-02-21 23:12] jennyEckstein opened #1245 "undici.fetch does not append url fragments (url.hash)"
## Bug Description

At the moment undici.fetch does not support GET requests with fragments

## Reproducible By

See repository to reproduce [here](https://github.com/jennyEckstein/undici.fetch-url-hash)

## Expected Behavior

undici.fetch should be able to handle fragments in url.
Fix: add `url.hash` [here](https://github.com/nodejs/undici/blob/main/lib/fetch/index.js#L1811)

## Logs & Screenshot

[2022-02-22 06:13] ronag commented on #1245
PR welcome

[2022-02-22 06:15] ronag commented on #1245
I think we have the same problem in all undici api's

[2022-02-22 06:56] targos commented on #1245
I thought that the fragment should not be sent to the remote server?

[2022-02-22 07:20] MoLow commented on #1245
taking a look

[2022-02-22 07:54] ronag commented on #1245
I actually don't know. Anyone know what the spec says?

[2022-02-22 15:45] olizilla commented on #432
Just a note that this causes an Error to be thrown when using undici to fetch from an IPFS Gateway API.

That api always sends a `trailer: X-Stream-Error` header, but will only actually send that trailer if an error occurs mid-stream. Code that used to work is now failing when we switch to using undici. Originally reported here: https://github.com/web3-storage/web3.storage/issues/1017 by @flea89

[2022-02-22 16:37] jennyEckstein commented on #1245
@targos I think you are right, I found this in wiki.

I am testing another approach I can take.

[2022-02-22 19:33] jennyEckstein commented on #1245
Upon further investigation, I can confirm that undici.fetch works correctly. Server receives path with no fragment (as it is supposed to). The issue is strictly related to the use of MockAgent and the way it stores and compares intercepted path [here](https://github.com/nodejs/undici/blob/main/lib/mock/mock-utils.js#L16). The values must be strictly equal and do not account for stripping fragments

[2022-02-23 21:27] kyrylkov opened #1248 "TypeError: fetch failed"
## Bug Description
Fetch throws 'TypeError: fetch failed' when posting

## Reproducible By
Request with private production credentials to ERP

## Expected Behavior
Successful response (ok).  `node-fetch` works just fine.

## Logs & Screenshots
[code]

## Environment
Linux and Windows, v17.5 v17.6

### Additional context
Request takes up to several minutes until response

[2022-02-24 09:14] mcollina commented on #1248
Thanks for reporting, would you like to include a code to reproduce your problem? We'd also need the server counterpart.

[2022-02-24 16:33] kyrylkov commented on #1248
@mcollina We cannot share production environment credentials, but we could give you sandbox credentials via remote desktop.  Is there any other way to give you more info for debugging?

[2022-02-24 16:36] mcollina commented on #1248
I think it would be better if you produced a server that returned that kind of response. We do not provide support for private code.

[2022-02-24 17:06] kyrylkov commented on #1248
Matteo, the server is NetSuite ERP, so we cannot provide it.  Also note we've replaced undici fetch with `node-fetch` and it's working fine.

[2022-02-24 17:09] mcollina commented on #1248
There is something in that server response that it is making undici.fetch fail. What I'm asking is a way to reproduce this without touching your systems. Only you can write it.

[2022-02-24 17:11] kyrylkov commented on #1248
Right but I don't understand how?  The only way we can reproduce is ourselves is by executing that request to that account with those credentials.

[2022-02-24 18:25] Linkgoron commented on #1248
There's supposed to be an additional `cause` property on that error, but I don't see it in the log. Does it exist?

[2022-02-24 19:00] kyrylkov commented on #1248
@Linkgoron No.  The code is like this.  But 2nd line is never reached.

[code]

[2022-02-24 19:16] ronag commented on #1248
Sorry but with this little information it's impossible for us to do anything.

[2022-02-24 19:47] kyrylkov commented on #1248
@ronag So I'm trying to get you more information.  Can we add some debugging code in undici to help you diagnose it?

[2022-02-24 21:34] janat08 commented on #1248
I also get some error, it's not the same:
[code]

[2022-02-25 13:50] galvez commented on #1245
I think this interpretation is somewhat dubious. In the Fetch standard, it says it should with a work a URL as per its definition, and its definitions [includes fragments](https://url.spec.whatwg.org/#concept-url). So maybe the URI spec is outdated in relation to the Fetch spec? cc @ronag

[2022-02-25 14:26] ronag commented on #1245
What does Chrome do?

[2022-02-25 14:34] galvez commented on #1245
Chrome's fetch() doesn't send #hash indeed. I think we can safely close this then.

[2022-02-25 15:20] mcollina commented on #1245
I think a better solution to this problem is to remove the hash from the `intercept` call, e.g. make behave https://github.com/jennyEckstein/undici.fetch-url-hash/blob/996b50f06ad6a2fc7e2e65f4e4eaaab814914300/index.js#L15 like  `mockPool.intercept({ method: "GET", path: "/test?foo=bar"` or possibly make it throw if there is an hash specified.

[2022-02-25 21:10] mnutt opened #1250 "Normalize BalancedPool addUpstream / removeUpstream"
## This would solve...

If I call `pool.addUpstream("http://localhost:80")`, I'd expect to later be able to call `pool.removeUpstream("http://localhost:80")` using the same URL but it silently fails and the upstream continues to exist.

The issue is that `addUpstream` passes the URL through to the Pool constructor which uses `parseOrigin` to normalize it, while `removeUpstream` just looks up the p

[2022-02-25 21:16] vlovich opened #1251 "Reading request body never consumes anything when using Jest mock timers"
## Bug Description

Modern Jest fake timers seem to cause problems for reading the body of Undici Requests.

## Reproducible By
The following code deadlocks:
[code]

## Expected Behavior

The request body should be consumed during reading even when using fake timers.

## Logs & Screenshots

## Environment

Node 17.6
Jest 27.2.5
Undici 4.14.1 (also reproduced on 4.13.0)

### Additional context

Rem

[2022-02-25 21:29] mcollina commented on #1250
Send the PR over!

[2022-02-25 21:40] mcollina commented on #1251
An option is to completely bypass jest fake objects and use Node primordials (I'm probably surprised I'm saying this).
We might consider exposing them (cc @aduh95).

A PR to fix this would be welcomed.

[2022-02-25 23:49] vlovich commented on #1251
Hmm... I'm not entirely certain I understood what that comment means. Are you saying to use Node's Request/Response objects directly rather than the undici implementation? Or are you saying to somehow make sure to grab the true `queueMicrotask` implementation at global scope to avoid Jest injecting fake timers having an impact? Or something else entirely?

[2022-02-26 00:14] mcollina commented on #1251
I don't exactly know what are Node.js `Request` and `Response` object. Node.js implementations of those are based on the undici ones, so some other libraries might be providing them for you.

This would be my idea. Try to bypass jest completely.

(I would actually recommend you to stop using it).

[2022-02-27 07:43] mcollina commented on #1251
I think you'd need to advanced time when mocking it. We use a few  process.nextTick() in the Node.js WHATWG implementations.

[2022-02-27 12:58] aduh95 commented on #1251
FWIW `queueMicrotask` is not available in primordials (it's not an API provided by V8, Node.js does its own implementation). I think we could definitely expose it, maybe as `import { queueMicrotask } from 'node:timers/promises'`.

[2022-02-27 13:18] #1250 closed

[2022-02-27 20:44] akauppi commented on #1248
As a continuation to my above report, from a CI run.

It looks like Undici (4.14.1) `fetch` may have a general problem with host names. Here, `emul` is supposed to point to a Docker container under Google Cloud Build. The run fails to find it.

[code]

[2022-02-27 20:59] ronag commented on #1248
I don't think this has anything to do with undici per se. Does it work with the normal `http` client in node?

[2022-02-28 17:40] ronag commented on #1248
@akauppi: Sorry but I don't think this is an issue we can resolve in undici. Sounds more like a node core thing.

[2022-03-01 16:30] umarov opened #1256 "`body.dump()` is not available in type definitions"
## This would solve...

Allow dumping the body if it is not being used. The body type is an intersection between the [`BodyMixin`](https://github.com/nodejs/undici/blob/17e6a0f464b32ef59c27b1b8fe9d37c71fa16c4a/types/dispatcher.d.ts#L160) and [`Readable`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/stream.d.ts#L50).

## The implementation should look like...

Create a

[2022-03-01 17:22] flea89 commented on #432
Thanks, @olizilla for reporting this here.

@ronag, we'd really appreciate your view on this one?
Happy to help.

[2022-03-01 17:23] ronag commented on #432
What does the spec say?

[2022-03-01 17:28] ggoodman opened #1257 "A host header value of the empty string is ignored"
## Bug Description

As noted, `undici` will ignore the specified host header value and instead will use the host derived from the remote connection target.

## Reproducible By

[code]

## Expected Behavior

If a value is specified for the `host` header that is a string, it should be respected even if it is empty.

This could probably be solved by changing the following line to be `if (typeof host

[2022-03-01 17:30] mcollina commented on #1256
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-03-01 17:48] umarov commented on #1256
Yeah. I can try to implement the interface.

[2022-03-01 18:08] szmarczak commented on #432
https://httpwg.org/specs/rfc7230.html#rfc.section.4.1.2

It doesn't explicitly say the headers must be present, so I guess they can be omitted.

[2022-03-01 18:17] flea89 commented on #432
From what I can see from [Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing # header.trailer](https://httpwg.org/specs/rfc7230.html#header.trailer) and [Hypertext Transfer Protocol (HTTP/1.1): Message Syntax and Routing # chunked.trailer.part](https://httpwg.org/specs/rfc7230.html#chunked.trailer.part) the spec doesn't explicitly specify whether a trailer field should be included

[2022-03-01 18:25] umarov commented on #1256
PR is open https://github.com/nodejs/undici/pull/1259.

I discovered it after watching @ronag's talk on Node Congress and his mention of always consuming the body. I had a project that didn't use the body.

[2022-03-02 23:41] #1257 closed

[2022-03-03 23:01] Lonli-Lokli opened #1261 "Add Kerberos support for `request`"
Add Kerberos support for `request`

## The implementation should look like...

similar to `fetch`

[2022-03-04 01:19] hansede opened #1262 "Undici strips out set-cookie headers, even when "credentials: 'include'" is set"
## Bug Description
Undici strips out `set-cookie` headers, which is expected per the `fetch` API spec. What is not expected though is that the `set-cookie` headers are stripped out in the presence of `{ credentials: 'include' }` in a `fetch` request. Here is the relevant portion of the `fetch` API spec:
https://fetch.spec.whatwg.org/#example-cors-with-credentials

## Reproducible By

### server.js

[2022-03-04 10:17] mcollina commented on #1262
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-03-04 10:19] mcollina commented on #1261
I don't think we will ever implement something so
specific here. However you could easily build this on top of undici dispatch API.

[2022-03-04 10:19] #1261 closed

[2022-03-04 10:21] Lonli-Lokli commented on #1261
@mcollina can you point to any sample please?

[2022-03-04 10:37] mcollina commented on #1261
Check out our fetch implementation or the old undici-fetch project

[2022-03-04 15:09] #1235 closed

[2022-03-04 15:12] hansott commented on #1235
Thanks! Looking forward to Node's builtin test runner. ❤️

[2022-03-04 15:36] mcollina opened #1263 "Mac OS X runners always fail"
It seems Mac OS X runners are always failing with the current setup.

![Screenshot 2022-03-04 at 16 31 45](https://user-images.githubusercontent.com/52195/156793020-4a753b5a-1dfe-4511-95fd-602ddf621a1a.png)]

https://github.com/nodejs/undici/actions/runs/1934500731

cc @dominykas @nodejs/build could you please take a look?

[2022-03-04 15:38] #1263 closed

[2022-03-04 16:15] richardlau commented on #1263
Potentially linked to
- https://github.community/t/ubuntu-latest-runner-not-found-when-using-workflow-call-between-repositories/204957
- https://github.community/t/called-workflows-cannot-be-queued-onto-self-hosted-runners-across-organisations-enterprises-failed-to-queue-this-job-labels-ubuntu-latest/229355/9

[2022-03-04 19:47] hansede commented on #1262
I would like to create a pull request, but I'm going to need some help first with deciding how to handle this.

`includeCredentials` is being generated in [httpNetworkOrCacheFetch](https://github.com/nodejs/undici/blob/main/lib/fetch/index.js#L1247), but I need to use it in [filterResponse](https://github.com/nodejs/undici/blob/main/lib/fetch/response.js#L380) to determine whether forbidden header

[2022-03-04 19:49] ronag commented on #1262
Isn't it enough to just literally follow the steps in the spec?

[code]

[2022-03-04 20:23] hansede commented on #1262
🤔  That mentions setting the `Cookie` header, but there's nothing there about allowing the `Set-Cookie` headers through.

[2022-03-06 04:43] imranbarbhuiya opened #1266 "`undici#fetch` json parsing error."
## Bug Description

in `Undici#fetch`, `res.json()` is working as expected for all the URLs, but for
`https://aws.random.cat/meow` it's not working. I was working in `v4.14.1` but it stopped working after upgrading to `v4.15.0`.

I've visited the URL and found that it's sending a valid JSON. I've tried using `res.text()` and found it's sending valid JSON,
`{"file":"https:\/\/purr.objects-us-east-1

[2022-03-06 04:51] imranbarbhuiya commented on #1266
nvm it started working again.

[2022-03-06 04:51] #1266 closed

[2022-03-06 09:42] mcollina opened #1267 "Drop esbuild as a devDep as it's not supported on AIX"
## Bug Description

Currently undici fails at CITGM because it can't run esbuild on AIX:

https://ci.nodejs.org/view/Node.js-citgm/job/citgm-smoker/2862/nodes=aix72-ppc64/testReport/junit/(root)/citgm/undici_v4_15_0/

cc @targos - we added this to support bundling for Node.js, right? Maybe we can fall back to webpack or browserify?

[2022-03-06 10:25] targos commented on #1267
Can we move it to optionalDependencies instead? I don't think we need to support bundling on AIX

[2022-03-06 12:11] mcollina commented on #1267
Well it's not even an optionalDependency, because nom will try to install optionalDependencies alongside dependencies.

How about just using npx for running those build scripts?

[2022-03-07 07:48] #1267 closed

[2022-03-07 20:17] suil commented on #1153
I confirm this is a bug. when Pool is used, it's not picking up `{ ..., dispatcher: new ProxyAgent("...")}`, or `setGlobalDispatcher(proxyAgent)`

[2022-03-08 10:07] panva opened #1269 "Mocks should allow to match headers that are meant to be missing"
## This would solve...

Being able to match only when a given header is not present.

## The implementation should look like...

I dunno, ...
- prefix the header name with a unique symbol outside the range of allowed header names to indicate it's meant to be missing in a to be matched request?
- special symbol instead of a string|regex|function as a matcher to be provided
- function matcher would

[2022-03-08 10:58] mcollina commented on #1269
Testing for absence is a tricky beast. Would you like to send a PR for this?

I'd more leaning to

but I'm good with whatever you'd like to propose.

[2022-03-08 11:13] panva commented on #1269
If noone else picks it up in a week or so I will.

[2022-03-10 03:04] suil opened #1270 "ProxyAgent can not work with Pool request"
## Bug Description

[code]
when Pool is used, it's not picking up { ..., dispatcher: new ProxyAgent("...")}, nor setGlobalDispatcher(proxyAgent).

However, `request` is used, ProxyAgent works.

my code is behind the proxy. also Pool is the one I will need to use.

## Reproducible By

## Expected Behavior

## Logs & Screenshots
[code]
## Environment

Node v16.14.0

### Additional context

[2022-03-10 08:54] mcollina commented on #1270
This is expected but we likely are not throwing a descriptive error.

[2022-03-10 09:58] ronag commented on #1270
Should we throw an error if `dispatcher` is passed somewhere where it is not expected?

[2022-03-10 11:05] mcollina commented on #1270
I think so.

[2022-03-10 15:23] minas90 opened #1271 "TypeError: fetch failed"
## Bug Description

Fetch fails with some URLs (after redirect?).

## Reproducible By

`let res = await fetch('https://www.luzernerzeitung.ch/kultur/literatur-im-pool-ld.2260742');`

## Expected Behavior

It should get the URL without any exception. The same code works just fine with 'node-fetch'.

## Logs & Screenshots

[code]

## Environment

macOS 11.6.4, Node v17.6.0

### Additional context

T

[2022-03-10 15:38] umarov opened #1272 "Headers Timeout Error"
## Bug Description

On our error reporting system, we see Headers Timeout Errors.

[code]

That's part of the `onHeadersComplete` method. That method is being called from `wasm_on_headers_complete`.

I am not sure why these are happening. I don't know enough to provide more information.

## Reproducible By

I don't know how to reproduce this. Happens in the background because it's wrapped in a `se

[2022-03-10 17:25] suil commented on #1270
why is this expected? so pool is not suppose to use proxy?

[2022-03-10 17:50] umarov commented on #1272
Interesting. If I get more info, I will add it here. I will close for now

[2022-03-10 17:50] #1272 closed

[2022-03-10 19:29] mcollina commented on #1270
Pool is a group of connections to a single client. A proxy (by its definition) allows to connect to all hosts. You should just use the proxy directly.

[2022-03-11 11:59] mohit61 commented on #399
When can we expect http2 support in undici?

[2022-03-11 12:58] mcollina commented on #399
Would you like to work on it?

[2022-03-11 18:08] KhafraDev commented on #1271
The error occurs at https://github.com/nodejs/undici/blob/d94dc15b089c3093cde1993241ca78830dec8fbd/lib/fetch/index.js#L1868 because we get a `content-encoding` header that is `gzip`.

[2022-03-11 20:35] mcollina commented on #1271
It seems the actual content is not gzipped.

[2022-03-12 04:13] minas90 commented on #1271
Yeah, before redirect the content size is `142 bytes` and the gzipped size is 2x more. So maybe the server has a check to send the original content if the size is smaller. I think fetch should not get the content before redirect, it's waste of recourses.

[code]
[code]

After redirect it is gzipped, you can check with `curl`.

[code]

[2022-03-12 10:07] mcollina commented on #1271
Ah, I understand now. Basically we need to avoid parsing the body for the redirect. Would you like to send a PR?

[2022-03-12 10:31] ronag commented on #1271
I’m not sure it’s spec compliant to not read the body?

[2022-03-12 10:43] targos commented on #1271
Chrome, Firefox and Safari all have no issue with the reproduction code and follow the redirection.
Example in Chrome:
<img width="643" alt="image" src="https://user-images.githubusercontent.com/2352663/158014903-c5fc9a63-caa2-4519-98a8-213ac4506b13.png">

[2022-03-12 10:46] minas90 commented on #1271
@mcollina I'm still not familiar with the codebase, if you can fix it quickly please go ahead. Otherwise I will push a PR in a few days when I will have some free time.

@ronag It seems like browsers ignore the body when status is 302. It's not even mandatory, maybe only needed for browsers which can't handle redirect?

[https://stackoverflow.com/questions/8059662/http-302-redirect-is-a-message-bo

[2022-03-12 10:49] ronag commented on #1271
I think we should read the body but just ignore the content so that we can keep the connection alive.

[2022-03-12 10:52] minas90 commented on #1271
Btw, it's an unlikely scenario, but it's possible to have the same issue with gzip handling, when body size is small and the server has some logic to avoid gzip for small body. For example responses from API calls, such as simply `ok`

[2022-03-12 11:33] ronag commented on #1271
For non-fetch undici ignores the body. Not sure yet where it goes in fetch.

[2022-03-12 11:51] ronag commented on #1271
This is actually quite tricky to fix.

[2022-03-12 13:40] ronag commented on #1271
Going back to the spec:

For e.g. HEAD and CONNECT the spec says:

But there is nothing along those lines for redirects. Is this a spec bug? Since Chrome does seem to disregard the body in thise case. @annevk

[2022-03-13 10:41] mcollina commented on #1270
Isn't https://github.com/nodejs/undici/blob/main/examples/proxy-agent.js enough? I think you can also call `proxyAgent.request()`.

[2022-03-13 18:08] #1269 closed

[2022-03-14 09:18] annevk commented on #1271
Redirects can have a response body. I don't think it ever ends up being exposed though.

[2022-03-15 07:33] #706 closed

[2022-03-16 18:05] KhafraDev commented on #1221
This is an issue with a node-fetch test that tests AbortController cancellation support. In their test suite, they use a locally hosted server created with `http.createServer`. In the test, they cancel the promise after 100ms, but occasionally the request can succeed before it is canceled.

After a quick look at node-fetch's previous tests, it doesn't look like this is an issue on their side. I'm

[2022-03-16 18:41] mcollina commented on #1221
I'd go with both.

[2022-03-16 18:55] KhafraDev commented on #1221
node-fetch tests seem to be outdated since https://github.com/node-fetch/node-fetch/commit/015798edc60f6b480b3df2412f4069df05cb86d5, I'll update them as well.

[2022-03-17 05:40] #1221 closed

[2022-03-19 07:48] ronag commented on #1248
@akauppi: As i wrote above undici is probably not the place for the fix.
@kyrylkov: If you want help with private code you can mail me.

[2022-03-19 07:51] ronag commented on #1262
@hansede I think we first need to understand the specification and how it imagines your use case to work.

[2022-03-19 08:56] ronag commented on #1262
Here is the relevant part https://github.com/nodejs/undici/blob/main/lib/fetch/index.js#L1850-L1858

[2022-03-19 18:41] #1271 closed

[2022-03-22 12:30] dheeraj1997 commented on #399
@mcollina I would like to contribute to it. Can I take this up?

[2022-03-28 10:36] AlttiRi opened #1305 "Can't remove default headers. Can't overwrite `"sec-fetch-mode"`, `"connection"` headers."
- I can't remove any default header.
- Setting `"connection": "keep-alive"` throws an error.
- I can't overwrite default `"sec-fetch-mode"` header **_correctly_**.

### 1. I can't remove the default headers

I can't remove the default headers: `host`, `connection`, `accept`, `accept-encoding`, `accept-language`, `sec-fetch-mode`, `user-agent`.

For example, `curl` allows to remove any header (even

[2022-03-28 10:49] fraxken opened #1306 "Missing Interceptable type in export ?"
## Bug Description

While working on UT (with TypeScript) for one of our project we were unable to found the `Interceptable` type in the undici export.

https://github.com/nodejs/undici/blob/main/types/mock-interceptor.d.ts#L88

## Reproducible By

//

## Expected Behavior

Export the Interceptable type.

## Environment

Node.js 16.13.x on Windows 10.

[2022-03-28 10:50] fraxken commented on #1306
I'm ok to send a PR if maintainer confirm this should be exported :)

[2022-03-28 10:57] ronag commented on #1305
Can you check what Chrome does? I think most of the behavior you are seeing is regulated by the spec.

[2022-03-28 12:27] ronag commented on #1305
**2** and **3** are obviously bugs.

For **1**, for me:
- Either add a way to remove the default headers, ~for example, by setting its value to `null` (not `"null"`). It's the best choose especially if it will be a part of Node.js.~ (UPD: However it will not be compatible with native `fetch`, so no.)
- Or at least remove `sec-fetch-mode` from the default headers

https://fetch.spec.whatwg.org/#htt

[2022-03-28 12:28] ronag commented on #1305
Sorry I acceindentaly edited your response instead of quoting it. Sorry. Tried to restore it.

[2022-03-28 12:56] AlttiRi commented on #1305
So, what about `"sec-fetch-mode"`?

It's pure browser's thing, like CORS. Why Node.js aimed `undici` uses it by default (and there is no way to disable it)?

---

I have already written it:

And because it's a pure bug — I set the correct, valid HTTP header (even it used by default), but `undici` fails.

---

Because of the bug №3:

[2022-03-28 13:02] ronag commented on #1305
[code]

[2022-03-28 13:11] ronag opened #1307 "Allow user provided connection header"
Override the pipelining option accordingly in case user passes a valid connection header.

Refs: https://github.com/nodejs/undici/issues/1305

[2022-03-28 13:16] ronag commented on #1305
Actually we were doing it slight wrong, we should set, not append the header. https://github.com/nodejs/undici/commit/5b9acf23c65fe457739c20e8f27586c1d3ec149c

[2022-03-28 13:18] ronag commented on #1305
One way to do what you want would be:

[code]

But again... the spec explicitly disallows it. But maybe it would make sense to bypass that? I don't know.

[2022-03-28 13:21] AlttiRi commented on #1305
It just changes `connection: keep-alive` to `connection: close`.

It does not remove any default header.

---

As I already said, Chrome allows to do it with web extension.

Why it's not possible to do from a web page context? **Because it's a browser.**

Browsers **do not** allow:
- CORS,
- CORB,
- _changing "sec-fetch-*"_, <--
- reading `"cookies"` HTTP header
- and other things.

**`undici` is

[2022-03-28 13:36] ronag commented on #1305
We need to set one of the headers. I'm not sure what you want here?

How? I'm curious. Can you show an example. I'm not familiar with web extension.

[2022-03-28 13:37] ronag commented on #1305
Easier said than done. Knowing what parts of the spec to ignore or not is not that easy. To keep things simple with the limited development time we have (I'm doing this work for free) it's much easier to just follow the spec verbatim.

[2022-03-28 13:38] AlttiRi opened #1308 "[types] `Response.body` does not extend `ReadableStream`"
The browser's  [`Response.body`](https://developer.mozilla.org/en-US/docs/Web/API/Response/body) is [`ReadableStream`](https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream).

Based on `fetch.d.ts` `Response.body` of `undici` is just  `ControlledAsyncIterable`.

---

The code below is valid and workable.
However, because of `fetch.d.ts` I see the warning in my IDE (IntelliJ IDEA).

[code

[2022-03-28 13:44] ronag commented on #1308
Sounds like a bug in the type definitions. PR welcome.

[2022-03-28 14:26] AlttiRi commented on #1305
[ModHeader](https://chrome.google.com/webstore/detail/modheader/idgpnmonknjnojddfkpgkljpfnnfcklj) allows to edit and **remove entirely** any header (except `"host"`, `"connection"`, `"cache-control"` (on a page reload), `"pragma"` (on "Disable cache" with DevTools)).

---

_So, I assume the next things will be implementing of CORS, CORB limitations, restricting of the access to `"cookie"` header s

[2022-03-28 14:37] ronag commented on #1305
That's kind of non-standard. I wouldn't use that as a point of reference.

Then you kind of have to live with its limitations.

Feel free to open PR with a suggestion on how that would look/work.

[2022-03-28 17:26] AlttiRi commented on #1305
Yeah, I also would like if Node.js have some permission list in `package.json` like it is in Web Extensions, Android Applications:
[My comment in the topic about the recent `RIAEvangelist/node-ipc` case.](https://gist.github.com/MidSpike/f7ae3457420af78a54b38a31cc0c809c?permalink_comment_id=4102604#gistcomment-4102604)

---

While `sec-fetch-*` contains "fetch" word, it's not a part of Fetch API.

[2022-03-28 19:06] ronag commented on #1305
It’s in the fetch spec.

Because the spec says so.

We haven’t fully implemented the spec yet so the other headers are missing.

We only target latest version of spec. Old browsers are out of scope.

PR welcome

You a maybe right but that is currently not the priority here. We have chosen to focus on fully implementing the spec. I don’t know enough about Cors and what not the determine what is rel

[2022-03-28 19:15] benjamingr commented on #1305
Those are called policies and already exist in Node.js! if you'd like to work on them (improving them etc) please do! They are mostly blocked on feedback and people actually using them to make progress.

[2022-03-28 19:16] benjamingr commented on #1305
@ronag I think being able to remove the sec-fetch-mode stuff is _probably_ fine? @AlttiRi did you check what other environments like cloudflare workers or deno do?

[2022-03-29 01:04] daron4ever opened #1310 "How to disconnect after fetch?"
I would like to know how to close the connection after using fetch(URL) immediately?

[2022-03-29 08:45] AlttiRi commented on #1305
I don't know about Cloudflare Workers, but Deno's `fetch` default headers are:
[code]

That's all.
That looks fine. Need additional headers? Add them by yourself.

Also look at the headers order.

---

While the article about `sec-fetch-*` names ["Fetch Metadata Request Headers"](https://www.w3.org/TR/fetch-metadata/), but.
It's not about only Fetch API requests. It's about _every_ request *in bro

[2022-03-29 15:33] mcollina commented on #1310
This is currently not possible. You can configure a global Agent that will do that.

[2022-03-30 17:50] fraxken commented on #1308
I will work on it and make a PR

[2022-03-31 07:48] ronag opened #1316 "Spec Deviations"
I think it would be good if we could agree on long term and short term spec deviations. Maybe base it on: https://deno.land/manual/runtime/web_platform_apis#spec-deviations?

[2022-03-31 07:49] ronag commented on #1316
@AlttiRi @mcollina @benjamingr @nodejs/undici @nodejs/http

[2022-03-31 07:49] ronag commented on #1316
Not sure what cloudflare does? @jasnell

[2022-03-31 08:35] AlttiRi commented on #1316
It looks that all Fetch API specs are actually Fetch API specs mixed with "Browser requests behaviour specs".

The great example is ["Fetch Metadata Request Headers"](https://www.w3.org/TR/fetch-metadata/) spec, which actually is about every request in browsers, not only made with `fetch` function.

My opinion that "pure" Fetch API is about [fetch](https://developer.mozilla.org/en-US/docs/Web/API/

[2022-03-31 21:33] AlttiRi opened #1317 "`fetch` fails on `ByteString` header with non-ASCII chars"
`fetch` fails on `ByteString` header if the header contains char codes `128` and over.

[The code:](https://gist.github.com/AlttiRi/9c1364719bc78466a39ac8c1acc0eb45)

<details>
<summary>server.js</summary>

[code]
</details>

<details>
<summary>client.js</summary>

[code]
</details>

<details>
<summary>util.js</summary>

[code]
</details>

### Result

[code]

### The expected result

Deno:
![image

[2022-03-31 23:09] AlttiRi commented on #1317
https://github.com/nodejs/undici/blob/a211b186a9ff4c2993de2cb0f77b5650edd1628d/lib/fetch/index.js#L1950-L1951

[code]

[2022-04-01 04:36] ronag commented on #1317
@Ethan-Arrowood

[2022-04-02 21:58] bwalding opened #1319 "[experimental fetch] Header parser is very strict and doesn't handle strange characters in HTTP header"
### Version

v17.8.0

### Platform

Darwin xxx 21.4.0 Darwin Kernel Version 21.4.0: Mon Feb 21 20:34:37 PST 2022; root:xnu-8020.101.4~2/RELEASE_X86_64 x86_64

### Subsystem

fetch

### What steps will reproduce the bug?

[code]

### How often does it reproduce? Is there a required condition?

I imagine this will reproduce until Mirantis changes their server response / removes the typo in their Goo

[2022-04-03 18:34] mcollina commented on #1319
Overall a lenient patate is the source of many security issues. I'm inclined to not fix this, as the risks outweigh the benefits.

I don't know if llhttp has a lenient flag for this and if we expose it.

Would you like to take a look and see how this could be in implemented?

[2022-04-03 19:29] arontsang commented on #491
I would like to suggest the following signature for extending Dispatchers

    function DispatchExtender(dispatcher: Dispatcher, opts: RequestOptions, handler: DispatchHandlers): [RequestOptions, DispatchHandlers]

This way, we can reduce a list of DispatchExtenders when calling dispatch on each dispatcher.

    for (const decorator of opts.dispatchExtenders ?? []) {
        [opts, handler] = deco

[2022-04-04 03:55] Ethan-Arrowood commented on #1317
@AlttiRi would you like to send your fix as a PR?

[2022-04-04 09:22] arontsang commented on #1146
It would make sense for any caching layer to be implemented as a plugin system.
I noticed that the RedirectHandler is the closest thing to a "plugin" in undici, and in fact caching could be done as a dispatch interceptor.

The interceptor receives the Request Opts, and the DispatcherHandler, and simply calls the events on the DispatcherHandler directly to fulfill the request.

[2022-04-05 03:52] KhafraDev opened #1320 "MockAgent: request not intercepted when `method`s are lowercase"
## Bug Description

## Reproducible By

[code]

## Expected Behavior

It should work with `PATCH` and `patch` methods (this works for GET, POST, etc.).

## Logs & Screenshots

[code]

## Environment

windows 10 node v17.7.1

### Additional context

[2022-04-05 03:56] KhafraDev opened #1321 "Mocks: mocking `undici.fetch` leads to undefined `response.statusText`"
## Bug Description

When using mocks with `undici.fetch`, the Response object returned has a `statusText` property that is undefined.

## Reproducible By

[code]

## Expected Behavior

`statusText` should be assigned a value

## Logs & Screenshots

## Environment

windows 10 node v17.7.1

### Additional context

[2022-04-05 04:11] KhafraDev opened #1322 "types(MockResponseCallbackOptions): body is not always a string"
## Bug Description

When mocking `undici.fetch`, and supplying a function to `.intercept`, the parameter's `body` can be an object (tested with FormData, maybe it falls back to not parsing on unsupported types?).

## Reproducible By

[code]

## Expected Behavior

It would be very helpful to get a stringified version of the FormData (ie. the value actually sent to a server) 🙏

## Logs & Screenshots

[2022-04-05 05:03] dheeraj1997 commented on #399
@mcollina I will like to contribute. But can you suggest some good first issue first to start with.

[2022-04-05 07:00] mcollina commented on #1322
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-05 07:01] mcollina commented on #1321
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-05 07:02] mcollina commented on #1320
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-05 10:22] AlttiRi commented on #1317
The additional note about `undici.request`, but not about `undici.fetch`:

`undici.request` returns headers as a `String` — it automatically converts UTF-8 bytes to a `String`.
For a library that is not going to be "`fetch` compatible" it's probably OK.
However, I think you should at least document this detail.

Setting header with non-`Latin 1` encoding in `undici.request` is allowed (no errors a

[2022-04-05 10:26] AlttiRi commented on #1317
Also you can take a look at this issue:
https://github.com/nodejs/node/issues/42579
There I wrote in more details about the `ByteString` header representation.

[2022-04-05 12:14] mcollina commented on #399
@dheeraj1997 you can find "good first issues": https://github.com/nodejs/undici/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22

[2022-04-05 14:07] KhafraDev commented on #1322
I'll be looking into all 3, hopefully I can fix them all 👍

[2022-04-05 17:12] cubecleveland opened #1324 "Gettgin No such built-in module: node:stream/web - Running Node 15...."
## Bug Description

Getting  No such built-in module: node:stream/web running Node 15

Anything we are missing in terms of deps ?

[2022-04-05 17:16] #1324 closed

[2022-04-06 01:54] KhafraDev commented on #1322
Fixing the types only isn't a solution either because the body is stringified automatically which causes the infamous `[object FormData]` output...

[2022-04-06 10:22] mcollina commented on #1322
I don't think we can make the mocking system aware of formdata, that information is lost at that point.

[2022-04-06 10:34] AlttiRi commented on #1317
Not for this issue, definitely.

This issue is about that `undici.fetch` produces the different results, or does not work with at all with real URLs in comparison with browsers `fetch`, `node-fetch`, deno's `fetch`.

[2022-04-06 10:49] #1320 closed

[2022-04-06 10:49] #1321 closed

[2022-04-06 16:13] shellscape opened #1326 "How To: Reusing `body` mixin streams"
This is being left here to make it searchable:

If the scenario arises where you absolutely must have a copy of the result stream, [`.clone`](https://fetch.spec.whatwg.org/#dom-request-clone) can be used _before_ using a `body` mixin, or [`body.pipeThrough`](https://streams.spec.whatwg.org/#readablestream-pipe-through) with a user-defined stream [§](https://web.dev/fetch-upload-streaming), such as

[2022-04-06 16:13] #1326 closed

[2022-04-06 21:42] KhafraDev commented on #1322
I've found a very bad work around for now where I simply add the tests to the callback function...

Returning the `FormData` object without it being stringified would also be a useful solution IMO, and I'd be willing to submit a PR to allow this if this solution sounds good to you?

[2022-04-06 22:29] mcollina commented on #1322
If that's possible that'd be great.

[2022-04-07 01:58] KhafraDev commented on #1322
The potential solution I mentioned earlier is either not possible or way too difficult for me to figure out, `fetch` (and likely `request`) expect strings and stuff breaks otherwise. My best attempt was assigning a property to each `MockPool` instance of the last body received, which isn't great either as different scopes could share a single `MockPool` instance.

I also discovered that `<callback

[2022-04-07 11:01] mcollina commented on #1322
Attaching something to `MockPool` might not be correct in case of multiple concurrent requests.

[2022-04-09 02:09] KhafraDev opened #1327 "[I am sorry about this] Jest bug when using `MockScope.delay`"
## Bug Description

I want to preface that using Jest was not my choice.

## Reproducible By

[code]

## Expected Behavior

## Logs & Screenshots

[code]

## Environment

Windows 10 Nodejs v17.8.0

### Additional context

Even though the test passes, the CI still exits with exit code 1 and the workflow fails 😢

[2022-04-09 16:54] cjh980402 opened #1328 "Strange result with `set-cookie` header of `undici.fetch`"
## Bug Description
Result of set-cookie, Set-cookie, and sEt-CoOkIe header value should be same, but undici.fetch has different result.

## Reproducible By

[code]

## Expected Behavior
I think all result of get should be same.

## Logs & Screenshots

## Environment

Ubuntu 20.04
Node v16.14.2

### Additional context

[2022-04-09 20:35] RafaelGSS commented on #1328
@cjh980402 which `undici` version are you using?

[2022-04-09 21:50] cjh980402 commented on #1328
I use undici 5.0.0.

[2022-04-09 21:58] KhafraDev commented on #1327
The issue in async_hooks is due to `callback` being null from https://github.com/nodejs/undici/blob/17e6a0f464b32ef59c27b1b8fe9d37c71fa16c4a/lib/api/api-connect.js#L48

I have no idea how to debug this.

[2022-04-10 10:08] vinczedani opened #1329 "Fetch times out without AbortController triggered"
## Bug Description

Hello,
I'm trying to create a custom AWS lambda container runtime as a small hobby project. And since fetch is now part of the core NodeJS I wanted to give it a try. To get the lambda invocations, I need a request with a really long timeout, so I did set up an AbortController that will never be triggered:

[code]

When I uploaded my code to aws (as a container image). And teste

[2022-04-10 14:19] mcollina commented on #1329
This would be expected given the AWS lambda runtime. The process got suspended and you had a timeout for a response. I think you'll have to catch with this error and retry the call.

[2022-04-10 14:26] mcollina commented on #1327
I would literally tempest the file with console.log and debugger; statements to identify what happens with this.callback and why it's null. By the look of it we need an if-block similar to the one in onError.

[2022-04-10 22:42] RafaelGSS commented on #952
FYI I'm working on that in Node.js core. Planning a PR in Node.js in the next coming days.

[2022-04-11 07:18] vinczedani commented on #1329
So you say it is not possible to just wait infinitely for a possible response?
I might not remember correctly but I think when using the https library in Node I was able to pass in timeout infinity and never see similar problems.
I think when AWS shots down my lambda process it totally kills it, when when running it again for the first time after some delay, it boots up a new container from the im

[2022-04-11 23:06] KhafraDev opened #1330 "feature request: allow sending FormData in `undici.request`?"
## This would solve...

In a codebase I am working on, it is a requirement to be able to send FormDatas to the server (to upload files, etc.). It is preferable to use `request` because it is currently much faster than `fetch`.

## The implementation should look like...

Undici's fetch currently parses the FormData to a stringified version:
https://github.com/nodejs/undici/blob/c0961f4c7ef5dd6e64db

[2022-04-12 04:25] ronag commented on #1330
Or welcome!

[2022-04-12 10:42] delvedor commented on #837
FYI: [`@elastic/transport`](https://github.com/elastic/elastic-transport-js) which is the engine of the [elasticsearch client](https://github.com/elastic/elasticsearch-js) uses `undici` by default from v8.

[2022-04-12 10:48] delvedor opened #1331 "Make the global dispatcher truly global"
The current implementation of the global dispatcher is that it stores within the library the global agent. This works well when the user is directly using `undici`. Still, suppose the user is using a library that internally uses `undici` and the user didn't install the exact same version of the library. In that case, the global dispatcher API won't work as the user would expect.

To clarify what I

[2022-04-12 10:54] ronag commented on #1331
@mcollina I think this is more your area. Wdyt?

[2022-04-12 17:18] KhafraDev commented on #1330
Got it working but I decided to throw an error on node <16 which makes the code much cleaner.

[code]

[2022-04-12 17:55] RafaelGSS commented on #1153
I think this is the same discussion as in https://github.com/nodejs/undici/issues/1270 or I'm missing something?

[2022-04-13 02:07] KhafraDev commented on #1322
Attaching to each MockScope does not seem to be possible because as soon as the interceptor is used, it's deleted. It would be nice to be able to receive the body sent to the interceptor, but I can't think of a decent way of doing so.

[2022-04-13 04:06] #1330 closed

[2022-04-13 15:59] KhafraDev commented on #1328
`set-cookie` is a forbidden header-name so it should be removed entirely (this is similar behavior with browser)

however `getting` a non-existent header should return null, not undefined.

[2022-04-13 16:57] #1328 closed

[2022-04-14 07:08] #1322 closed

[2022-04-14 10:21] wmertens opened #1339 "Fetch returns body on null-body statuses"
## Bug Description

When doing a request that returns status 204, the Response will have a defined `body`. Trying to create a wrapped Response based on this will fail due to [this check](https://github.com/nodejs/undici/blob/f5d9a94e8771708a2d3654e412cb82404bf7cf4f/lib/fetch/response.js#L161-L163).

## Reproducible By

[code]

## Expected Behavior

How about: give the Response a null body and igno

[2022-04-14 10:30] ronag commented on #1339
I think this is mandated by the spec and not something we can change.

[2022-04-14 10:52] wmertens commented on #1339
I'm having a hard time reading the spec - it does [specify the null body statuses](https://fetch.spec.whatwg.org/#:~:text=null%20body%20status%20is%20a%20status%20that%20is%20101%2C%20103%2C%20204%2C%20205%2C%20or%20304) but I don't find where it mandates that noll-body status responses should have a body.

In any case I can imagine that bad servers do send a body on 204 so indeed better to leave

[2022-04-14 14:35] #1339 closed

[2022-04-15 05:15] KhafraDev commented on #1327
Not that bad to debug really... much easier than I expected.

Somewhere an error occurs, triggering the `onError` callback;
https://github.com/nodejs/undici/blob/f5d9a94e8771708a2d3654e412cb82404bf7cf4f/lib/api/api-request.js#L116
where err is
[code]
The stack trace itself doesn't mean much, it just shows that the request was successfully aborted (yay!).

Since `callback` exists, the statement run

[2022-04-15 06:29] mcollina commented on #1327
go for it!

[2022-04-16 06:38] #1327 closed

[2022-04-17 18:43] KhafraDev opened #1342 "[diagnostics_channel] support body received in `undici:request:trailers`"
## This would solve...

In a library I am working on, they had 2 events (request & response) that would fire before and after a request was made. The purpose of these events was for analytics (ie. receiving a "weird" response code and checking the body). With undici, I'm hoping that these events can be removed entirely and instead use the `diagnostics_channel` support (the library only supports v1

[2022-04-17 20:48] mcollina commented on #1342
You can't clone a node stream. Here is a module that implements that functionality in case you need it: https://www.npmjs.com/package/cloneable-readable.

Overall everything that improves diagnostics_channel is great. However that's a low level instrument, so cloning would be off the table.

[2022-04-17 23:22] KhafraDev commented on #1342
I think with a bodySent property it could be left to the user to use your package... although that might not be the greatest UX?

[2022-04-17 23:39] RafaelGSS commented on #1203
Hello folks! Recently, I spent some time working on the `fetch` performance investigation and I decided to create a report about my findings. I'll share an abstract (probably the full report will become a blog post at some moment)

Firstly, the benchmark was unfair with `undici.fetch` since it was allocating the server response in a variable causing an event-loop block due to GC runs. Then, I solv

[2022-04-17 23:55] mcollina commented on #1342
Would you mind to assemble a prototype? You have definitely researched this more than me.

[2022-04-18 00:22] KhafraDev commented on #1342
Exposing the ReadableStream body can be done like so (not cloned)

[code]

Unsure if it's even useful as it probably would suffer from race conditions (consuming the body somewhere else before cloning)... I'll look into it more

[2022-04-18 01:01] KhafraDev commented on #1342
Found a much better way to do this, I'll make a PR soon to see what you think.

[2022-04-18 10:03] ronag commented on #1203
@benjamingr why is creating abort signals so expensive?

[2022-04-18 14:15] devsnek commented on #1203
I would guess it is because createAbortSignal+makeTransferrable does a lot of prototype mutation stuff which is basically the bane of js engine performance.

[2022-04-18 14:46] ronag commented on #1203
@jasnell

[2022-04-18 14:50] RafaelGSS commented on #1203
@devsnek I didn't mention the analysis I did in Node.js Webstreams (planning to open an issue in Node.js any time soon), but indeed, `makeTransferable` has something on it for sure.

![image](https://user-images.githubusercontent.com/26234614/163825696-288708e5-589b-4d82-8779-c70b9bd9725c.png)

[2022-04-18 15:10] jasnell commented on #1203
`makeTransferable` is an ugly hack, unfortunately. I'd love to find a way to handle it more elegantly but we are fairly strictly limited by the way the structured clone algorithm works and the v8 implementation of it. I have some ideas on how to make improvements there.

[2022-04-18 15:25] devsnek commented on #1203
Looking at this more, it seems like we just need to teach v8 how to recognize non-c++-backed "host" objects, and then we wouldn't need to add the JSTransferable superclass.

[2022-04-18 15:29] jasnell commented on #1203
Yes, it would be ideal if the structured clone algorithm provided a way to allow arbitrary classes to define how they would be serialized / deserialized. I've raised this conversation with the WHATWG (https://github.com/whatwg/html/issues/7428) before and, unfortunately, it received a pretty chilly response.

An approach based on well-known Symbols (e.g. `Symbol.transfer`, `Symbol.clone`, `Symbol.

[2022-04-18 15:31] devsnek commented on #1203
I don't think we need to do anything at the standards level, if v8 just had an api to tag constructors with a private symbol or similar, it could forward them back to `WriteHostObject` when it sees them and then we could do whatever we want with them.

[2022-04-18 15:32] jasnell commented on #1203
Yeah, doing it entirely within v8 is possible. My concern there would be interop. I would much prefer the mechanism to be standardized so that there's a better hope that it would work consistently across runtimes.

[2022-04-18 15:47] jasnell commented on #1203
Within v8, the key limitation is that, inside v8's implementation, only C++-backed objects can be identified as host objects, and only host objects are passed into the delegate to be handled, and since a host object can be nested arbitrarily deep in object graphs, we have to depend on v8 identifying them as it walks the graph being serialized. If we can start there -- teaching v8 to recognize when

[2022-04-18 16:03] tniessen opened #1345 "response.bodyUsed is undefined when body is null"
`new Response().bodyUsed` is `undefined` when it [should be `false`](https://fetch.spec.whatwg.org/#dom-body-bodyused).

Refs: https://github.com/nodejs/node/pull/42701

[2022-04-18 18:22] #1345 closed

[2022-04-19 14:44] LuudJanssen opened #1348 "Allow asynchronous mocking replies"
## This would solve...

When trying to create a Undici adapter for [Polly.JS](https://netflix.github.io/pollyjs/#/) I tried to use the mocking capabilities from Undici to record network requests and replay them later using stored HAR files. However, the `MockInterceptor.reply` method doesn't support asynchronous callbacks. So receiving the request, loading a file from the filesystem (asynchronousl

[2022-04-19 21:37] mcollina commented on #1348
This would be an amazing feature to add?
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-04-20 17:57] tamaina opened #1350 "Set proxy for some fetch request (not all)"
I apologize if this has already been implemented or issue created, but I could not find this usage in the documentation.

## This would solve...

I would like to specify a proxy for each fetch run.

## The implementation should look like...

Deno implements as follows PR:
https://github.com/denoland/deno/pull/10907

In undici, it would become as follows...?

[code]

(Is ProxyAgent better than Clie

[2022-04-20 20:55] mcollina commented on #1350
cc @ronag

[2022-04-21 15:07] pimterry opened #1355 "Fetch garbles headers when used with a proxy global dispatcher"
## Bug Description

When a ProxyAgent is set as the global dispatcher, the headers sent in fetch requests are completely broken: they're transformed from `header-name: header-value` into `1: header-name`, `2: header-value`, basically flattening them into an array and using the indexes as the header names.

## Reproducible By

Use any proxy, for quick testing I'd suggest launching tinyproxy on port

[2022-04-21 15:11] ronag commented on #1355
Do you think you could make a test that does not depend on external urls?

[2022-04-21 15:37] pimterry commented on #1355
Sure:

[code]

`172.17.0.1` is the local Docker host address (i.e. the node server's address from the POV of the Docker-hosted proxy) if you're running on Linux. On Windows/Mac `host.docker.internal` should work instead. Or you can set up a proxy outside Docker and use `localhost` directly.

When you make the request after a couple of seconds delay (tinyproxy seems slow, don't think it's relevant)

[2022-04-21 21:30] mcollina commented on #1317
What does UPD mean?

Given you are not interested in fixing this, could we close the issue then?

[2022-04-21 22:31] AlttiRi commented on #1317
"Update". (I added additional information by editing)

I'm very interested in fixing this. This bug is critical.

---

I only removed my fork because my pull request has disappeared here from the list.

Well, anyway it was just 2 lines of changes, so anyone can recreate it instead without any problem.

I'm not interesting in a contribution, I'm only interested in this bug fixing.

[2022-04-22 07:27] ronag opened #1359 "CI Failing on Node 18"
@mcollina FYI

[2022-04-22 07:28] targos commented on #1359
CITGM didn't see it?

[2022-04-22 07:30] ronag commented on #1359
@RafaelGSS

[2022-04-22 07:35] dominykas commented on #1359
Its reproducible locally, although I only get one test failing.

[2022-04-22 07:52] ronag commented on #1355
I can't run this as a self contained test. Amongst other you don't have :8888. Do you think you could make it fully self contained so that we can easily make a test of it and fix it.

[2022-04-22 07:54] ronag commented on #1355
@RafaelGSS I suspect our recent headers changes might have regressed somewhere with an incorrect spread operator.

[2022-04-22 07:58] pimterry commented on #1355
You can use any HTTP proxy you like, e.g. using [buildProxy](https://github.com/nodejs/undici/blob/f70ac7f57ae1b95b8140bcbe408274961fc1ac92/test/proxy.js#L127-L132) from the Undici tests.

In the code above, you'll just need to replace `http://localhost:8888` with the proxy's address and `http://172.17.0.1:9000` with the server's address from the proxy's POV (so `http://localhost:9000` if the prox

[2022-04-22 08:50] #1359 closed

[2022-04-22 14:58] KhafraDev commented on #1355
I'll have a pr fixing this in a few hours

[2022-04-22 15:10] KhafraDev commented on #1355
It's exactly that, noticed it pretty quickly 😄
https://github.com/nodejs/undici/blob/1dc2977c94583efbecd5b6791b5a091d18a2ceeb/lib/proxy-agent.js#L26

[2022-04-22 19:24] #1355 closed

[2022-04-24 02:35] brianjenkins94 opened #1365 "[Question] I'm on Node v18 using fetch as a built-in. How am I expected to configure the timeouts?"
I read a lot of issues, but couldn't come up with a clear answer.

Do I need to invoke the Request constructor directly?

Would I need to specify this for every call?

[2022-04-24 09:13] mcollina commented on #1365
At this point you can't. The fetch() spec do not provide those options. You can use Undici directly and configure a globalDispatcher with those options, check out the docs.

[2022-04-24 11:49] #1365 closed

[2022-04-25 13:12] dheeraj1997 commented on #1308
Can I contribute to it?

[2022-04-25 13:49] austinkelleher commented on #1348
Worked on this over the weekend and have a WIP branch. I'm supposed to leave for vacation tomorrow, so I'll try to at least get a draft PR up today 😅.

Our team is heavily invested in Polly.JS and definitely interested in pursuing a custom Undici adapter.

[2022-04-25 16:50] dnalborczyk opened #1372 "Release new version (node.js compat < v16)"
I was wondering if a new release could be published.

this PR https://github.com/nodejs/undici/pull/1318 fixed an issue with `logical assignment` syntax not being supported for `node.js < v16`.

the `elasticsearch client` adopted `undici v5.0` https://github.com/elastic/elastic-transport-js/blob/fabe5f42d6e69aa99cb0a77dda76e7369800d896/package.json#L66 and therefore makes it incompatible with any

[2022-04-25 19:42] mcollina commented on #1308
sure, go ahead!

[2022-04-25 21:12] austinkelleher commented on #1348
Here is a WIP branch: https://github.com/austinkelleher/undici/commit/5e331e8c036cc37ed659aa8ec850a48ae0f42040

Here is the remaining work:

- Consider additional edge error cases
- Add more tests
- Update TypeScript typings
- Add documentation

I'm leaving early tomorrow morning for about a week. I'll pick this back up when I get back unless someone else does first! 😅

[2022-04-26 01:02] martinheidegger commented on #1329
Lambdas do have a limit on execution time: https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html#function-configuration-deployment-and-execution 900seconds.

[2022-04-26 11:40] kyrylkov commented on #1248
@ronag I'm still having these error.  Cannot use undici fetch at all.  Here is update trace from Node v18:

[code]

[2022-04-26 12:28] kyrylkov opened #1373 "Default fetch timeout too short"
By default fetch times out after 30 seconds.  This causes issues like https://github.com/nodejs/undici/issues/1248

Chrome has 300 second time out.

Please set default unidici fetch timeout to 300 seconds by default.

[2022-04-26 20:23] mcollina commented on #1308
Ah your PR did it! It was just not tagged with "closes #issue" so this would get closed automatically.

[2022-04-26 20:23] #1308 closed

[2022-04-26 20:25] kyrylkov commented on #1373
@ronag Would it make sense to change default request timeout undici-wide to 120 seconds (presumably default in Node.js) or 300 seconds (Chrome)?

[2022-04-26 21:12] mcollina commented on #1373
What's the current timeout?

[2022-04-26 21:13] kyrylkov commented on #1373
30 seconds

[2022-04-26 21:20] mcollina commented on #1373
Sure thing, let's bring it at least to 120 to match Node.js.

[2022-04-26 21:38] kyrylkov commented on #1373
https://github.com/nodejs/undici/pull/1384

[2022-04-27 05:50] kyrylkov opened #1385 "Request timeout vs fetch failed"
Right now when fetch fails due to timeout generic `Fetch failed` error produced.  It literally took us months to figure it out.

It would be great to replace generic `Fetch failed` with specific timeout error message.

[2022-04-27 06:09] ronag commented on #1385
There should be a timeout in the "cause" for "fetch failed". If not then that's a bug. Do you think you could open a PR with unit test for that?

[2022-04-27 06:12] kyrylkov commented on #1385
Here is an example of stack trace for timeout: https://github.com/nodejs/undici/issues/1248#issuecomment-1109691167

Cause: undefined

[2022-04-27 06:28] ronag commented on #1385
I suspect that hs been fixed in master.

[2022-04-27 17:34] kyrylkov commented on #1385
I confirm

[2022-04-27 17:34] #1385 closed

[2022-04-29 00:15] Electrite opened #1388 "Use Proxy with Fetch"
## Problem
I'm unsure about how to use a proxy with fetch. I've found very little documentation about how to integrate a proxy and I seek to use separate proxies for any fetch request with username and password authentication if applicable.

## Solution
As for a good solution I'd hope for a code example to perform a simple get request to a site (e.g. to ifconfig.me) using a proxy and instructions

[2022-04-29 20:36] #1002 closed

[2022-04-30 08:10] targos opened #1389 "Error with parallel `fetch()` and the same abort signal"
## Bug Description

There seems to be a problem with abort signal handling if the signal is aborted during fetch requests.
I don't know if the bug is in Node.js or undici.

## Reproducible By

[code]

## Expected Behavior

This should print "Fetching..." 10 times, then "Got response", then "All settled" and exit without errors.

## Logs & Screenshots

[code]

## Environment

Node.js 18.0.0 with bu

[2022-04-30 08:14] mcollina commented on #1389
Good finding!

[2022-04-30 17:23] KhafraDev commented on #1389
This is an undici bug. I should have a fix for this in a little bit.

[2022-05-01 19:22] panva opened #1392 "[fetch] 5.1.0 regressed ability to intercept headers"
## Bug Description

Intercepting upon individual headers when using `fetch` is broken in 5.1.0, worked fine in 5.0.0

#1309 and possibly lack of test coverage for this is imho the likely suspect

## Reproducible By

[code]

## Expected Behavior

fetch gets matched intercepted

## Logs & Screenshots

[code]

## Environment

Node 18.0.0

### Additional context

Matching headers with a function works

[2022-05-01 19:24] panva commented on #1392
cc @RafaelGSS

[2022-05-01 19:34] mcollina commented on #1392
@KhafraDev could you take a look?

[2022-05-01 20:12] KhafraDev commented on #1392
I'll look into it 👍

[2022-05-01 21:36] matthewlilley commented on #1372
Please, this is blocking numerous apps from being deployed into production at the moment.

[2022-05-01 21:40] matthewlilley commented on #1372
Looks like it was released.

[2022-05-02 05:16] #1392 closed

[2022-05-02 10:00] mcollina commented on #1372
This is done.

[2022-05-02 10:00] #1372 closed

[2022-05-02 15:11] mcollina commented on #1331
This could solve it https://github.com/nodejs/node/issues/42814.

[2022-05-02 15:45] ronag commented on #1331
Yes. But then we can't break the interface. Ever

[2022-05-02 15:49] #1389 closed

[2022-05-02 16:12] mcollina commented on #1331
Pretty much. Are we reading for it?

[2022-05-02 17:22] matthewlilley opened #1397 "Remove usages of ??= operators throught the library"
## Bug Description

There library is targeting Node 14 & 16, but contains usages of the ??= operator which is blocking production builds for various apps which are locked into Node 14. One was recently replaced, but there's at least one more...

## Reproducible By

Consuming library in Node.js v14 environment

## Expected Behavior

Should run in Node.js v14 as expected

## Logs & Screenshots

[cod

[2022-05-02 17:38] targos commented on #1397
All commits are tested on Node.js 14: https://github.com/nodejs/undici/runs/6260101390?check_suite_focus=true
How is it that CI doesn't catch this?

[2022-05-02 17:40] matthewlilley commented on #1397
Great question :)

Looks like this recent PR introduced the one I'm facing now:

https://github.com/nodejs/undici/pull/1309/files#diff-17e5e8b1a57b5f2366ef52769f8c28b48d1ab1e755408107e6705eaecbf38217R305

[2022-05-02 17:43] blittle opened #1400 "Unable to pass a `Headers` instance to the `Request` constructor"
## Bug Description

When creating a `new Request`, if a `Headers` instance is passed within the init param, it does not become a part of the new request object.

## Reproducible By

[code]

## Expected Behavior

I expect the returned header to exist, instead the assertion throws because `null` is returned.

## Logs & Screenshots

## Environment
MacOS 12.3.1 on an M1. Node v16.14.2

### Additional

[2022-05-02 17:46] matthewlilley commented on #1397
It would probably be worth auditing the use of these operators in this library, as this is the second instance in the past couple of weeks. Unforutnately this is blocking production builds on numerous apps for us at the moment.

[2022-05-02 18:23] ronag commented on #1397
I think we disable fetch for node < 16 which is why CI doesn't catch it. Not sure how/where users are using fetch on Node < 16.

[2022-05-02 18:28] mcollina commented on #1397
fetch does not work in node v14 because there are no whatwg streams in core

[2022-05-02 18:54] matthewlilley commented on #1397
Further detail of usage can be found here:

https://github.com/graphprotocol/graph-client/issues/34

[2022-05-02 18:57] matthewlilley commented on #1397
Specific usage is here: https://github.com/ardatan/whatwg-node/blob/master/packages/cross-undici-fetch/package.json

[2022-05-02 19:16] mcollina commented on #1397
I don't understand. Can you articulate?

[2022-05-02 19:26] matthewlilley commented on #1397
I shared the depedency graph in that post.

I guess cross-undici-fetch is not actually using this in Node v14 environment

https://github.com/ardatan/whatwg-node/blob/223320ae3f30aa4fc76a06bdcab1eb2dd0e9b63a/packages/cross-undici-fetch/dist/create-node-ponyfill.js#L72

Undici targets engines 14 & 16.

[2022-05-02 19:32] mcollina commented on #1397
I still don't understand what point are you trying to make.

[2022-05-02 19:37] n1ru4l commented on #1397
Hey @matthewlilley, the referenced code should not run at all on Node.js 14 as `cross-undici-fetch` only uses `undici` conditionally.
This is very likely related to the bundler and NOT an issue within undici.

[2022-05-02 19:50] matthewlilley commented on #1397
Yeah, this is what I was thinking.

I'm trying to understand where the problem is? @graphql-mesh?

The consumer of the @graphql-mesh code generated SDK is simply a Next.js application. I'm assuming the issue isn't with Next.js?

[2022-05-02 19:53] n1ru4l commented on #1397
@matthewlilley Probably the Next.js compiler.

You can close this issue here and the discussion can continue on the one your created for graph-client. I am certain we all will find a solution.

[2022-05-02 19:54] matthewlilley commented on #1397
@n1ru4l Thanks. I'll ping Vercel team about this. Sorry for being persistant, like I said this is blocking us on being able to deploy a number of applications right now.

[2022-05-02 19:57] #1397 closed

[2022-05-02 22:06] mcollina commented on #1397
It might be that a fix should be done here, but it might require a bit more explanation and a test case to reproduce.

[2022-05-02 22:55] matthewlilley commented on #1397
@mcollina For now Vercel have enabled Node 16 so this is no longer an issue for us.

Not much of a test case, but if you want to reproduce.

git clone https://github.com/sushiswap/interface.git
pnpm i
pnpx turbo run build --scope=furo

[2022-05-03 06:53] delvedor commented on #1331
Yes and no IMHO. This problem could be solved similarly to what we are doing with [Fastify plugins](https://github.com/fastify/fastify-plugin#fastify-version).

[2022-05-03 17:28] jefbarn opened #1407 "Content type header set incorrectly (5.1.0 regression)"
## Bug Description

When sending a URLSearchParams AND a 'headers' to the Request (or fetch) constructor the resulting content type is duplicated.

## Reproducible By

[code]

[code]

## Expected Behavior
The correct result is returned for undici 5.0.0:
[code]

## Environment

Node 16.15.0

[2022-05-04 06:48] #1407 closed

[2022-05-04 08:26] #1331 closed

[2022-05-04 10:20] regseb opened #1412 "`fetch` throws UND_ERR_SOCKET error"
## Bug Description

A request on this [page of the Daily Mail](https://www.dailymail.co.uk/sciencetech/article-8057229/Scientists-create-stunning-gifs-Mars-sand-dunes-understand-conditions-impact-them.html) throws an _UND_ERR_SOCKET_ error. There is no problem with `https`.

## Reproducible By

Execute this script:

[code]

## Expected Behavior

[code]

## Logs & Screenshots

[code]

## Environmen

[2022-05-04 10:22] mcollina commented on #1412
Could you reproduce with a self-hosted server?

[2022-05-05 07:25] masx200 opened #1413 "Error: connect ECONNREFUSED ::1:19001"
## Bug Description

[code]
[code]
## Reproducible By

[code]
## Expected Behavior

[code]
## Logs & Screenshots

## Environment

nodejs v18.1.0
undici 5.1.1
### Additional context

[2022-05-05 08:31] regseb commented on #1412
@mcollina I reproduce the same error with a secure HTTP2 server.

[code]

[code]

[code]

[2022-05-05 09:12] ronag commented on #1412
undici doesn't support http2 yet

[2022-05-05 10:38] mcollina commented on #1413
What are you using for proxy and how is that configured?

[2022-05-05 10:43] masx200 commented on #1413
I don't think it has anything to do with the proxy server, because just change `"http://localhost:19001"` to `"http://127.0.0.1:19001"` and it works fine.

[2022-05-05 10:49] ronag commented on #1413
That sounds more like a node issue than undici issue related to dns resolution.

[2022-05-05 11:40] targos commented on #1413
This is probably related to the breaking change of Node.js 17 about stopping to reorder the results of `dns.resolve`

[2022-05-05 12:47] #1413 closed

[2022-05-05 15:44] pimterry opened #1414 "Undici fails to read bodies from responses with implicit lengths"
## Bug Description

Paraphrasing the HTTP spec ([RFC 7230 3.3.3](https://www.rfc-editor.org/rfc/rfc7230#section-3.3.3)), the message length for a normal response body can be defined in a few ways:

* An explicit `content-length` header with a fixed length (point 3 in the RFC list)
* Given a `transfer-encoding` header, a transfer coding chunk that explicitly ends the body (point 5 in the list)
* If

[2022-05-05 15:48] ronag commented on #1414
My reading of the spec is different.

       the chunked transfer coding is not the final encoding, the
       message body length is determined by reading the connection until
       it is closed by the server.

i.e. the transfer-encoding header still needs to be present.

[2022-05-05 15:51] pimterry commented on #1414
I don't think that paragraph applies. It starts with "If a transfer-encoding header field is present" and in this case there is no transfer-encoding header.

I'm referring to the final case, point 7:

[2022-05-05 17:08] pimterry commented on #1414
I'd love to, but it looks like this is going to be deep in llhttp, which doesn't seem easy to dive into.

I've skimmed the README from https://github.com/nodejs/llhttp and the llparse intro (https://llparse.org/) and I get the gist, but that's pretty spare and it's quite hard to immediately work out how the details work in practice.

Is there a contributing guide for llhttp, or any more documentat

[2022-05-05 17:19] pimterry commented on #1414
Doing some digging, I've just run into https://github.com/nodejs/undici/issues/1412.

Pretty sure that's caused by this underlying issue (and the HTTP/2 mention there is an unrelated red herring). I can reproduce the exact same `terminated` error as here with the example site they use:

[code]

Logging the headers too, they do include `connection: close` with no `transfer-encoding` or `content-len

[2022-05-05 22:45] pimterry opened #1415 "Undici fetch fails with sequential requests if the connection was closed"
## Bug Description

With a server that always closes sockets immediately after a response, when Undici tries to send two requests sequentially (fully waiting for the 1st response before the 2nd request) the 2nd request always fails.

Although this fails 100% of the time with Undici's fetch implementation, the exact same code works 100% of the time in Chrome, Firefox and node-fetch, and the equival

[2022-05-05 23:03] pimterry commented on #1415
This error message issue looks like it was actually fixed already in Undici 5.1.0 - it's not an issue in the latest build with Node 16, so we can ignore that after lal (but the rest of this issue remains).

[2022-05-06 01:35] nwtgck opened #1416 "FormData is not available in Node.js 12 and 14"
## Bug Description

Thank you so much for wonderful project. I'm not sure whether this is bug.

I guess undici supports Node version >= 12 as follows. However, in Node 12 and 14, `FormData` is undefined.
https://github.com/nodejs/undici/blob/cc65fe5a029c468630b34f3295edf509080f850d/package.json#L98-L100

## Reproducible By

[code]

## Expected Behavior

[code]

## Environment

I used these three v

[2022-05-06 05:57] Pzixel opened #1417 "TransactionExecutionError: Headers Timeout Error"
## Bug Description

When running long tests on harhat network all transactions start failing and then it stalls.

## Reproducible By

This snippet should do the trick:

[code]

## Expected Behavior

It should be working without issues

## Logs & Screenshots

Transaction fails with

[code]

## Environment

Node 16.5.0, Macos 12.3.1 M1 Pro (but I'm pretty sure it's doesn't matter)

[2022-05-06 06:00] ronag commented on #1417
Sorry but this doesn't look like a undici issue. Please report it to hardhat.

[2022-05-06 06:00] #1417 closed

[2022-05-06 06:01] Pzixel commented on #1417
Oh sorry I was on the wrong tab!

[2022-05-06 11:15] mcollina commented on #1414
No it's not in llhttp. Node.js uses llhttp as well and it implements this.

[2022-05-06 11:39] pimterry opened #1418 "Undici incorrectly rejects responses with trailer header but no matching trailer"
## Bug Description

When a server sends a `Trailer: X` header, it's saying that it _may_ send an `X` trailer field after the response. Undici treats this as a commitment, and throws an error if the response has no such trailer, for no apparent reason.

This seems to be an intentional check [here](https://github.com/nodejs/undici/blob/4b5205309f308836885576aa2c6954faf305d50b/lib/client.js#L852-L867

[2022-05-06 12:43] ronag opened #1421 "How can I use fixed-length multipart request with FormData?"
### Discussed in https://github.com/nodejs/undici/discussions/1420

<div type='discussions-op-text'>

<sup>Originally posted by **nwtgck** May  6, 2022</sup>
Hi, I'd like to request a fixed-length multipart request. The code below requested with `transfer-encoding: chunked` without content-length. I assume the length of formData is statically decided.

[code]

[code]

[2022-05-06 16:53] mcollina commented on #1415
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-08 19:39] #1400 closed

[2022-05-09 15:11] blittle commented on #1400
Thank you @KhafraDev and @ronag!

[2022-05-10 15:53] deanhaleem commented on #1397
@ronag  In my case we're deploying to AWS Lambda. Bundling with webpack results in a smaller deployment package.

[2022-05-11 04:38] evert opened #1433 "Node's fetch implementation does not allow changing headers on request object"
### Version

v18.1.0

### Platform

Linux evertbook6 5.15.0-27-generic nodejs/node#28-Ubuntu SMP Thu Apr 14 04:55:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Subsystem

_No response_

### What steps will reproduce the bug?

Node will lose headers that were added to the request after constructing the Request object, but_only_ if a custom Headers object was also passed in. This reproduces the is

[2022-05-11 06:04] ronag opened #1432 "https://github.com/whatwg/fetch/pull/425/files"
Is https://github.com/whatwg/fetch/pull/425 relevant for us?

[2022-05-11 06:04] ronag commented on #1432
@KhafraDev

[2022-05-11 06:59] ronag commented on #1433
I think this was fixed in https://github.com/nodejs/undici/pull/1401

[2022-05-11 13:06] mcollina opened #1434 "Nominate @KhafraDev as Undici collaborator"
As titled! @KhafraDev have been a major contributor to fetch and it would be awesome to have them onboard as maintainers.

@[KhafraDev](https://github.com/nodejs/undici/commits?author=KhafraDev)

Are you in?

[2022-05-11 13:17] guilhermelimak commented on #1415
I'm taking a look at this issue

[2022-05-11 13:50] ronag commented on #1434
👍  Absolutely. Great contributions.

[2022-05-11 14:48] mcollina commented on #1434
PR yourself in https://github.com/nodejs/undici#collaborators!

[2022-05-11 14:48] mcollina commented on #1434
Done!

[2022-05-11 19:55] evert commented on #1433
I'm not fully certain if #1401 tests for the the exact same issue. One thing that's at least different is that I'm changing a header after constructing the `Request` object.  I don't think there's a test there that covers that case, _but_ it does seem related to very possible that this is _also_ fixed.

[2022-05-11 20:56] mcollina commented on #1433
Could you verify if this still applies to undici v5.2.0?

[2022-05-11 21:07] evert commented on #1433
I imported Undici in my project directly, overwrite `global.fetch()` and family and can confirm it's fixed!

[2022-05-11 21:07] #1433 closed

[2022-05-12 14:01] blittle opened #1437 "Provide a way to access raw headers"
## This would solve...

As outlined at [WHATWG/fetch](https://github.com/whatwg/fetch/issues/973) there is often the need in a server environment to access cookie headers.

For example editing Cookie headers:

[code]

Splitting the combined header value by , will give an invalid result. Instead getAll could be used to retrieve the individual headers.

## The implementation should look like...

The

[2022-05-12 15:20] KhafraDev commented on #1437
The current headers implementation would need an overhaul to support this. It stores headers as strings, rather than arrays (which I believe goes against the spec) and doesn't concat values when using `.get()` (as, well, they're already strings).

I can see adding `.getAll()`, and like cloudflare, making it only work on set-cookie headers.

[2022-05-13 19:54] #952 closed

[2022-05-13 20:04] RafaelGSS commented on #952
@Trott I think this issue doesn't need to be closed because `undici.fetch` doesn't use it yet.

[2022-05-13 21:32] Trott commented on #952
I didn't manually close it. It got closed because of the "Fixes:" line in the commit message. Feel free to re-open or whatever you want to do with it. I have no opinion at all.

[2022-05-15 08:56] S222em opened #1442 "Body close event not emitted when the connection is lost"
## Bug Description

The **close** event of the body is not emitted when the connection is lost.

## Reproducible By

[code]
The connection that was established here works correctly and is supposed to be able to run forever (which it does). When the connection is lost e.g. wifi connection is lost, nothing happens.

- Make a request that will run forever until closed manually (text/event-stream for

[2022-05-15 09:43] stefee opened #1443 "Improve diagnostics request/response/trailers types"
## This would solve...

Implementing diagnostics channels subscription using TypeScript e.g. for https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1021

## The implementation should look like...

Export types for the request/response/trailers provided as message to diagnostics channel.

## I have also considered...

Using `any` as the diagnostics message and custom type definitions

[2022-05-15 16:53] mcollina commented on #1443
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-15 18:13] stefee commented on #1443
I can take a look. Some guidance on the structure and naming of the exports would be appreciated, because the `Request` type presumably already exists or it might mean something ambiguous at least. Is the request provided to diagnostics a specific type of request object?

[2022-05-15 18:15] stefee commented on #1443
It looks like the Request and Response types refer to the fetch variants currently.

[2022-05-15 18:28] stefee commented on #1443
I'm thinking something like `UndiciRequest` or `UndiciClientRequest` would make sense.

[2022-05-15 18:37] stefee commented on #1443
Hmm, so the `response` passed into the channel is just an object-literal sent purely for diagnostics purposes. https://cs.github.com/nodejs/undici/blob/b6a72620a67236ea84160a0ae3d505b3d77a2214/lib/core/request.js#L194

With this in mind, I think a minimal type definition would be best. How does this sound?
- DiagnosticsChannelRequest is a subset of the core Request object - we probably just need t

[2022-05-15 19:18] mcollina commented on #1443
Sounds fair, go for it!

[2022-05-16 03:53] benmccann commented on #1262
@ronag @hansede perhaps the relevant portion of the spec would be:

If _includeCredentials_ is true and the user agent is not configured to block cookies for request (see [section 7](https://datatracker.ietf.org/doc/html/rfc6265#section-7) of [[COOKIES]](https://fetch.spec.whatwg.org/#biblio-cookies)), then run the "set-cookie-string" parsing algorithm (see [section 5.2](https://datatracker.ietf.o

[2022-05-16 05:36] ronag commented on #1262
I think we already fixed this. Can someone confirm?

[2022-05-16 08:29] #1443 closed

[2022-05-16 11:13] metcoder95 commented on #1307
Just to recap out of the discussion of #1305

The goal should be:

- Allow pass custom `connection-header` so no error is thrown when someone wants to override the default one
- Disable pipelining in case custom header is passed

Is correct, please let me know if I'm missing something 🙂

[2022-05-16 12:08] rmunn commented on #1262
https://github.com/nodejs/undici/blob/5478cdd38eb057a1e86c15cf418eeb90486470b2/lib/fetch/index.js#L1806-L1811 doesn't look fixed to me; there's still a TODO comment but no code.

[2022-05-16 12:20] ronag commented on #1262
You are right. PR welcome!

[2022-05-16 16:30] NMinhNguyen opened #1445 "Remove `readonly` from `RequestInit` typings"
## Bug Description

It'd be good to remove `readonly` modifier from `RequestInit` typings to match https://github.com/microsoft/TypeScript/blob/95731f03979985609c9fd662f179be5b9cea3470/lib/lib.dom.d.ts#L1470. This would allow for `RequestInit` objects to be conditionally mutated like so https://github.com/ferdikoomen/openapi-typescript-codegen/blob/0f11ea84a9ca9867bb72700f468fa21d8085ce86/src/temp

[2022-05-16 22:18] KhafraDev commented on #1445
PR welcome, make sure to include tests. We use tsd for testing types.

[2022-05-16 22:18] KhafraDev commented on #1445
PR welcome, make sure to include tests. We use tsd for testing types.

[2022-05-17 01:33] NMinhNguyen commented on #1445
Thanks @KhafraDev, let me know if the test in #1446 isn't enough and I'll see what I can do

[2022-05-17 12:26] kibertoad commented on #1205
@ronag Would a PR implementing (opt-in) error throwing for 4xx and 5xx responses be accepted?

[2022-05-17 13:09] panva opened #1447 "unexpected behaviours between MockAgent and node's bundled fetch"
## Bug Description

Intercepting undici's own fetch body works but node's doesn't. This is building on top of the global global dispatcher shipped with 5.2.0 which is then used by Node 18.2.0 bundled fetch.

## Reproducible By

[code]

The above logs

[code]

## Expected Behavior

It is expected that the string body is passed into the matching function both times.

## Environment

Node.js 18.2.0
U

[2022-05-17 16:17] kibertoad opened #1448 "Support for query params"
## This would solve...

Supporting query params would decrease amount of boilerplate code that developers need to write

## The implementation should look like...

[code]

## I have also considered...

Embedding query params directly into the URL, but it is very cumbersome or requires writing a wrapper in every project.

## Additional context

If this is approved, I can contribute a PR.

[2022-05-17 22:15] mcollina commented on #1447
My bad, I thought I used ```
`Symbol.for()`. Sigh.

[2022-05-17 22:16] mcollina commented on #1205
I do not see a problem with having it as an option.

[2022-05-17 22:46] KhafraDev commented on #1447
`Symbol.for` fixes this bug, but now the `options.body` function runs 3 times for 2 mocks.

[2022-05-18 08:53] mcollina commented on #1448
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-05-18 08:53] mcollina commented on #1448
go for it!

[2022-05-18 08:54] mcollina commented on #1447
why?

[2022-05-18 08:56] #1445 closed

[2022-05-18 08:57] panva commented on #1447
Frankly I have noticed the options.body (and even options.header) functions running multiple times before 5.2.0 but I have not payed much attention to it.

[2022-05-18 08:58] ronag commented on #1448
There is also already the following option:

[code]

[2022-05-18 09:01] kibertoad commented on #1448
@ronag Yes, but it is fairly verbose for a very common use-case. My idea is to basically add this under-the-hood, should be very simple change.

[2022-05-18 09:03] ronag commented on #1448
I don't mind it as long as it doesn't add too much complexity and edge cases.

[2022-05-18 13:20] Fdawgs opened #1450 "Implicit import of `URL`?"
The `URL` class was made part of the global object in node 10, however it is imported regularly throughout this repo:

https://github.com/nodejs/undici/blob/55d39a355c83dfeb52720d1085495f9b5d3a3a95/lib/proxy-agent.js#L4

Was this a stylistic choice, or can it potentially be removed?
Happy to open a PR if wanted.

[2022-05-18 13:45] ronag commented on #1450
@mcollina wdyt?

[2022-05-18 21:55] #1432 closed

[2022-05-18 22:04] KhafraDev commented on #1262
Cookie parsing compliant with the rfc linked is done with #1441. I'll probably strip out that implementation into a new PR to use for this issue.

[2022-05-19 08:21] mcollina commented on #1450
I think it was done before we `URL` became a global. I'm ok in using a global.

[2022-05-19 14:30] #1448 closed

[2022-05-19 14:51] #1450 closed

[2022-05-19 15:00] Rich-Harris commented on #1262
#1454 was reverted following @ronag's comment:

I don't think there _is_ a spec to follow here though. The spec (referring to 4.7.17.3 of the [fetch standard](https://fetch.spec.whatwg.org/#http-network-fetch), which leads us 5.2 of [RFC 6265](https://datatracker.ietf.org/doc/html/rfc6265#section-5.2)) is clearly written for browsers; it assumes that the user agent has a cookie store, which obviou

[2022-05-19 15:15] KhafraDev commented on #1262
I believe this is a bug that has nothing to do with cookie parsing (etc.) and #1454 presents a valid solution, just need to see what ronag thinks now. 😄

[2022-05-19 17:53] ronag commented on #1262
I'm ok with following cloudflare and deno. But if we land this change I would like that:

- A WinterCG issue.
- It's clear in the code that all related logic is outside of spec and a reference motivating it. Possibly an issue in the WinterCG repo?
- Clearly added to the README.
- Investigate what exactly deno, node-fetch and cloudflare does so that we don't introduce another variant with slight di

[2022-05-19 18:01] KhafraDev commented on #1262
- `node-fetch` does not have [credentials(https://github.com/node-fetch/node-fetch/blob/6875205c1a6eff1ce89ae762b1636cf3cd9fb957/README.md#class-request). So I'm guessing that no filtering is occurring.
- `Deno` does not have [credentials](https://github.com/denoland/deno/pull/12384) - however they still keep the typing. I would guess no filtering occurs either?
- Cloudflare, probably no credentia

[2022-05-20 15:25] kibertoad opened #1460 "Flaky tests in CI on Windows/Node 16"
## Bug Description

Tests in CI, specifically Windows/Node 16, fail like this:

[code]

It can be another test, but still same error:
[code]

## Reproducible By

Rerunning CI several times, it fails approximately 1 out of 3 times.

## Expected Behavior

All tests always pass in CI.

## Environment

Microsoft Windows Server 2022 10.0.20348 / Node 16.14.2, Node 16.15.0

### Additional context

Earli

[2022-05-20 15:38] mcollina commented on #1460
cc @ShogunPanda

[2022-05-20 17:55] jimmywarting opened #1462 "fetch raw bytes without decompressing (and sending accept-encoding)"
## This would solve...

Something that node-fetch have had is the possibility to avoid decompressing the body while also sending out `accept-encoding`. why would this be useful? if you make a request to `abc.com` on the behalf of a client (like in a proxy) and it respond with a `content-length` and a `content-encoding` then you wish to simply just send back all this response headers and pipe the d

[2022-05-20 20:10] erunion opened #1463 "`cookie` no longer able to be set in the Headers API as of v5.2.0"
## Bug Description

Upgrading Node from 18.1 to 18.2 we are no longer able to set the `cookie` header in the `Headers` API.

Seems this is a result of https://github.com/nodejs/undici/pull/1337

## Reproducible By

[code]

Running the above code on Node 18.1:

[code]

On Node 18.2 (and undidi 5.2):

[code]

Curiously if I don't use the `Headers` API and set the `cookie` header directly it works:

[2022-05-20 20:17] erunion commented on #1463
Seems that https://github.com/nodejs/undici/pull/1337 is the culprit

[2022-05-20 21:02] KhafraDev commented on #1463
This is expected - undici follows the fetch spec and not how other platforms behave. The fetch spec tells implementations to filter out `set-cookie` and `set-cookie2` headers, so that's what occurs.

[2022-05-20 21:50] erunion commented on #1463
Ok and looks like undici [doesn't support `includeCredentials` right now](https://github.com/nodejs/undici/blob/84c8a027f90cb27a8bfbf162f6c4ab1e0ff5c9a3/lib/fetch/index.js#L1388-L1395) so it's unfortunate that this code of mine is broken until that's added.

[2022-05-21 02:03] KhafraDev commented on #1463
That section of the code deals with setting cookies in a per-origin browser cookie jar, not getting/setting/sending `set-cookie` headers. See #1262

[2022-05-21 06:43] mcollina commented on #1462
Is this part of the spec?

[2022-05-21 07:55] ronag commented on #1462
It is not.

[2022-05-21 08:07] mcollina commented on #1462
Then I think it's out of scope. Maybe open an issue in [WinterCG](https://wintercg.org/) to see if there is appetite for standardizing this feature.

[2022-05-22 15:38] mcollina commented on #1447
@KhafraDev the problem is that `fetch` is using some symbols from "mock" that are going to be different between the bundled fetch and the one in Node.js. Basically we must make sure that `fetch()` does not use any internal symbols.

See https://github.com/nodejs/undici/blob/84c8a027f90cb27a8bfbf162f6c4ab1e0ff5c9a3/lib/fetch/index.js#L1915

Unfortunately I do not have enough time right now to dig d

[2022-05-22 17:43] KhafraDev commented on #1447
Yep, using global symbols (idk the correct term; using `Symbol.for` instead of `Symbol`) fixes the issues, although it would be great to remove the symbols altogether. I had two ideas regarding removing the symbol:

- Async mocking would allow us to resolve the async iterable body instead of using `request.body.source`.
- Check if the current agent is a `MockAgent` instead.

I haven't gotten aroun

[2022-05-22 18:05] mcollina commented on #1447
go for the updated solution, I'll ship a release early next week.

[2022-05-22 21:40] #1447 closed

[2022-05-23 01:33] aeharding commented on #1463
Hello! I'm confused. I was using nodejs v18.0 `fetch` and I could get the `Set-Cookie` header just fine.

However now I cannot when I upgraded to nodejs v18.2. I see it when doing a `console.log()` of `response.headers`, but `response.headers.get('set-cookie')` doesn't work.

I understand that that's the fetch API standard, but that standards seems like it was designed for a browser, and not Node.

[2022-05-23 01:41] aeharding commented on #1328
`set-cookie is a forbidden header-name so it should be removed entirely (this is similar behavior with browser)`

@KhafraDev if this is true, it seems like a case of a spec being written in the context of the browser, and not node.

Is there any chance of this being reverted? This change makes the fetch API not usable for me.

[2022-05-23 01:50] KhafraDev commented on #1463
Yes, you are entirely correct. The fetch spec was developed with browsers in mind - not so much a server environment. This causes a few problems with deciding how features should behave when the spec is subpar for a node.js use-case. However, those decisions were made before the creation of the [WinterCG](https://wintercg.org/) so now it has been decided to wait for a cross-platform solution/"spec

[2022-05-23 02:11] aeharding commented on #1463
Thanks for the quick response! That sounds good.

In case anyone else is reading and has the same issue, `node-fetch` allows accessing the `Set-Cookie` header on the response. A workaround with a similar API in the meantime. :)

https://www.npmjs.com/package/node-fetch