[2021-02-21 19:37] #487 closed

[2021-02-21 19:37] #355 closed

[2021-02-23 01:11] Ethan-Arrowood commented on #532
@ronag or @mcollina can you explain why something like `Client.request` is implemented as it is? A good starting point would be: Why does `RequestHandler` extend `AsyncResource`? Could the `client-request.js` file be implemented directly on the `Client` class? If not, why?

Additionally, could you share some details on how `Client.dispatch` works? I'm trying my best to understand the queuing syste

[2021-02-23 01:37] Ethan-Arrowood opened #561 "Pool is missing property `pipelining`"
While authoring the docs for Pool i noticed it is missing the `pipelining` property that `Client` has. Should this be added?

[2021-02-23 08:21] ronag commented on #561
Yep

[2021-02-23 08:51] mcollina commented on #532
We inherit from `AsyncResource` to be compatible with AsyncLocalStorage and the rest of async_hooks-based systems. If we didn't, a user will lose context when the response comes out of the request.

[2021-02-23 09:02] piranna commented on #531
According to docs, it would be a matter of overwrite just only [client.dispatch()](https://github.com/nodejs/undici#clientdispatchopts-handler-void).

[2021-02-23 14:44] ronag opened #562 "replace nextTick with queueMicrotask everywhere?"
https://github.com/nodejs/node/pull/37484/files

[2021-02-23 15:19] mcollina commented on #562
if benchmarks and tests are happy, +1 from me as a semver-major.

[2021-02-23 19:03] mcollina commented on #22
Given https://github.com/devsnek/llhttp/tree/wasm, I think we could try vendoring llhttp and the http parser.

[2021-02-23 21:47] ronag commented on #22
I think I can do this

[2021-02-24 00:10] mcollina commented on #22
That would be a good experiment! I tried to get a build done and I keep getting errors :D.

If you have a good tutorial /some docs I would love to read up.

cc @devsnek

[2021-02-24 00:14] devsnek commented on #22
It was built using https://github.com/WebAssembly/wasi-sdk. After you build it with `build_wasm.sh`, `wasm.js` should "just work".

[2021-02-24 00:18] Ethan-Arrowood commented on #532
Can you dig a bit deeper on this point?

[2021-02-24 00:21] devsnek commented on #22
I think technically you could built it without the wasi by manually including libc headers since it doesn't use any system apis, but imo its easier just to use the sdk anyway.

[2021-02-24 00:31] mcollina commented on #22
Thanks!

[2021-02-24 01:22] ctolkien opened #563 "[Docs] Pool options types states 100 connections by default, docs state 10"
See:

![image](https://user-images.githubusercontent.com/515955/108930887-c6f63f00-769a-11eb-86e0-411ab0d3ead0.png)

vs

![image](https://user-images.githubusercontent.com/515955/108930930-e1c8b380-769a-11eb-9ad3-b5c61ba6cb8d.png)

[2021-02-24 01:40] mcollina commented on #563
Would you like to send a Pull Request to address this issue?

[2021-02-24 01:51] mcollina commented on #532
async_hooks use `AsyncResource` to track the asynchronous flow of execution. Thanks to this, APMs and applications could store information that is context-dependent without passing it as an argument. It's a mechanism similar to a thread local in Java or .NET.

As an example, a socket is an `AsyncResource`, as well as our http parser. Every `AsyncResource` has a _parent_: in this way we can pass on

[2021-02-24 02:02] Ethan-Arrowood commented on #563
And I think the current API defaults to 1 @ronag -- fwiw i'm fixing this in my upcoming docs PR adding the pool.md file ~ should be up tomorrow

[2021-02-24 02:09] Ethan-Arrowood commented on #532
Thats perfect! Thank you for the detailed explanation.

---

I'm making progress on understanding `Client.dispatch` - i'll follow up when I have a more specific question soon

[2021-02-24 09:02] ronag commented on #563
Current default is 10.

[2021-02-24 11:32] mcollina commented on #22
I did some experiments... using the wasi-sdk works like magic, thanks @devsnek!

From the point of view of Undici, we are missing some key things that are provided by https://github.com/nodejs/node/blob/master/src/node_http_parser.cc, hooks into the parsing flow:

https://github.com/nodejs/node/blob/76a073b67ed94a38ab3efa9cf9b2030962cb4d08/src/node_http_parser.cc#L966-L979.

This is doable with mu

[2021-02-24 15:07] Ethan-Arrowood commented on #532
Everything is a state machine 😱

[2021-02-24 15:10] dnlup commented on #22
Is it, hopefully,  a matter of copy/paste the bits of Node into llhttp?

[2021-02-24 15:23] devsnek commented on #22
@mcollina you can add them in here: https://github.com/devsnek/llhttp/blob/69d4405f2dd492164a236c7bdb76902c8d46d7d4/src/native/api.c#L29-L45

[2021-02-24 15:53] Ethan-Arrowood commented on #561
@ronag can you mark this as a good first issue. I'll get around to it when I can, but another contributor can take it in the mean time.

[2021-02-24 20:51] ronag commented on #22
I'm blocked. No idea how to build https://github.com/devsnek/llhttp/tree/wasm with https://github.com/WebAssembly/wasi-sdk

Tried everything I can think of to make clang find the correct include path without success:

[code]

I guess UNIX tooling is not my strongest skill.

[2021-02-25 09:33] dnlup commented on #22
Just thinking out loud here:

to define `kOnMessageBegin` we should add a `wasm_on_message_begin` in the parser settings in `src/native/api.c`. That would be similar to what is done in Node `http_parser.cc` with `on_message_begin`. The hook using `kOnMessageBegin` would then be finalized/implemented in the `JS` implementation of the Parser. This implementation will substitute the `HTTP_Parser` we

[2021-02-25 09:54] dnlup commented on #22
@ronag The that works for me is downloading a `tar.gz` [release](https://github.com/WebAssembly/wasi-sdk/releases), extract it somewhere, then launch `WASI_ROOT=<path-to-wasm-sdk> ./build_wasm.sh`.

[2021-02-25 10:17] dnlup commented on #22
Also, [`consume/uncosume`](https://github.com/nodejs/node/blob/76a073b67ed94a38ab3efa9cf9b2030962cb4d08/src/node_http_parser.cc#L604)  would have to be implemented using streams on the `JS` side, right?

[2021-02-25 10:24] ronag commented on #22
Yea. We need to remove consume/unconsume and just use `socket.on('data', buf => parser.execute(buf))`

[2021-02-25 11:12] dnlup commented on #22
Does that mean that [`kOnExecute`](https://github.com/nodejs/undici/blob/master/lib/core/client.js#L442)  is no longer necessary?

[2021-02-25 11:15] ronag commented on #22
Correct. That logic should live after `const ret = parser->execute(buf)`

[2021-02-25 15:33] dnlup commented on #22
I managed to put together a small experiment for a parser in https://github.com/dnlup/llhttp/blob/undici_wasm/wasm.js. Besides the things we already mentioned. like:
* `kOnExecute` not being necessary anymore
* we will handle the stream logic in js

One other thing I am seeing is the headers timeout, the headers max size & number. Do we need all of them implemented in the base parser?

What strate

[2021-02-25 15:42] ronag commented on #22
headersTimeout not necessary

[2021-02-26 09:17] #562 closed

[2021-02-26 09:18] ronag commented on #22
@dnlup at you working on this with intention to open PR?

[2021-02-26 09:25] mcollina commented on #22
it would be best if undici kept having no runtime dependencies. A contribution in the form of a script that generates the relative javascript and wasm files and populate a folder in this repo would be rad.

(Bonus point if the script is run within a docker image, so the toolchain to generate those files is super easy).

[2021-02-26 09:38] dnlup commented on #22
Yes. There's a lot of new stuff for me here, so I might not be fast, but I hope to complete it.  Anyway, I'd be happy to help with this issue.

[2021-02-26 09:44] dnlup commented on #22
Ok, just to check I understand correctly, the best approach would be:

* setting up a docker container
* from the container, we clone/download the llhttp project (do we use a custom repo or branch?)
* launch the script to generate the wasm build
* copy the build assets into undici

This script would also have to work locally. Otherwise, there would be no way to tun undici

[2021-02-26 10:46] mcollina commented on #22
I would just clone master and add our own files on top (if we need them)

I don't understand this.

[2021-02-26 11:04] dnlup commented on #22
Sorry.

I thought that the script should have to run on the CI and locally (while working on your machine). But now that I think about it, maybe the easiest solution, for now, would be just to run it locally. We need to be able to build the parser to use undici.

[2021-02-26 11:05] mcollina opened #569 "Creates a ProxyAgent to forward all HTTP request to an HTTP proxy"
Here is some example call

[code]

You might need to create a `ProxyPool` (that inherits from `Pool`) as well.

Follow up from #568

[2021-02-26 11:07] mcollina commented on #22
A local run (via docker) would be fine... we'll commit the output to this repo.

[2021-02-26 15:20] frzsombor opened #570 "How to send a POST request? (example)"
Hi! Can someone please provide a working POST request example?
I've been struggling with sending a simple POST request with undici for hours.
Tried adding post data to `body` several ways, but the server is not getting it.
Tested with https://postman-echo.com/ too, native POST request succeeds, but undici is not.

Is there anything wrong with this code?
[code]

[2021-02-26 16:57] Ethan-Arrowood commented on #570
Hi @frzsombor this might be an issue with your server. Here is an example I coded up that successfully posts a string to a native Node.js http server

[code]

[2021-02-26 21:15] #427 closed

[2021-02-27 09:43] ronag opened #573 "Turn into mono repo?"
Discussed with @Ethan-Arrowood. Would be nice if we could split undici into a mono repo that publishes multiple packages. In particular undici-core that only contains Client (and dispatch). So that other packages such as undici-fetch has a minimal dependency.

[2021-02-27 09:43] ronag commented on #573
@mcollina wdyt?

[2021-02-27 09:44] ronag commented on #573
A bit similar to how pouchdb does it.

[2021-02-27 10:17] mcollina commented on #573
I don't see the benefit of it. It's faster to download and install a bigger module than 2 small modules of equal sizes :/.

I would add fetch() to undici instead.

[2021-02-27 16:42] ronag opened #578 "wasm + worker?"
If we move parsing to wasm would it make sense to also move it into a worker using transferable buffers?

[code]

[2021-02-27 17:56] mcollina commented on #578
Not really, sending messages back and forth is expensive

[2021-02-27 17:56] #578 closed

[2021-02-27 22:36] #573 closed

[2021-02-27 23:09] Ethan-Arrowood commented on #573
One additional note I'd make is that users would only ever have to install the part they need. I.e. request or fetch or stream or whatever. They'd all depend on "core". + if a library like Got or Axios wanted to base their APIS on undici they'd only have to install "core" We could also still export and publish a "undici" which exposes all of the available things.

[2021-02-27 23:13] mcollina commented on #573
Let's revisit when such a use case shows up. I've received praise for undici not having dependencies for example.

[2021-03-01 13:33] ShogunPanda commented on #553
Ok, I've explored the PR way and I immediately found out it makes little sense. Since undici works on a single host, following redirects (which usually change it) it will involve maintaining different clients all together.
And this goes way beyond the scope of this package.

I'll write a extension package, like `undici-with-redirects` which achieves this maintaining several clients internally.
Tha

[2021-03-01 14:58] mcollina commented on #553
I think it might be possible to write a `RedirectAgent` that can follow a request through hops. It might be a separate module or something internal - it won't touch any of the exiting codebase.

(I think having it internally might simplify discovery and usability).

[2021-03-01 16:46] mcollina opened #580 "Charterining Undici as a full working group"
I think it's time we charter Undici as a Node.js Working group, and maybe start having a biweekly or monthly sync to track development. There is a lot of progess being done in a short amount of time, which is amazing.

[2021-03-01 16:46] mcollina commented on #580
cc @Ethan-Arrowood @dnlup @ronag

[2021-03-01 17:00] Ethan-Arrowood commented on #580
I'd love this - happy to help charter as well.

[2021-03-01 17:25] ShogunPanda commented on #553
I also thought the same.
My only concern is: how should I handle external hops?

Let's say we have this:

[code]

How should I handle the clients? Internal hidden clients to the new server? Also, should I forward opts?

[2021-03-01 17:34] dnlup commented on #580
Sounds good to me 💪

[2021-03-01 17:49] mcollina commented on #553
I was thinking something like:

[code]

[2021-03-01 17:57] Ethan-Arrowood commented on #580
I'm going to start on the process detailed [here](https://github.com/nodejs/TSC/blob/main/WORKING_GROUPS.md) now

[2021-03-01 18:03] ronag commented on #580
SGTM

[2021-03-01 18:12] Ethan-Arrowood commented on #580
🚀

[2021-03-01 20:35] delvedor commented on #580
I don't have a lot of time, but I would love to help!

[2021-03-02 07:00] csvan opened #581 "Feature: ability to ignore errors (strict: false)"
We are seeing some errors from Undici which do not occur under any other client, e.g.

[code]

I have been told Undici is stricter with regard to the HTTP spec than other clients, and I think that's great. However, for the sake of compatibility with existing ecosystems, it would be great to be able to configure undici to ignore some (or all) such errors. This would let organisations make a gradual

[2021-03-02 08:14] mcollina commented on #581
If it's possible, I think we should do it (as long as it is disabled by default). The more popularity Undici gains the more these kind of issues will appear.

[2021-03-02 08:18] mcollina commented on #547
I've recently been asked how I would approach adding HTTP2 support to Undici. The starting point should be to implement an HTTP2 version of https://github.com/nodejs/undici/blob/252b676756053bc8bcf70cff89cad33243a9c9e5/lib/core/client.js#L71 on top of an HTTP2 session.

[2021-03-02 12:56] ronag commented on #581
So basically something like a `strict: false` options? PR welcome.

[2021-03-02 13:37] nherment commented on #556
@mcollina It would be useful to know more about your intentions to help me get it done faster.
There is already some base version of TLS session reuse within a single client in this lib. Is the intention to re-use TLS sessions across the clients of a connection pool?

[2021-03-02 14:07] mcollina commented on #556
Currently we are caching the session at `Client` level. We can cache them at `Pool` level, greatly reducing the cost for establishing new connections.

[2021-03-02 16:15] ShrimpAIO opened #583 "SocketError: other side closed"
Upon connecting to a proxy with user:pass it's all good, but when I try to make a request to an proxy which is IP authenticated, I get 'SocketError: other side closed'.
I'm not sending the proxy-authorization header as it's not needed.
Blanked the proxy ip and port below.
[code]

[2021-03-02 16:40] Ethan-Arrowood commented on #580
@ronag & @mcollina can the folks in this thread all be added to Undici as collaborators so we can help out with issue and pr management?

[2021-03-02 17:32] mcollina commented on #580
done!

[2021-03-02 17:40] Ethan-Arrowood commented on #583
@ShrimpAIO do you have an example with another HTTP client of this working?

[2021-03-02 17:43] Ethan-Arrowood commented on #563
closed by #582 ?

[2021-03-02 17:43] #563 closed

[2021-03-02 17:45] ShrimpAIO commented on #583
`
var res = await superagent
.get('https://api.ipify.org?format=json')
.proxy(proxyUrl);`
Blanked out the proxy above but the above code works on Superagent. Also worked on Axios & request-proxy. Just for some reason they refuse to work with Undici.

[2021-03-02 18:01] ShrimpAIO commented on #583
`node:internal/process/promises:245
          triggerUncaughtException(err, true /* fromPromise */);
          ^

SocketError: other side closed
    at Socket.onSocketEnd (D:\Libraries\Documents\Undici\node_modules\undici\lib\core\client.js:773:22)
    at Socket.emit (node:events:390:22)
    at endReadableNT (node:internal/streams/readable:1307:12)
    at processTicksAndRejections (node:internal/p

[2021-03-02 18:43] ShrimpAIO commented on #583
I've made some progress but still not working with these particular proxies.
Adding browser-like headers to the request on Windows presents this:
<html><head><title>400 Bad Request</title></head>
<body><h2>400 Bad Request</h2></body></html>

400
Meanwhile, the same code on Ubuntu throws me this:

SocketError: other side closed
    at Socket.onSocketEnd (/home/ubuntu/Crustacean/Monitors/Shopify/nod

[2021-03-02 19:13] ShrimpAIO commented on #583
Seems like another proxy provider refuses to work;
Bad Protocol
403
This one was user:pass authenticated.
There are two providers I have access to that fully work, but proxy support does seem iffy.

[2021-03-02 19:24] Ethan-Arrowood commented on #583
Maybe this is something not yet achievable in Undici see #569

[2021-03-02 19:24] Ethan-Arrowood commented on #583
And #568 might help you too

[2021-03-02 19:43] ShrimpAIO commented on #583
Ok;
The two issues above did not help, another discovery has however been made - only http requests can be successfully made, the moment a request is https these proxies do not like it and throw odd errors

[2021-03-03 08:34] simoneb commented on #581
How would this work?

- identify which errors should be turned into warnings when strict: false
- check the value of the strict option when such an error is about to be thrown
- turn it into a warning if strict: false
- use process.emitWarning in Node and console.warn in the browser

Thoughts?

[2021-03-03 09:03] mcollina commented on #581
I think we can just adopt a simple strategy for this:

1) Identify when `UND_ERR_CONTENT_LENGTH_MISMATCH` is being generated
2) Write a test for a new option `strictContentLength`: it can be `true` or `false`, default `true`. When this option is `false`, the error should not be generated.
3) Make the test pass.

(Undici does not support browsers).

[2021-03-03 09:08] csvan commented on #581
From the perspective of a developer which uses Undici but isn't familiar with the internals, I imagine something like:

`strict: false` - do not throw on any of the errors specified in https://github.com/nodejs/undici#undicierrors, but (optionally) log a warning.

[code]

^ throw on the listed errors, optionally log a warning for all the other ones.

[2021-03-03 09:20] simoneb commented on #539
duplicate of https://github.com/nodejs/undici/issues/539

[2021-03-03 09:28] #539 closed

[2021-03-03 09:52] simoneb commented on #581
@csvan I agree with the approach with the exception (sorry for the pun) that I don't believe that all those errors qualify as possible warnings. e.g. `NotSupportedError` will (I assume) prevent undici from working altogether

[2021-03-03 09:58] csvan commented on #581
@simoneb I see, I wasn't familiar with all of them or what they signified unfortunately. Allowing the developer to ignore a subset of them would still be very helpful.

[2021-03-03 11:38] frzsombor commented on #570
Thanks for the quick, detailed help! I haven't had time to test it yet, but I already noticed that I've missed the first question mark '?' character from the beginning of the data string, maybe that caused the issue. I've modified the title of the issue to be more search friendly for those who are looking for a POST example.

[2021-03-03 11:39] #570 closed

[2021-03-03 15:58] Ethan-Arrowood opened #584 "🧹 repo housekeeping"
Now that we have an @nodejs/undici team we should probably put some effort into cleaning up this repo. Some general things that come to mind include:

- [x] issue templates
- [x] pr templates
- [x] enable discussions (for help requests)
- [x] update labels
- [x] groom existing issue list
- [x] is LICENSE, CONTRIBUTING, and CODE_OF_CONDUCT all up to date? ~(docs intentionally omitted since thats a

[2021-03-03 17:03] mcollina commented on #584
Put the names of everybody in the README.

[2021-03-03 17:11] Ethan-Arrowood commented on #584
Should we have a community space like Discord? Or will GitHub discussions suffice to start?

[2021-03-03 17:43] mcollina commented on #584
We can have a channel in the Node.js slack or the Open.js slack :)

[2021-03-03 17:46] Ethan-Arrowood commented on #584
We should link these - I think I'm only in the OpenJS Foundation slack

[2021-03-04 08:54] simoneb commented on #581
Working on this in https://github.com/nodejs/undici/pull/586

[2021-03-04 09:05] simoneb commented on #581
@mcollina this is what I've done in #586 and there's one thing I could use some input on. I basically copied the tests from the existing test file which was testing that an error was generated when content-length mistmatches. There are 2 tests which are streaming data and sending 2 requests. With `strictContentLength` disabled the second request always fails anyway. If I keep the two requests in t

[2021-03-04 09:19] mcollina commented on #581
This is the reason why we ended up creating an error for the request. Some other changes will be needed.

[2021-03-04 09:49] simoneb commented on #581
Makes sense, thanks for confirming. I'll have a closer look

[2021-03-04 14:20] jonnydgreen commented on #531
I'm very happy to work on an implementation based on @adamovittorio's suggestion if that's okay with everyone? It'll include the `MockClient` definition, tests, docs and typings :)

[2021-03-04 18:07] mcollina commented on #531
Go for it @jonnydgreen! Open a draft PR as early as possible so when can provide iterative feedback.

[2021-03-04 20:24] jonnydgreen commented on #531
Awesome! I'll submit a draft PR for initial feedback as soon as possible! :)

[2021-03-07 08:46] ronag opened #589 "transfer-encoding: identity"
https://github.com/nodejs/node/issues/37580

Might need special handling. Both in undici and llhttp.

[2021-03-07 18:33] ronag commented on #589
https://github.com/nodejs/node/issues/37580#issuecomment-792329825

[2021-03-07 18:33] #589 closed

[2021-03-08 07:13] ronag opened #590 "dispatch semver major change ideas"
This is just a list of ideas for optimizing dispatch by changing the API. Mostly enabled by https://github.com/nodejs/undici/pull/575/files.

- `onBody` buffer must be handled synchronously or copied.
- `rawHeaders` is an array of buffers instead of strings.
- Add `onHeader` (s) which must be handled synchronously or copied? Remove headers argument from `onHeaders` and `onComplete`. Rename `onHead

[2021-03-08 08:15] mcollina commented on #590
I would go with whatever increase the throughput. The only caveat is not have a regression in `request` and the others.

[2021-03-08 08:50] nherment commented on #556
Addressed by https://github.com/nodejs/undici/pull/588

[2021-03-08 16:25] viglucci opened #591 "Best practice for following redirects?"
What is the best practice for following redirects when using `undici`?

I don't seem to see anything in the README about following redirects, is that correct, or have I missed something?

If there is no direct support for following redirects then I am thinking that following a redirect is a higher-level concern than a concern of `undici`, in that it would be expected that a consumer of `undici` wo

[2021-03-08 16:27] ronag commented on #591
Redirects is something we currently expect to be handled on a higher level.

[2021-03-08 16:31] viglucci commented on #591
Thanks for the quick response! It would be great to see `unidici` support following redirects directly but I also understand that it may go against the focus and nature of the library.

I'll close this issue as my question has been answered.

[2021-03-08 16:31] #591 closed

[2021-03-08 17:16] joesepi commented on #584
I created a Slack channel in OpenJS Slack: #nodejs-undici

For those who want to join OpenJS Slack: https://slack-invite.openjsf.org/

The benefit of using OpenJS Slack is that it is paid and does not have message limits. ✌️

[2021-03-08 17:30] dnlup commented on #584
thanks @joesepi

[2021-03-09 07:33] #581 closed

[2021-03-10 17:16] #532 closed

[2021-03-10 17:24] #517 closed

[2021-03-10 17:24] Ethan-Arrowood commented on #517
closed by recent docs updates

[2021-03-10 17:24] Ethan-Arrowood commented on #537
closed by recent docs updates

[2021-03-10 21:52] mhdawson opened #594 "Rename primary branch to main"
Refs: https://github.com/nodejs/node/issues/33864

I don't think the rename will have much of an effect on the ongoing work, and I don't think there are external dependencies on this repo/branch name.

Any concerns with me updating the primary branch to main ?

[2021-03-11 02:53] Ethan-Arrowood commented on #540
Alright proof of concept fetch based on client.dispatch:

[code]

[2021-03-11 03:03] Ethan-Arrowood commented on #540
The main idea is that the `body.body` is supposed to be a WHATWG ReadableStream. Since we don't have that yet, I think we can use an AsyncIterator. This is almost a future proof solution since if/when WHATWG Streams are added to Node.js, we can drop it into `body.body` and the rest of the fetch implementation will work as expected.

[2021-03-11 05:46] Ethan-Arrowood commented on #540
Okay runnable example can be found here: https://github.com/Ethan-Arrowood/undici/blob/add-fetch/lib/fetch/pseudo-fetch.js

I tried to pipe the output of `onData` directly to an async generator. I honestly tried a lot of things but couldn't figure it out. Maybe it's not even possible with the way `client.dispatch` is implemented. All in all I'm trying to avoid storing all of the `chunk` in memory.

[2021-03-11 07:25] delvedor commented on #594
Guide from GitHub on how to do it: https://github.com/github/renaming

[2021-03-11 08:05] mcollina commented on #540
The more performant way is to implement an `AsyncIterator` without using the native javascript syntax. You can find an example of the API: https://github.com/nodejs/node/blob/d571ec957f5c9584bf9bee41fa0e9d3ff6965e86/lib/internal/streams/async_iterator.js#L55.

However you can just use `new stream.PassThrough()` for now, we can optimize later.

[2021-03-11 17:16] mcollina commented on #594
Not at all! Ship it.

[2021-03-12 21:33] mhdawson commented on #594
Done

[2021-03-12 21:33] #594 closed

[2021-03-12 21:33] ShogunPanda commented on #553
Ok, I was able to implement it using a RedirectAgent as @mcollina suggested.

Please see: https://github.com/nodejs/undici/pull/597/files

[2021-03-15 15:05] dnlup opened #598 "Missing Agent in esm exports"
Should we add the Agent to the `esm` wrapper or am I missing something?

Ref: https://github.com/nodejs/undici/blob/main/wrapper.mjs

[2021-03-15 15:26] dnlup commented on #598
Yes, we should be ok by just specifying an `exports` that points to `index.js`.

[2021-03-15 19:51] Ethan-Arrowood commented on #540
Are you saying that instead of implementing it using the symbol and generator syntax, I should implement the underlying API parts (`next()` and `return()`)? In a local commit I've actually started using the ponyfill from `web-streams-polyfill/ponyfill`.

[2021-03-15 19:57] mcollina commented on #540
I would recommend against doing that for now and wait for Node.js core.

[2021-03-15 22:37] Ethan-Arrowood commented on #540
Another syntax I'm playing with is based on event emitters. I might be totally invalid but worth sharing:

Make `onData` emit an actual `onData` event such as `ee.emit('onData', chunk)`, and then use the `on` method to yield the emitted events as an async iterator such as:

[code]

I tried rewriting my little pseudo-fetch to use this and I can't get it to work. Probably overlooking something.

Jus

[2021-03-15 22:40] ronag commented on #540
I think this is the proper approach.

[2021-03-17 13:37] #598 closed

[2021-03-20 18:12] Nytelife26 commented on #560
@s-dschro When we become one of the first HTTP libraries to switch to undici under the hood for `@helperdiscord/centra` we'll let you know how it works out. It's already one of the fastest mainstream libraries for it on NPM, but hopefully switching to undici will push performance even further.

[2021-03-21 19:49] Nytelife26 commented on #531
If I may add, would it not be better to put the mocking in a separate package? Many users will not be using the mock functionality, and it is not integral to undici's function, so perhaps it should be put in an `undici-mocks` (or similar) package?

In regards to undici not using HTTP under the hood, I believe intercepting the requests at the `net` level is the better option since that would mock *

[2021-03-22 09:52] piranna commented on #531
+1 to the independent package. Regarding mocking `net` built-in, it's interesting but too much low-level, we would not be able to intercept at HTTP layer... we would already need a module built on top of that `net` mock to do it.

[2021-03-22 18:39] denis-marecky opened #604 "proxy not works with https sites"
400 bad request when using proxy & trying to send https requests. http requests works fine

[2021-03-22 19:03] ronag commented on #604
Please provide a reproducible example

[2021-03-22 19:50] denis-marecky commented on #604
async function test() {
  const { Client } = require('undici')

  const serverUrl = `https://facebook.com:443`
  const proxyUrl = `http://122.155.165.191:3128`

  const client = new Client(proxyUrl)
  client.on('connect', () => {
    console.log(`Connected`)
  })
  client.on('disconnect', arg => {
    console.log(`Disconnected: ${arg}`)
  })

  const response = await client.request({
    method: '

[2021-03-22 22:01] Nytelife26 commented on #547
I will make an attempt to work on this in a fork, as HTTP/2 support is one of my only qualms with undici (great job so far team). I will post an update here with my progress and I hope to submit a PR.

[2021-03-22 22:25] ronag opened #607 "`Agent` is missing closed and destroyed properties"
`Agent` should provide the `closed` and `destroyed` properties similar to `Client`.

[2021-03-22 22:26] mcollina commented on #547
Go for it!

[2021-03-23 01:39] Nytelife26 commented on #584
Would it be prevalent to have an IRC as well as slack? IRC is a lot more accessible, especially to those that have opted against using slack and other similar modern stacks for various reasons.

Just a thought :) I can also PR in various templates. I'm not a member and so unsure of what the team would ideally like this to look like, however I can make a start.

[2021-03-23 02:39] Nytelife26 commented on #547
I will be waiting on the following pull requests to complete their lifecycle before I begin, to avoid risking late-stage merge conflicts:

- #606
- #603
- #600

[2021-03-23 09:04] mcollina commented on #547
I think this could be started right now without waiting for those. I would start writing an Http2Client that wraps a `Http2Session` object. None of those PRs touches those internals.

[2021-03-23 09:13] yashshah1 commented on #607
I'd like to work on this 👋

[2021-03-23 09:33] Nytelife26 commented on #547
That's fine by me, then. I just questioned whether, given that the PRs at present change the structure and workings of some parts of the client, you'd want the HTTP/2 variants to inherit those improvements and thus need to wait for a merge, but if not I can start tonight when I get home.

[2021-03-23 09:35] Nytelife26 commented on #531
@piranna Gotcha, it was more of a concept inspired by the old `net-interceptor` package.

Thank you for the +1 though. It seems like the dev team are keen to get it released first and then look into separating the packages later on, so hopefully, this will be done soon.

[2021-03-23 09:37] mcollina commented on #547
There won't be much conflict to start with. There will be as you move up to implement Http2Pool and then a cross-protocol Agent.

[2021-03-23 09:39] Nytelife26 commented on #547
It seems like the most effective solution, then, would be to start it and then follow along with the PRs when I get to those parts so I can ensure the development of the HTTP/2 variants stays up to date and won't create any delays or merge conflicts when the time comes.

[2021-03-23 09:41] mcollina commented on #547
Yes exactly!

[2021-03-23 09:42] mcollina commented on #607
go for it!

[2021-03-23 09:42] Nytelife26 commented on #547
Alright, I'll start with `Http2Session` and `Http2Client` tonight then, and from then forth engage in side-by-side development with relevant pull requests. Thank you!

[2021-03-23 09:47] mcollina commented on #584
I'm in the node-undici channel on FreeNode.

Thanks for taking a stab to the templates!

[2021-03-23 10:02] mcollina commented on #604
Running that script I am getting:

[code]

It seems that host is down.

[2021-03-23 10:24] Nytelife26 commented on #584
I wasn't aware there was an undici freenode channel, nice, I'll join later :)

And, no worries! Proofreading and writing is a large part of what I do (mostly documentation usually) so I'm happy to put that forward. As I'm just starting out here but have great interest in this project I'll help in any way possible.

[2021-03-23 10:40] mcollina commented on #584
I just created it now, lol.

[2021-03-23 10:59] ronag commented on #584
Can't we stick with slack? There is too many places now :/.

[2021-03-23 11:05] mcollina commented on #584
Slack's ok.

[2021-03-23 11:35] ronag opened #609 "`Agent` `destroy` and `close` should have same signature as `Client`"
`Agent.destroy()` should be `Agent.destroy(err[, callback])`
`Agent.close()` should be `Agent.destroy([callback])`

Basically the same as for `Client` and `Pool`

[2021-03-23 11:43] ronag opened #610 "Move undici global methods out of Agent docs"
They don't really have anything to do with Agent per say and it would be nice if this is the page that most users start with and don't have to worry about the other  details.

i.e. a page with:

[code]

is the only thing I think 90% of users need. Maybe should be the index page?

[2021-03-23 12:28] mcollina commented on #610
I agree.

[2021-03-23 12:54] Nytelife26 commented on #560
@s-dschro Petitio is now powered by undici, meaning I can give you the results you're looking for (a direct benchmark comparison).

[Suite source](https://github.com/helperdiscord/http-benchmarks)

[code]

TL;DR: Undici is fast. Capitalized. It's FAST!

[2021-03-23 13:01] s-dschro commented on #560
Wow, that's pretty impressive.

[2021-03-23 13:15] Ethan-Arrowood commented on #610
Good idea!

[2021-03-23 13:16] Nytelife26 commented on #560
Indeed it is. I hope many more libraries to come will begin to use undici - although, I'm not sure how long that will be since the disadvantage is needing to add a dependency which makes it look like the bundle size is *significantly* larger than the `http` versions.

Perhaps some day in the future undici will replace core `http`, but that's a long shot since this is all very new. Thank you for sh

[2021-03-23 14:20] sharat9211 commented on #609
` close (callback) {
    const closePromises = []
    for (const pool of this[kCache].values()) {
      closePromises.push(pool.close())
    }
    if (callback === undefined) {
      return Promise.all(closePromises)
    }
    if (typeof callback !== 'function') {
      throw new InvalidArgumentError('callback must be a function')
    }
    Promise.all(closePromises)
      .then(() => callback())

[2021-03-23 16:51] denis-marecky commented on #604
It seems that proxy goes down. I took some public to not share my own private. Try any other public proxy currently alive. We test that on few servers

[2021-03-23 16:59] mcollina commented on #604
I do not have a public proxy. I would recommend you to send a PR/build an example similar to https://github.com/nodejs/undici/blob/main/test/proxy.js.

[2021-03-23 17:29] ronag opened #612 "Agent connect/disconnect ambiguous"
The connect and disconnect  events are a little weird at the moment.

They both pass a "client" argument but it's unclear what exactly this is, e.g. in the case of `Agent` is it a `Pool` instance of `Client` instance? i.e. inner or outer?

Also makes it a little hard to reason about.

I think the current behavior is not correct since it passes a client instance instead of pool.

[2021-03-23 17:29] ronag commented on #612
@nodejs/undici

[2021-03-24 08:12] mcollina commented on #612
The behavior is somewhat correct because in `Agent.prototype.get()` we can return either a Client or a Pool depending on `connections`. The signature of the event is the same because they try to be identical.

---

These events are useful for debugging and diagnosing what's happening. The do not have a real use case in mind so it's a bit hard to refactor them.

[2021-03-24 09:05] ronag commented on #612
But in the current case the connect/disconnect events will always emit the inner most client, i.e. not the Pool.

[2021-03-24 09:18] dnlup commented on #612
I think the problem is that the `Pool` is just forwarding `Clients` events:

* https://github.com/nodejs/undici/blob/c604e172fda9f11d1908e0cd6ebfad43c889f3e8/lib/client-pool.js#L82

Maybe we should emit a `disconnect` event only when all clients have disconnected? Or use a custom event?

[2021-03-24 09:19] ronag commented on #612
Whether it's a problem or not depends a little on how we expect it to work. Which is what I'm unsure about.

[2021-03-24 09:28] dnlup commented on #612
How are you using this event now? Why is it confusing for you? Do you have do access the `Pool` instance when this event is emitted?

[2021-03-24 09:32] ronag commented on #612
I'm using it to log connections/disconnections (per socket/Client). However, @mcollina seems to expect it to emit `Pool` instances.

[2021-03-24 10:12] ronag commented on #612
If it's to ambiguous/confusing I would even prefer removing it.

[2021-03-24 10:29] mcollina commented on #612
I didn't state that. I clarified that the reason why it has the client as the first parameter is because it's emitted by `Pool` as well and `Agent.prototype.get()` can return either of them.

I think maintaining this is useful. I would not change this until we have clearer requirements.

[2021-03-24 10:33] ronag commented on #612
Ok. Then we are happy with the behavior? I seem to have misunderstood Mattea.

[2021-03-24 10:39] dnlup commented on #612
I am ok with keeping things as they are.

[2021-03-24 18:22] ronag opened #615 "Redirect history"
@ShogunPanda

[2021-03-24 18:25] ronag opened #616 "Do we need `Agent.get`?"
I think `Agent.get` is a bit weird now that we have `Agent.dispatch` and adds unnecessary API surface.

I know some of my colleagues use `Agent.get` directly instead of the helper methods (they want to use dispatch). I could easily see that they would get confused and start using `RedirectAgent.get` (assuming that they can just replace `Agent` with `RedirectAgent` in existing code) thinking it doe

[2021-03-24 18:26] ronag commented on #612
I'm re-opening this as I want to give it some more thought-

[2021-03-24 18:28] ronag commented on #438
@ShogunPanda: Thanks to you we have some tests in https://github.com/nodejs/undici/pull/603 but it's not sufficient for 100 coverage.

[2021-03-24 18:30] ronag opened #617 "4.0"
I have created a 4.0 milestone and added issues I believe would be good to sort before release.

Please take a look and let me know if you are missing something or disagree with any of the existing items.

[2021-03-24 18:31] ronag commented on #617
@nodejs/undici

[2021-03-24 18:33] ronag commented on #617
I've done some initial issue assignment. If anyone wants to grab any of the issues (or don't want them) feel free to re-assign.

[2021-03-24 18:44] ShogunPanda commented on #438
@ronag Ok, tomorrow will try to add some more...

[2021-03-24 19:02] ronag commented on #438
@ShogunPanda Appreciated. It's not a must for landing the PR but it would be nice to have before releasing 4.0.

[2021-03-24 20:47] ronag commented on #616
@mcollina @dnlup

[2021-03-24 21:31] ronag opened #618 "Fail request when socket cannot establish connections"
Right now we end up with a idle timeout + retry loop instead of failing the request.

[2021-03-25 07:37] dnlup commented on #616
In a way I think we do, otherwise, we would have to reimplement it each time we extend from `Agent`. I am pretty sure it would look the same in all custom Agents. It makes sense to me as a low-level API. But I also understand your concern, so maybe we should expose this to the end-user in a different way.

For example:
https://github.com/nodejs/undici/pull/603/files#diff-0c8b0ffe565a54bbb79a3b3500

[2021-03-25 07:45] dnlup commented on #616
Maybe, when we extend/create a custom Agent,  we could let the user provide a `_dispatch` method (like `_write` in streams) which has a `Client`/`Pool` instance passed as an argument. This way, `get` could be internal, but it would part of the default prototype of the `Agent` so that we don't have to re-implement it each time we extend from it.

[2021-03-25 08:52] ronag commented on #616
I’m just concerned with the public API for end users.

[2021-03-25 09:37] mcollina commented on #616
The reason why we need `get()` is to provide a way for end users to reach into the `Pool` instance that is being used for a given host. From `Pool`, they should be able to reach for `Client`.

Those things are deeply needed for observability and introspection. Removing access is not the solution.
As a theme, we need more introspection.

---

Overall I do not see the problem you are mentioning @ron

[2021-03-25 10:52] ronag commented on #616
Ok, I think I might have a suggestion we can all agree on. Will open PR.

[2021-03-25 19:03] yashshah1 commented on #607
I have one quick question, might be quite trivial, so bear with me.
Do we want the `Agent` class in `lib/agent.js` to expose the `closed` and `destroyed` properties from `this[kFactory]` (which is either an instance of `Client` or `Pool`), or do we want to re-implement these properties?

[2021-03-25 20:19] ShogunPanda commented on #610
I can confirm it was mess for me to follow docs when starting using undici.

[2021-03-26 09:23] ronag commented on #607
the closed/destroyed is totally unrelated to this[kFactory].

[2021-03-26 10:03] mcollina opened #622 "Drop support for Node v10"
Node.js v10 is going out of LTS in April, so we should really drop support for it in the next major.

[2021-03-26 10:33] ronag opened #624 "pipeline and stream API should have optional opts parameter"

[2021-03-26 10:34] #622 closed

[2021-03-26 10:35] ronag opened #625 "Don't mistake buffers as streams"
See https://github.com/nodejs/node/commit/9b87ab407146e17452db0441e81197b5a03a0c69.

We have the same problem in undici.

[2021-03-27 08:09] yashshah1 commented on #607
My editor has been making a lot of changes because of my prettier config, the major contributor being the lack of semi-colons. Two questions:
- Why not enforce semi-colons?
- Is there a project-wide formatting setting that I can import to avoid this from happening?

[2021-03-27 10:24] jarrodconnolly commented on #625
Took a stab at this one, let me know if this is along the lines you were looking for.

[2021-03-27 16:58] #625 closed

[2021-03-27 19:01] ronag opened #630 "Docs site should correspond to latest version published to npm"

[2021-03-27 19:02] ronag commented on #630
@dnlup

[2021-03-27 19:02] ronag commented on #630
@Ethan-Arrowood wdyt?

[2021-03-27 20:45] ronag opened #631 "agent can leak clients"
[code]

Is not correct unfortunately. A client can disconnect due to an error and then reconnect. However, in that case the agent will incorrectly remove the client from it's own pool.

[2021-03-27 20:50] ronag commented on #631
TBH I think the best and easiest option is going back to the `WeakRef` implementation. @mcollina @dnlup wdyt?

[2021-03-27 21:57] ronag commented on #631
Probably not a problem.

[2021-03-27 21:57] #631 closed

[2021-03-27 22:53] ronag opened #632 "Could we use https://github.com/node-ffi-napi/weak-napi for Node < 14?"
Would be nice to be able to use `WeakRef` in Node. Now that we are dropping Node 10 support it would be possible to use them we use https://github.com/node-ffi-napi/weak-napi as a fallback for Node 12.

Would this be ok? Or something we want to avoid?

It's not that important but it would make some state management easier and less bug prone.

[2021-03-27 22:53] ronag commented on #632
@mcollina

[2021-03-27 22:56] ronag opened #633 "More events?"
Would it be useful to have more events for introspection?

e.g.

[code]

[2021-03-27 23:33] mcollina commented on #631
It's a bug but not a leak.

[2021-03-27 23:35] mcollina commented on #632
I would prefer not to have any binary dependency.

[2021-03-27 23:36] #632 closed

[2021-03-28 08:43] mcollina commented on #633
I think it might be useful.

[2021-03-29 06:33] dnlup commented on #631
Would a check on `pending` or `busy` help? Otherwise, can we expose something that signals that the disconnection should, let's say, ignored?

[2021-03-29 12:59] timdp commented on #486
I wanted to pick this up to familiarize myself with the codebase but I'm wondering if it _should_ be documented by Undici itself.

The `servername` option is part of the `tls.TlsOptions` passed to a `Client`. Those are [documented here](https://github.com/nodejs/undici/blob/0c920947c62ae43284ce2dbf2fc8a6579a7cfe38/docs/api/Client.md#parameter-clientoptions). The current documentation states that t

[2021-03-29 13:12] timdp commented on #186
Since a lot of people are probably going to be familiar with the Fetch API, I would propose to mirror that rather than inventing a new format. In particular, its `Headers` class [supports](https://fetch.spec.whatwg.org/#concept-headers-fill) two formats:

* Object for simple cases:
[code]
* Array a la `Object.entries()` for those annoying duplicates:
[code]

Personally, from a client perspective,

[2021-03-29 13:19] ronag commented on #486
Good point. I would prefer if we actually moved relevant settings to undici and not just directly pass any option to `net.connect`. But that's a different issue.

Closing this.

Thanks @timdp!

[2021-03-29 13:19] #486 closed

[2021-03-29 13:20] ronag commented on #186
We actually already support arrays in the following format:

[code]

[2021-03-29 13:22] ronag commented on #186
@humphd Sorry for lack of reply. I seem to have missed your question.

[2021-03-29 13:25] ronag commented on #438
For those who are looking at this for the "good first issue" label. Run `npm run coverage` and see if you can make a test to resolve the lines that are missing coverage.

[2021-03-29 13:28] ronag opened #637 "Cleanup root"
Can we move Dockerfile and build_wasm.js to e.g. a `build` folder or something? Not sure I think they should live in project root.

[2021-03-29 13:28] ronag commented on #637
@dnlup

[2021-03-29 13:34] dnlup commented on #637
I think it should be possible, I'll work on it.

[2021-03-29 13:37] ronag opened #638 "Don't copy entire root when building Docker"
Instead of

[code]

Could we just copy the relevant files & folders?

[2021-03-29 13:40] ronag commented on #638
The dockerignore is probably sufficient if this is complicated.

[2021-03-29 13:45] ronag commented on #638
What exactly does the Docker file do and what does it need?

[2021-03-29 14:11] dnlup commented on #638
The `Dockerfile` uses a `Debian` image to install in a consistent way `wasm` dependencies (the SDK, so you don't have to set up anything on your machine if you don't want to) and to compile the `wasm` binary.

[`npm ci`](https://docs.npmjs.com/cli/v7/commands/npm-ci) is a command that performs a clean install by:

* removing `node_modules` if present
* installing dependencies using the `package-lo

[2021-03-29 14:20] humphd commented on #186
@ronag OK, sounds good.

[2021-03-29 16:53] timdp commented on #186
Right, forgot about Node's `rawHeaders`. I assume the reasoning behind this rather than an array of tuples/entries is that it produces way fewer objects? V8 would hopefully optimize the hell out of it though.

Personally, I'm not wild about APIs that accept tons of different input formats - because it makes them hard to test, among other things. Therefore, with the `rawHeaders` support in mind, I

[2021-03-30 07:57] mcollina commented on #638
Let's just move it to `npm i`

[2021-03-30 08:10] mcollina commented on #547
Have you got any progress @Nytelife26 ?

[2021-03-30 08:12] mcollina commented on #22
This was done

[2021-03-30 08:12] #22 closed

[2021-03-30 08:12] ronag commented on #547
I think with https://github.com/nodejs/undici/pull/620 this should be even easier. You just need to create a new Client implementing the `Dispatcher` interface.

[2021-03-30 08:27] szmarczak opened #643 "Be more stricter in regards to URLs"
Currently, passing `'https://example.com/%AA'` doesn't throw. A `decodeURI(string)` can fix that - but I guess it might have a performance impact.

[2021-03-30 08:38] ronag commented on #643
Won't the server error?

[2021-03-30 08:50] szmarczak commented on #643
It depends on the server.

[2021-03-30 09:11] dnlup commented on #643
That's a valid point. Does `fetch` do that by default (I am looking into it, but if someone already knows, it helps)? I am not sure if I would enable this strict validation by default if there are performance impacts and `fetch` doesn't provide it. We could measure the impact in the meantime. FWIW, the agent uses `URL` to parse atm if I am not mistaken:

* https://github.com/nodejs/undici/blob/mai

[2021-03-30 09:12] #637 closed

[2021-03-30 09:14] ronag commented on #643
Actually just the global methods use URL parsing and Agent but only when redirecting.

[2021-03-30 09:15] ronag commented on #643
I'm not that worried about adding more parsing to the global methods. Since they are more for convenience and there are faster alternatives.

[2021-03-30 09:19] dnlup commented on #643
Yes, that's true. I thought that's was the scope we were discussing, sorry.

[2021-03-30 09:58] szmarczak commented on #643
`fetch` doesn't throw, so I guess `undici` should neither.

[2021-03-30 10:11] ronag commented on #643
What does fetch do?

[2021-03-30 10:12] ronag commented on #643
I'm personally fine with adding this to the global api. But it does bring some perf and consistency overhead.

[2021-03-30 10:15] szmarczak commented on #643
The request goes through.

[2021-03-30 11:17] ronag opened #644 "dns lookup origin before picking Pool?"
Let's say I have two different dns names pointing to the same server:

[code]

Currently this will unnecessarily create two different pools duplicating the connections.

Is this worth spending time on?

[2021-03-30 11:30] ronag opened #645 "headersTimeout on uploads"
If there is a long running upload then the `headerTimeout` will fire. I think we should start the `headersTimeout` **after** the request body has been uploaded.

[2021-03-30 11:31] ronag commented on #645
@mcollina wdyt?

[2021-03-30 12:25] mcollina commented on #645
I agree!

[2021-03-30 12:36] ronag commented on #644
Leave it for later.

[2021-03-30 13:11] dnlup commented on #638
I opened a PR  to switch to `npm i`. Do we want to remove the `.dockerignore` file then? Do you think it's better to specify the assets to copy in the `Dockerfile` directly?

[2021-03-30 13:36] simone-sanfratello commented on #429
I'll work on that

[2021-03-31 11:22] artur-ma opened #649 "Support content-length 0 as envoyProxy adds it"
## Bug Description

Undici throws contentLengthMistmatch on content-length: 0

## Reproducible By

add content-length: 0 header to get request

## Expected Behavior

Do not throw

### Additional context

https://github.com/envoyproxy/envoy/issues/14890

EnvoyProxy for example by default appends content-length to any request, in case of GET it will append
content-length: 0

I can open a PR, I guess

[2021-03-31 11:30] ronag commented on #649
Do you have a repro we can run?

[2021-03-31 11:32] ronag commented on #649
See https://github.com/nodejs/undici/pull/586

[2021-03-31 11:41] ronag opened #650 "abort might not work"
Reviewing abort and looking at some services in production I believe aborting requests might not fully work, i.e. the socket is not killed.

[2021-03-31 12:06] ronag commented on #649
// https://tools.ietf.org/html/rfc7230#section-3.3.2
    // A user agent SHOULD NOT send a Content-Length header field when
    // the request message does not contain a payload body and the method
    // semantics do not anticipate such a body.

[2021-03-31 12:07] artur-ma commented on #649
@ronag can u please publish a new version, please? :)

[2021-03-31 12:07] ronag commented on #649
We are working on 4.0 at the moment. You can try to install against a git commit in the meantime.

[2021-03-31 13:17] ronag commented on #650
Actually this might be working as design. An aborted requests that is not in the head of the pipeline will wait for the first head to finish before killing the socket.

[2021-03-31 14:37] ronag opened #651 "Fix type definitions"
4.0 has some api changes that are not reflect in type definitions

[2021-03-31 14:44] #612 closed

[2021-03-31 14:46] ronag opened #652 "Docs need cleanup and fixes"
Broken links and misc cleanup and formatting.

[2021-04-01 09:04] ronag commented on #650
I'm still seeing leaking connections in production. Not sure if user or undici error. Trying to bypass undici Pool and Agent and just use Client with a simpler Pool/Agent logic to see if that makes any difference.

[2021-04-01 09:55] dgonzalez opened #657 "Favicon is missing on https://undici.nodejs.org/#/"
## Bug Description

Favicon is missing on https://undici.nodejs.org/#/

[2021-04-01 10:12] ronag commented on #650
That made things a lot better. I suspect we have some form of edge case issue in undici. I will do an in depth review and see if I can add more tests.

[2021-04-01 10:15] ronag commented on #618
Fixed in https://github.com/nodejs/undici/commit/d056c20311050d1ca04a57eca6f8dfe6f87e1341

[2021-04-01 10:15] #618 closed

[2021-04-01 10:16] ronag commented on #617
Updated milestone with what I believe is left https://github.com/nodejs/undici/milestone/4

[2021-04-01 10:17] ronag opened #658 "Check for performance regressions vs 3.x"

[2021-04-01 10:49] ronag opened #659 "HTTPParserError: Expected HTTP"
Got this error while running master on our test setup.

[code]

Source is a Node 15 server. So it's either an undici or node bug.

[2021-04-01 10:52] ronag commented on #659
I suspect the WASM update. @dnlup any ideas?

[2021-04-01 10:53] ronag commented on #659
pipelining is set to 1

[2021-04-01 10:58] dnlup commented on #659
Not atm, I'll dig into it. Do you have some payload examples?

[2021-04-01 11:00] ronag commented on #659
Sorry, not at the moment. I will also dig further as soon as I have time.

[2021-04-01 11:05] dnlup commented on #659
Ok 😉 . The parser was starting to parse what it thought was a new message, and it didn't find `HTTP`. So it considered it malformed. Is there something particular about these requests? I did not implement any pause logic, which was present in the native Node parser. Could that mean something?

[2021-04-01 11:33] ronag opened #660 "Emit `'disconnect'` after `.destroy()`"
Currently we mute events after `destroy` but that causes problems for introspection tools. We should always emit disconnect when disconnecting the socket.

i.e. no further events **after** `.destroy()` has completed, i.e. not **while** it is destroying.

[2021-04-01 11:34] ronag commented on #659
Not that I can think of... the error is gone now that I've reverted back to 3.x.

Maybe?

Sorry I can't be more helpful atm.

[2021-04-01 11:37] dnlup commented on #659
It must be the parser then

[2021-04-01 11:41] dnlup commented on #659
If you could checkout the commit that introduced the parser it would be a 100% proof

[2021-04-01 11:49] ronag commented on #659
I need to try to reproduce it somewhere else. It wasn't the test setup it was another setup used in production and I can't do debugging there. So it might be a bit tricky / take a while. I'll also try to help reviewing the code and see if I can find anything obvious.

[2021-04-01 12:05] ronag commented on #659
Would be nice if we had some way to do fuzzing both in request and response payload. 🤔 Any ideas? @mcollina do you have any experience with that?

[2021-04-01 12:41] dnlup commented on #659
I am digging into Node tests to see if there is something relating to fuzzing. In the meantime I found this test:

* https://github.com/nodejs/node/blob/master/test/parallel/test-http-pause.js

Could that be a scenario that is happening in your environment?

[2021-04-01 12:53] dnlup commented on #659
Sorry for spamming, I guess one thing I would look at is if in [this part](https://github.com/nodejs/undici/blame/ef64dfac9be3dfb453c7688d01be56d3800d47af/lib/llhttp/parser.js#L222) the buffer passed to execute is valid, and it does not change before passing it to the `wasm` realm. That would tell us if we are doing something wrong in `execute`.

[2021-04-01 16:49] mcollina commented on #657
What should we put in there? I would just use what Node.js uses. Could you set it up?

[2021-04-01 19:27] Ethan-Arrowood commented on #660
@ronag is this missing from all `Client`, `Pool`, and `Agent` ?

[2021-04-01 19:31] #617 closed

[2021-04-01 19:44] Ethan-Arrowood commented on #186
Can I close this issue or convert it into a discussion?

[2021-04-01 19:47] Ethan-Arrowood commented on #630
Yeah I agree; I think what would be easier is if we could keep the `main` branch as the source of truth for the API. It should match NPM. Any in-progress work or next major work should have its own branch (like `v4` or `dev`)

[2021-04-01 19:50] Ethan-Arrowood commented on #610
I noticed these got added to the main readme - closing this issue now

[2021-04-01 19:50] #610 closed

[2021-04-01 19:58] #604 closed

[2021-04-01 20:45] mcollina commented on #630
I agree with @Ethan-Arrowood!

[2021-04-02 08:44] #186 closed

[2021-04-02 10:10] ronag opened #666 "Allow overriding `headersTimeout` and `bodyTimeout` on request basis"
Right now these are always determined by the client constructor argument.

[2021-04-02 11:51] artur-ma commented on #666
Just a question, to understand how do u see it

allowing it per request means there should be validation on each request I guess (e.g check if integer)
does it affect performance?

another one, here on http2 thread ( https://github.com/nodejs/undici/issues/547)  u said that that new http2Client should be implemented, does it mean each client should validate its own options, even if there is some c

[2021-04-02 12:42] #638 closed

[2021-04-02 13:19] dnlup commented on #658
Have you noticed any? Do we have an environment (besides the GH runner in our CI) to run benchmarks?

[2021-04-02 13:21] ronag commented on #658
Haven’t gotten that far. Still have some significant bugs to sort out.

I use an epyc server at work to run benchmarks.

[2021-04-03 12:52] ronag opened #670 "mock error"
I got these errors while running tests:

[code]

Not sure what they are? @jonnydgreen

[2021-04-03 12:53] jonnydgreen commented on #670
@ronag is this off the main branch?

[2021-04-03 12:58] jonnydgreen commented on #670
I just ran the following off the `main` branch and worked okay, here're the steps I took:

[code]

Node: `v14.15.4`
Npm: `7.7.4`

Which setup do you have?

[2021-04-03 13:14] ronag commented on #670
It's a bug I've introduced somewhere but I just don't understand how/where this could happen.

[2021-04-03 13:22] jonnydgreen commented on #670
Yeah same here! Could it be a circular dependency in the exports maybe? I've seen similar errors like that caused by circular dependencies in the past. Is the code available to see if I can replicate on my system as well?

[2021-04-03 13:39] ronag commented on #670
No, sorry. it's lost in the commits somewhere now.

[2021-04-03 13:39] ronag commented on #670
Not a big issue just wanted to raise awareness.

[2021-04-03 13:52] ronag opened #671 "does not provide an export named 'Agent'"
When running test locally on Node 15.13 I get the following error:

[code]

However, it is not a problem on CI. I'm a little confused by the error since it **does** export `Agent`. What's going on?

[2021-04-03 13:52] ronag commented on #671
@Ethan-Arrowood any ideas?

[2021-04-03 14:50] Ethan-Arrowood commented on #671
Hm I'm not sure, this might be an esm issue

[2021-04-03 14:51] jonnydgreen commented on #670
No worries!

Cool, I'll keep an eye out. Let me know if you experience it again - happy to take a closer look

[2021-04-03 19:43] jarrodconnolly commented on #671
I also ran into this. It took an `npm install` to fix, as it was happening when still running tap 14. I missed running that when the package was upgraded to tap 15.

[2021-04-03 19:46] ronag commented on #671
That was it. Thanks!

[2021-04-03 19:46] #671 closed

[2021-04-04 08:40] #645 closed

[2021-04-04 10:50] ronag commented on #659
@mcollina @dnlup I think this is a blocker for v4 release. I haven't been able to reproduce it outside of production system.

I guess our only choice is to do in depth review and see if we can find any path that could cause this.

Been looking at HTTP fuzzying but without much luck.

[2021-04-04 10:50] ronag commented on #650
@mcollina @dnlup I think this is a blocker for v4 release. I haven't been able to reproduce it outside of production system.

I guess our only choice is to do in depth review and see if we can find any path that could cause this.

I'm probably most familiar with this logic and will focus on this.

[2021-04-04 10:52] ronag commented on #630
@mcollina Would you mind doing this? I'm fine with whatever you decide in terms of naming etc.

[2021-04-04 10:54] ronag opened #677 "Investigate if we can use fuzzying"
https://gitlab.com/gitlab-org/security-products/analyzers/fuzzers/jsfuzz

[2021-04-04 10:54] ronag commented on #677
Maybe @jonnydgreen?

[2021-04-04 11:06] jonnydgreen commented on #677
Yep, very happy to do some investigating on this - I can make a start tomorrow :)

[2021-04-04 15:12] mcollina commented on #630
The best approach is to ship v4 asap and then do semver-major changes off the next branch.

[2021-04-04 15:14] mcollina commented on #659
I would hardly call it a bug until we can repro it :/. I would go ahead and release with the hope of finding more data points.

We need a reliable way to reproduce this.

[2021-04-04 17:23] ronag commented on #659
I disagree. This error message should not be possible unless there is a bug somewhere. I’m not entirely comfortable doing a release before we’ve done a reasonable effort to resolve it.

[2021-04-05 06:58] dnlup commented on #659
I am all up for finding the issue, but we need to reproduce it. I understand if this is a release blocker. Is there anything you could do in one of the environments that are affected? Like, could you manually change and debug the code? One first step for me would be trying [this](https://github.com/nodejs/undici/issues/659#issuecomment-811886411). My gut tells me it could be either something about

[2021-04-05 09:46] mcollina commented on #659
fastify-reply-from has all sort of edge cases covered, I'll try to see if this shows up there.

Overall I would recommend @ronag to try to isolate a repro - so we can work on a fix.

[2021-04-05 20:39] ronag commented on #659
I'll see if I can access the production system during some night this week when it's under less use and see if I can get more data points.

[2021-04-05 21:45] mcollina commented on #659
that would be fantastic. Try adding a few log lines to see what has lead to that situation. Ideally what is not `HTTP`.

[2021-04-06 07:25] #660 closed

[2021-04-06 08:46] ronag opened #681 "Can we use llhttp_pause instead of the queue hack in Client?"
Basically we would like to be able to stop llhttp from invoking further callbacks. Currently we achieve this by using a somewhat hacky solution with `Parser.queue`.

Can we call `llhttp_pause` from inside `wasm_on_headers_complete` and `wasm_on_body`? Or maybe it's possible to just return `constants.ERROR.PAUSED`?

[2021-04-06 08:46] ronag commented on #681
@dnlup

[2021-04-06 08:55] dnlup commented on #681
It should be sufficient just to return `HPE_PAUSED` in the user's callbacks:

https://github.com/nodejs/llhttp/blob/a620012f3fd1b64ace16d31c52cd57b97ee7174c/src/native/api.h#L151

Then we should resume as needed calling `llhttp_resume`

[2021-04-06 09:02] ronag commented on #681
How does that work with e.g. `kOnHeadersComplete` which needs to return 2,1,0 depending on upgrade, ignore or normal?

[2021-04-06 09:19] ronag opened #682 "flaky tests"
[code]

[2021-04-06 09:42] ronag commented on #681
I think I know.

[2021-04-06 10:22] ronag commented on #650
There is a possibility of a deadlock here if the first request is waiting for the aborted second request (pipelining > 1). It might be safer to just destroy the entire pipeline. @mcollina wdyt?

[2021-04-06 10:28] ronag commented on #682
Can't repro anymore.

[2021-04-06 10:50] ronag opened #684 "parser error reason reading is not safe"
If execute e.g. returns `HPE_PAUSED` then the logic for reading the reason string goes crazy.

This can be reproduced by making `kOnBody` return `21` at the end and running `npm run test`.

[code]

[2021-04-06 10:50] ronag commented on #684
@dnlup

[2021-04-06 10:52] ronag opened #685 "`TestExclude is not a constructor`"
When running `npm run coverage` I get the following error:

[code]

[2021-04-06 10:52] ronag commented on #685
Does anyone else have this error? Any ideas what might cause it? @dnlup @Ethan-Arrowood

[2021-04-06 11:16] dnlup commented on #684
Has this happened with only `HPE_PAUSED`?

[2021-04-06 11:23] dnlup commented on #685
No, I don't this error.

[code]
[code]

What's your env?

[2021-04-06 11:24] ronag commented on #685
v15.13.0

[2021-04-06 11:25] ronag commented on #684
I've only tried with HPE_PAUSED. But there are other return codes that might or might not suffer from the same problem.

[2021-04-06 11:35] ronag opened #686 "Add same origin redirect support for Client and Pool"
See how it's done in `Agent`. If redirect then create a `RedirectHandler` wrapper around the original dispatch handler.

[2021-04-06 11:39] ronag commented on #682
Another flaky test:

[code]

[2021-04-06 11:40] ronag commented on #682
@dnlup see The above error, looks a bit like a parser error. The status message (`Upgrade Required`) somehow ended up in the message body.

[2021-04-06 11:42] ronag commented on #682
Strangely it has only happened once... there seems to be some kind of interference between requsts and the WASM module.

[2021-04-06 11:45] ronag commented on #682
In `wasm_on_header_field`, `wasm_on_header_value` and `wasm_on_body`. Is `at` relative to the global buffer `inst.exports.memory.buffer` or the instance buffer `inst.exports.memory.buffer + this[kPtr]`?

[2021-04-06 11:47] ronag commented on #682
Feels related https://github.com/nodejs/undici/issues/659. We have some form of corruption of state somewhere.

[2021-04-06 12:00] dnlup commented on #682
There are some parser error indeed. This the first time I see them though🤔.

[2021-04-06 12:02] dnlup commented on #682
I'll check about the global state, before we had the Map to keep track of instances, but I doubt that's the problem. I'll see if loading different instances can bring some benefits.

[2021-04-06 12:16] ronag commented on #682
Another one:

[code]

[2021-04-06 12:27] dnlup commented on #682
I am not sure

[2021-04-06 12:28] dnlup commented on #682
Expanding on this, I don't think we need different WASM instances. That is the reason why the parser reference is passed to every function call.

[2021-04-06 12:39] ronag commented on #682
I hope https://github.com/nodejs/undici/pull/687 solved this.

[2021-04-06 12:39] #682 closed

[2021-04-06 12:40] ronag commented on #659
I hope https://github.com/nodejs/undici/pull/687 solved this.

[2021-04-06 12:40] #659 closed

[2021-04-06 13:14] mcollina commented on #650
Go for safety, but document this as a downside of pipelining.

[2021-04-06 13:46] dnlup commented on #684
I think `HPE_PAUSED` should be explicitly handled, in Node the error reason is set accordingly when pausing:

* https://github.com/nodejs/node/blob/master/src/node_http_parser.cc#L921

Just thinking out loud, I have to work on it. I think this is related to the work in https://github.com/nodejs/undici/pull/683 , right?

[2021-04-06 15:14] ronag commented on #684
I think the correct way here is to determine whether a reason is available or not and not guess whether there is a reason or not.

[2021-04-06 18:09] ronag opened #690 "Upgrade llhttp"
v5.1.0 is released.

Could we also write some docs as to how we update llhttp in undici?

[2021-04-06 18:18] #681 closed

[2021-04-07 07:10] dnlup commented on #690
That shouldn't go into the user's docs, right? I think it should be something related to a `CONTRIBUTING` section.

[2021-04-07 07:36] mcollina commented on #690
Yes!

[2021-04-07 07:43] #666 closed

[2021-04-07 08:10] #607 closed

[2021-04-07 08:35] ronag commented on #651
@Ethan-Arrowood Any chance you will have to look at this? I think we could be ~1-2 week away from a 4.0 release.

[2021-04-07 08:35] ronag commented on #652
@Ethan-Arrowood Any chance you will have to look at this? I think we could be ~1-2 week away from a 4.0 release.

@dnlup Maybe we should also try and help out here? I'll get to it once I'm done with https://github.com/nodejs/undici/pull/689.

[2021-04-07 08:36] ronag commented on #658
The benchmarks have been updated since last so I can't really make any comparisons against previous runs.

[2021-04-07 09:04] dnlup commented on #685
I tried this version locally, installed it with `volta`, and still no errors. I'll try to compile the latest one. I suspect it is something involving Istanbul.

[2021-04-07 09:06] dnlup commented on #685
I know it's silly, but have you tried to re-install all the deps from scratch already?

[2021-04-07 09:09] dnlup commented on #658
That could be another good reason to have a dedicated branch for the stable release as suggested in https://github.com/nodejs/undici/issues/630

[2021-04-07 09:10] ronag commented on #685
Full re-install helped! Sorry to waste your time.

[2021-04-07 09:10] #685 closed

[2021-04-07 09:11] dnlup commented on #685
No worries, happy you resolved 😉

[2021-04-07 09:28] mcollina commented on #658
I typically use https://github.com/fastify/fastify-http-proxy/tree/master/benchmarks to test. If we could get a PR to update fastify-http-proxy pointing to this, we could do this check.

[2021-04-07 09:36] ronag opened #692 "Review retries"
Review retries of onConnect + retries

- [x] request
- [ ] pipeline - need to abort if readable has been read.
- [x] stream
- [x] connect
- [x] upgrade

[2021-04-07 09:39] ronag commented on #658
What does that mean?

[2021-04-07 09:57] mcollina commented on #658
I can do it or somebody else can do it :). I can take this issue if you like.

[2021-04-07 10:00] ronag opened #693 "runtime performance metrics"
What do we need for introspection and metrics?

I propose the following events:

- 'pending' - on request queued
- 'running' - on request running
- 'complete'- on request complete
- 'failed' - on request failed

Refs: https://github.com/nodejs/undici/discussions/673

[2021-04-07 10:13] szmarczak commented on #693
1. `pending` -> `queued` (in order to avoid confusing w/ `running`)
2. Does the `failed` event have an error argument?

[2021-04-07 10:26] ronag commented on #693
Fixed:

Yes. Alternatively we could combine complete/failed and have an err argument.

[2021-04-07 10:32] mcollina commented on #693
I think we might want to provide a "stats provider" of sort that could be attached to a Agent or a Dispatcher so that we could track all those metrics automatically - and potentially be easily collectable by prometheus.

[2021-04-07 10:55] #690 closed

[2021-04-07 10:57] ronag opened #694 "investigate flaky test"
[code]

[2021-04-07 10:58] ronag commented on #694
[code]

[2021-04-07 11:08] dnlup commented on #684
Is this still an issue after meging #683 ?

[2021-04-07 11:13] ronag commented on #684
It's a minor issue. I still think we should be able to check if there is a reason and have a safe way to read it.

[2021-04-07 11:18] ronag commented on #694
@dnlup The first one is a little weird:

[code]

[2021-04-07 11:27] #692 closed

[2021-04-07 11:42] dnlup commented on #684
I'll check and see what we can do.

[2021-04-07 11:43] dnlup commented on #694
Yes, indeed 🤔

[2021-04-07 13:48] #650 closed

[2021-04-07 13:49] #609 closed

[2021-04-07 13:49] ronag commented on #609
Fixed

[2021-04-07 14:20] ronag commented on #694
@dnlup FYI https://github.com/nodejs/undici/commit/8d514d81a8ebb463b9e7acad46d326fea86e983d

[2021-04-07 14:24] #694 closed

[2021-04-07 14:29] dnlup commented on #694
Great!

[2021-04-07 14:33] ronag commented on #684
Is it enough to check if the value returned from get_reason is `null`?

[2021-04-07 14:34] ronag commented on #438
@dnlup I believe this is and https://github.com/nodejs/undici/issues/684 are the only issues left for you and me at the moment to sort out before 4.0. Do you have anything further for us to look into?

[2021-04-07 14:46] dnlup commented on #684
I am not sure it returns `null`. In C I am sure it does, but from the tests, I see it always has a numeric value. I can't reproduce this issue with the latest changes, though. That could be the main reason.

[2021-04-07 14:48] dnlup commented on #684
I think we should check for `0`

[2021-04-07 14:52] ronag commented on #684
Check for falsy?

[2021-04-07 15:00] dnlup commented on #438
Nope 😉

[2021-04-07 15:42] #684 closed

[2021-04-07 17:21] Ethan-Arrowood commented on #651
@ronag happy to take a pass on this tonight. Do you see any more large API changes coming before v4?

FWIW I'll be completely offline Friday 9th -> Friday 16th

[2021-04-07 17:23] Ethan-Arrowood commented on #652
Similar to TypeScript issue, yes happy to take a pass at this today/tomorrow now that it seems the largest API changes are completed.

[2021-04-07 20:58] ronag commented on #651
I don’t see any more major changes

[2021-04-07 22:43] artur-ma commented on #693
Since undici does not use node agent, I guess it means tools like Newrelic will not track network requests correctly
Will this be enough for such tools as NR?

[2021-04-07 23:46] Ethan-Arrowood commented on #652
👀 i didn't realize just how much the API grew in the last couple weeks. I mean i knew we were adding things but looking at all the code all together -- whew its a lot!

[2021-04-08 07:23] mcollina commented on #652
There are many people working on this release. You might not have noticed, but this repo is _the most active_ in the entire org.

[2021-04-08 07:29] mcollina commented on #693
Exactly. We should look into providing some hooks for APMs in the future.

I do not think so. This issue will provide metrics about how the process operates - data that is relatively difficult to extract from Node.js own client.

NR (and all others) will need a way to inject custom headers for each request.

[2021-04-08 07:32] ronag commented on #693
That should be reasonably simple. Just extend `Agent` and pass another handler wrapping the user's handler. Similar to how we do redirects.

[2021-04-08 08:07] ronag opened #699 "Can we remove --insecure-http-parser?"

[2021-04-08 08:07] ronag commented on #699
@mcollina

[2021-04-08 08:36] ronag commented on #438
@dnlup Would you mind making test for `HeadersSizeOverflow`? and also for the:

[code]

branch?

[2021-04-08 08:37] ronag commented on #438
@ShogunPanda Can you make a test for the `onUpgrade´  path for the `RedirectHandler`?

[2021-04-08 08:37] ronag commented on #438
I'm sorting out `'drain'` on the `Agent` and then we should have 100 coverage

[2021-04-08 08:43] dnlup commented on #438
Sure.

[2021-04-08 08:51] mcollina commented on #699
Yes go ahead.

[2021-04-08 08:57] #699 closed

[2021-04-08 09:46] artur-ma commented on #693
It looks great, but currently, as far as I can see, none of the methods on the handler can modify the request (headers).

[code]

The only place is inside dispatch

[code]

But call to dispatch does not mean the request is executed right now (maybe it is in the queue)
or executed at all

[2021-04-08 11:01] mcollina commented on #658
My benchmark results are a bit inconclusive. v4 has better throughput but slightly worse latency. Overall it's in the same ballparks as before, so I would not really worry about it for now.

[2021-04-08 11:03] ronag commented on #658
Thanks!

[2021-04-08 11:20] ShogunPanda commented on #438
Sure, will send PR soon!

[2021-04-08 11:21] timsuchanek opened #702 "[DEP0131] DeprecationWarning: The legacy HTTP parser is deprecated in Node `12.22.0`"
## Bug Description

When running `undici@3.3.3` with Node `12.22.0`, we get this warning:
[code]

Is there anything we can do to disable it?
Thanks!

[2021-04-08 11:22] ronag commented on #702
This will be fixed in undici 4. I think we’re a week away from release.

[2021-04-08 11:23] timsuchanek commented on #702
:+1: That was a fast response! Thanks, that's great to hear!
We now have this issue in all Prisma Client installations with the latest Node 12.
Is there anything we could do in the meantime?

[2021-04-08 11:58] ronag commented on #702
I might be able to do another v3 release

[2021-04-08 12:10] ronag commented on #702
Please try 3.3.4

[2021-04-08 13:02] ronag opened #706 "Try to remove istanbul ignore"
We have some `istanbul ignore` statements in the code due to difficulties with making good unit tests. Try and see if you can make a test and remove any of them.

[2021-04-08 13:29] ronag opened #707 "Document migration from v3 to v4"

[2021-04-08 13:29] ronag opened #708 "Create a v4 blogpost"

[2021-04-08 13:39] ronag commented on #438
@dnlup Do you want to take shot at the last two?

[code]

[2021-04-08 14:44] dnlup commented on #438
To test those I should disable the `bodyTimeout`, right?

[2021-04-08 14:46] ronag commented on #438
642 needs a test that has a 100 progress reply and a timeout.
472 needs a test where parser is paused and has timeout.

[2021-04-08 16:25] gr2m commented on #531
Hey Matteo, I'm helping maintain `nock`. Can you tell why requests with `undici` cannot be mocked with `nock` at this point? It works with all other request libraries, as far as I know?

[2021-04-08 16:31] piranna commented on #531
AFAIK `nock` intercept requests at Node.js built-in `http` module, while `undici` is built from scratch directly on top of Node.js built-in `net` module, so `nock` doesn't have a clue about the requests done by `undici`.

[2021-04-08 18:49] Nytelife26 commented on #531
That is exactly why. undici isn't a request library like others. It is intended to be an alternative to `http`, not a wrapper for it, and nock uses `http`, as @piranna correctly said earlier.

[2021-04-08 22:36] ronag opened #710 "Weird test flakiness"
I sometimes get weird errors when running tests... e.g.

[code]

[2021-04-08 22:50] ronag commented on #710
Notice

`+"grade": "upgra"`
`-"hello": "world",``

"grade" and "upgra" are of the correct length, but either the `memory.buffer` or the `at` seems corrupted :/.

[2021-04-08 22:52] ronag commented on #710
@indutny do you have any ideas as to what could be happening here?

[2021-04-08 22:57] ronag commented on #710
I don't really see that we could be doing something here. The `wasm_on_header_field` and `wasm_on_header_value` are rather trivial.

[2021-04-08 23:17] ronag commented on #710
I've seen this kind of error several times while running tests locally. Not this exact variant but similar in the sense of weird values.

[2021-04-08 23:21] ronag commented on #710
Consider a buffer that looks like this:

`"upgrade",\n"upgrade": "websocket"`

The relative indices corresponds with:

`"hello" : "world"`

[2021-04-08 23:43] indutny commented on #710
Could it be memory pointing to some buffer that gets overwritten?

[2021-04-08 23:48] indutny commented on #710
Yeah, looks like you don't copy the data that you get in `onHeader` and just use `Buffer.from` to create a view over that part of memory. This can go wrong when memory gets overwritten.

[2021-04-09 05:27] ronag commented on #710
Ah! Buffer.from doesn’t copy?

[2021-04-09 05:33] indutny commented on #710
Not if its argument is `ArrayBuffer`: https://nodejs.org/api/buffer.html#buffer_static_method_buffer_from_arraybuffer_byteoffset_length

[2021-04-09 06:50] #710 closed

[2021-04-09 09:27] ronag opened #714 "Avoid using err.message for logic"
Refs: https://github.com/nodejs/undici/pull/709

https://github.com/nodejs/undici/commit/b57594211515169bbd9d44d84075819b3852b9a5#diff-ca407d959d33ce92a7f7efee354a5ea5e6e61fcd797d32c04205e429a074ed54R1420

[2021-04-09 09:30] ronag opened #715 "Make benchmarks relative to node core"
[Sometimes it's difficult to compare different benchmark runs](https://github.com/nodejs/undici/pull/712#issuecomment-816484774). I think it would be easier to do comparison if we also had benchmarks that show undici results relative to a baseline (i.e. node core http client).

[2021-04-09 09:53] timsuchanek commented on #702
That fixes it!
Thanks a lot for taking care of this so quickly.
We'll do our next stable release next week Tuesday, so then we can directly roll out this fix.

[2021-04-09 09:53] #702 closed

[2021-04-09 12:18] ronag commented on #438
Done! Wohoo!

[2021-04-09 12:18] #438 closed

[2021-04-09 13:52] Ethan-Arrowood commented on #584
Closing since I think we've completed everything in the existing list. I think the issue list could use another scan. We might want to enable something like stale-bot so we can start auto closing stale issues. Great work everyone looking forward to the success of the v4 release!

[2021-04-09 13:52] #584 closed

[2021-04-09 15:36] szmarczak commented on #715
We're experiencing the same with Got. I think it would make sense to print % instead or along with op/s.

[2021-04-09 15:47] #652 closed

[2021-04-09 17:08] Ethan-Arrowood commented on #651
I didn't see any discrepancies in my review. Validated the type tests and everything seems okay. Types generally don't follow semver anyways so when 4.0 launches and there are issues discovered with the types, have folks submit fixes and then you just have to bump the patch. Of course, I'll be back in a weeks time and can help on anything uncovered 😄

[2021-04-09 17:08] #651 closed

[2021-04-09 21:53] Nytelife26 commented on #547
Apologies, I wasn't able to start on it just yet, been very busy with college. I'll be doing that now since I have free time. And, yes, I love what you guys did with unifying under `Dispatcher`, that makes life much easier.

[2021-04-09 22:02] ronag opened #719 "Readme is missing link to undici.nodejs.org"
Readme is missing link to undici.nodejs.org

[2021-04-09 22:43] ronag commented on #719
@mcollina should we add link somewhere in package.json as well?

[2021-04-09 23:11] mcollina commented on #719
Yes, I think we should.

[2021-04-09 23:51] tbnritzdoge opened #721 "Tree-Shaking"
## Bug Description

On the latest commit on master it is impossible to tree shake and reduce bundle size in my library due to the wasm files.

### Additional context

This is paramount to any project seeking to use undici as the underlying wrapper as tree shaking is the only way to keep the size down as undici is a fairly large library.

[2021-04-10 05:50] ronag commented on #721
Why would the wasm make tree shaking impossible? Sounds more like a problem with your bundled. Also why are you tree shaking a backend application?

[2021-04-10 09:54] mcollina commented on #721
What's your use case?

[2021-04-10 11:47] Nytelife26 commented on #721
You have to bundle the WASM build with the library to make it work since the library functions will not work without the WASM build present. Tree shaking does not become impossible, but very difficult without needing to bundle the WASM build, which drastically increases bundle size. It is also currently impossible to tree-shake WASM, since very few packages allow for it to be bundled at all (Parce

[2021-04-10 12:02] tbnritzdoge commented on #721
We wrap undici and a more simple to use library which fits the spec of the library we already used in our codebase (centra).

[2021-04-10 12:39] ronag commented on #721
I’m still confused what the problem here is and what you suggest we do about it?

Are you developing universal (back + front) code and you expect tree shaking to totally remove undici for the front end? And for some reason the wasm interferes with that?

[2021-04-10 23:42] Nytelife26 commented on #721
No. We're using tree shaking to reduce the bundle size of the library and not require undici as a raw dependency. WASM interferes with that because we must package the WASM with the library and WASM is not currently tree-shakeable.

[2021-04-11 09:09] mcollina commented on #721
It's not exactly clear what's the ask. We can't remove the wasm part as it's needed to parse the HTTP headers, and node core asked us to not use internal and unsafe C++ objects to do ao.

[2021-04-12 10:52] jonnydgreen commented on #677
Just wanted to say that I haven't forgotten about this - I was on holiday for the second half of last week :) I've been running some basic investigations here and getting familiar with the jsfuzz API https://github.com/jonnydgreen/undici-fuzzing and will write up my experiences and anything I found in this issue

[2021-04-12 11:11] ronag opened #725 "WebAssembly instance out of memory"
[code]

[2021-04-12 11:11] ronag commented on #725
@dnlup Thoughts? Do we need an option to set the memory limit? How do we do that?

[2021-04-12 11:13] ronag commented on #725
Started running on our test setups 😄

[2021-04-12 11:14] ronag commented on #725
I suspect it's because of large payload body. We should probably have a better error for this?

[2021-04-12 11:15] ronag commented on #725
Do we have a memory leak?

[2021-04-12 11:39] ronag commented on #725
@dnlup Thoughts? Workarounds? Pool/Re-use instances? Have single instance.

[2021-04-12 11:41] dnlup commented on #725
It seems like either:

* a memory leak
* more parsers->wasm instances are created and not cleaned up fast enough
* a V8/chromium issue?

I think it should be possible to set up a maximum limit for the memory:

* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/Memory/Memory#syntax

To understand further I would:

* measure memory consumption and which bu

[2021-04-12 11:43] dnlup commented on #725
Good thing you have a test setup and we are in alpha.

[2021-04-12 11:48] dnlup commented on #725
It looks like each wasm instance allocates a predefined amount of memory, I need to do more research about that. I think switching to one instance should be more efficient in that regard.

[2021-04-12 11:58] ronag commented on #725
That sounds like a V8 bug then? The GC should run and free them.

[2021-04-12 13:07] #725 closed

[2021-04-12 14:55] ronag opened #727 ":80 :443 origins will fail"
[code]

Will fail since `parseOrigin` removes :80 which causes the `opts.origin === this[kUrl].origin` check to fail.

[2021-04-12 15:03] ronag opened #728 "Cannot perform %TypedArray%.prototype.set on a detached ArrayBuffer"
[code]

[2021-04-12 15:08] ronag commented on #728
Not sure how it gets detached?

[2021-04-12 15:10] #728 closed

[2021-04-12 15:30] ronag commented on #728
@nodejs/v8 not sure if you can do anything about with so little info, just thought I'd do a FYI ping

[2021-04-12 17:50] MysticEarth commented on #583
This also happened to me when making a normal request to for example "http://nvidia.com" using the example from the Quickstart. I *do* get some response but after that my app crashes:

[code]

The application crashes on:

[code]

[2021-04-12 18:18] ronag commented on #583
Do you have the same problem with 4.0.0-alpha.2?

[2021-04-12 18:19] ronag commented on #727
@dnlup care to take a look?

[2021-04-12 19:30] ronag opened #730 "`assert(!currentParser)`"
[code]

[2021-04-12 19:48] #730 closed

[2021-04-12 21:30] ronag opened #732 "test/client-pipeline.js 2> Assertion failed"
When running test I get a `test/client-pipeline.js 2> Assertion failed` message in console.

[2021-04-12 22:06] ronag commented on #732
I have no idea where this might be coming from. @dnlup any ideas?

[2021-04-12 23:00] ronag opened #734 "Make options argument optional in undici.pipeline and undici.stream"
Make `options` argument optional in [`undici.pipeline`](https://github.com/nodejs/undici#undicipipelineurl-options-handler-duplex) and [`undici.stream`](https://github.com/nodejs/undici#undicistreamurl-options-factory-promise).

Maybe also `undici.connect` and `undici.upgrade`.

[2021-04-12 23:04] ronag commented on #624
duplicate https://github.com/nodejs/undici/issues/734

[2021-04-12 23:04] #624 closed

[2021-04-12 23:05] #561 closed

[2021-04-12 23:05] #560 closed

[2021-04-12 23:08] ronag commented on #264
I think this is done.

[2021-04-12 23:08] #264 closed

[2021-04-12 23:20] janpio commented on #264
No search results for "unix" or "uds" but 🤷

[2021-04-12 23:22] ronag commented on #264
https://github.com/nodejs/undici/blob/main/benchmarks/server.js#L7

[2021-04-13 06:22] MysticEarth commented on #583
Just tried and this still happend with 4.0.0-alpha.2

[2021-04-13 07:13] dnlup commented on #732
Not atm, I saw this too a while ago. I thought I missed something in the process.

[2021-04-13 07:30] #727 closed

[2021-04-13 07:30] ronag commented on #583
Can you please provide a repro?

[2021-04-13 07:50] #732 closed

[2021-04-13 07:56] #719 closed

[2021-04-13 09:11] mcollina opened #736 "Change benchmarking framework"
As @ronag posted in https://github.com/nodejs/undici/pull/729#issuecomment-818261572, a significant part of the benchmarks is spent __inside the `benchmark` library__, making our benchmarks less useful:

![Screenshot 2021-04-13 at 11 05 48](https://user-images.githubusercontent.com/52195/114527369-35da2800-9c48-11eb-9b94-871bd28f7fc7.png)

In the past where we had similar issues, we used https://w

[2021-04-13 09:13] ronag opened #737 "`assert(currentParser.headers.length % 2 === 0)` failed"
[code]

[2021-04-13 09:14] ronag commented on #737
We are hitting the following assertion, https://github.com/nodejs/undici/blob/main/lib/client.js#L412, not sure how that is possible?

[2021-04-13 09:14] ronag commented on #737
Can there be multiple values for the same field?

[2021-04-13 09:23] ronag commented on #736
Also would be nice to have results relative to a baseline (e.g. http) so that the computer performance for any specific run is less of a factor when comparing results.

[2021-04-13 09:24] ronag commented on #736
@ShogunPanda Would you be interested in looking into this?

[2021-04-13 09:29] ronag commented on #737
It seems empty header fields are valid.

[2021-04-13 09:38] ronag commented on #737
I'm just not sure how to trigger this... I seem to get `''` header value regardless.

[2021-04-13 09:50] ronag commented on #737
Ok, I know how to trigger this now.

[2021-04-13 10:12] #737 closed

[2021-04-13 10:25] ronag commented on #677
@jonnydgreen this is an issue that would have been nice to catch through fuzzing https://github.com/nodejs/undici/pull/738

[2021-04-13 10:49] jonnydgreen commented on #677
Cool, understood - I will look into that as well!

[2021-04-13 11:18] ShogunPanda commented on #736
@ronag Sure, absolutely. I'll send a PR in the next few days.

[2021-04-13 13:17] tbnritzdoge commented on #721
We were hoping that the WASM can be removed. Although that is obviously not going to happen we probably will be able to work around it with some fancy bundling stuff. Thanks for the help and keep up the great work.

[2021-04-13 13:17] #721 closed

[2021-04-13 18:39] janpio commented on #264
Ah nice. Are the results interesting enough to be added to the README?
(Tried to run on Windows, but the server can not be started because of the Socket file not being readable or something)

[2021-04-13 18:53] ronag commented on #264
Those results are what’s already in the readme.

[2021-04-13 18:57] janpio commented on #264
Again, very good point. I'll just be quiet now.
(Although I was looking for a comparison between socket vs no socket)

[2021-04-13 19:28] szmarczak commented on #264
Do you mean WSL?

[2021-04-13 20:10] janpio commented on #264
No, direct Cmd.exe. WSL would probably be fine.

[2021-04-13 21:41] szmarczak commented on #264
AFAIK there are no UNIX sockets on Windows yet. I believe it's still on Windows Insiders, but haven't checked.

[2021-04-14 07:22] kas-akram opened #739 "MockCLient not a constructor"
## Bug Description

## Reproducible By

## Expected Behavior

## Logs & Screenshots

## Environment

### Additional context

[2021-04-14 07:24] kas-akram commented on #739
![image](https://user-images.githubusercontent.com/79639000/114670327-81600500-9d20-11eb-8b8d-837b6489f966.png)

[2021-04-14 07:26] ronag commented on #739
How do I reproduce?

[2021-04-14 07:28] kas-akram commented on #739
"undici": "^3.3.3"

const { MockClient } = require("undici");
const client = new MockClient("https://www.nodejs.org");

client.intercept({
  path: "/",
  method: "GET",
}).reply(200, { "foo": "bar"});

[2021-04-14 07:32] ronag commented on #739
MockClient was added in undici 4

[2021-04-14 07:33] kas-akram commented on #739
Any other way i can mock for version 3?

[2021-04-14 07:34] ronag commented on #739
Sorry, no.

[2021-04-14 07:35] #739 closed

[2021-04-14 22:25] ronag opened #741 "Expected /HTTP"
Flaky test :/

[code]

[2021-04-14 23:03] ronag commented on #741
Added more info to parser error to easier debug this https://github.com/nodejs/undici/commit/7a750ba998cbc4c125f747876536655c2f7b7c02.

[2021-04-15 10:29] ronag commented on #734
Fixed

[2021-04-15 10:29] #734 closed

[2021-04-15 12:59] ronag commented on #741
@dnlup FYI

[2021-04-15 13:00] ronag commented on #741
Looks like some kind of interference between `Client` instances. There is no special payload here.

[2021-04-15 13:08] ronag commented on #736
Related https://github.com/nodejs/undici/issues/715

[2021-04-15 13:36] dnlup commented on #741
Just out of curiosity, can we try to avoid the usage of the `currentParser`  technique and go back to the previous implementation? What do you think?

[2021-04-15 13:38] dnlup commented on #741
We are either modifying memory regions we shouldn't or maybe using the wrong parser pointer?

[2021-04-15 13:38] szmarczak commented on #741
I can have a look a this. Just give me a few minutes.

[2021-04-15 13:41] dnlup commented on #741
Thank yo @szmarczak

[2021-04-15 13:43] szmarczak commented on #741
Are you able to reproduce this or it throws randomly?

[2021-04-15 13:47] dnlup commented on #741
It is random, and apparently, it is happening only in the CI if I am not mistaken. There is work going on to introduce fuzzing, which should help. I can't find it atm 😢

[2021-04-15 13:56] ronag commented on #741
This one happened locally for me. But haven’t been able to repro since.

[2021-04-15 13:57] ronag commented on #741
Let’s try to go back to the Map but check benchmarks. @dnlup can you try that?

[2021-04-15 14:04] dnlup commented on #741
I'll be able to tomorrow morning, is that ok?

[2021-04-15 14:17] ronag commented on #741
I might have a go at it tonight. I’ll give you a status update for the morning.

[2021-04-15 14:33] szmarczak commented on #741
Can I have a link please?

[2021-04-15 14:45] dnlup commented on #741
Maybe this one:

* https://github.com/nodejs/undici/runs/2279575903?check_suite_focus=true#step:5:9313

cc @ronag

[2021-04-15 14:48] ronag commented on #741
Nope. Not that one. I don't remember if/when I saw it on CI last time. As I said this issue was created when it happened locally.

[2021-04-15 14:48] ronag commented on #741
Could it be related to throwing exception across the js -> wasm -> js border?

[2021-04-15 15:06] dnlup commented on #741
Not sure, why do you think that?

[2021-04-15 15:09] ronag opened #744 "llhttp API changes"
Not sure if this makes sense. Mostly just throwing out the idea.

What if instead of having `execute` invoke various callbacks. If `execute` just returned  a buffer of operations? That way we would minimize the number of function calls across the ws -> js border. Though maybe at the cost of memory cache locality.

i.e.

[code]

[2021-04-15 15:09] ronag commented on #744
@dnlup wdyt?

[2021-04-15 15:17] ronag commented on #741
I have no good reason. I'm just grasping at straws.

[2021-04-15 15:18] ronag commented on #741
I don't think we do actually throw anything across so its not relevant.

[2021-04-15 15:18] ronag commented on #744
This would also remove the need for the map in https://github.com/nodejs/undici/pull/743

[2021-04-15 15:45] ronag commented on #744
Hm, might not work due to the fact that headersComplete needs a return value

[2021-04-15 15:50] ronag commented on #741
Could it be some kind of keep alive thing? What if the last buffer contains message eof **and** the start of the next message

[2021-04-15 15:58] szmarczak commented on #741
Tested it. No error.

[2021-04-15 16:00] szmarczak commented on #741
I wonder if the error happens after the headers have been read or before they have been read.

[2021-04-15 16:06] szmarczak commented on #741
Do you mean `data` is empty?

[2021-04-15 16:11] ronag commented on #741
Yea.

[2021-04-15 16:18] #744 closed

[2021-04-15 16:45] szmarczak commented on #741
Dang, it makes no sense. I think it could be an error inside `llhttp`, but I'm not so sure.

[2021-04-15 17:35] ronag opened #746 "Flaky test"
[code]

[2021-04-15 18:13] ronag commented on #746
[code]

[2021-04-15 18:21] ronag commented on #741
I'm not sure what more we can do at the moment. I've added the `data´ argument to the parser error so if the error occurs again we might have a bit more info.

[2021-04-15 18:22] ronag commented on #741
Maybe would be nice if there was a meaningful way to dump the llhttp state? @indutny

[2021-04-16 06:25] indutny commented on #741
There's a way, actually. You just have to generate `llhttp` sources with `LLPARSE_DEBUG=on make` :wink:

[2021-04-16 15:28] #580 closed

[2021-04-18 08:45] ronag opened #748 "get error reason unsafe"
Somehow managed to get the following error:

[code]

This line:

[code]

[2021-04-18 08:50] ronag commented on #748
https://github.com/nodejs/undici/compare/err?expand=1

[code]

[2021-04-19 06:30] dnlup commented on #748
I'll try to reproduce it locally.

[2021-04-19 06:46] dnlup commented on #748
I think this could be happening:

1. A custom error has happened
2. No custom error was set (withset_error_reason)
3. The pointer might point to a random place

We could:
1. Be sure that we set the error reason on user errors
2. Be extra safe ad wrap that block in a `try`/`catch`

This is the affected part:

[code]

(Line 533 in `lib/client.js`)

Does that make sense to you?

[2021-04-19 06:46] dnlup commented on #748
I couldn't reproduce it locally, though.

[2021-04-19 06:48] ronag commented on #748
Now i can't repro either... is there any reasonable way to validate the value `ptr`? Do we know its valid bounds?

[2021-04-19 06:49] ronag commented on #748
Nope

[2021-04-19 06:49] ronag commented on #748
Maybe just let's hope it was a fluke

[2021-04-19 06:49] #748 closed

[2021-04-19 06:50] dnlup commented on #748
We could wrap it in a try/catch, or is it too much of a hack?

[2021-04-19 06:51] ronag commented on #748
Yea... I would rather check the `memory.buffer` bounds in that case.

[2021-04-19 06:56] dnlup commented on #748
Do you see anything that the Node parser does here?

https://github.com/nodejs/node/blob/master/src/node_http_parser.cc#L790

[2021-04-19 06:58] ronag commented on #748
Nope, they seem to assume it always returns valid string 😕

[2021-04-20 11:55] ShogunPanda commented on #736
Done. See #751.

[2021-04-20 18:35] #715 closed

[2021-04-20 21:14] mcollina opened #753 "http: abort when closing with pipelining requests in flight"
* **Version**: v16.0.0
* **Platform**: linux
* **Subsystem**: http

### What steps will reproduce the bug?

Checkout https://github.com/fastify/fastify and run `npm i`:

[code]

I will work on a closed reproduction soon.

### How often does it reproduce? Is there a required condition?

Always

### What is the expected behavior?

not abort

[2021-04-20 21:37] mcollina commented on #753
transfered from Node.js

[2021-04-20 21:42] indutny commented on #753
Why would it be unidici? I thought you were using wasm build of llhttp and not the bindings that Node provides. The crash seems to happen in `src/node_http_parser.cc`. Also, I can't reproduce it.

[2021-04-20 21:48] indutny commented on #753
Ah, `npm test` fails indeed.

[2021-04-20 21:55] mcollina commented on #753
I fixed it, it's the previous version.

[2021-04-20 21:57] mcollina commented on #753
thanks for the help!

[2021-04-20 22:04] indutny commented on #753
Ah, awesome. Glad it worked!

[2021-04-20 23:47] rbonillajr opened #756 "Multiple requests to the same endpoint cause an error and the container is restarted"
## Bug Description

With version 3.3.3 it is reporting this error when making several requests.

[code]
With version v4.0.0-alpha.3 it is reporting this error when several requests are made:

[code]

## Reproducible By
I'm using mercurios.

my mutation is:

[code]
reimbursementAttachmentInput is:

[code]

create task runner with postman with 5 to 10 request

## Environment

alpine image
node v14.1

[2021-04-21 07:13] ronag commented on #756
That's interesting... however difficult to reproduce... I have no experience with mercurios. Do you think you can create a small project I can clone and run?

[2021-04-21 07:18] ronag commented on #756
@rbonillajr  can you try with master?

[2021-04-21 07:48] Anish-Shobith opened #757 "types: index.d.ts is not exported"
## Bug Description

From what i see in the `package.json` under `files` there is option to include `.d.ts` file but unfortunately the dist or the code in npm does not include `index.d.ts`, which forces us to types from directly from the types folder which shouldn't be the case.

https://github.com/nodejs/undici/blob/29682079eeeb918a35b02a6ef06156cb8f74b2d1/package.json#L25

## Reproducible By

The

[2021-04-21 07:50] ronag commented on #757
@Ethan-Arrowood

[2021-04-21 09:30] mcollina commented on #753
Fixed in Undici v3.3.5.

[2021-04-21 09:30] #753 closed

[2021-04-21 10:17] ronag commented on #757
PR welcome

[2021-04-21 10:18] #736 closed

[2021-04-21 10:18] #670 closed

[2021-04-21 10:18] ronag commented on #657
PR welcome

[2021-04-21 10:19] ronag commented on #643
@szmarczak Current thoughts on this issue?

[2021-04-21 10:21] #590 closed

[2021-04-21 10:25] ronag commented on #741
Haven't seen this for a while now.

[2021-04-21 10:25] #741 closed

[2021-04-21 11:03] delivey commented on #657
Opened PR. https://github.com/nodejs/undici/pull/758

[2021-04-21 12:31] szmarczak commented on #643
I think we should skip this one.

[2021-04-21 12:31] #643 closed

[2021-04-21 13:00] ronag opened #761 "Why is request faster than stream in multi socket bench?"
Why does the order differ depending on whether it's single socket or multi socket?

[2021-04-21 13:09] rbonillajr commented on #756
The problem doesn't happen when i run locally. It happens to me only in the k8s pod.

The error comes up when you execute the fetch function (I attach the code)

[code]

[2021-04-21 13:16] rbonillajr commented on #756
This is the architecture
![diagram](https://user-images.githubusercontent.com/8268226/115559982-cda7c980-a279-11eb-83a2-744d4978a9e2.png)

[2021-04-21 13:23] ronag commented on #756
Did you try with master and do you get the same error then?

[2021-04-21 13:26] rbonillajr commented on #756
I did not try with master. I do the test and I comment.

[2021-04-21 13:28] rbonillajr commented on #756
I only tested with v3.3.3 and v4.0.0-alpha.3. Both give me error.

[2021-04-21 15:12] #757 closed

[2021-04-21 17:19] delivey commented on #657
PR merged and favicon is on the live site. This issue should be closed.

[2021-04-21 17:20] #657 closed

[2021-04-21 20:53] mcollina commented on #756
This has nothing to do with mercurius. You should be able to create a standalone scriptnto reproduce without them.

Anyway, I recommend you to create a Pool and reuse it in your resolver. It would give you the best perf and not have this problem.

[2021-04-21 21:50] rbonillajr commented on #756
Thank you very much for the comment @mcollina
In the same way, it is good that you have reported this bug as it helps to improve the library.
My code is as in the documentation.

thanks.

[2021-04-22 00:28] ronag commented on #756
Does your environment somehow mutate node `Sockets`? What Node version are you running there? The error you are seeing should not be possible.

[2021-04-22 07:26] mcollina commented on #756
@ronag I think we have a race condition due to the fact we are calling `client.close()` without a event loop run from when the stream ends.

[2021-04-22 09:23] ronag commented on #756
Not sure I follow.

[2021-04-22 10:06] mcollina commented on #756
I'll fix it :).

[2021-04-22 23:49] ronag opened #764 "host header and SNI"
At the moment we currently [always override the SNI servername to what is passed in the request host header.](https://github.com/nodejs/undici/blob/main/lib/client.js#L1125-L1131) The main reason we do this is because that's what Node does. However, I'm unsure if we have to do this? Is there are any spec that defines this behavior?

I'm mostly asking because this logic adds some complexity which w

[2021-04-22 23:50] ronag commented on #764
@szmarczak @ShogunPanda

[2021-04-23 00:16] szmarczak commented on #764
I have never encountered an example where the servername would be different than the host.

https://tools.ietf.org/html/rfc2818#section-3

[2021-04-23 01:21] rbonillajr commented on #756
Hi, I'm going to work on it.

[2021-04-23 08:21] mcollina commented on #764
Let's keep doing what node does.

[2021-04-23 08:23] #764 closed

[2021-04-23 11:26] ronag opened #766 "client can emit disconnect without a preceding connect"
It should not be possible to emit `'disconnect'` without `'connect'`. However, it then becomes a problem of how to make connection errors visible... do we need another event? i.e. what do we do with socket errors that occur before `'connect'`.

[2021-04-23 11:35] ronag commented on #766
Ideas? @szmarczak @dnlup @ShogunPanda

[2021-04-23 11:54] dnlup commented on #766
I think maybe we could expose an error event.

[2021-04-23 12:49] ronag commented on #766
Problem with that is that forces user to listen to it.

[2021-04-23 13:18] dnlup commented on #766
That's true. This could happen anyway If we don't use disconnect and opt for another approach (being another event or a callback passed to `connect`).

[2021-04-23 13:20] dnlup commented on #766
The big problem that I see with the `error` event is the potential uncaught exception (or maybe that's what you meant and I didn't get it)

[2021-04-23 13:45] ronag commented on #766
Another solution is to emit connect when we start connecting.

[2021-04-23 13:55] dnlup commented on #766
If it doesn't create confusion on timing, sounds good to me.

[2021-04-23 14:13] szmarczak commented on #766
I'm good with anything. The current solution seems fine to me.

[2021-04-23 15:52] ronag commented on #766
It is a problem for users that use the connect/disconnect events to count the number of active connection.

[2021-04-24 12:48] ShogunPanda commented on #766
I also second @dnlup - Let's emit error, being careful to emit only if there are listeners present.

[2021-04-24 13:02] ronag commented on #766
@mcollina wdyt?

[2021-04-24 13:43] mcollina commented on #766
+1

[2021-04-24 23:17] MetCoder95 commented on #686
Hi! I just started reading the code in order to start working on this issue 🙂

I'm really new with the code as I'm just starting but I figured out the following: In order to do the same as `Agent` does (i.e. wrapping the `handler` with `RedirectHandler`), is a need to pass an instance of `Agent`, which means that might need to be modified as well.
Also, we should make the redirect once the respons

[2021-04-24 23:19] ronag commented on #686
You don't need to pass an instance of Agent. That's only needed for cross origin.

[2021-04-24 23:36] MetCoder95 commented on #686
But it is done in this way by `Agent` see: https://github.com/nodejs/undici/blob/e7e393a095c9e9bfa34db9dee18e668dbe8cb939/lib/agent.js#L181

and also `RedirectHandlers` uses it:
https://github.com/nodejs/undici/blob/e7e393a095c9e9bfa34db9dee18e668dbe8cb939/lib/handler/redirect.js#L8

Or am I looking into the wrong place?

[2021-04-24 23:38] ronag commented on #686
You can pass a pool or client as `agent` there. Should probably be renamed to `dispatcher`.

[2021-04-24 23:41] MetCoder95 commented on #686
Oh, that's true, they share the same shape. I missed that, thanks! I can rename it as part of the PR

[2021-04-25 19:48] ronag opened #776 "README benchmarks"
Now that the benchmarks show relative values the absolute values are no longer as important. Can we for simplicity sake start using the CI bench results in the readme?

[2021-04-25 19:48] ronag commented on #776
@mcollina

[2021-04-25 21:05] mcollina commented on #776
I don't think those are really reliable.. but ok!

[2021-04-25 21:12] #776 closed

[2021-04-26 10:23] ronag opened #778 "UND_ERR_ABORTED vs core AbortError?"
Should we be using `AbortError` instead of `UND_ERR_ABORTED`. Node core doesn't expose `AbortError` but it's easy to shim.

I'm a little unsure how to think about this...

[2021-04-26 10:51] ronag commented on #778
Another option is to set the `name` of `UND_ERR_ABORTED` to `AbortError`. That might give sufficient compat?

[2021-04-26 10:52] ronag commented on #778
I'm primarily concerned with this kind of code:

[code]

[2021-04-26 13:59] mcollina commented on #778
I don't mind either way.

[2021-04-26 14:51] Ethan-Arrowood commented on #778
https://nodejs.org/api/errors.html#errors_abort_err was only added in v15 so we probably need to support both for now?

[2021-04-26 18:22] ronag opened #779 "redirect should ignore requests with body"
Currently I think follow redirect will also follow requests that have body.  That's a little problematic...

[2021-04-26 18:22] ronag commented on #779
@ShogunPanda

[2021-04-26 20:42] #779 closed

[2021-04-26 20:42] ronag commented on #779
Not an issue

[2021-04-27 10:45] ronag opened #780 "Benchmark results are weird"
The difference between 1 and 50 connections is rather strange...

[2021-04-27 10:45] ronag commented on #780
@ShogunPanda

[2021-04-27 12:32] mcollina commented on #780
I don't think we should solve this for v4.0.0

[2021-04-27 14:35] #766 closed

[2021-04-27 14:37] ronag commented on #761
Closing in favor of https://github.com/nodejs/undici/issues/780

[2021-04-27 14:37] #761 closed

[2021-04-27 16:45] #714 closed

[2021-04-27 16:45] #778 closed

[2021-04-27 16:45] #540 closed

[2021-04-27 17:16] szmarczak commented on #540
Is `undici-fetch` going to be merged into `undici`?

[2021-04-27 17:39] ronag commented on #540
Eventually. Possibly. I think undici-fetch needs to come a little further along first.

[2021-04-28 19:48] Ethan-Arrowood commented on #540
Yeah undici-fetch is targeting spec-compat built on undici v4. integration could be expect for undici v5

[2021-04-29 19:18] ronag opened #783 "Add maxCachedSessions to `connect`"
Currently there is no limit on the number of cached sessions. Implement a `maxCachedSessions` option similar to [node core](https://nodejs.org/api/https.html#https_new_agent_options) in [`connect`](https://github.com/nodejs/undici/blob/main/lib/core/connect.js).

[2021-05-04 10:29] #783 closed

[2021-05-04 23:50] mcollina opened #787 "Not matching mocks are hard to debug"
## Bug Description

When a mock does not match (and net.connect is disabled), we error with a generic:

[code]

However, we are likely setting up a mock for this URL - so there might be something that is not matching.

We should provide better error messages.

[2021-05-04 23:50] mcollina commented on #787
cc @jonnydgreen

[2021-05-05 06:35] jonnydgreen commented on #787
Makes sense, I can get started on a solution for this this evening for improving the mock errors!

[2021-05-05 06:59] mcollina commented on #787
Thanks!

[2021-05-05 07:26] jonnydgreen commented on #787
No problem at all! :)

[2021-05-05 07:27] mcollina commented on #708
The blog post is ready. I have contacted the foundation staff to publish it on the Node.js medium account.

[2021-05-05 07:28] #708 closed

[2021-05-05 21:24] jonnydgreen commented on #787
Thinking of something like this which indicates exactly what the issue is and offers a solution as well:

[code]

What do you reckon?

[2021-05-05 23:31] mcollina commented on #787
It would work but it needs to be more nuanced. For example, express that there was a body or header or XYZ mismatch.

[2021-05-06 07:34] jonnydgreen commented on #787
Ah okay, no problem - I'll get right on that and try and think of other situations that need more info as well!

[2021-05-07 10:06] #787 closed

[2021-05-07 10:10] mcollina opened #791 "Mocks should match headers"
Currently we do not match the headers when doing intercepts:

[code]

I would only consider an header as a requirement if included. So passing (or not passing) an `Accept` header would not make a difference for this interceptor.

[2021-05-07 10:10] mcollina commented on #791
cc @jonnydgreen

[2021-05-07 10:10] mcollina commented on #791
@ronag this must be fixed before the v4 release.

[2021-05-07 10:13] jonnydgreen commented on #791
I'll get a PR sorted for this this weekend :)

[2021-05-07 12:44] #615 closed

[2021-05-07 12:44] ronag commented on #531
@mcollina can we close this?

[2021-05-07 13:06] mcollina commented on #531
Yes it's done

[2021-05-08 08:36] #707 closed

[2021-05-08 08:38] #302 closed

[2021-05-08 08:38] #405 closed

[2021-05-08 08:38] #443 closed

[2021-05-08 17:22] trivikr opened #795 "The "bench:simd" script fails with Missing script: "bench:run:simd""
## Bug Description

The "bench:simd" script fails with Missing script: "bench:run:simd"

## Reproducible By

[code]

## Expected Behavior

The `bench:simd` script runs successfully

## Logs & Screenshots

[code]

## Environment

[code]

### Additional context

N/A

[2021-05-08 17:28] trivikr commented on #795
The fix would depend on whether maintainers want to provide separate benchmark script with simd enabled.

If benchmark includes simd enabled by default, then script `bench:simd` can be removed:
[code]

If an option to run benchmark with sim needs to be provided, then:
* `bench:run`: The configuration `--experimental-wasm-simd` needs to be removed.
* `bench:run:simd`: The script needs to be added w

[2021-05-08 22:33] #791 closed

[2021-05-09 09:48] mcollina commented on #795
I'd like to keep the simd benchmark.. could you send a PR with that fix?

[2021-05-09 14:22] trivikr commented on #795
PR adding `bench:run:simd` posted at https://github.com/nodejs/undici/pull/796

[2021-05-09 15:12] #795 closed

[2021-05-10 06:10] trivikr commented on #197
Should `Status: wontfix` label be removed if the work to add HTTP 100 Continue is going to be prioritized?

[2021-05-10 07:21] mcollina commented on #197
Our priority right know is bugfixing for the v4 release. If you would like to work on it, PRs are always welcome.

[2021-05-10 09:32] ronag opened #800 "Node 16 requires --report classic"
Node 16 seems to break tap when not using --report classic. Investigate why and see if there is any issue already traking this on tap.

[2021-05-10 14:02] trivikr commented on #800
What's the error you're getting when using tap without using `--report classic` on Node 16?

It doesn't break on my MBP:
[code]

It seems to run less tests, i.e. 6177, tests with `--reporter classic` though.

[2021-05-10 14:36] ronag commented on #800
@trivikr

[code]

[2021-05-10 15:18] mcollina commented on #800
you should update the dependencies, it does not happen on my box.

[2021-05-10 15:22] ronag commented on #800
Clearing node modules and re-install fixed it.

[2021-05-10 15:22] #800 closed

[2021-05-10 21:43] ronag opened #801 "SSE 4.2"
I notice in llhttp.c there are some `__SSE4_2__` guards. Is this something that our `msimd128` build is able to enable?

[2021-05-10 21:43] ronag commented on #801
@dnlup

[2021-05-11 05:56] dnlup commented on #801
I am not sure. From quick research:

* https://github.com/WebAssembly/simd/blob/main/proposals/simd/ImplementationStatus.md
* https://stackoverflow.com/questions/28939652/how-to-detect-sse-sse2-avx-avx2-avx-512-avx-128-fma-kcvi-availability-at-compile
* https://github.com/linbox-team/fflas-ffpack/issues/184

I think it should be something that is enabled by the compiler if it's supported on the ta

[2021-05-11 15:27] ronag opened #803 "Response body ends prematurely"
~~Haven't had time to check but I suspect we might have a problem with body sizes larger than 31 bit.~~

undici will complete without error before reading entire response body.

[2021-05-11 15:46] ronag commented on #803
It just works. This might be a wasm thing.

[2021-05-11 16:47] dnlup commented on #803
[Inspecting](https://github.com/nodejs/undici/blob/main/deps/llhttp/include/llhttp.h#L30) `llhttp` I see content-length is an unsigned int of 64 bits. That should exclude some issues in the parser native side.

[2021-05-12 03:42] indutny commented on #803
Isn't wasm memory space limited to 2gb? I think you need to split up the data before passing it into llhttp.

[2021-05-12 05:03] ronag commented on #803
The data is split?

[2021-05-12 05:21] indutny commented on #803
Looking. Completely unrelated, you should probably use `parseInt(..., 10)` instead of just `parseInt()` (Yes, JS is weird: `parseInt('0x1f') === 0x1f`)

[2021-05-12 05:35] ronag commented on #677
@jonnydgreen did you get anywhere with this?

[2021-05-12 05:36] #746 closed

[2021-05-12 05:36] ronag commented on #746
Haven't seen any flakiness recently. Closing.

[2021-05-12 05:40] indutny commented on #803
llhttp itself appears to work fine: https://gist.github.com/indutny/818e4428eeadb17bb541a668e653e2a9 . Whenever I execute it - I get back exactly the same amount of bytes that passed to execute.

I strongly suspect that it is either an issue with wasm build or the wrapping around it.

[2021-05-12 05:45] ronag commented on #803
@indutny Thanks for confirming. Much appreciated.

[2021-05-12 05:53] ronag commented on #803
@indutny I ported your test into our WebASsembly and was able to reproduce the issue: https://gist.github.com/ronag/3e316e78931f8b49f1138460a77a258a

[2021-05-12 05:54] indutny commented on #803
Added a bunch of logging and looks like `uint64_t` subtraction doesn't work:

[code]

As you might have guessed 35944 is `0x8c68` in hex. So it subtracts 0x8c68 from 0x100008c68 and gets 0x0.

[2021-05-12 05:54] indutny commented on #803
FWIW, here's the code that I've added to `wasm_on_body` to extract this:

[code]

[2021-05-12 05:55] indutny commented on #803
What's the best way to view the contents of the wasm file?

[2021-05-12 05:57] indutny commented on #803
Sounds like `wasm2wat`

[2021-05-12 05:57] ronag commented on #803
Maybe https://webassembly.studio?

[2021-05-12 06:01] indutny commented on #803
I know what's going on. Could you find `s_n_llhttp__internal__n_consume_content_length` replace `size_t`s with `uint64_t`s right after it and try recompiling and running the test?

[2021-05-12 06:05] ronag commented on #803
hm, didnt seem to help.

[2021-05-12 06:07] ronag commented on #803
That fixed it!

[2021-05-12 06:08] indutny commented on #803
Alright, working on the real fix. Thanks for trying it.

[2021-05-12 06:31] indutny commented on #803
Fix: https://github.com/nodejs/llparse/pull/44 .

@ronag could you try `llhttp.c` from the attachment and see if it still works?

[llhttp.c.zip](https://github.com/nodejs/undici/files/6463901/llhttp.c.zip)

[2021-05-12 06:35] ronag commented on #803
All good!

[2021-05-12 06:40] dnlup commented on #803
Thank you for the help @indutny !

[2021-05-12 06:47] indutny commented on #803
No worries. Always glad to fix my own mess ups 😂

On Tue, May 11, 2021 at 23:41 Daniele Belardi ***@***.***>
wrote:

[2021-05-12 06:51] jonnydgreen commented on #677
My apologies, this dropped off my radar. I will block out some time this weekend to make some significant progress but completely understand if you wanted to work on this yourself!

[2021-05-12 07:03] ronag commented on #677
I don't have any plans working on it. Was just curious if you came to any conclusion in regards to whether it's feasible or not.

[2021-05-12 07:11] #803 closed

[2021-05-12 07:18] jonnydgreen commented on #677
I did have some initial thoughts so far and will expand on the feasibility of these this weekend:
 - Automating in the CI would be tricky as the tool runs indefinitely, so it might need to run manually like the benchmarks. However, if can make it gracefully terminate (if there are no unexpected errors) after a short amount of time this could be run in a scheduled GH action if we wanted to automate

[2021-05-12 09:11] ronag opened #807 "expected /HTTP"
Just encountered one of these again 😢

[code]

[2021-05-12 09:15] ronag commented on #807
We should probably also keep a reference to the previous buffer and include that in `data`.

[2021-05-12 09:15] ronag commented on #807
Or some other information so we can figure out what's going on.... rc.4

[2021-05-12 21:59] indutny commented on #803
Created a new release: https://github.com/nodejs/llhttp/releases/tag/release%2Fv6.0.2

[2021-05-13 16:21] ronag commented on #807
@indutny what should we include in errors like these to make it easier to debug?

[2021-05-13 19:55] schwers commented on #756
Wanted to report I'm running into this issue as well, specifically in kubernetes.

This only started happening for us yesterday. We were previously talking to our graphql endpoint over https and out through the open internet. When we changed configuration to talk to the same graphql endpoint, but over a kubernetes intracluster networking. e.g. from `https://gql.reddit.com` -> `http://reddit-servic

[2021-05-13 20:19] ronag commented on #756
Have you tried v4? Do you have a full stack trace?

[2021-05-13 20:23] schwers commented on #756
Unfortunately I'm not getting a helpful stack trace. Our sentry instance is having an error processing the stack for it, I think it's happening out-of-band from when we're making the request.

I'll try upgrade to v4 today / near-future and report back.

[2021-05-13 21:36] szmarczak commented on #807
I wonder if this can occur due to content-length mismatch...

[2021-05-14 01:23] rbonillajr commented on #756
hi @ronag @mcollina @schwers
I have tried to reproduce the error but it only happens to me when the pod is deployed in kubernetes.
With version 4 it gives me an error, specify it when I create the bug.

[2021-05-14 04:06] indutny commented on #807
I think it is not unlikely that this is due to content-length. llhttp provides `error_pos` that sometimes could help clarify where the parsing error actually occurred, but with this particular error it is just likely that llhttp thinks that the request ended prematurely.

[2021-05-14 05:31] smehta91 opened #808 "Response latency of express server is increasing when using undici as http client"
## Bug Description

I am trying to integrate undici as HTTP client on my express project. But after integrating we found that server response latency has increased drastically. Could someone please review what I am doing wrong here https://github.com/smehta91/node-GQL-flash/pull/1/files.

### Additional context

[2021-05-14 06:59] mcollina commented on #808
You are using a single `Client` to send multiple HTTP requests, while a single Client wraps a single socket. You need to use a `Pool` or an `Agent`, so that you can use multiple sockets.

I would recommend to update to v4.0.0-rc.4 and use the top-level `request()` method.

[2021-05-14 09:06] ronag commented on #756
You are getting the same error even with 4.0.0-rc.4?

[2021-05-14 09:18] ronag opened #810 "Invalid body doesn't error"
[code]

I think the above request should fail. The body is longer than content-length.

[2021-05-14 09:19] ronag commented on #810
@indutny isn't llhttp a bit too lenient here?

[2021-05-14 09:21] ronag commented on #807
Not sure if related https://github.com/nodejs/undici/issues/810.

I haven't been able to create a repro for this.

@indutny Is there a way to have llhttp protect against this? I suspect something happens where the body doesn't match the content-length, either by being too small or too large and that somehow messes up the llhttp parser state?

[2021-05-14 09:54] mcollina commented on #810
I think we should handle this ourselves.

[2021-05-14 09:55] ronag commented on #810
Why? Then we need to start parsing packages in undici? I think this makes more sense to handle in llhttp.

[2021-05-14 10:01] mcollina commented on #810
Why this needs to go in Undici and not on our users code?

Node http does not handle this either.

[2021-05-14 10:04] ronag commented on #810
Because users can't detect it.

[2021-05-14 11:07] mcollina commented on #810
I think we should handle this here and it should not be part of llhttp.

[2021-05-14 11:13] ronag commented on #810
I don't see why? It would be much easier to handle in llhttp. I'm unsure if we can handle it in undici in a reasonable way... if we get a message complete we somehow have to parse the last buffer passed to `execute` and figure out where in that buffer the relevant data is (i.e. on packet can contain multiple full messages).

[2021-05-14 11:18] ronag commented on #810
Also in this case we actually need llhttp to parse the body until the termination in order to avoid corrupting other requests in the packet.

[2021-05-14 13:17] mcollina commented on #810
This is the reason why it should stay out of llhttp. We can handle it in Undici.

[2021-05-14 13:51] ronag commented on #810
But I don't see how we could handle it in undici. We pass `execute(buf)` where buf can contain multiple requests. There is nothing we can do in undici to handle it in that case.

[2021-05-14 14:02] mcollina commented on #810
I mean, we could just throw in https://github.com/nodejs/undici/blob/main/lib/client.js#L814 if the content-length mismatch.

[2021-05-14 14:10] ronag commented on #810
One of us is missing something. If you look at my example above, as far as undici knows everything went well, since message complete is called as soon as content-length has been satisfied, i.e. it's not possible to catch whether there was extra data afterwards.

[2021-05-14 15:19] mcollina commented on #810
Ah I understand the problem now.

I'll think about it for a bit.

[2021-05-14 16:27] mcollina commented on #810
Here is my understanding of this problem, in the same tick:

1. `execute` https://github.com/nodejs/undici/blob/7d563c0297e23a1275fa263e47aa0d3ac6fbb23e/lib/client.js#L526 end up calling `onMessageComplete`.
2. it reaches an if-block at the end https://github.com/nodejs/undici/blob/7d563c0297e23a1275fa263e47aa0d3ac6fbb23e/lib/client.js#L538-L546, where we error the socket.

I think the solution to

[2021-05-14 17:39] ronag commented on #810
I don’t think we ever get an error from llhttp for that request so I’m not sure how it would help.

[2021-05-14 18:59] ronag commented on #810
I’ll make a llhttp specific test case and we can see what happens.

[2021-05-14 20:00] mcollina commented on #810
I have verified and we get an error as the response from execute.

[2021-05-14 20:19] MoritzLoewenstein commented on #583
I had a pretty similar error:
[code]

I build a small reproduction, its just requesting a lot of files one by one from cloudfront.
See here: https://github.com/MoritzLoewenstein/undici-fetch-repro

[2021-05-15 09:06] ronag commented on #810
I think the error is from the next request which fails. I think the point here is that the next request shouldn’t fail.

I still think this is best handled in llhttp. @indutny I think we need your input here.

[2021-05-15 09:36] mcollina commented on #810
It happens in the same microtick.

Node.js handles it with the same underlying library, we should be able to do the same?

[2021-05-15 11:32] ronag commented on #810
I’ll have to do some test with multiple messages in same packet. But won’t we lose significant performance this way? I’m not sure Node.js actually handles this case...

[2021-05-15 13:50] ronag commented on #810
Yea. I think you might be right. I’ll open a Pr.

[2021-05-16 03:54] indutny commented on #810
I actually get:

[code]

when running the response from the issue description through llhttp's test suite in both strict and loose modes. Does llhttp return the same error code in unidici?

[2021-05-16 03:55] indutny commented on #810
Oh sorry, looks like I've missed quite a lot of discussion and my previous comment is irrelevant. Let me know if you still need my help.

[2021-05-16 03:57] indutny commented on #807
This isn't just about llhttp when content-length doesn't match the body length - all HTTP parsers should produce errors or fail. The protocol mandates that bytes in the body must be treated as they are and not as a part of the request or response. I'm not sure llhttp can do anything about it unless it was llhttp who didn't parse content-length correctly in the first place.

[2021-05-16 23:48] jonnydgreen commented on #677
Quick update! I've been looking into this this weekend with a main focus on creating a generic solution for different fuzzing examples as well as trying to improve the creation of different flows depending on the input buffer - I'll continue this exploration this week :) I'm pausing the CI side of things for now while I look at the raw functionality and get the key bits nailed down

[2021-05-18 00:13] aearly commented on #756
@schwers and I updated to 4.0.0-rc.4 today, and are still getting a similar error:

[code]

The surrounding lines in `client.js` are:

[code]

I believe the original error is about reading `request.upgrade` with an undefined `request`, so I think we might be just failing sooner  now.

[2021-05-18 01:30] ronag commented on #756
@mcollina I'm a little confused as to how it's even possible for that assertion to fail there. Any ideas?

[2021-05-18 01:33] ronag commented on #756
Ah, it makes more sense after your edit 😄 .

[2021-05-18 09:18] mcollina commented on #810
how are you doing?

[2021-05-18 09:32] ronag commented on #810
I've been working non stop with deploying a new system into production. I think I can have a PR by end of week.

[2021-05-18 09:33] #808 closed

[2021-05-19 15:53] schwers commented on #756
I spoke with some our infrastructure engineers who are looking into our networking stack. We're currently using Kubernetes with [Calico](https://docs.projectcalico.org/about/about-calico) managing cluster networking. Can re-confirm that the error only seems to reproduce when using the calico provided cluster url ( e.g. from https://gql.reddit.com -> http://reddit-service-graphql.svc.cluster.local:

[2021-05-19 16:23] schwers commented on #756
I just looked through our logs and also found another potentially related error

[code]

https://github.com/nodejs/undici/blob/main/lib/client.js#L557

Someone on our infrastructure & networking side is looking into this as well. In the meantime is there any debugging info / logging that would be useful for me to add to our build that could help?

[2021-05-19 17:44] ronag commented on #756
I’ve been a little overloaded. I’ll try to get to this soon.

[2021-05-20 20:05] MoritzLoewenstein commented on #583
![grafik](https://user-images.githubusercontent.com/32882329/119040178-5fa80c80-b9b5-11eb-92cd-e851e7a94fcc.png)
(pinging because you asked for a reproduction) @ronag
Can anyone confirm this issue with my provided [reproduction repo](https://github.com/MoritzLoewenstein/undici-fetch-repro)?
If its helpful i can create a new issue but I think its the same underlying problem, and should be labeled a

[2021-05-21 07:35] mcollina commented on #583
@MoritzLoewenstein  Could you use a Node.js server to reproduce?

[2021-05-21 08:07] MoritzLoewenstein commented on #583
Hey, I added a node server. The issue is indeed an invalid Content-Length header, if I don't set the Content-Length header on the server I cant reproduce the issue.
When I copy the Content-Length value from the cloudfront / s3 response it will crash after 10-15k tries.

[2021-05-21 09:35] mcollina commented on #583
Do you know what's the value of this?

[2021-05-21 09:54] MoritzLoewenstein commented on #583
When I dont set the Content-Length header, node will set the Transfer-Encoding header to chunked (= no Content-Length header).
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding
22661 is apparently the correct filesize for the test image:
![grafik](https://user-images.githubusercontent.com/32882329/119119145-37f38b80-ba2b-11eb-8acc-163168257241.png)

[2021-05-21 10:54] mcollina commented on #583
Can you prepare an example to reproduce the problem? You can also use a `net` server and send out HTTP in text form.

[2021-05-21 11:37] MoritzLoewenstein commented on #583
My provided example should be sufficient to show the problem: https://github.com/MoritzLoewenstein/undici-fetch-repro
It doesnt reproduce the problem on every request, but after around 10k to 15k requests the uncaughtException occurs.

I investigated a bit more: When the code enters `onSocketEnd` in `client.js`, the error will happen 100% of the time (but `onSocketEnd` doesnt happen everytime).
he

[2021-05-21 11:43] mcollina commented on #583
It's not enough for a unit test.

[2021-05-21 12:09] MoritzLoewenstein commented on #583
Alright, I will see if I can narrow it down.

[2021-05-21 23:58] jonnydgreen commented on #677
I think I have some key bits of functionality sorted with hopefully a nice way running a series of different functions within the fuzzer, I'll push up the code once I've tidied it up a bit and with my analysis to go with this!

[2021-05-22 09:52] mcollina commented on #583
Thanks! Tracking down those conditions is hard :(.

[2021-05-22 18:04] MoritzLoewenstein commented on #583
The reason undici crashes is an incorrect `Transfer-Encoding` header on the server:
per default my test server would not set this header at all, but apparently still send the content
according to `Transfer-Encoding: "chunked"`.
If I manually set the header on the server, everything works fine.

One more thing I found out in the process, undici will keep the node process open if
`Connection: "keep-

[2021-05-24 23:40] jonnydgreen commented on #677
Hi! :) Here is my latest exploration if you wanted to take a look: https://github.com/jonnydgreen/undici-fuzzing/blob/master/Analysis.md

In summary, I think `jsfuzz` is pretty good and could provide all the core bits required for fuzzing in undici. I've also pushed up some example code here: https://github.com/jonnydgreen/undici-fuzzing. I've tried to keep things simple so not to distract from th

[2021-05-25 00:09] ronag commented on #677
Cool I'll take a look as soon as I have time. Might be a week or so though.

[2021-05-25 11:10] jonnydgreen commented on #677
No problem and for sure! :) I'm fairly busy this week, but can make a start next Monday if that works for you?

[2021-05-25 13:12] ronag commented on #810
I haven't forgotten and will get to this as soon as I can.

[2021-05-26 08:23] Sfinx opened #815 "Client.request() ingnores maxRedirections"
Trying to make proxyfied requests with redirection support with no success. Seems like Client.request() just ignoring maxRedirections.

The following code having always 301 statusCode

[code]

[2021-05-26 08:26] mcollina commented on #815
which version are you using?

[2021-05-26 09:13] Sfinx commented on #815
Latest release from npm repo: 3.3.6

[2021-05-26 09:15] ronag commented on #815
maxRedirects was added in 4.x

[2021-05-26 09:15] #815 closed

[2021-05-26 09:26] ronag commented on #815
Yea sorry about that. Currently front page follows master. We intend to change this but since we think (thought?) 4.x is soon to be released we didn't prioritise it.

[2021-05-30 21:07] ronag commented on #756
@schwers can you try running with https://github.com/nodejs/undici/pull/817 and also please log `dispatcher.on('disconnect', (origin, targets, err) => console.log(origin, targets, err))`?

[2021-05-30 23:30] schwers commented on #756
@ronag sure I can try that out this week, likely Tuesday or Wednesday

[2021-05-31 07:30] ronag opened #819 "coverage 100"
We need to bring coverage back to 100 before release

[2021-05-31 11:09] #807 closed

[2021-05-31 11:09] #810 closed

[2021-05-31 11:25] ronag commented on #756
undici@4.0.0-rc5 contains our latest changes that might help debugging this issue.

[2021-05-31 23:08] jonnydgreen commented on #677
Quick update, still working on a PR with some basic fuzzing that I started today - ran into a couple of issues which I've just smoothed out so will aim to get it in tomorrow evening so we can continue improving! :)

[2021-05-31 23:25] szmarczak opened #820 "Upload progress callback"
## This would solve...

Currently there's no way to get upload progress other than passing a stream. What if we're passing a 10MB Buffer instead? `Readable.from(buffer)` and we're storing it twice, which is unfortunate. So for an application that handles 100MB at a time we would need 200MB.

## The implementation should look like...

[code]

## I have also considered...

Reading the state from the

[2021-06-01 07:55] mcollina commented on #820
This would be a nice feature to add! I think we should make the callback arrive to https://github.com/nodejs/undici/blob/b33dffa76d34d31a7ee189ac72c5ace5ef75e7f3/lib/client.js#L1423 and call it afterwards (if it's present).

[2021-06-02 19:57] gabrielcaires commented on #820
Can I get it as my first contribution?

[2021-06-05 13:12] MoritzLoewenstein commented on #583
Ok, I have written a test that will fail, but I think I cant push it because of that.
<details>
  <summary>here is the code for the test:</summary>

[code]

[2021-06-06 07:34] mcollina commented on #583
Your test does not run successfully, it has some issues with promises, callbacks and how tap needs things laid out.

However, I have adapted your test to run and it passes on master (see https://github.com/nodejs/undici/pull/822).
Have you tried v4.0.0-rc.5?

My understanding is that this is fixed.

[2021-06-06 07:35] mcollina commented on #583
(You can push a failing test with `git commit -n`)

[2021-06-06 10:24] ronag commented on #756
Ping @schwers

[2021-06-06 10:58] MoritzLoewenstein commented on #583
Im sorry for the incorrect test, but the issue still happens on rc5. Apparently the issue only occurs when not doing anything with the response body, because you called `body.resume` and it doesnt happen in that scenario. Also just reading and printing the body prevents it:
[code]
I dont know how common this is but my original use case was to just read the response headers, status code etc and do

[2021-06-06 11:37] ronag commented on #583
You need to consume or destroy the response body. I think the docs mention this.

[2021-06-06 12:52] MoritzLoewenstein commented on #583
I wasnt aware of that and couldnt find it in the docs, but if that is the case it should be handled in undici-fetch i guess?

[2021-06-06 14:56] ronag commented on #583
Yea I can’t find it either now. Maybe got lost when we did the docs overhaul. PR welcome!

[2021-06-06 16:39] #583 closed

[2021-06-07 19:12] aearly commented on #756
We tried rolling this out again, still getting a similar error:

[code]

[2021-06-07 19:36] ronag commented on #756
That's a hint. Do you have any logs or anything that could provide us more info on how to repro?

[2021-06-07 20:58] aearly commented on #756
Unfortunately, this error only manifests in our prod environment, so it's hard to get low-level data out of.  I'll work with our infra team to see it we can get you a redacted tcpdump or HAR file or similar.

[2021-06-08 07:47] ronag commented on #756
@aearly @schwers Please try rc6.

[2021-06-08 15:57] GO3LIN opened #824 "MockClient not intercepting the request"
I know that this is under development, so I am using the last release candidate version (ie v4.0.0-rc.7).

So, I am trying to unit test my undici code, and it doesn't work as expected or there's something that I didn't understand correctly. I have a very simple ts file that sends a get request. It's presented like this:

[code]

and, so after many attempts, found a good documentation about unit te

[2021-06-08 16:00] mcollina commented on #824
You would need to call `setGlobalDispatcher(mockAgent)` to configure a a global agent that would be picked up by the global `request` method.

[2021-06-08 16:11] GO3LIN commented on #824
It doesn't work, I still get the API response instead of the mocked response.

[2021-06-09 06:52] mcollina commented on #824
Would you mind to upload a snippet that uses `setGlobalDispatcher`? I'd fix it.

[2021-06-09 08:18] GO3LIN commented on #824
Here's what I did:

[code]

[2021-06-09 13:11] mcollina commented on #824
This should do the trick:

[code]

[2021-06-09 13:18] GO3LIN commented on #824
@mcollina I get this error then: ` error TS2339: Property 'intercept' does not exist on type 'Dispatcher'.`

That's why I changed the client instance like that in the beginning.

[2021-06-09 13:27] GO3LIN commented on #824
I think casting to MockClient helps to intercept the request, but then, I got another error:  `TypeError: this[kAbort] is not a function`

And here's how I casted the dispatcher to a MockClient:

`const mockClient = <MockClient>mockAgent.get(origin)`

[2021-06-09 13:51] GO3LIN commented on #824
@mcollina Changed the line 25 in api-request to check if this[kAbort] is a function before calling it annnnnd, it worked !!

So I changed this code:

[code]

Into this one:

[code]

Should I open a PR for that ? or you get it ?

[2021-06-09 13:57] mcollina commented on #824
Could you verify if https://github.com/nodejs/undici/pull/826 fixes your problem? The casting should really not be required.

Go ahead and send the PR for the other fix!

[2021-06-09 23:04] #824 closed

[2021-06-09 23:56] jonnydgreen opened #828 "Typos in documentation examples"
## Bug Description

When double checking the Undici Mock documentation in fine detail, I found the following issues in the examples:
 - Missing some imports
 - Typos
 - Incorrect arguments to MockAgent. I.e. do not need `{ connection: 1 }` for MockPools

## Reproducible By

N/A

## Expected Behavior

No typos or errors in the Mock documentation examples.

## Logs & Screenshots

Missing imports:
<i

[2021-06-10 00:07] jonnydgreen commented on #677
@ronag Do you reckon we can close this now that this PR has been merged? https://github.com/nodejs/undici/pull/821

[2021-06-10 04:50] #677 closed

[2021-06-11 16:24] istarkov commented on #583
I'm still having this bug with 4.0.0-rc.7, what is wrong?

[code]

[2021-06-17 07:36] ronag opened #837 "Reaching out to ecosystem client package maintainers"
Should we try to reach out the the maintainers of popular http client ecosystem packages about switching node core client to undici under the hood?

[Future of the Node HTTP Client](https://github.com/nodejs/node/issues/38533)

Some popular packages I can think might be interested (please add to the list of you can thing of additional ones):

- [x] [got](https://www.npmjs.com/package/got) (@szmarc

[2021-06-17 09:11] StarpTech commented on #445
Will it be possible to pass the signal of an `AbortController`?

[2021-06-17 09:42] ronag commented on #445
It's already possible?

[2021-06-17 09:49] StarpTech commented on #445
Nice! ⭐

[2021-06-17 14:20] Linkgoron commented on #820
I'll try to take a stab at this. Any opinions regarding `onBodyChunkSent` or `onDataSent` (as opposed to the current `onData`)? I'll have the callback receive two parameters, the current chunk size and the total bytes written so far.

[2021-06-17 14:21] mcollina commented on #820
I prefer `onBodyChunkSent`

[2021-06-17 20:27] muturgan opened #838 "just a question. what about server implementation?"
Hi dear team!
Thank you for this outstanding lib.

At the article at nodejs.medium.com you say that "There are certain bugs or performance bottlenecks [of node.js core http module] we cannot fix without breaking the majority of our users — both on the client and server implementations as they are deeply tied".

Well I see that I can use undici to solve my "client tasks".

But what you can recommen

[2021-06-18 07:42] mcollina commented on #838
One thing at a time. At some point we will approach the server implementation.
The client was in a dire shape and it required a massive refactoring - the server implementation is less problematic and more stable.

[2021-06-18 07:42] #838 closed

[2021-06-18 07:42] mcollina opened #842 "client cert support"
### Discussed in https://github.com/nodejs/undici/discussions/841

<div type='discussions-op-text'>

<sup>Originally posted by **ledmirage** June 18, 2021</sup>
hi there,

this is an exciting module and i am looking forward to use it in my project.

one question tho, i check thru the documentation, i do not seem to see it supports client cert yet, is this true?

my use case requires 2 way SSL veri

[2021-06-18 07:43] mcollina commented on #842
@ledmirage
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-06-18 08:44] muturgan commented on #838
I see. Thank you.

[2021-06-20 13:35] mcollina commented on #820
@szmarczak I don’t understand why wrapping a buffer in a Readable would duplicate the memory used by the app.

[2021-06-20 14:21] szmarczak commented on #820
In order to receive progress events we would have to disable object mode.

[2021-06-20 15:37] mcollina commented on #820
I'm questioning a bit the use case.. I would not allocate a massive buffer in the first place.

[2021-06-20 15:39] #828 closed

[2021-06-23 17:43] aearly commented on #756
Sorry for the delay, vacations and shifting priorities got in the way.

I got a chance to try undici@4.0.0.  We are getting a different error now:

[code]
The error object has the `code` `HPE_CB_MESSAGE_BEGIN`

[2021-06-26 20:22] ronag commented on #756
@aearly Could it be that the server is sending a body that differs from the content-length? That error looks very similar to our [test](https://github.com/nodejs/undici/blob/main/test/issue-810.js#L70) for that.

[2021-06-26 20:30] ronag opened #849 "Unable to detect invalid body"
This is a bit of an edge case which is improbable but possible.

Right now we detect if a server responses with a body larger than the content-length header by waiting until we parse the next message in a packet. If the server response is large than content-length then we will if we are lucky get an http parsing error.

[code]

The parser will first parse `x` and then try to parse  `THISISNOTPARSA

[2021-06-26 20:31] ronag commented on #849
@mcollina @indutny thoughts?

[2021-06-26 23:20] mcollina commented on #849
We assume we can trust the server, so case 1 is not a problem. However it's the basis of any http injection attack when servers receive an http connection.

Case 2 is trickier. However I don't think we can do anything in this case, minus erroring the socket.

[2021-06-27 15:48] #686 closed

[2021-06-27 18:52] joaopedrocampos commented on #842
Hey @mcollina! If possible I would love to try this fix. Could you please give some directions of how start it?

[2021-06-27 19:14] mcollina commented on #842
I think you should start adding those TLS options to the `Client`.

[2021-06-27 20:12] jarrodconnolly commented on #842
I think this may already be possible, though there might be a case for convenience options.

Client already takes an option of `tls` in its constructor that gets passed to `makeConnect()` and on into `tls.connect()` in here:
https://github.com/nodejs/undici/blob/main/lib/core/connect.js#L34

`tls.connect()` allows options from `tls.createSecureContext()` to be passed directly to it. This appears t

[2021-06-27 20:24] indutny commented on #849
Isn't this expected behavior with HTTP, though? I'm not sure if something meaningful could be done without compromising the security.

[2021-06-27 20:44] mcollina commented on #842
It's probably just adding some documentation and use through the Agent.

[2021-06-29 09:14] #198 closed

[2021-06-29 10:31] #849 closed

[2021-06-29 18:11] ronag opened #851 "docs: Update all examples to use esm modules"
e.g.

[code]

to

[code]

[2021-06-29 18:13] ronag opened #852 "Make `kConnect` a public option"
We currently have a private option called `kConnect` used internally. This could also be make public if we add docs and tests accordingly.

[2021-06-29 18:14] #819 closed

[2021-06-29 18:14] #630 closed

[2021-06-29 18:15] ronag commented on #421
I think this could be resolved through https://github.com/nodejs/undici/issues/852

[2021-06-29 18:16] #320 closed

[2021-06-29 18:16] #305 closed

[2021-06-29 18:16] #306 closed

[2021-06-30 05:01] hionnode commented on #851
Can I take it up?

[2021-06-30 05:34] mcollina commented on #851
go for it!

[2021-06-30 05:39] hionnode commented on #851
Okay, I'll make a PR for updating all the examples in https://github.com/nodejs/undici/tree/main/docs.

[2021-06-30 09:30] ronag commented on #450
@mcollina can we close this?

[2021-06-30 09:30] #422 closed

[2021-06-30 09:31] #429 closed

[2021-06-30 09:32] ronag commented on #429
https://github.com/nodejs/node/pull/39133

[2021-06-30 09:33] #450 closed

[2021-06-30 09:33] mcollina commented on #450
Shipped!

[2021-06-30 09:59] akira28 opened #855 "Mocks doesn't seem to work on tap tests"
## Bug Description

Using a mock pool to mock requests to external services doesn't seem to intercept requests.

## Reproducible By

[code]

the call to `/api/import/swagger/` is done in a hook in `onResponse`
Simplified code:
[code]

## Expected Behavior

The request is mocked and I receive a 200 status with `ok` as response body.

## Logs & Screenshots
This is the error I get executing the test:

[2021-06-30 10:17] mcollina commented on #855
You need to use the global `request()` method instead of instantiating `Client`. We are not doing any monkeypatching of `Client`, so the request will go through.

[2021-06-30 13:08] akira28 commented on #855
I replaced the request code to:

[code]
and I get the same error :(

[2021-06-30 13:36] mcollina commented on #855
Add

[code]

You'll see an exception that shows exactly what did not match.

[2021-06-30 14:49] artur-ma opened #856 "Headers timeout on POST requests"
## Bug Description

POST requests that are done via undici throws "headers timeout error", when requesting simple golang server built on top of fasthttp lib (https://github.com/valyala/fasthttp), it does work with Postman and got client

## Reproducible By

Go Server

[code]

undici request

[code]

will fail with

[code]

## Expected Behavior

Resolve and get the response as other clients

## Env

[2021-06-30 15:09] artur-ma commented on #856
ok, looks like I was missing `SetConnectionClose` on the server side

[2021-06-30 15:09] #856 closed

[2021-06-30 15:47] akira28 commented on #855
`MockNotMatchedError: Mock dispatch not matched for path '/api/import/swagger'`

the intercept:

[code]
the request:
[code]

[2021-06-30 16:28] mcollina commented on #855
have you tried creating a minimal reproducible example, e.g. everything in one file?

[2021-06-30 21:04] fraxken opened #858 "Missing maxRedirections in typedef ?"
## Bug Description

I want to use the maxRedirections argument from request method but the argument doesn't exist in the Type definition. So i don't known if this is a new feature or maybe something deprecated.

Documentation: https://undici.nodejs.org/#/?id=undicirequesturl-options-promise
Version: undici 4.1.0

## Expected Behavior

No warning from TypeScript.

## Logs & Screenshots

![image](ht

[2021-07-01 11:31] ronag commented on #858
PR is welcome

[2021-07-01 11:36] #801 closed

[2021-07-01 11:38] ronag commented on #547
duplicate https://github.com/nodejs/undici/issues/399

[2021-07-01 11:38] #547 closed

[2021-07-01 21:55] szmarczak opened #860 "`undici.dispatch` is not documented"
But it's in the benchmarks:

![image](https://user-images.githubusercontent.com/36894700/124193842-d44b8c00-dac7-11eb-8309-f406179c45ef.png)

[2021-07-01 21:56] szmarczak commented on #860
My bad. It's in the `docs` folder.

[2021-07-01 21:56] #860 closed

[2021-07-02 01:19] ledmirage commented on #842
@jjarrodconnolly nice, so it seems this is already supported, just need some documentation.
will definitely try it out when i have the chance.

[2021-07-03 07:52] NN-Binary opened #861 "Using HTTP Proxy with undici.dispatch bug"
## Bug Description

When using Dispatch with an HTTP Proxy, it seems to always redirect to the same URL (tho the problem isn't linked to the "redirect"), HTTP proxy is valid as I can browse with it on Firefox, I've enabled verbosity on the HTTP Proxy Server and I notice it's not using CONNECT and instead try to do:
request: https://en.wikipedia.org/ which could explain the problem.

The problem se

[2021-07-03 07:55] NN-Binary opened #862 "SOCKS4/5 Proxy Support"
## This would solve...

Ability to connect through SOCKS proxy, potentially with the help of this library:
https://github.com/TooTallNate/node-socks-proxy-agent

## I have also considered...

I have been using HTTP proxy with Undici (well, failing but apparently support is established)

## Additional context

SOCKS5 Proxy support would be great as it's the most common type of proxies we can find.

[2021-07-03 08:03] mcollina commented on #862
This would be great to add!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-03 08:06] NN-Binary commented on #862
Actually I wish but I can't even seem to make HTTP Proxy implementation for Undici work (hence my other posted issue) so I'm not sure I'm the right candidate :(

[2021-07-03 08:19] NN-Binary commented on #862
I would however be willing to sponsor the dev of this feature if it could be done quickly, as we need it in my company and none of our developers seems competent enough to implement it.

[2021-07-03 08:42] mcollina commented on #861
Just to clarify: have you tried with `client.request()` and it works?

[2021-07-03 08:44] mcollina commented on #861
Also, I don't think we have any control on the `location` header the server send back.

[2021-07-03 08:50] NN-Binary commented on #861
I've tried so many things and I think it doesn't, the problem is probably due to the fact that it doesn't use CONNECT but GET.
The location header is solely an example, you can also put startpage.com instead of wikipedia it's also gonna do "infinite redirects".

[2021-07-03 14:57] Linkgoron opened #863 "Seeing the sent request headers"
## This would solve...

Currently there's no way for users to see the full headers that Undici sends. You _can_ read the headers from `request.headers`, but some headers like `connection`, `content-length`, `transfer-encoding` and `host` are only added just before sending the request, and there's no way to actually see what was sent.

## The implementation should look like...

A few options would

[2021-07-03 17:26] mcollina commented on #863
I think we might want to add some support to diagnostic channel to expose those things.

[2021-07-03 20:22] joaopedrocampos commented on #851
Hey! I do not know if it's still up to, but if @hionnode cannot do it I would love to open a PR to do this improvement

[2021-07-03 20:53] ronag commented on #851
While you are at it you could also verify that all examples work as intended.

[2021-07-03 21:28] joaopedrocampos commented on #851
Sure, going to give a double check on all of them

[2021-07-04 13:39] hionnode commented on #851
Apologies for delay, it took me some time to set up the dev environment on M1.

[2021-07-06 00:09] rbonillajr commented on #756
@ronag, now that you mention it. my error is when i send files in base64.

[2021-07-08 10:32] SammyWhamy opened #867 "Uncatchable error is thrown when a HTTPS post request fails"
## Bug Description
When making an HTTPS post request to a URL that doesn't respond/exist, an AssertionError is thrown that cannot be caught by the consumer.

## Reproducible By
Wrap a post request to an unreachable URL in a try...catch
Observe how the script is terminated without the error being caught

### Code example:
[code]

## Expected Behavior
The promise should be rejected so that the error

[2021-07-08 20:48] pedroapfilho opened #868 "Small issue with the links on the docs website"
There's an error in the documentation.

Whenever it loads for the first time, it adds a `/#/` at the end of the URL, so it's like: `https://undici.nodejs.org/#/`

When you go to the homepage and click on the `Example` link, it actually goes to `https://undici.nodejs.org/#/benchmarks/benchmark.js`, which is actually a `404` page. It should go to `https://undici.nodejs.org/benchmarks/benchmark.js`

[2021-07-08 22:16] mcollina commented on #868
Would you like to send a PR?

[2021-07-09 02:04] vocafeuvre commented on #867
I'm getting this too, it's caused by an assert call inside the error handler of the socket created by the request. Right now I'm commenting that line as a workaround

[2021-07-09 07:04] mcollina commented on #862
@NN-Binary reach out to my email, we can possibly arrange something.

[2021-07-09 12:43] pedroapfilho commented on #868
That's the thing! I would love to! At first, I thought it would be an easy fix, but then I saw this: https://github.com/docsifyjs/docsify/issues/235 and realized that it might not be.

I'll think about it on the weekend, run the project locally and see if I can make these links go without the `/#/`

Thanks for the awesome work @mcollina, I'll submit the PR by the end of next week!

[2021-07-09 22:02] mcollina commented on #868
Thanks!

[2021-07-10 01:56] NN-Binary commented on #861
Anyone tested to reproduce the bug?

[2021-07-10 07:24] mcollina commented on #861
I don't think so. Most of us do not use proxies, so it might take a while.

Which proxy should we use to test? Could you also provide a way we can use to reproduce the problem locally without any remote resources?

[2021-07-10 11:24] mcollina commented on #867
@vocafeuvre would you like to send a PR?

[2021-07-10 16:27] joaopedrocampos commented on #867
Hey guys! If still up to, I would love to try this fix 🙏

[2021-07-10 18:09] joaopedrocampos commented on #851
Hey @ronag! Do you think we could close this issue now since the PR is merged?

[2021-07-10 19:08] #851 closed

[2021-07-10 21:51] mcollina commented on #867
go for it!

[2021-07-11 13:39] vocafeuvre commented on #867
@mcollina yeah i have the fix in my fork, i'm opening a PR now

[2021-07-11 16:52] szmarczak opened #870 "How to get remote IP address?"
Currently it's not possible to get the remote IP address. In terms of `dispatcher.dispatch`, we could pass the entire socket in `onConnect`. Dunno for other methods.

[2021-07-11 17:12] szmarczak opened #871 "Aborting the request before `onConnect`"
When using `dispatcher.dispatch` there is no other way than to abort the request when the socket gets connected.

[2021-07-11 17:25] szmarczak opened #872 "`authorization` header is not deleted on redirects to third party origins"
## Bug Description

Security flaw.

## Reproducible By

[code]

## Expected Behavior

The `authorization` header should be deleted when redirecting to third party origin.

## Environment

[code]

[2021-07-11 17:29] szmarczak opened #873 "`RedirectHandler` should support `methodRewriting` via an option"
https://datatracker.ietf.org/doc/html/rfc7231#section-6.4

[2021-07-11 17:39] szmarczak opened #874 "Advanced timeouts"
Something like https://github.com/sindresorhus/got/blob/c0b5346433996e761bca15cdb942f2b740264118/source/core/timed-out.ts#L14-L23

[2021-07-11 18:17] szmarczak commented on #873
I think it would be much better to add another method: `onRedirect`.

[2021-07-11 20:21] #867 closed

[2021-07-11 20:21] ronag commented on #867
Merged fix

[2021-07-11 20:23] ronag commented on #874
We currently have:

- `connectTimeout`
- `headersTimeout`
- `bodyTimeout`

What else do you need?

[2021-07-11 20:24] ronag commented on #871
Unfortunately no. Why do you need this?

[2021-07-11 20:26] ronag commented on #870
You need post dns resolve? You could resolve the url yourself and pass the ip to undici?

[2021-07-11 20:26] ronag commented on #870
Might be easier to do after we fix https://github.com/nodejs/undici/issues/852

[2021-07-11 20:28] ronag commented on #858
Merged.

[2021-07-11 20:28] #858 closed

[2021-07-11 20:29] szmarczak commented on #870
That would do :) Looks like this issue is a duplicate then.

[2021-07-11 20:29] #870 closed

[2021-07-11 20:34] szmarczak commented on #874
- `secureConnectTimeout`
- `lookupTimeout`
- `uploadTimeout` (but that would require `chunkify`, so probably will be implemented on Got side)

The first two can be done via #852 as well

[2021-07-11 20:38] szmarczak commented on #871
It's just a Got test case. Probably someone will report this in the future. I'm okay with waiting for connection though.

Makes sense as the connections are `keep-alive`. If it was HTTP/2 then the session would be created anyway, so you're right.

[2021-07-11 20:38] #871 closed

[2021-07-11 20:42] ronag commented on #874
I'll leave it open until we have #852

[2021-07-11 20:43] ronag commented on #874
I think `connectTimeout` actually is `secureConnectTimeout` for https.

[2021-07-11 20:46] ronag commented on #874
Also please note that `bodyTimeout` is only for receiving data from server, if the client has paused the response body then it won't fire.

[2021-07-11 21:40] szmarczak commented on #871
Ah it seems this was a duplicate of #386

[2021-07-11 21:46] szmarczak commented on #861
I'll give this a try.

[2021-07-11 22:11] szmarczak commented on #861
I can't reproduce this. I set up a simple web proxy server like this:

[code]

and used your code 1:1 and there's no `location` header.

[2021-07-12 00:51] NN-Binary commented on #861
Thank you so much @szmarczak! It indeed work yeah, I've tried to implement your solution with Dispatch and I can't seem to make it work, any way you can provide me a working example with Dispatch? Would be so helpful to be honest

[2021-07-12 01:00] szmarczak commented on #861
I have literally run your Dispatch code and it worked flawlessly. I haven't modified anything.

[2021-07-12 04:02] NN-Binary commented on #861
Oh wait, you mean you've run my code in "Reproducible By" and it works?

[2021-07-12 07:12] #872 closed

[2021-07-12 14:15] szmarczak commented on #861
Correct.

[2021-07-12 17:34] fholzer commented on #756
I don't face this issue, but just reading through the comments this rings a familiar tone. I had an issue like that when a reverse proxy changed the content-encoding (in our case by compressing response body data) but not removing/changing/updating content-length response header. Not sure if this is in any way related to the issue reported here, but might help ppl facing this issue investigate the

[2021-07-13 07:42] HoodyNetwork opened #879 "Cancelled"
Cancelled

[2021-07-13 07:42] #879 closed

[2021-07-14 02:03] RuralDependencies opened #880 "UND_ERR_TRAILER_MISMATCH"
Hello all

https://pinterest.com/ leads to:

[ERROR] TrailerMismatchError: Trailers does not match trailer header
    at wasm_on_message_complete (/home/test/node_modules/undici/lib/client.js:410:28)
    at <anonymous>:wasm-function[37]:0x83b
    at <anonymous>:wasm-function[48]:0x1971
    at <anonymous>:wasm-function[47]:0xc3f
    at llhttp_execute (<anonymous>:wasm-function[13]:0x43c)
    at Par

[2021-07-14 05:38] mcollina commented on #880
Could you please include a full script to reproduce?

[2021-07-14 11:28] joshxyzhimself commented on #874
Hi, are those also available at `options` part of `undici.request(url, options)`?

[2021-07-14 11:33] ronag commented on #874
- `headersTimeout`
- `bodyTimeout`

Are. We need a PR to fix the docs.

[2021-07-14 14:11] joaolucasl commented on #852
Hey @ronag ! I'm willing to work on this. Can you give me more insight on what `kConnect ` is supposed to do overall?

I tried to look at the code, but I couldn't pin what's the purpose

[2021-07-14 21:39] joshxyzhimself commented on #874
Hi thank you, found them here

https://github.com/nodejs/undici/blob/494201af4d95a1d9dbf8727bf4847b858e9f4707/lib/core/request.js#L20-L21

Maybe types too? No `headersTimeout` and `bodyTimeout` here, correct?

https://github.com/nodejs/undici/blob/main/types/dispatcher.d.ts

[2021-07-16 06:55] RuralDependencies commented on #880
It's solved, the IP address was invalid

[2021-07-16 06:55] #880 closed

[2021-07-16 06:57] RuralDependencies opened #882 "Change socket localAddress"
Hi

Anyway of changing the localAddress in the socket? NodeJS NET module allows it but I'm not exactly sure of where to do that in Undici?

I would like to change my source localAddress when connecting anywhere.

NodeJS allows localAddress and even localPort.

[2021-07-16 07:00] ronag commented on #882
Once this lands https://github.com/nodejs/undici/pull/881

[2021-07-16 07:00] ronag commented on #882
Maybe once this lands https://github.com/nodejs/undici/pull/881****

[2021-07-16 07:59] #852 closed

[2021-07-16 09:08] ronag commented on #874
@szmarczak this should be possible to implement now with a custom `connect`.

[2021-07-16 09:08] #874 closed

[2021-07-16 19:09] szmarczak commented on #852
@ronag This also should allows us to create a compatibility layer with the native Node.js agents?

[2021-07-16 19:23] szmarczak opened #883 "Can `undici` handle compression internally?"
Something like a `decompress` option or so.

[2021-07-16 20:08] mcollina commented on #883
Not at this point and I'm not even sure we should include it. I think this would be better handled by upper-layer libraries.

[2021-07-17 22:04] szmarczak opened #884 "Cannot set `connect` option on Agent"
## Bug Description

https://github.com/nodejs/undici/blob/3b669058282a29a218a3ba29709e60efb04bb347/lib/agent.js#L45

## Reproducible By

[code]

## Expected Behavior

Arguments should be logged.

## Environment

[code]

[2021-07-17 22:48] szmarczak opened #885 "Asynchronous `connect` function"
## This would solve...

A compatibility API with the native `http.Agent`s.

## The implementation should look like...

It can accept a `callback` argument or be `await`ed.

## Additional context

A Proof-of-Concept of the compatibility API. Unfortunately it works only once because undici doesn't support asynchronous `connect` function yet. It's very important that we use `agent.addRequest` and not

[2021-07-18 10:33] ronag commented on #884
It’s a matter of copy paste from Pool class. PR welcome.

[2021-07-18 12:57] ronag commented on #885
It's unfortunately not entirely trivial. You can kind of work around it with by creating a "lazy" socket wrapper.

[code]

[2021-07-18 13:30] szmarczak commented on #885
Yeah but it would be much easier then. It would help a lot with proxy agents as well.

[2021-07-18 13:34] szmarczak commented on #885
I'll try to do a PR with the `callback` approach.

[2021-07-18 14:34] #884 closed

[2021-07-18 18:07] ronag opened #886 "connect option needs more tests and docs"

[2021-07-18 18:07] ronag commented on #886
@szmarczak maybe help?

[2021-07-18 21:50] szmarczak commented on #886
Sure. Should I wait for #887 first?

[2021-07-19 06:31] #882 closed

[2021-07-19 06:59] ronag opened #889 "Agent.dispatch should allow URL origin"
Right now only `string` works but the type definitions say that `URL` is also supported.

[2021-07-19 11:52] #885 closed

[2021-07-19 21:34] szmarczak opened #893 "A few questions"
1. We can provide `connect` function or `connect` options but not both. Why?
2. Why `options.origin` and not `options.protocol`, `options.host` and `options.port`?
3. https://github.com/nodejs/undici/blob/aebbb5df86d5584b03102cb9198aad8abae421f1/lib/core/request.js#L100-L127 these checks are missing in [RedirectHandler](https://github.com/nodejs/undici/blob/aebbb5df86d5584b03102cb9198aad8abae421f1

[2021-07-19 21:41] mcollina commented on #893
The vast majority of those are PRs that could be sent 🙏❤️

[2021-07-20 05:27] ronag commented on #893
1. Because if you provide a method you can save all params in the closure. Thus you don't need both.
2. Simplicity I guess...
3. PR
4. `host` is set through `processHeader`
5. PR
6. PR
7. I think V8 might handle that already. Don't think it makes much of a diff.
8. PR
9. Why you think that?

[2021-07-20 07:38] #889 closed

[2021-07-20 16:09] Lalem001 commented on #842
On the topic of TLS documentation, the type definitions for Client, and by extension Pool, do not allow for `options.tls`. Just ran into this discrepancy.

Further, the expected contents of `options.connect`, which CAN have `tls` within, is not listed in the type definitions either.

[2021-07-20 16:14] ronag commented on #842
The content of `connect` is forwarded directly so:

[code]

PR is welcome.

[2021-07-20 21:49] joaopedrocampos commented on #893
Hey guys, decided to try the fixes that @ronag said that needed a PR, in this case, the items 3 and 5

- Change `startsWith` for `[0] ===`
- Create an util function that validates `handler` (I am not sure if the solution I did is the best but I think this is a better discussion for the PR)

PR: https://github.com/nodejs/undici/pull/894

[2021-07-23 17:05] joaopedrocampos commented on #868
@mcollina should we close this issue now the PR is merged? 🙏

[2021-07-23 17:22] delvedor opened #900 "Pool.request: Incorrect type definition"
## Bug Description

The `Dispatcher.request` `origin` property should not be required in `Client.request` and `Pool.request`.

## Reproducible By

[code]

## Expected Behavior

`origin` should not be required. This can be easily solved with a `@ts-expect-error`. Once you do it, the code works as expected.
I’m not sure how to solve this, as every `.request` method extends its options from `Dispatch

[2021-07-23 17:46] #868 closed

[2021-07-25 00:49] szmarczak commented on #893
Sorry, my bad. I thought the code was duplicated somewhere else.

Right 👍🏼

Hmm... makes sense.

Thanks for answering!

[2021-07-25 00:49] #893 closed

[2021-07-25 03:35] RuralDependencies opened #902 "HTTP2 Basic Support"
Hi Hi!

The library would be awesome with even basic HTTP2 support (even without pushes), any lead date?

[2021-07-25 06:58] mcollina commented on #902
It'll be done when it will be done.. you can contribute to it!

[2021-07-27 12:37] #820 closed

[2021-07-27 12:41] szmarczak commented on #900
I think we can close this now

[2021-07-27 13:06] szmarczak commented on #112
Can we close this? https://github.com/nodejs/undici/pull/848

[2021-07-27 13:58] #900 closed

[2021-07-27 15:11] ronag commented on #112
Not quite.

[2021-07-27 18:16] szmarczak commented on #112
What is left to do here?

[2021-07-30 00:03] #861 closed

[2021-07-31 13:44] szmarczak commented on #644
I'm not sure if this is worth doing. Most of the servers are HTTPS now which require `servername` and the server may choose to send a certificate for the subdomain only.

[2021-07-31 13:45] #644 closed

[2021-07-31 16:18] szmarczak commented on #756
I took a look at this. The first stacktrace we got on [3.3.3](https://github.com/nodejs/undici/blob/v3.3.3/lib/core/client.js#L538) was:

### `[1]`

[code]

This already tells us something. `of undefined`, not `of null`. If it was `of null` then it would mean there was a request before with that id. So `kRunningIdx` must had been incremented. It could be caused via `onMessageComplete` or `onSocket

[2021-07-31 16:24] szmarczak commented on #756
Reproducible via:

[code]

On older versions of `undici` this gives the assertion error :heart:

[2021-07-31 16:39] szmarczak commented on #387
I think this can be closed now?

[2021-07-31 17:15] ronag commented on #756
[code]

[2021-07-31 17:23] ronag commented on #756
As far as I can see this would be a problem with the server, i.e. we are getting two responses for one request.

[2021-07-31 17:38] szmarczak commented on #756
Correct. Maybe let's create a `DanglingResponseError`?

[2021-07-31 17:40] ronag commented on #756
Yea I guess that wouldn't hurt. But in the case of pipelining this is impossible to detect.

[2021-07-31 18:34] szmarczak commented on #426
Should the user still consume the (empty) body or it should be safely discarded?

[2021-07-31 22:05] KhafraDev opened #910 "BodyMixin types are missing"
## Bug Description

The typings for request.body were not updated with v4.3.x so TypeScript users can't use it easily yet.

Right now `response.body` is a Readable stream type only

## Reproducible By

file.ts:
[code]

## Expected Behavior

## Logs & Screenshots

## Environment

### Additional context

https://github.com/nodejs/undici/blob/main/types/dispatcher.d.ts#L101
https://github.com/nodejs/

[2021-07-31 22:27] mcollina commented on #910
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2021-07-31 23:45] KhafraDev commented on #910
I will try :)

[2021-08-02 06:41] #910 closed

[2021-08-02 07:39] szmarczak opened #913 "Should `undici` support `username` and `password` in URL?"
Node.js does, while ~~almost~~ all `fetch` implementations don't.

[2021-08-02 08:33] mcollina commented on #913
I think they almost always cause security issues. But I'm also ok in adding support for them.

[2021-08-02 08:47] ronag opened #915 "Fetch"
Things to help out with to bring fetch out of experimental status.

- [ ] Types
- [ ] Docs (https://github.com/nodejs/undici/issues/915#issuecomment-893411363)
- [ ] Look for TODOs in https://github.com/nodejs/undici/blob/main/lib/api/api-fetch.js
- [ ] `Headers` and spec comments + fixes (https://github.com/nodejs/undici/issues/933)
- [x] Error types (https://github.com/nodejs/undici/issues/931)

[2021-08-02 08:51] szmarczak commented on #913
What about `fetch`? The support could be enabled but the spec says it's off by default.

[2021-08-02 08:54] mcollina commented on #913
I would say we should follow the standard.

[2021-08-02 10:51] ronag opened #916 "Update LICENSE with undici-fetch"
We've now borrowed stuff from undici-fetch and should update our license accordingly.

[2021-08-02 10:51] ronag commented on #916
@Ethan-Arrowood would you mind opening a PR so it's done in a way you are happy with?

[2021-08-02 11:59] ronag opened #917 "CI failing"
CI started failing with b08399d3285f9ec78831823627f0bf49ab009bdc. However it seems unrelated to anything that could cause failure.

All tests pass fine locally.

[2021-08-02 12:00] ronag commented on #917
Seems flaky

[2021-08-02 15:40] NawafSwe opened #919 "Request for joining WG"
Hi maintainers, I hope you are doing great!.
I really appreciate the hard work you are putting to develop nodejs community, I am passionate in nodejs and its community.
How can I join this working group and be one of its collaborator.

[2021-08-02 15:49] mcollina commented on #919
The best way to start is for you to start working on a few issues: https://github.com/nodejs/undici/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22.

[2021-08-02 16:00] NawafSwe commented on #919
There is a security issue with one of the used packages inside undici.
[code]

[2021-08-02 16:14] NawafSwe commented on #919
it can be fixed by chaning the version to ^4.17.21 locally

[2021-08-02 16:27] mcollina commented on #919
I'm not sure why you are writing those things here. FWIW none of those are relevant, tap is only our test runner.

[2021-08-02 16:33] #919 closed

[2021-08-03 09:04] #917 closed

[2021-08-03 23:04] Ethan-Arrowood commented on #915
Looks great! I'll take a deeper look at this when I can and try to pick something up

[2021-08-03 23:05] Ethan-Arrowood commented on #916
Will do - thank you!

[2021-08-04 06:39] ronag opened #923 "Fetch highWaterMark"
What should we use as highWaterMark for the fetch api? I think browsers usually have 1m+ while Node has ~16k. Should we try matching the browsers? I think this has some implications on functionality when using `Response.clone`.

[2021-08-04 07:55] szmarczak commented on #923
Can it be updated dynamically? E.g when the response is not cloned, then it can be `64kb`. If someone reads from the clone then increase it again by `64kb`.

[2021-08-04 08:02] ronag commented on #923
I guess it could.

[2021-08-04 10:05] ronag opened #925 "Blob should have response content type"
Body mixin in `undici.request` and `undici.fetch` when returning a `Blob` should also set `Blob.type` to the corresponding `content-type` header from the response.

Search for `new Body` and you should pass in a `type` in `new Blob(chunks, { type: headers['content-type'] })`.

Don't forget tests.

[2021-08-04 10:09] ronag commented on #923
But if it's only 64k I think we could just have it as a default. It's more relevant if we have something like > 128k.

[2021-08-04 10:14] ronag commented on #923
https://github.com/node-fetch/node-fetch/issues/151

[2021-08-04 10:47] szmarczak commented on #923
Performance-wise I don't think there's a difference.

I mean if the response is cloned, then every time it's consumed bit by bit increase the `highWaterMark` so it can flow.

Example:

1. A new response is created.
2. It's being cloned.
3. 64k is read from the clone. In order not to pause the stream, increase the `highWaterMark` by 64k.
4. The `highWaterMark` is now 128k.
5. Another 64k is read fr

[2021-08-04 10:49] ronag commented on #923
We need a "max" highWaterMark then.

[2021-08-04 10:54] szmarczak commented on #923
Ah. Then I think 1MB should be more than enough.

[2021-08-04 11:04] mcollina commented on #923
Take a look at https://www.npmjs.com/package/cloneable-readable on how I clone Node.js streams. In our world I did that by setting the highwaterMark of the clone, and then the pipe mechanism did the rest.

[2021-08-04 11:09] ronag commented on #923
This is unfortunately for web streams.

[2021-08-04 12:35] Ethan-Arrowood opened #926 "Port tests from undici-fetch"
Porting tests from https://github.com/ethan-arrowood/undici-fetch

[2021-08-04 14:52] #925 closed, assigned to nobody

[2021-08-04 17:20] #913 closed

[2021-08-05 10:49] szmarczak commented on #883
In regards to `fetch`, both Google Chrome and Firefox handle compression:

[code]

I took a quick look at the spec and found nothing whether the compression should be handled or not, so I guess it's up to the implementation.

[2021-08-05 11:15] ronag commented on #883
I think we should aim for compat with browser if the intent is to help isomorphic use.

[2021-08-05 11:34] ronag opened #929 "Add support for data uri's in fetch"
https://www.npmjs.com/package/data-uri-to-buffer

[2021-08-05 11:36] ronag commented on #929
Also find the relevant section in the spec https://fetch.spec.whatwg.org

[2021-08-05 11:40] ronag commented on #915
In regards to documentation should we document it or just refer to the spec? @mcollina @szmarczak @Ethan-Arrowood

[2021-08-05 12:12] ronag opened #930 "FormData"
Support for form data in fetch.

Do we know of any spec compliant implementation that we can re-use?

[2021-08-05 12:15] mcollina commented on #915
I think we should be ok in referring to MDN and documenting the difference/limitations... at least for now.

[2021-08-05 13:35] Ethan-Arrowood commented on #926
going to let #928 land first before doing this since it includes some changes to the fetch api

[2021-08-05 13:37] Ethan-Arrowood commented on #930
This is the library node-fetch uses: https://github.com/form-data/form-data

[2021-08-05 13:38] Ethan-Arrowood commented on #930
There is also this on going discussion for form-data in node core: https://github.com/nodejs/node/issues/38943

[2021-08-05 13:50] ronag opened #931 "Ensure we only throw Error types defined in spec"
Currently we throw some error types that are not in spec. Ensure we don't do this.

[2021-08-05 14:25] szmarczak commented on #930
@Ethan-Arrowood That library uses `combined-stream` which is not maintained anymore has lots of bugs and we have problems with it in Got :(

[2021-08-05 14:26] szmarczak commented on #930
Maybe @octet-stream would be interested in this. Relevant: https://github.com/sindresorhus/got/issues/1810

[2021-08-05 14:37] octet-stream commented on #930
There's at least two spec-compliant implementations for Node.js: [`formdata-node`](https://github.com/octet-stream/form-data) it has some additional APIs that are not spec-compliant, but I'm planning to get rid of them in the next major release around Node.js 12 EOL, and we also have [`formdata-polyfill`](https://github.com/jimmywarting/FormData)

I also have made an encoder that can be used for m

[2021-08-05 14:44] octet-stream commented on #930
By the way, node-fetch has a plan removing support of [`form-data`](https://github.com/form-data/form-data) package. See: https://github.com/node-fetch/node-fetch/issues/1167

[2021-08-06 06:14] ronag opened #932 "WebSocket"
https://fetch.spec.whatwg.org/#websocket-protocol

[2021-08-06 07:31] mcollina commented on #932
cc @lpinca

[2021-08-06 10:39] szmarczak commented on #932
This should be quite easy. Reference: https://github.com/szmarczak/http2-wrapper/blob/master/examples/ws/index.js

[2021-08-06 15:53] Ethan-Arrowood opened #933 "Add spec comments to Header class"
It is useful to add comment references to the relevant parts of the whatwg fetch spec for the Headers class.

[2021-08-07 19:45] lpinca commented on #932
@szmarczak I know it is a demo but that example basically skips the opening handshake. There is no validation and no subprotocol/extension negotiation.

[2021-08-07 20:25] zekth opened #934 "Types: Http methods enum"
## This would solve...

When using typescript and writing dispatcher it's convinient to have access to enum values when it's possible, like http verbs. Currently `method` for dispatcher is set as `string`. Would be nice to add an interface for it.

see: https://github.com/nodejs/undici/blob/22efd7035c24ac06ffc17ec527f6974dac6cb482/types/dispatcher.d.ts#L43

## The implementation should look like..

[2021-08-07 20:42] szmarczak commented on #934
[code]

No need to use enum.

[2021-08-07 21:58] #934 closed

[2021-08-09 12:24] ronag opened #937 "Implement header guards"
https://fetch.spec.whatwg.org/#headers-class

We need `'immutable`, `response` and `request`.

[2021-08-09 16:32] artur-ma commented on #693
@ronag a question regarding your example

in case im NR APM, and I want to add new Agent, I have to assume that my current globalDispatcher is `Agent`
theoretically I can do

[code]

also then I dont know what original dispatcher gets in the constructor (that is returned from `getGlobalDispatcher`)

so the other way to do it, is to wrap the original dispatcher I guess

[code]

Is this expected sol

[2021-08-10 05:44] ronag commented on #929
@szmarczak @Ethan-Arrowood @mcollina Looking at the spec "scheme fetch" is only invoked for requests with mode "navigate". However, it is not possible to create requests with that mode.

The only place where schemeFetch is invoked is at 11. https://fetch.spec.whatwg.org/#main-fetch

However it doesn't seem to be possible to create a request with mode set to "navigate" given https://fetch.spec.what

[2021-08-10 16:35] ronag commented on #937
Fixed in https://github.com/nodejs/undici/pull/928

[2021-08-10 16:35] #937 closed

[2021-08-10 16:35] ronag commented on #931
Fixed in https://github.com/nodejs/undici/pull/928

[2021-08-10 16:35] #931 closed

[2021-08-10 16:35] #929 closed

[2021-08-10 16:35] ronag commented on #916
Fixed in https://github.com/nodejs/undici/pull/928

[2021-08-10 16:35] #916 closed

[2021-08-10 17:12] ronag commented on #933
Also improve spec conformance, e.g. the errors we throw do not follow spec.

[2021-08-10 18:47] ronag commented on #933
Is `fill` too loose in relation to the spec? i.e. does it allow "init" to be things that browser fetch wouldn't accept?

[2021-08-10 19:00] Ethan-Arrowood commented on #933
Yes, flat array is not spec compliant; this was a point of discussion in the Node core PR.

It helps us support the raw header list we get from other Node http things as well as being faster than other header implementations

[2021-08-10 19:38] ronag commented on #933
Can we explicitly document the differences?

[2021-08-10 21:21] ronag commented on #933
I’m thinking if we could expose the non spec compliant things as exported helper functions. That way we don’t violate the spec.

[2021-08-10 21:29] joshxyzhimself commented on #930
Not sure if spec compliant, but we've got great results with https://www.npmjs.com/package/multi-part.

We have used it with both `got` and `undici`.

[2021-08-10 23:04] Ethan-Arrowood commented on #933
Now that we are going complete spec compliant, I agree.

[2021-08-11 07:22] ronag opened #938 "Modify httpRequest’s header list per HTTP"
We don't know what this means in the spec:

Refs: https://fetch.spec.whatwg.org/#http-network-or-cache-fetch
Refs: https://github.com/whatwg/fetch/issues/1285

[2021-08-11 07:35] ronag opened #939 "cleanup listener for user provided AbortSignal"
Refs: https://github.com/whatwg/fetch/issues/1287

[2021-08-11 07:40] ronag opened #940 "Document high level fetch API"
At least minimal high level documentation with references to MDN?

[2021-08-11 15:44] szmarczak commented on #930
unmaintained :(

[2021-08-12 06:19] ronag opened #942 "Error messages"
Figure out what error messages Chrome provides for various errors and make it so we have the same.

[2021-08-12 06:29] ronag commented on #942
This can be done in a combination of two ways:

- Read the chrome source at https://github.com/chromium/chromium/tree/94.0.4604.1/third_party/blink/renderer/core/fetch
- Try to cause errors in chrome console

[2021-08-12 08:57] ronag opened #943 "make node-fetch tests run on CI"
https://github.com/nodejs/undici/pull/928/files#r687497500

[2021-08-12 08:59] ronag opened #944 "RedirectAgent + fetch"
Both fetch and RedirectAgent implement redirects but differently. Try to unify this.

[2021-08-12 09:33] #943 closed

[2021-08-12 12:05] ronag commented on #926
@Ethan-Arrowood ping, it has landed

[2021-08-12 12:06] ronag opened #945 "Fix Request.clone"
node-fetch tests fail and are therefore disabled

[2021-08-12 12:06] ronag commented on #945
@szmarczak would you like to have a go at this one?

[2021-08-12 12:07] ronag opened #946 "Make node-fetch tests contribute to coverage report"
How do make node-fetch tests to be included in coverage report?

[2021-08-12 12:08] ronag commented on #939
The `Request` constructor will register an `'abort'` listener we need to release at some point.

[2021-08-12 12:08] ronag commented on #855
Closing as stale.

[2021-08-12 12:13] szmarczak commented on #945
Sure, I'll do this after 2h. Working atm.

[2021-08-12 12:14] ronag commented on #933
I did some of this but there is still work to be done.

[2021-08-12 12:14] ronag commented on #933
Also should probably remove the undici errors with e.g. `TypeError`s.

[2021-08-13 05:37] ronag opened #948 "spec doesn't finalize connection on network error"
I've been reading through the spec a few times now and there seems to be missing a connection cleanup somewhere. Maybe in `fetch finale`?

The problem is that whenever we replace `response` with a `network error` that means that we no longer will read that response nor do we close the connection. Effectively leaking the connection.

Is this a bug in the spec or am I missing something?

[2021-08-13 05:39] ronag commented on #948
@szmarczak @annevk

[2021-08-13 05:48] ronag opened #949 "terminate fetch when not observable after GC"
https://fetch.spec.whatwg.org/#garbage-collection

We need to use a `FinalizationRegistry` which terminates fetch when the registered object is GC:d. The question is. Which object(s) do we need to wait for?

My current thinking is:

Before headers: If returned promise is GC:d
After headers: If body is GC:d

[2021-08-13 05:58] ronag commented on #948
https://github.com/nodejs/undici/commit/42b67e12b3b62a47789b7bf6ea4a64be8d8a9f25

[2021-08-13 06:24] ronag commented on #948
Or maybe the spec assumes that GC should handle this? https://github.com/nodejs/undici/pull/950

[2021-08-13 06:28] ronag opened #951 "Fetch Test Coverage"
Current test coverage on fetch is too low for a stable release.

Please refer [lib/fetch](https://codecov.io/gh/nodejs/undici/tree/main/lib/fetch) folder on CodeCov to check which components of fetch implementation lack unit tests. Comment on this issue on which component you would like to add test and post a PR!

Please refer [CONTRIBUTING.md](https://github.com/nodejs/undici/blob/main/CONTRIBUTI

[2021-08-13 08:03] ronag opened #952 "mark resource timing"
Does node have something similar to https://w3c.github.io/resource-timing/#dfn-mark-resource-timing which would make sense to report fetch info to?

https://github.com/nodejs/undici/blob/3d2dbc72470af39c887bec8a7a432cee6f35a150/lib/fetch/index.js#L207-L213

@nodejs/diagnostics @addaleax @jasnell

[2021-08-13 08:43] runeh opened #953 "Definition of `fetch` missing from types"
The fetch implementation ( #928 ) does not include pdated typescript types. So it's not possible to import fetch without getting errors when using typescript.

[2021-08-13 08:48] ronag commented on #953
PR welcome!

[2021-08-13 10:49] szmarczak commented on #948
Indeed. I believe the connection should be terminated.

[2021-08-13 11:18] #949 closed

[2021-08-13 15:28] teezzan commented on #951
@ronag, I would love to work on this. However, I am a little new to this. Can you give me more information about the issue and a little bit of direction?

[2021-08-13 15:42] ronag commented on #951
Run ’npm run coverage’ see what parts of the code lacks test and make one in the test folder.

[2021-08-13 16:11] szmarczak commented on #945
https://github.com/nodejs/node/issues/39758

[2021-08-13 20:55] ronag opened #956 "What is a "byte sequence""
I'm trying to figure out what to do in [this](https://github.com/nodejs/undici/blob/v4.4.2/lib/fetch/index.js#L300-L302) step.

It refers to a "byte sequence" however it is unclear for me what that means in javascript.

If you look at https://fetch.spec.whatwg.org/#concept-bodyinit-extract you can see that it defines byte sequence separately from `BufferSource` and `scalar value string`. So my und

[2021-08-13 20:55] ronag commented on #956
@szmarczak @dominic @addaleax @szmarczak

[2021-08-14 01:46] Qard commented on #952
This would connect to perf_hooks but will need some additions. We have `PerformanceEntry` but no ` PerformanceResourceTiming` yet. I don't think it would be difficult to add though. 🤔

[2021-08-14 01:49] jasnell commented on #952
It's certainly doable. We'll need to expose a public API for publishing custom performance entries. Not unreasonable at all.

[2021-08-14 17:05] addaleax commented on #956
I think it’s just the abstract concept of a byte sequence, not necessarily tied to any specific implementation. For example, it could be backed by a ReadableStream or a Buffer.

[2021-08-14 17:44] ronag opened #958 "Implement fetch methods"
Under `lib/fetch/util.js` we have a few helper methods that are pretty well documented in spec and and needs to be implemented:

- [x] appendRequestOriginHeader
- [x] appendFetchMetadata
- [x] TAOCheck
- [x] corsCheck
- [x] crossOriginResourcePolicyCheck
- [x] makePolicyContainer
- [x] clonePolicyContainer
- [x] determineRequestsReferrer

[2021-08-14 17:45] ronag commented on #958
@szmarczak

[2021-08-14 18:10] szmarczak commented on #956
I agree with @addaleax

[2021-08-14 19:57] ronag commented on #930
Doesn't look too difficult to implement ourselves (excluding `File` support). @Ethan-Arrowood would you be interested to have a go at it?

[2021-08-14 21:06] ronag opened #959 "brotli requires https?"
https://github.com/whatwg/fetch/issues/716

[2021-08-14 21:07] ronag opened #960 "is content-length match after decoding sufficient?"
Is a little unclear if we should check content-length against encoded or decoded byte length (or either?)

Refs: https://github.com/whatwg/fetch/issues/716

[2021-08-15 08:08] szmarczak commented on #960
Decoded I think

[2021-08-15 11:11] mcollina commented on #960
I'm unsure, I think some tests against nginx and co are needed.
However, I would think Content-Length what is being sent on the wire.

In https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

Note that it would not be possible to compute the content-length without decoding if a zipped file is stored on disk.

[2021-08-15 11:47] ronag commented on #960
I think so as well. If strictly following the HTTP spec. Just not sure what chrome does.

[2021-08-15 13:15] #959 closed

[2021-08-15 14:10] szmarczak commented on #959
btw https://stackoverflow.com/questions/43862412/why-is-brotli-not-supported-on-http

[2021-08-15 14:11] mcollina commented on #960
let's assume spec and iterate!

[2021-08-15 14:20] szmarczak commented on #960
My assumption was wrong, @mcollina is right. I just checked and Chrome leaves `content-length` as it is:

:+1:

[2021-08-15 14:40] #960 closed

[2021-08-16 07:52] ronag opened #963 "FormData streaming"
Looking at the spec it doesn't look like `FormData` should be streamed in neither the encode nor the decode case, i.e. it's all encoded/decoded into memory as fast as possible without any back-pressure.

1. Am I misreading the spec?
2. Is this a problem we need to fix? If yes, then how?

[2021-08-16 07:52] ronag commented on #963
@szmarczak @Ethan-Arrowood @mcollina

[2021-08-16 07:53] ronag opened #964 "Implement FormData parsing"
In https://github.com/nodejs/undici/pull/961 we add `FormData` parsing through https://www.npmjs.com/package/dicer. I would prefer if we could avoid this dependency.

[2021-08-16 10:52] ronag opened #965 "mac 16 CI is flaky"
Is this a problem on our side or GitHub actions?

[2021-08-16 10:56] szmarczak commented on #965
Looks a race condition. https://node-tap.org/docs/api/parallel-tests/

[2021-08-16 11:08] ronag commented on #965
Why only on mac 16?

[2021-08-16 11:09] ronag opened #966 "Web IDL type checks and conversions"
All API methods defined in the spec have IDL type definitions of what arguments they expect. We should implement checks for these and throw errors appropriately.

Should also do a `this instanceof x` check.

Search for `TODO: argument idl type check`

- [x] `Headers` (`constructor`)
- [x] `Request` (`constructor`)
- [x] `Response` (`constructor`)
- [x] `fetch(...)`
- [x] `FormData` (https://github

[2021-08-16 11:11] ronag commented on #966
Maybe something for @Ethan-Arrowood? I can see that deno has a `web.idl` helper library for this kind of things. We should also confirm what Chrome does in the various failure cases.

[2021-08-16 11:18] szmarczak commented on #965
No idea. We had these issues in Got as well. IIRC marking some tests to run serially fixed the issue.

[2021-08-16 11:25] szmarczak commented on #964
Sorry I'm unable to help with this one, I'd love to but constantly either I'm working or solving other open source issues :(

[2021-08-16 11:30] ronag commented on #965
I suspect that the coverage job runs much slower on Mac 16 for some reason and this is just a case of timeout. I've disabled coverage on CI.

[2021-08-16 11:32] mcollina commented on #963
I think it's rather inefficient to do this :(.

[2021-08-16 11:34] ronag commented on #963
Sorry, I'm not sure what you mean? It's inefficient the way it's done now or it's inefficient to try and change it?

[2021-08-16 11:36] ronag commented on #963
Could it be that browser actually write it to file?

[2021-08-16 11:51] ronag opened #967 ""invalid this" check?"
I notice our Headers implementation checks for invalid this. Is this part of spec? Do we need to do it in more places?

[2021-08-16 11:52] ronag commented on #967
@Ethan-Arrowood

[2021-08-16 12:12] ronag commented on #964
Maybe @octet-stream?

[2021-08-16 12:15] ronag commented on #967
I think so:

Chrome console:

[code]

[2021-08-16 12:15] ronag commented on #967
Merging into https://github.com/nodejs/undici/issues/966

[2021-08-16 12:15] #967 closed

[2021-08-16 12:19] #956 closed

[2021-08-16 12:20] ronag commented on #945
@szmarczak Fixed `Response.clone` now we just need to sort `Request.clone`.

[2021-08-16 12:24] octet-stream commented on #964
Sorry, but I don't think I have enough free time to get dive into this :<

[2021-08-16 12:27] ronag opened #968 "browser support"
This is just a fun thought that I don't personally plan to spend much time on.

It should be in theory possible to run undici in the browser (especially the fetch parts) if one creates a `BrowserClient` implementation based on e.g. XMLHTTPRequest. That way we could in theory even act as an alternative to e.g. https://github.com/github/fetch fetch polyfill.

We have implemented some of the web stuf

[2021-08-16 12:29] ronag commented on #968
@JakeChampion just a friendly ping in case there is any room for collaboration with https://github.com/github/fetch.

[2021-08-16 12:34] ronag commented on #968
A quick link to our work https://github.com/nodejs/undici/tree/main/lib/fetch

[2021-08-16 13:21] octet-stream commented on #963
Maybe I have missed something, but where may I see where's the spec prohibits FormData from being streamed?

I agree with @mcollina that streams will be the more efficient way to send FormData, because you extract its entries as you read that stream and do not have to put the whole thing into memory, this makes more sense in Node.js...

This is how I done it in `form-data-encoder`:
1. You put a re

[2021-08-16 13:29] ronag commented on #963
Which directions are you referring to? client -> server? If you read the algorithm in the spec it does not take back pressure into consideration. https://fetch.spec.whatwg.org/#concept-bodyinit-extract

[2021-08-16 13:36] ronag commented on #966
A good way to find out what should happen is to run it in the Chrome console and see what happens.

[2021-08-16 13:47] octet-stream commented on #963
Exactly. How you would implement the `formData` method to decode it back is the other question. I'm talking only about the way you encode it to send to the server. I see that the spec has `extract a body` concept, but I don't really see if it prohibits from using streams, or blobs (as you did it in current implementation), or something else.

If you need to know how browsers done this, then maybe

[2021-08-16 14:16] ronag commented on #963
https://github.com/nodejs/undici/pull/961/commits/eac31d6a82eab97e52552cc23e0e6f667dc3ce82

[2021-08-16 14:19] ronag commented on #963
So now only server -> client is an issue...

[2021-08-16 20:27] jimmywarting commented on #968
Sounds fun but also pointless, XMLHttpRequest don't have any good streaming support

also you would be importing a browserified version of `node:http` that includes `buffer`, `readable-stream` and many other other small sub packages like `inherit`. that alone is some few 170kb of [code](https://github.com/cross-js/cross-js) the amount code would be large

pretty much all browser ships fetch now da